<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

                <p:dialog style="background-color: transparent !important; " widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false"> 
                    <img src="../../../recursos/img/loading.gif" style="max-width: 30px" alt=""/>
                </p:dialog> 

</html>
