<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">  

    <div style="font-size: 0.7em !important;">
        <div style="width: 940px; height: 75px;margin-top: 5px; margin-right: 37px">
            <h:outputLink value="index.xhtml">
                <p:graphicImage value="/recursos/img/heal_logo2.png" style="float: left; margin-right: 70px"/> 
            </h:outputLink>
            <ui:include src="/views/web/menuDirectory.xhtml"/> 
        </div>
    </div>


</ui:composition>


