<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >

    <p:growl id="growMassiveLoad" widgetVar="growl" showDetail="true" life="8000" />

    <p:outputPanel  styleClass="blog-meta">
        <h:outputLabel value="Carga Masiva Manual" styleClass="titulo-blog" style="padding-bottom: 5px !important;" />
    </p:outputPanel>

    <br/>


    <p:fieldset toggleable="false" toggleSpeed="500">

        Para iniciar el proceso de carga masiva manual, presione el botón Iniciar.
        <br/>
        <br/>
        <p:commandButton style="width:70px; text-align: center;" value="Iniciar" immediate="true" process="@this" actionListener="#{cargaMasivaViewBean.cargaManual()}">
            <p:confirm header="Confirmación" message="¿Desea continuar el proceso de carga masiva manual?" icon="ui-icon-alert" />
        </p:commandButton>
        <p:confirmDialog global="true" style="background: white; text-align: center;">
            <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" />
        </p:confirmDialog>
        <br/>
    </p:fieldset> 

</ui:composition>
