.growl {
    position: fixed;
    top: 10px;
    right: 10px;
    float: right;
    width: 320px;
    min-height: 120px;
    font-size: 10px;
    opacity: 0.85;
    margin-top: 4%;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:0.2s linear all;
    -moz-transition:0.2s linear all;
    -o-transition:0.2s linear all;
    transition:0.2s linear all;

}

.growl-item.ng-enter,
.growl-item.ng-leave.ng-leave-active {
    opacity:0;


}
.growl-item.ng-leave,
.growl-item.ng-enter.ng-enter-active {
    opacity:1;

}

.grow-alert-info{
    background-color: #FFE874;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    border: 1px solid #fed22f;
}




