<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:p="http://primefaces.org/ui"> 
    

    <p:panel styleClass="encabezadoIndex">
        <p:carousel id="imageswitch" value="#{indexViewBean.listaImagenes}" numVisible="1" var="imagen" effect="elasticBoth" styleClass="switch" widgetVar="imageswitch" circular="true"  autoPlayInterval="4000"  effectDuration="1000" pageLinks="4">
            <p:panel styleClass="item" >
                <p:graphicImage value="#{imagen.rutaImagen}" style="width: 100% !important;"/>
                <p:panel styleClass="descripcion" >
                    <h:outputLabel styleClass="titulo" value="#{imagen.titulo}" />
                    <h:outputLabel styleClass="subtitulo" value="#{imagen.url}" />
                </p:panel>
            </p:panel>
        </p:carousel>
        

        <div style="width: 950px; height: 75px; margin-top: 16px; margin-right: 27px">
            <h:outputLink value="/index.xhtml">
                <p:graphicImage value="/recursos/img/heal_logo.png" style="float: left; margin-right: 70px"/>
            </h:outputLink>
            <p:panel styleClass="menuIndex">
                <ui:include src="/views/web/menuDirectory.xhtml"/> 
            </p:panel>
        </div>

        <p:panel styleClass="nivo-directionNav">
            <a class="nivo-prevNav" onclick="PF('imageswitch').stopAutoplay(); PF('imageswitch').prev(); PF('imageswitch').startAutoplay();">Previous</a>
            <a class="nivo-nextNav" onclick="PF('imageswitch').stopAutoplay(); PF('imageswitch').next(); PF('imageswitch').startAutoplay();">Next</a>
        </p:panel>

        <h:outputLabel styleClass="infoSlider" value="Master 0212 821.26.01 info@venedental.com.ve" />

        <h:outputLabel value="#{indexViewBean.option}" />

    </p:panel>
 
</ui:composition>
