<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >    
    <div class="order-directoy">
        <div id="table-directory">
            <p:outputLabel value="Planes Odontológicos" styleClass="blog-title"/>
            <p:panel id="panelInicial" styleClass="ceropadding">
                <f:facet name="header" class="ceropadding">  
                    <p:outputPanel style="width:660px !important;" styleClass="blog-meta1" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value=" A continuación le mostramos los tres tipos de planes que posee Venedental" style="margin-bottom: 2px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>                        
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>

            <h:form id="form" >

                <p:tabView styleClass="tabsDental tabsWidget"> 
                    <p:tab title="Plan Dental Veneplus">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Consultas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Generales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Especializadas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Historia Clínica"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Diagnóstico de Caries"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel  styleClass="tablaTdLb" value="Limpieza y profilaxis"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel styleClass="tablaTdLb" value="Preventivo"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Enseñanza de la Higiene Bucal"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Sellantes de Fosas y fisuras (niños)"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Restauraciones"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Amalgama, cualquier cavidad en dientes permanentes"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Amalgama, cualquier cavidad en dientes temporales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Resina anterior Clase III y Clase IV"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Resina posterior Clase I y Clase II"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Vidrio Ionomérico Clase V"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Endodoncias"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncia Monoradicular o Birradicular"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncia Multiradicular"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncias de dientes temporales (Pulpectomia)"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Pulpotomias vitales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Curas Formocresoladas"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Cirugías Bucales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel  styleClass="tablaTdLb" value="Exodoncias simples"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Exodoncias cordales erupcionadas"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Rx"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Radiografías Periapicales (según el caso)"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Radiografias Coronales"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Emergencias"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Periodontales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodònticas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Protésicas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Traumáticas"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    
                    <p:tab title="Plan Dental Venextra">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Consultas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Generales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Historia Clínica"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Diagnóstico de Caries"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Limpieza y profilaxis"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Preventivo"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Enseñanza de la Higiene Bucal"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Sellantes de Fosas y fisuras (niños)"/>
                                </p:column>
                            </p:row>
                             <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Restauraciones"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Amalgama, cualquier cavidad en dientes permanentes"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Amalgama, cualquier cavidad en dientes temporales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Resina anterior Clase III y Clase IV"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Resina posterior Clase I y Clase II"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Vidrio Ionomérico Clase V"/>
                                </p:column>
                            </p:row>
                             <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Endodoncias"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncia Monoradicular o Birradicular"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncia Multiradicular"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncias de dientes temporales (Pulpectomia)"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Curas Formocresoladas"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Cirugías Bucales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Exodoncias simples"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Rx"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Radiografías Periapicales (según el caso)"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Radiografias Coronales"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Emergencias"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Periodontales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodònticas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Protésicas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Traumáticas"/>
                                </p:column>
                            </p:row>


                        </p:panelGrid>
                    </p:tab>
                    <p:tab title="Plan Dental Vene">
                        <p:panelGrid>
                            
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel styleClass="tablaTdLb" value="Consultas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Generales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Historia Clínica"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Diagnóstico de Caries"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Limpieza"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Preventivo"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Enseñanza de la Higiene Bucal"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Sellantes de Fosas y fisuras (niños)"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Restauraciones"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Amalgama, cualquier cavidad en dientes permanentes"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Amalgama, cualquier cavidad en dientes temporales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Resina anterior Clase III y Clase IV"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Resina anterior"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Vidrio Ionomérico Clase V"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Endodoncias"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncia Monoradicular o Birradicular"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncia Multiradicular"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodoncias de dientes temporales (Pulpectomia)"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Pulpotomias vitales"/>
                                </p:column>
                            </p:row>
                             <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Cirugías Bucales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Exodoncias simples"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Rx"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Radiografías Periapicales (según el caso)"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Radiografias Coronales"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Emergencias"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Endodònticas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Traumáticas"/>
                                </p:column>
                            </p:row>
                            


                        </p:panelGrid>
                    </p:tab>
                </p:tabView>
            </h:form>







        </div>

        <div id="tag-navegacion" style="float: left; padding:4px 0px 25px 15px !important; width: 176px; height: 463px;">
            <div class="sidebar-header" style=" text-align: left">
                <h:outputText value="Venedental" style="text-align: left">                
                </h:outputText>
            </div>

            <p:dataList value="#{venedentalViewBean.listaLinks}" var="links" type="unordered" itemType="none" styleClass="menu-derecho">                
                <p:graphicImage value="#{links.rutaImagen}" style="padding-top:2px; float: left; margin-right: 5px" />
                <h:outputLink value="#{links.url}">
                    <h:outputText value="#{links.titulo}" />                    
                </h:outputLink>
            </p:dataList>
            <p:graphicImage value="/recursos/img/blog_img5.jpg" styleClass="blog-image"/>

        </div>

    </div>
</ui:composition>
