<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >    
    <div class="order-directoy">
        <div id="table-directory">
            <p:outputLabel value="Planes Venedevisual" styleClass="blog-title"/>
            <p:panel id="panelInicial" styleClass="ceropadding">
                <f:facet name="header" class="ceropadding">  
                    <p:outputPanel style="width:660px !important;" styleClass="blog-meta1" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value="A continuación le mostramos los cinco tipos de planes que posee Venedevisual" style="margin-bottom: 2px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>                        
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>
            <br/>

            <h:form id="form" >
                <p:tabView styleClass="tabsDental tabsWidget"> 
                    <p:tab title="Vene/300">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Consultas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Generales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Especializadas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Historia Clínica"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel styleClass="tablaTdLb" value="Cobertura"/>
                                </p:column>
                                <p:column colspan="3">
                                    <h:outputLabel styleClass="tablaTdLb" value="Reembolso de monturas y cristales hasta Bs. 300"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    
                    <p:tab title="Vene/700">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Consultas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Generales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Especializadas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Historia Clínica"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel styleClass="tablaTdLb" value="Cobertura"/>
                                </p:column>
                                <p:column colspan="3">
                                    <h:outputLabel styleClass="tablaTdLb" value="Reembolso de monturas y cristales hasta Bs. 700"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    
                    <p:tab title="Vene/1000">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Consultas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Generales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Especializadas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Historia Clínica"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel styleClass="tablaTdLb" value="Cobertura"/>
                                </p:column>
                                <p:column colspan="3">
                                    <h:outputLabel styleClass="tablaTdLb" value="Reembolso de monturas y cristales hasta Bs. 1000"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    
                    <p:tab title="Vene/1500">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Consultas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Generales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Especializadas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Historia Clínica"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel styleClass="tablaTdLb" value="Cobertura"/>
                                </p:column>
                                <p:column colspan="3">
                                    <h:outputLabel styleClass="tablaTdLb" value="Reembolso de monturas y cristales hasta Bs. 1500"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    
                    <p:tab title="Vene/2000">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="Consultas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Generales"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Especializadas"/>
                                </p:column>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Historia Clínica"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel styleClass="tablaTdLb" value="Cobertura"/>
                                </p:column>
                                <p:column colspan="3">
                                    <h:outputLabel styleClass="tablaTdLb" value="Reembolso de monturas y cristales hasta Bs. 2000"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>
                    
                </p:tabView>
            </h:form>

        </div>

        <div id="tag-navegacion" style="float: left; padding:4px 0px 25px 15px !important; width: 176px; height: 463px;">
            <div class="sidebar-header" style=" text-align: left">
                <h:outputText value="Venedevisual" style="text-align: left">                
                </h:outputText>
            </div>

            <p:dataList value="#{venedevisualViewBean.listaLinks}" var="links" type="unordered" itemType="none" styleClass="menu-derecho" >                
                <p:graphicImage value="#{links.rutaImagen}" style="padding-top:2px; float: left; margin-right: 5px" />
                <h:outputLink value="#{links.url}">
                    <h:outputText value="#{links.titulo}" />                    
                </h:outputLink>
            </p:dataList>
            <p:graphicImage value="/recursos/img/blog_img5.jpg" styleClass="blog-image"/>
        </div>

    </div>
</ui:composition>
