<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
    <p:panel styleClass="indexContainer">
        <ui:repeat value="#{indexViewBean.listaModulos}" var="modulo">
            <p:panel styleClass="descModulos" >
                <h:outputLink value="#{modulo.url}">
                    <p:graphicImage value="#{modulo.rutaImagen}" styleClass="moduloTexto"/>
                </h:outputLink>
                <h:outputLabel value="#{modulo.titulo}" styleClass="moduloTexto"/>
                <h:outputLink value="#{modulo.url}" styleClass="enlace">
                    <h:outputLabel value="Leer más »" styleClass="moduloTexto"/>
                </h:outputLink>
            </p:panel>
        </ui:repeat>
        <br style="clear: both;"/>
        <p:panel styleClass="divider"></p:panel>
        <p:panel styleClass="panelAliados">
            <p:carousel value="#{indexViewBean.listaAliados}" numVisible="3" circular="true" pageLinks="2" styleClass="carrusel" headerText="Nuestros Aliados." var="aliado" itemStyleClass="itemCarrusel">
                <p:panel>
                    <h:outputLink value="#{aliado.url}"  target="_blank">
                        <p:panel styleClass="contenedorImagen">
                            <p:panel styleClass="main-blog-magnifier">
                            </p:panel>
                            <p:graphicImage value="#{aliado.rutaImagen}"/>
                        </p:panel>
                    </h:outputLink>
                    <h:outputText value="#{aliado.titulo}" styleClass="aliadoTitulo"/>
                    <br />
                    <h:outputText value="#{aliado.texto}" styleClass="aliadoSubtitulo" />
                </p:panel>
            </p:carousel>
        </p:panel>
        <br style="clear: both;"/>
        <p:panel styleClass="divider"></p:panel>
        <p:panel styleClass="grupoVeneden" >
            <p:panel styleClass="grupoIzquierdo" header="Grupo Veneden">
                <p:graphicImage value="/recursos/img/news_img6.jpg"/>
                <h:outputText value="La Corporación Grupo Veneden nace en el año 2005 con el objetivo de gestionar servicios integrales de atención Odontológica, al pasar del tiempo fuimos incorporando diversas áreas de la salud como Oftalmología, Dermatología, Psicología y Fisioterapia."></h:outputText>
                <br /><br />
                <h:outputText value="Esta creación fue posible gracias a un gran esfuerzo y desarrollo de la actividad integral, aseguradora y gerencial, con una clara orientación al éxito, comprometidos con la calidad de servicio y mejora continua de los procesos operativos."></h:outputText>
                <br /><br />
                <h:outputText value="Nuestros servicios integrales forman parte del gran mercado asegurador que cubre las necesidades y demandas de atención en el sector salud de la población, razón por la que hemos desarrollado nuevas coberturas en tres diferentes sectores. "></h:outputText>
                <br /><br />
                <p:panelGrid>
                    <p:row>
                        <p:column styleClass="ui-widget-header2">
                            <h:outputLabel  value="Misión" style="font-size: 13.8667px;"/>
                        </p:column>
                        <p:column>
                            <h:outputLabel styleClass="tablaTdLb" value="Brindar una cobertura en los servicios prepagados de nuestras diferentes especialidades en salud, para así poder ofrecer un alto rendimiento en los servicios amparados en todo el territorio nacional."/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="ui-widget-header2">
                            <h:outputLabel styleClass="tablaTdLb" value="Visión" style="font-size: 13.8667px;"/>
                        </p:column>
                        <p:column >
                            <h:outputLabel styleClass="tablaTdLb" value="Llegar a ser una empresa líder en el mercado nacional e internacional, ofreciendo un servicio de alta calidad y excelencia en el sector de salud. "/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
            <p:panel styleClass="grupoDerecho" header="¿Dónde estamos?">
                <p:panel styleClass="ubicacion">
                    <p:panel>
                        <h:outputLabel value="Nuestra oficina" styleClass="tituloUbicacion"></h:outputLabel>
                        <h:outputLabel styleClass="textoUbicacion" value="Av. Casanova con Calle Villaflor Centro Profesional del Este Piso 5 Oficina 56 Sabana Grande, Caracas."></h:outputLabel>
                    </p:panel>
                </p:panel>
                <p:panel style="clear: both;">
                    <f:view contentType="text/html">
                        <p:gmap center="10.492259, -66.879068" zoom="16" type="hybrid"
                            style="width:360px; height:290px" model="#{indexViewBean.modelMap}" />
                    </f:view>                    
                </p:panel>
            </p:panel>
        </p:panel>
        <br style="clear: both;"/>
        <p:panel styleClass="divider"></p:panel>
  
    </p:panel>
</ui:composition>
