<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >    
    <div class="order-directoy">
        <div id="table-directory">
            <p:outputLabel value="Servicio Odontológico" styleClass="blog-title"/>
            <p:panel id="panelInicial" styleClass="ceropadding">
                <f:facet name="header" class="ceropadding">  
                    <p:outputPanel style="width:660px !important;" styleClass="blog-meta1" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value=" Servicios profesionales en todo el territorio nacional especializados en materia odontológica" style="margin-bottom: 2px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>                        
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>
            <h:outputText></h:outputText>

            <p:graphicImage value="/recursos/img/blog_img3.jpg" styleClass="blog-image"/> <br/>
            <br/>

            <div class="blog-text single-text">

                <div class="sidebar-header">Beneficios Corporativos</div>
                <nav>
                    <ul id="blog-categories">
                        <li>Una excelente relación costo-beneficio, muy por debajo de la media del mercado.</li>
                        <li>Todos los planes cubren las patologías bucales preexistentes.</li>
                        <li>No hay limite de citas ni tiempo reglamentario entre las mismas.</li>
                        <li>Los tratamientos no amparados por el plan se regirán por una lista de precios(baremo), con un porcentaje de descuento.</li>
                        <li>No existe limite de edad.</li>
                        <li>Contamos con una amplia red a nivel nacional.</li>
                    </ul>
                </nav>
            </div>

            <div class="blog-text single-text">

                <div class="sidebar-header">Programa de Beneficio Odontológico Corporativo</div>
                <nav>
                    <ul id="blog-categories">
                        <li>Primera consulta e Historia clínica..</li>
                        <li>Control de Placa y técnica de cepillado.</li>
                        <li>Eliminación de calculo y profilaxis (Limpieza dental y pulido).</li>
                        <li>Aplicación tópica de fluor.</li>
                        <li>Sellantes de fosas y fisuras.</li>
                        <li>Restauración con resina en dientes anteriores y posteriores.</li>
                        <li>Restauración con amalgama en dientes posteriores.</li>
                        <li>Extracciones dentales.</li>
                        <li>Endodoncias ( Monoradiculares y multiradiculares).</li>
                        <li>Emergencias Dentales.</li>
                        <li>Planificación de tratamientos.</li>
                    </ul>
                </nav>
            </div>

        </div>

        <div id="tag-navegacion" style="float: left; padding:4px 0px 25px 15px !important; width: 176px; height: 463px;">
            <div class="sidebar-header" style=" text-align: left">
                <h:outputText value="Venedental" style="text-align: left">                
                </h:outputText>
            </div>

            <p:dataList value="#{venedentalViewBean.listaLinks}" var="links" type="unordered" itemType="none" styleClass="menu-derecho">                
                <p:graphicImage value="#{links.rutaImagen}" style="padding-top:2px; float: left; margin-right: 5px" />
                <h:outputLink value="#{links.url}">
                    <h:outputText value="#{links.titulo}" />                    
                </h:outputLink>
            </p:dataList>
            <p:graphicImage value="/recursos/img/blog_img5.jpg" styleClass="blog-image"/>

        </div>

    </div>
</ui:composition>