<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >    
    <div class="order-directoy">
        <div id="table-directory" style="text-align: justify; font-size: 13px; color: #444; font-weight: bold;">
            <p:outputLabel value="Coberturas" styleClass="blog-title"/>
            <p:panel id="panelInicial" styleClass="ceropadding">
                <f:facet name="header" class="ceropadding">  
                    <p:outputPanel style="width:660px !important;" styleClass="blog-meta1" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value="Ofrecer acompañamiento en momentos difíciles, ayudando a reconocer y dirigir sus emociones" style="margin-bottom: 2px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>                        
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>
            <h:outputText></h:outputText>

            <div class="blog-text single-text" style="font-weight: normal; font-size: 15.4px;">
                <p:dataList value="#{venepsicoViewBean.listaCaracteristicas}" var="caracteristica" type="unordered" itemType="none" styleClass="listaiconos">                
                    <p:graphicImage value="#{caracteristica.rutaImagen}" style="padding-top: 3px; margin-right: 5px; margin-left: -30px;" />
                    <h:outputText value="#{caracteristica.titulo}" style="display: inline;"/>
                </p:dataList>
            </div>
            <h:outputText value="*Se excluyen el psicoanálisis, la terapia psicoanalítica, la hipnosis, la narcolepsia y los servicios de rehabilitación psicosocial o neuropsiquiatrica" style="display: inline;"/>
            <br/>

        </div>

        <div id="tag-navegacion" style="float: left; padding:4px 0px 25px 15px !important; width: 176px; height: 463px;">
            <div class="sidebar-header" style=" text-align: left">
                <h:outputText value="Venepsico" style="text-align: left">                
                </h:outputText>
            </div>

            <p:dataList value="#{venepsicoViewBean.listaLinks}" var="links" type="unordered" itemType="none" styleClass="menu-derecho">                
                <p:graphicImage value="#{links.rutaImagen}" style="padding-top:2px; float: left; margin-right: 5px" />
                <h:outputLink value="#{links.url}">
                    <h:outputText value="#{links.titulo}" />                    
                </h:outputLink>
            </p:dataList>
            <p:graphicImage value="/recursos/img/blog_img5.jpg" styleClass="blog-image"/>
        </div>

    </div>
</ui:composition>
