<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
    <div class="msjCorreo">
        <p:messages id="messages1" closable="true" showDetail="true" showSummary="false" autoUpdate="false"/>
    </div>

    <p:remoteCommand name="testAutoRun"
                     action="#{venedevisualViewBean.mostrarMensaje()}"
                     autoRun="true" />

    <div class="order-directoy">
        <div id="table-directory">
            <p:outputLabel value="Servicio Oftalmológico" styleClass="blog-title"/>
            <p:panel id="panelInicial" styleClass="ceropadding">
                <f:facet name="header" class="ceropadding">  
                    <p:outputPanel style="width:660px !important;" styleClass="blog-meta1" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value="Servicios profesionales en todo el territorio nacional especializados en materia oftalmológica" style="margin-bottom: 2px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>                        
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>
            <h:outputText></h:outputText>

            <p:graphicImage value="/recursos/img/blog_img2.jpg" styleClass="blog-image"/> <br/>
            <br/>

            <p:panel header="Consulta médica e Historia Clínica" styleClass="panelLista">
                <p:dataList value="#{venedevisualViewBean.listaConsulta}" var="links" type="unordered" itemType="none" >                
                    <p:graphicImage value="#{links.rutaImagen}" style="float:left; padding-top: 1px; margin-right: 5px; margin-left: -5px;" />
                    <h:outputText value="#{links.titulo}" style="display: inline;"/>
                </p:dataList>
            </p:panel>

            <p:panel header="Óptica" styleClass="panelLista">
                <p:dataList value="#{venedevisualViewBean.listaOptica}" var="links" type="unordered" itemType="none" >                
                    <p:graphicImage value="#{links.rutaImagen}" style="float:left; padding-top: 1px; margin-right: 5px; margin-left: -5px;" />
                    <h:outputText value="#{links.titulo}" style="display: inline;"/>
                </p:dataList>
            </p:panel>

            <br/>
        </div>

        <div id="tag-navegacion" style="float: left; padding:4px 0px 25px 15px !important; width: 176px; height: 463px;">
            <div class="sidebar-header" style=" text-align: left">
                <h:outputText value="Venedevisual" style="text-align: left">                
                </h:outputText>
            </div>

            <p:dataList value="#{venedevisualViewBean.listaLinks}" var="links" type="unordered" itemType="none" styleClass="menu-derecho" >                
                <p:graphicImage value="#{links.rutaImagen}" style="padding-top:2px; float: left; margin-right: 5px" />
                <h:outputLink value="#{links.url}">
                    <h:outputText value="#{links.titulo}" />                    
                </h:outputLink>
            </p:dataList>
            <p:graphicImage value="/recursos/img/blog_img5.jpg" styleClass="blog-image"/>
        </div>

    </div>
</ui:composition>
