<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >    
    <div class="order-directoy">
        <div id="table-directory">
            <p:outputLabel value="Servicio de Fisioterapia" styleClass="blog-title"/>
            <p:panel id="panelInicial" styleClass="ceropadding">
                <f:facet name="header" class="ceropadding">  
                    <p:outputPanel style="width:660px !important;" styleClass="blog-meta1" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value=" Servicios profesionales en todo el territorio nacional especializados en materia terapéutica" style="margin-bottom: 2px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>                        
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>
            <h:outputText></h:outputText>

            <p:graphicImage value="/recursos/img/blog_img7.jpg" styleClass="blog-image"/> <br/>
            <br/>
            
            <div class="blog-text single-text">
            <h:outputText value="Ofrecemos servicio de tratamiento periódico extendido hasta un máximo de 12 sesiones por persona al año
                          y que sirve de contención en el proceso de rehabilitación según sea el caso del asegurado.">                
            </h:outputText> 
            <br/><br/>
            <div class="dropcap">
                <h:outputText styleClass="dropcap" value="El objetivo es promover, mantener, restablecer y aumentar el nivel de salud del asegurado a fin de mejorar su calidad de vida y facilitar su reinserción social.">                
                </h:outputText>
            </div>
            </div>

        </div>

        <div id="tag-navegacion" style="float: left; padding:4px 0px 25px 15px !important; width: 176px; height: 463px;">
            <div class="sidebar-header" style=" text-align: left">
                <h:outputText value="Veneterapias" style="text-align: left">                
                </h:outputText>
            </div>

            <p:dataList value="#{veneterapiasViewBean.listaLinks}" var="links" type="unordered" itemType="none" styleClass="menu-derecho">                
                <p:graphicImage value="#{links.rutaImagen}" style="padding-top:2px; float: left; margin-right: 5px" />
                <h:outputLink value="#{links.url}">
                    <h:outputText value="#{links.titulo}" />                    
                </h:outputLink>
            </p:dataList>
        </div>

    </div>
</ui:composition>
