<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >    
    <div class="order-directoy">
        <div id="table-directory">
            <p:outputLabel value="Planes Venedermo" styleClass="blog-title"/>
            <p:panel id="panelInicial" styleClass="ceropadding">
                <f:facet name="header" class="ceropadding">  
                    <p:outputPanel style="width:660px !important;" styleClass="blog-meta1" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value="A continuación le mostramos los tres tipos de planes que posee Venedermo" style="margin-bottom: 2px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>                        
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>
            <br/>

            <h:form id="form" >
                <p:tabView styleClass="tabsDental tabsWidget"> 
                    <p:tab title="Plan Dermo Vene">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="1. Consulta Dermatológica Adulto"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Onicomicosis y Micosis en General"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Control de Acné"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Caída del Cabello"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Dermatitis Atópica"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Caída del Cabello"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="2. Consulta Dermatología Pediátrica"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="3. Despistaje del Cáncer"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="4. Orientación y evaluación para la salud dermatológica"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab title="Plan Dermo Venextra">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="1. Electrocoagulación / Curetaje o Crioterapia"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Verruga Vulgar o Común"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Molusco contagioso Cirugía menor"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="2. Biopsia"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Biopsia Piel Cara"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Biopsia Piel Cuerpo"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Biopsia Mucosa"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Biopsia o Avulsión de las Uñas"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab title="Plan Dermo Veneplus">
                        <p:panelGrid>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="1. Consulta y diagnóstico"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="2. Electrocoagulación / Curetaje o Crioterapia"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Infiltración Intralesional"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Escleroterapia"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Onicomatricectomía"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Criocirugía de Lesiones Benignas y malignas"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="ui-widget-header2">
                                    <h:outputLabel  value="3. Cirugía Menor"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Cirugía de Lipomas"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Destrucción Química de Lesiones"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:outputLabel styleClass="tablaTdLb" value="Debridación de Ulcera"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>

                </p:tabView>
            </h:form>

        </div>

        <div id="tag-navegacion" style="float: left; padding:4px 0px 25px 15px !important; width: 176px; height: 463px;">
            <div class="sidebar-header" style=" text-align: left">
                <h:outputText value="Venedermo" style="text-align: left">                
                </h:outputText>
            </div>

            <p:dataList value="#{venedermoViewBean.listaLinks}" var="links" type="unordered" itemType="none" styleClass="menu-derecho" >                
                <p:graphicImage value="#{links.rutaImagen}" style="padding-top:2px; float: left; margin-right: 5px" />
                <h:outputLink value="#{links.url}">
                    <h:outputText value="#{links.titulo}" />                    
                </h:outputLink>
            </p:dataList>
            <p:graphicImage value="/rescursos/img/blog_img5.jpg" styleClass="blog-image"/>
        </div>

    </div>
</ui:composition>
