<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >    
    <div class="order-directoy">
        <div id="table-directory">
            <p:outputLabel value="Servicio Dermatológico" styleClass="blog-title"/>
            <p:panel id="panelInicial" styleClass="ceropadding">
                <f:facet name="header" class="ceropadding">  
                    <p:outputPanel style="width:660px !important;" styleClass="blog-meta1" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value="Servicios profesionales en todo el territorio nacional especializados en materia dermatológica" style="margin-bottom: 2px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>                        
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>
            <h:outputText></h:outputText>

            <p:graphicImage value="/recursos/img/blog_img1.jpg" styleClass="blog-image"/> <br/>
            <br/>

            <div class="blog-text single-text">
                <h:outputText value="La piel es un órgano muy importante ya que nos protege del mundo exterior, nos proporciona sensaciones y ayuda a regular la temperatura corporal.">                
                </h:outputText> 
                <br/><br/>
                <div class="dropcap">
                    <h:outputText styleClass="dropcap" value="La prevención de enfermedades y la preservación o la recuperación de la normalidad cutánea son de gran importancia, por ello hemos decidido incorporar a nuestra propuesta de valor un programa que garantice la orientación y correcto manejo de pacientes con necesidades de atención especial en materia de dermatología, que este dirigido no solo a la atención de patologías presentes si no a la prevención de aquellas que a futuro podrían presentarse.">                
                    </h:outputText>
                </div>
            </div>
            <br/>
        </div>

        <div id="tag-navegacion" style="float: left; padding:4px 0px 25px 15px !important; width: 176px; height: 463px;">
            <div class="sidebar-header" style=" text-align: left">
                <h:outputText value="Venedermo" style="text-align: left">                
                </h:outputText>
            </div>

            <p:dataList value="#{venedermoViewBean.listaLinks}" var="links" type="unordered" itemType="none" styleClass="menu-derecho" >                
                <p:graphicImage value="#{links.rutaImagen}" style="padding-top:2px; float: left; margin-right: 5px" />
                <h:outputLink value="#{links.url}">
                    <h:outputText value="#{links.titulo}" />                    
                </h:outputLink>
            </p:dataList>
            <p:graphicImage value="/recursos/img/blog_img5.jpg" styleClass="blog-image"/>
        </div>

    </div>
</ui:composition>
