<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <body>

        <ui:composition template="/template/indexTemplate.xhtml">

            <ui:define name="header">
               <ui:include src="/views/web/cabeceraDirectory.xhtml"/>
            </ui:define>

            <ui:define name="content" >
                <pe:blockUI id="blqueaPantallaCompleta" widgetVar="blqueaPantallaCompleta">
                    <h:panelGrid columns="2">
                        <h:graphicImage value="/recursos/img/loader.gif" height="30"
                                        style="margin-right: 12px !important; vertical-align: middle;" />
                        <h:outputText value="Esperando respuesta..."
                                      style="white-space: nowrap;" />
                    </h:panelGrid>
                </pe:blockUI>
                
                <h:form>
                <p:remoteCommand name="testAutoRun" autoRun="true" onstart="PF('blqueaPantallaCompleta').block();" 
                                 oncomplete="PF('blqueaPantallaCompleta').unblock();" 
                                 action="#{directorioViewBean.mostrarComponente()}"/>
                </h:form>
                
                <h:form id="form" styleClass="directorio" >                  
                    <ui:include src="/views/web/listDirectorio.xhtml" />                   
                </h:form>                
            </ui:define>

        </ui:composition>

    </body>
</html>
