<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"> 
    
    <div class="order-directoy">
        
        <div id="table-list-directory">
            <p:panel id="panelInicial" styleClass="facet-panel" rendered="#{directorioViewBean.visible}">
                <f:facet name="header" class="facet-panel" >  
                    <p:outputPanel style="width:720px !important;" styleClass="blog-meta" >    
                        <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left; padding-top: 3px; padding-right: 3px"/>
                        <h:outputLabel value=" Directorio de búsqueda de datos de nuestra red de especialistas" 
                                       style="margin-bottom: 15px; display: block;font-size: 14px;text-align: left; font-weight: normal; color: #505050;"/>
                        
                        <p:panelGrid style="width:665px !important;" styleClass="blog-meta">
                            <p:row>
                                <p:column style="width: 2px; border: 0px solid #FFF !important;">
                                    <p:graphicImage value="/recursos/img/blog_category_icon.png" style="float: left;"/>
                                </p:column>
                                <p:column style="padding-left: 0!important; border: 0px solid #FFF !important;">
                                    <h:outputLabel value="Estado: #{directorioViewBean.viewState.nombre}" styleClass="label-directory"/>
                                </p:column>
                                <p:column style="padding-left: 0!important; border: 0px solid #FFF !important;">
                                    <h:outputLabel value="Ciudad/Zona: #{directorioViewBean.viewCitie.name}" styleClass="label-directory" />
                                </p:column>
                                <p:column style="width: 2px; border: 0px solid #FFF !important;">
                                    <p:graphicImage value="/recursos/img/blog_date_icon.png" style="float: left"/>
                                </p:column>
                                <p:column style="padding-left: 0!important; border: 0px solid #FFF !important;">
                                    <h:outputLabel value="Especialidad: #{directorioViewBean.viewSpeciality}" styleClass="label-directory"/>
                                </p:column>
                                <p:column style="width: 2px; border: 0px solid #FFF !important;">
                                    <p:graphicImage value="/recursos/img/blog_author_icon.png" style="float: left"/>
                                </p:column>
                                <p:column style="padding-left: 0!important; border: 0px solid #FFF !important;">
                                    <h:outputLabel value="Doctor: #{directorioViewBean.filtroDoctor}" styleClass="label-directory" />
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:outputPanel>  
                </f:facet>  
            </p:panel>
            
            <p:panelGrid id="encabezado" style="width: 723px !important;" rendered="#{directorioViewBean.visible}">
                <p:row>
                    <p:column rowspan="2" style="border: 1px solid #d5d5d5!important; width: 75px!important"  styleClass="encabezado-agrupado">
                        <p:outputLabel style="text-align: center" value="Nombre" />
                    </p:column>
                    
                    <p:column rowspan="2" style="border: 1px solid #d5d5d5!important; width: 115px!important" styleClass="encabezado-agrupado">
                        <p:outputLabel style="text-align: center" value="Especialidad"/>
                    </p:column>
                    <p:column colspan="5" style="border: 1px solid #d5d5d5!important; width: 445px!important" styleClass="encabezado-agrupado">
                        <p:outputLabel style="text-align: center" value="Clínicas"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="border: 1px solid #d5d5d5!important; width: 80px!important" styleClass="encabezado-agrupado">
                        <p:outputLabel style="text-align: center" value="Nombre"/>
                    </p:column>
                    <p:column style="border: 1px solid #d5d5d5!important; width: 61px!important" styleClass="encabezado-agrupado">
                        <p:outputLabel style="text-align: center" value="Ciudad"/>
                    </p:column>
                    <p:column style="border: 1px solid #d5d5d5!important; width: 110px!important" styleClass="encabezado-agrupado">
                        <p:outputLabel style="text-align: center" value="Dirección"/>
                    </p:column>
                    <p:column style="border: 1px solid #d5d5d5!important; width: 75px!important" styleClass="encabezado-agrupado">
                        <p:outputLabel style="text-align: center" value="Teléfono"/>
                    </p:column>                    
                    <p:column style="border: 1px solid #d5d5d5!important; width: 65px!important" styleClass="encabezado-agrupado">
                        <p:outputLabel style="text-align: center" value="Horario"/>
                    </p:column>         
                    
                </p:row>
            </p:panelGrid>  
            
            <p:dataTable id="directorio" var="specialists" value="#{directorioViewBean.listaSpecialistsFiltrada}" widgetVar="specialistsTable"   
                         emptyMessage="No se encontraron Especialistas" lazy="true" paginator="true" paginatorPosition="bottom" scrollable="false" rows="10"     
                         style="width: 710px !important; " styleClass="tabla-directory-no-header" rendered="#{directorioViewBean.visible}">  
                
                <p:column id="specialists" sortBy="#{specialists.completeName}" style="width: 77px !important;">  
                    <div style="width: 77px !important;">
                        <h:outputText value="#{specialists.completeName}" style="text-transform: uppercase"/>  
                    </div>
                </p:column>  
                
                <p:column id="speciality"  
                          style="width: 118px !important;">
                    <div style="width: 117px !important;">
                        <h:outputText value="#{specialists.typeSpecialistid.name}" style="text-transform: uppercase; font-weight: bold">
                        </h:outputText><br />
                        <ui:repeat var="groupSpecialists" value="#{specialists.specialityList}">
                            <h:outputText  value="• #{groupSpecialists.name}" style="text-transform: uppercase;">                    
                            </h:outputText><br />
                        </ui:repeat>
                    </div>
                </p:column> 
                
                <p:column id="clinics" style="padding-right: 8px !important; width: 478px !important;">
                    <div style="width: 478px !important;">
                        <p:dataTable id="directorio" var="specialistJob" value="#{specialists.specialistJobList}" widgetVar="clinicsTable"   
                                     emptyMessage="No tiene Clínicas asociadas" lazy="true" scrollable="false" styleClass="hide-column-names" 
                                     style="font-size: 11px !important; width: 478px !important;"
                                     >  
                            <p:column id="clinicName"    
                                      headerText="Nombre" styleClass="bordeGris"
                                      style="width: 73px !important;">  
                                <div style="width: 73px !important; padding-right: 4px !important;">
                                    <h:outputText value="#{specialistJob.medicalOfficeId.name}" style="text-transform: uppercase"  />  
                                </div>
                            </p:column>  
                            
                            <p:column id="clinicCity" sortBy="#{specialists.cities}"   
                                      headerText="Ciudad/Zona" styleClass="bordeGris"
                                      style="width: 63px !important;">  
                                <div style="width: 63px !important;">
                                    <h:outputText value="#{specialistJob.medicalOfficeId.addressId.cityId.name}" style="text-transform: uppercase"/>
                                </div>
                            </p:column> 
                            
                            <p:column id="clinicAddress"   
                                      headerText="Dirección" styleClass="bordeGris"
                                      style="width: 115px !important;"> 
                                <div style="width: 115px !important;">
                                    <h:outputText value="#{specialistJob.medicalOfficeId.addressId.address}" style="text-transform: uppercase"/>  
                                </div>
                            </p:column>
                            
                            <p:column id="clinicPhone"    
                                      headerText="Teléfono" styleClass="bordeGris"
                                      style="width: 77px !important;"> 
                                <div style="width: 77px !important;">
                                    <ui:repeat var="phonesClinic" value="#{specialistJob.phoneClinicList}">
                                        <h:outputText  value="#{phonesClinic.phone}" style="text-transform: uppercase;">                    
                                        </h:outputText><br />
                                    </ui:repeat>
                                </div>
                            </p:column>                         
                            
                            <p:column id="clinicSchedule"    
                                      headerText="Horario" styleClass="bordeGris">
                                <div style="width: 67px !important;">
                                    <h:outputText value="#{specialistJob.schedule}" style="text-transform: uppercase"/>  
                                </div>
                            </p:column>
                        </p:dataTable> 
                    </div>
                    
                </p:column>    
                <f:facet name="footer" >  
                    <p:outputPanel >  
                        
                    </p:outputPanel>  
                </f:facet> 
                
            </p:dataTable>
        </div>
        
        <div id="tag-buscador" style="float: left; width: 176px; height: 463px; padding-left: 15px">
            <p:outputPanel id="buscador" styleClass="buscardor-directorio" rendered="#{directorioViewBean.visible}">    
                
                <p:outputLabel value="Estado"/>
                <h:selectOneMenu  id="estadoView" converter="stateConverter" value="#{directorioViewBean.viewState}" style="margin-bottom: 15px">
                    <f:selectItem itemLabel="Seleccione un valor" itemValue="" />
                    <f:selectItems  itemValue="#{state}"
                                    var="estado" itemLabel="#{estado.nombre}" value="#{stateApplicationBean.listState}"/>
                    <p:ajax event="change" update="ciudadView" listener="#{citiesViewBean.filtrarCitiesClinic(directorioViewBean.viewState)}" />
                </h:selectOneMenu>
                
                <p:outputLabel value="Ciudad/Zona"/>
                <h:selectOneMenu   id="ciudadView" converter="citiesConverter"  value="#{directorioViewBean.viewCitie}" style="margin-bottom: 15px">
                    <f:selectItem itemLabel="Seleccione un valor" itemValue=""  />
                    <f:selectItems  itemValue="#{cities}" 
                                    var="ciudad" itemLabel="#{ciudad.name}" value="#{citiesViewBean.listCities}"/>
                </h:selectOneMenu>
                
                <p:outputLabel value="Área de Salud"/>
                <h:selectOneMenu  id="viewTypeSpecialist" converter="typeSpecialistConverter" value="#{directorioViewBean.viewTypeSpecialist}"
                                  style="margin-bottom: 15px">
                    <f:selectItem itemLabel="Seleccione un valor" itemValue=""  />
                    <f:selectItems  itemValue="#{typeSepecialist}"
                                    var="typeSpecialist" itemLabel="#{typeSpecialist.name}" value="#{typeSpecialistApplicationBean.listTypeSpecialist}"/>
                    <p:ajax event="change" update="viewSpeciality" listener="#{specialityViewBean.filtrarSpeciality(directorioViewBean.viewTypeSpecialist)}" />
                </h:selectOneMenu>
                
                <p:outputLabel value="Especialidad"/>
                <h:selectOneMenu  id="viewSpeciality" converter="specialityConverter" value="#{directorioViewBean.viewSpeciality}"
                                  style="margin-bottom: 15px">
                    <f:selectItem itemLabel="Seleccione un valor" itemValue=""  />
                    <f:selectItems  itemValue="#{speciality}"
                                    var="speciality" itemLabel="#{speciality.name}" value="#{specialityViewBean.listaSpeciality}"/>                    
                </h:selectOneMenu>
                
                <p:outputLabel value="Doctor"/>
                <p:inputTextarea value="#{directorioViewBean.filtroDoctor}" style="margin-bottom: 15px" cols="8">
                    
                </p:inputTextarea>
                
                <br/>
                
                <p:commandButton value="Buscar" onstart="PF('blockUIWidgetDirectory').block()" oncomplete="PF('blockUIWidgetDirectory').unblock()" style="width: 70px" 
                                 actionListener="#{directorioViewBean.filtrar()}" styleClass="button-buscar-directorio" update="directorio panelInicial"></p:commandButton><br/>
                
                <p:commandButton value="Limpiar" onstart="PF('blockUIWidgetDirectory').block()" oncomplete="PF('blockUIWidgetDirectory').unblock()" 
                                 actionListener="#{directorioViewBean.limpiarFiltro()}" update="directorio buscador panelInicial" style="width: 70px"></p:commandButton>
                <pe:blockUI id="FilDirectory" 
                            widgetVar="blockUIWidgetDirectory" >
                    <h:panelGrid columns="2">
                        <h:graphicImage value="/recursos/img/loader.gif" height="30"
                                        style="margin-right: 12px; vertical-align: middle;" />
                        <h:outputText value="Espere por favor..."
                                      style="white-space: nowrap;" />
                    </h:panelGrid>
                </pe:blockUI>
                                 
                                 
        <div id="imprimir" style="margin-left: -63px; margin-top: 40px; width: 176px; height:80px; padding-left: 15px">
            <p:outputPanel id="Exportar" styleClass="buscardor-directorio" rendered="#{directorioViewBean.visible}">  
                <p:outputLabel value="Red de Especialistas" style="text-align: center;"/>
                <p:commandButton id="btnExportAuditKeys" actionListener="#{directorioViewBean.showReportPdf}" value="Descargar" style="width: 110px;" ajax="false">
                </p:commandButton> 
            </p:outputPanel>
        </div>
                
            </p:outputPanel>
            
        </div>
        
        
        
    </div>
    
</ui:composition>