<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:pe="http://primefaces.org/ui/extensions">                

    <ui:include src="/template/monitorError.xhtml"/>
    <p:menubar styleClass="menuDirectory">
        <p:submenu label="Productos" >
            <p:menuitem value="" styleClass="triangulo" url="#"/>
            <p:menuitem value="Venedental" url="/views/web/venedental.xhtml"/> 
            <p:menuitem value="Venedevisual" url="/views/web/venedevisual.xhtml"/> 
            <p:menuitem value="Venedermo" url="/views/web/venedermo.xhtml"/> 
            <p:menuitem value="Venepsico" url="/views/web/venepsico.xhtml"/> 
            <p:menuitem value="Veneterapias" url="/views/web/veneterapias.xhtml"/>
        </p:submenu> 
        <p:submenu label="Reembolsos" styleClass="submenuReembolso">
            <p:menuitem value="" styleClass="triangulo" url="#"/>
            <p:menuitem value="Instructivo" url="/views/web/reembolso.xhtml"/> 
            <p:menuitem value="Planilla en línea" url="/views/web/planillaEnLinea.xhtml"/> 
            <p:menuitem value="Planilla en pdf" url="/recursos/files/planillaReembolso.pdf" target="_blank"/> 
        </p:submenu>  
       
       
        <p:menuitem value="Centro de Atención" url="/views/web/directorio.xhtml"/>
        <p:menuitem>
            <h:form
                id="loginForm"
                prependId="false">
                <p:growl id="growLogin" widgetVar="growl" life="5000"/>
                <p:outputLabel id="oficinaVirtual" value="Oficina Virtual" 
                               style="background: none; box-shadow: none; margin-left: 10px; margin-top: 7px;" styleClass="label-head">


                    <p:overlayPanel id="imgPanel"  styleClass="trianguloBorde" for="oficinaVirtual" showEvent="mousemove" hideEvent="blur" >

                        <p:panelGrid id="loginPanel" columns="1" styleClass="sub-menudi" >

                            <a href="../../web/createKey.html"  style="text-decoration: none;font-size: 0.6em;float: right;color: #146492 !important;text-shadow: none !important;font-weight: normal" >Regístrate</a>



                            <h:outputLabel  for="j_username" value="Usuario: " style="color: #000 !important; text-shadow: none !important;"/>
                            <p:inputText  id="j_username" size="50" 
                                          required="true"  label="login" 
                                          validatorMessage="Usuario inválido" requiredMessage="Debe introducir un Usuario">
                                <p:ajax update="j_password"  ></p:ajax>
                            </p:inputText>

                            <h:outputLabel  for="j_password" value="Contraseña: " style="color: #000 !important; text-shadow: none !important;"/>
                            <p:password  id="j_password" size="50"
                                         label="password" 
                                         validatorMessage="Contraseña Inválida" required="true" 
                                         requiredMessage="Debe introducir una contraseña">
                            </p:password>
                            <br/>
                            <h:panelGrid columns="2"> 
                                <p:selectBooleanCheckbox id="_spring_security_remember_me"  />
                                <h:outputLabel value="No cerrar sesión" style="color: #000 !important; text-shadow: none !important;margin-left: 10px;" />
                            </h:panelGrid>

                            <p:commandButton styleClass="buttondir blue" type="submit"
                                             id="botonIngresar" style="width:75px; margin-top: 20px;"
                                             action="#{loginViewBean.doLogin()}"
                                             value="Ingresar" ajax="false">                            
                            </p:commandButton>
                            <p:defaultCommand target="botonIngresar" />


                            <a href="../../web/forgetPassword.html"  style="font-size: 0.6em;float: right;text-shadow: none !important;color:#DF8D2E !important;font-weight: normal" >¿Olvidó su contraseña?</a>


                            <pe:blockUI id="editLogin" 
                                        widgetVar="blockUIWidgetLogin" >
                                <h:panelGrid columns="2">
                                    <h:graphicImage value="/recursos/img/loader.gif" height="30"
                                                    style="margin-right: 12px; vertical-align: middle;" />
                                    <h:outputText value="Espere por favor..."
                                                  style="white-space: nowrap;" />
                                </h:panelGrid>
                            </pe:blockUI>


                        </p:panelGrid>
                    </p:overlayPanel>
                </p:outputLabel>
            </h:form>
        </p:menuitem>
    </p:menubar>
    <script type="text/javascript">
        $(function () {
            $(".submenuReembolso a:first").attr('href', "#{request.contextPath}/views/web/reembolso.xhtml");
        });
    </script>

</ui:composition>
