<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="/template/indexTemplate.xhtml">

            <ui:define name="header">
               <ui:include src="/views/web/cabeceraVenedevisual.xhtml"/>
            </ui:define>

            <ui:define name="content" >
                <h:form id="form" styleClass="directorio" >                  
                    <ui:include src="/views/web/contentPlanVenedevisual.xhtml" />
                </h:form> 
            </ui:define>

        </ui:composition>

    </body>
</html>