<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="/template/indexTemplate.xhtml">

            <ui:define name="header">
               <ui:include src="/views/web/cabeceraVenedevisual.xhtml"/>
            </ui:define>

            <ui:define name="content" >
                <h:form id="form1" styleClass="directorio">                 
                    <ui:include src="/views/web/contentPlanillaEnLinea.xhtml" />
                    <p:dialog style="background-color: transparent !important"  widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                        <img src="/recursos/img/loading.gif" style="max-width: 40px" alt=""/>                    
                    </p:dialog>
                   
                </h:form>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
