<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
    <p:selectOneMenu valueChangeListener="#{errorHttpSessionBean.listenerError}" id="errorHttp" widgetVar="varErrorHttp"
                     immediate="true"  value="#{errorHttpSessionBean.error}" style="display:none; width: 20px;">
        <f:selectItems  itemValue="#{valorError}"
                        var="valorError" itemLabel="#{valorError}" value="#{errorHttpSessionBean.itemsError}"/>
    </p:selectOneMenu>
</ui:composition>

