<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <!--    <p:idleMonitor timeout="600000">  -->
    <p:idleMonitor timeout="600000">
        <p:ajax event="idle" listener="#{accionesRequestBean.idleListener}" />  
        <p:ajax event="active" listener="#{accionesRequestBean.activeListener}" />  
    </p:idleMonitor>  

</ui:composition>

