<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">



    <div style=" height: 180px; text-align: center; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size: 16px;">
        <div id="page-footer-wrap"> 
            <div class="center_content">
                
                        <p:panel styleClass="panelesFooter panelCentral">
                            <p:outputLabel value="Contáctenos" styleClass="titulo-footer" style="margin-left: -165px"/>
                    <p:panel styleClass="footer-contact">
                        <p:panel styleClass="footer-telephone" >
                            Teléfonos:
                            <p:panel styleClass="footer-bold" >
                                +58 (0212) 8212600<br />
                                (0501) 8363336/veneden<br />
                                (0800) 8363331/venede1<br />
                            </p:panel>
                        </p:panel>
                        <p:panel styleClass="footer-mail" style="margin-top: 10px;">
                            Email:
                            <p:panel styleClass="footer-bold" >
                                info@venedental.com.ve
                            </p:panel>
                        </p:panel>
                        <p:panel styleClass="footer-address" style="margin-top: 10px;">
                            Dirección Física  :
                            <p:panel styleClass="footer-bold" >
                                Av. Casanova con Calle <br />
                                Villaflor Centro Profesional  <br />
                                del Este Piso 5 Oficina 56<br />
                                Sabana Grande, Caracas.
                            </p:panel>	
                        </p:panel>
                    </p:panel>
                </p:panel>
                
                <p:panel styleClass="panelesFooter panelIzquierdo">
                    <p:outputLabel value="Urgencias" styleClass="titulo-footer" style="text-align: left;"/>
                    <p:outputLabel value="Servicio de Urgencias 24 horas." style="font: inherit; margin-bottom: 5px;"/>
                    <p:outputLabel value="Llamadas nocturnas: La atención presencial será al día siguiente." style="font: inherit; color: #b4ceed;" />
                    <p:panel styleClass="footer-contact">  
                        <p:panel styleClass="footer-bold "  >
                           Puede llamar o mandar un <br />
                           mensaje de texto a los  <br />
                           siguientes teléfonos:<br />
                           <br />
                            <p:panel styleClass="footer-bold">
                                +58 (0414) 1705251<br/>
                                +58 (0414) 1163741<br/>
                                +58 (0424) 2977311<br/>
                                (0501) 8363336/veneden<br/>
                                (0800) 8363331/venede1<br/>
                                 <br />
                            </p:panel>
                        </p:panel>
                       
                    </p:panel>
                </p:panel>
                <p:panel styleClass="panelesFooter panelDerecho">
                    <p:outputLabel value="Servicios" styleClass="titulo-footer"/>
                    <p:dataList value="#{footerViewBean.listaLinks}" var="imagen" type="unordered" itemType="none">                
                        <div style="border-bottom: 1px dotted #4A80DB; text-align: center;">
                            <h:outputLink value="#{imagen.url}">
                                <p:graphicImage value="#{imagen.rutaImagen}" style="width: 40%;"/>                    
                            </h:outputLink>
                        </div>
                    </p:dataList>
                </p:panel>
                <br class="clear"/>
                <input id="back-to-top" onclick="toTop()" type="button"/>
                <p:panel styleClass="copyright" >
                    <p:outputLabel value="Grupo Veneden © 2016" style="float:left; position: relative; width: 200px; font: inherit; padding-top: 20px;"/>
                    <p:panel styleClass="social-button" style="margin-right: -100px;">
                        <p:dataList styleClass="listaSocial" value="#{footerViewBean.listaSociales}" var="social" type="unordered" itemType="none" >
                            <h:outputLink value="#{social.url}">
                                <p:panel styleClass="icono" style="background-image: url('#{social.rutaImagen}'); background-position: #{social.x}px #{social.y}px;"/>
                            </h:outputLink>
                        </p:dataList>					
                    </p:panel>
                </p:panel>
                <br class="clear" style="margin-top: 60px;"/>
            </div>
        </div>
    </div>
    
    <script language="javascript">
        function toTop(){
            $("html, body").animate({ scrollTop: "0px" }, 500);
        }
    </script>
    
</ui:composition>
