<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style=" height: 180px; text-align: center; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size: 16px;">
        <div id="page-footer-wrap"> 
            <div class="center_content">

                <p:outputLabel value="Dirección" style="text-align: center; font-weight: bold;  position: relative; font: inherit; right: 27px; "/>
                <br/>    
                <p:outputLabel value="Av. Francisco de Miranda con José Lazo Marti Torre EASO piso 4 Ofic J y K El Rosal. Municipio Chacao" style="text-align: center; position: relative; font: inherit; padding-top: 20px;"/>


                <br class="clear"/>
                <input id="back-to-top" onclick="toTop()" type="button"/>
                <p:panel styleClass="copyright" >
                    <p:outputLabel value="Grupo Veneden © 2015" style="text-align: center; position: relative;  font: inherit; padding-top: 20px;"/>             
                </p:panel>
                <br class="clear" style="margin-top: 60px;"/>
            </div>
        </div>
    </div>

    <script language="javascript">
        function toTop() {
            $("html, body").animate({scrollTop: "0px"}, 500);
        }
    </script>

</ui:composition>

