<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="expires" content="0"/>
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="Pragma" CONTENT="no-cache"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../img/favicon.png" rel="shortcut icon" type="image/x-icon"/>
        <title>Grupo Veneden</title>
        <h:outputStylesheet name="./css/theme.css"/>
        <h:outputStylesheet name="./css/primefaces.css"/>
    </h:head>

    <div id="header" align="center">
        <ui:include src="/views/application/headerVirtualOffice.xhtml"/>
    </div>

    <div id="content" class="center_content" align="center" >
        <ui:insert name="content">Content</ui:insert>
    </div>

    <div style="clear: both;"/>
    
    <div id="footer" style="width: 100%;">
        <ui:include src="/template/piePaginaAdmin.xhtml"/>
    </div>
    
    <script language="javascript">
        $('button, select').focus(
                function() {
                    $.ajax({
                        url: "/error/error404.html",
                        type: 'HEAD',
                        cache: false,
                        async: true,
                        dataType: "html",
                        error: function() {
                            window.location.href = "/error404.html";
                        }
                    });
                }
        );


        $('.ui-paginator-first, .ui-paginator-prev, .ui-paginator-pages, .ui-paginator-page, .ui-paginator-next, .ui-paginator-last').click(
                function() {
                    $.ajax({
                        url: "/error/error404.html",
                        type: 'HEAD',
                        cache: false,
                        async: true,
                        dataType: "html",
                        error: function() {
                            window.location.href = "/error404.html";
                        }
                    });
                }
        );

    </script>

</html>