<!-- 
<akmenu>
</akmenu>
-->


    <div class="row">
        <div class="col-sm-2"><img src="../img/heal_logo2.png" alt=""></div>
        <div class="col-sm-8">
            <akmenu style="margin-top: 45px;"> </akmenu>
        </div>
        <div class="col-sm-2">
            <label style="margin-top: 47px; font-weight: bold; font-size: 12px;">{{user}}</label>
            <a href="/j_spring_security_logout" class="ak-link" style="margin-top: 47px;">Cerrar Sesión</a>
        </div>
    </div>

<!-- segundo header -->
<div id="page-title-wrap" >
        <div id="container-title-directory2">
            <div  id="title-directory2">
                <img src="../img/oficinavirtual.png" alt="" style="float: left;" />
            </div>
          </div>
    </div>
       

        

        
