

<!--<akmenu></akmenu>-->
<style>

</style>

<script>
    $(function () {
        $("#menu1").menu({position: {at: "left bottom"}});;
    });
    $(function () {
        $("#menu2").menu({position: {at: "left bottom"}});;
    });
</script>

<!--

<div class="container">

    <div class="row">
        <div class="col-sm-3"  >
            <img src="../img/heal_logo2.png" alt="" style="float: left; margin-right: 70px;margin-top: 5px">
        </div>
        <div class="col-sm-9" style="min-height: 95px">

            <div style="display: table; height: 95px; overflow: hidden;">
                <div style="display: table-cell; vertical-align: middle;">
                    <div>

                        <ul id="menu1">
                            <li class="ui-state-disabled header-menu"><div>Toys (n/a)</div></li>
                            <li><div class="header-menu">Books</div></li>
                            <li><div class="header-menu">Clothing</div></li>
                            <li><div >Electronicas</div></li>

                            <ul  style="border-top: 2px solid #094EA0;" >
                                <div class="triangulo"></div>
                                <li class="ui-state-disabled"><div>Home Entertainment</div></li>
                                <li><div>Car Hifi</div></li>
                                <li><div>Utilities</div>
                                    <ul>
                                        <li>hola</li>
                                        <li>chao</li>
                                    </ul>
                                </li>
                            </ul>


                            <li><div>Movies</div></li>
                            <li><div>Music</div>
                                <ul>
                                    <li><div>Rock</div>
                                        <ul>
                                            <li><div> Alternative</div></li>
                                            <li><div>Classic</div></li>
                                        </ul>

                                    <li><div>Jazz</div>
                                        <ul>
                                            <li><div>Freejazz</div></li>
                                            <li><div>Big Band</div></li>
                                            <li><div>Modern</div></li>
                                        </ul>
                                    </li>
                                    <li><div>Pop</div></li>
                                </ul>
                            </li>
                            <li class="ui-state-disabled"><div>Specials (n/a)</div></li>
                        </ul>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
-->

<!-- primer header -->

<div id="page-title-wrap-general" >
    <div class="container">
        <div   class="row" id="container-title-directory">

            <div  id="title-directory" class="col-sm-12">
                <img src="/img/oficinavirtual.png" alt="" style="float: left; margin-left: 24px" />
            </div>

            <div  id="subtitle-directory" class="col-sm-12">
                <div id="dotted-top">
                    <div>
                        Atención oftalmológica y prevención a futuro
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>