<footer  id="page-footer-wrap">

    <div class="container" style=" height: 180px; width: 100%">
        <div>
            
                <div class="center_content" style=" text-align: center; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size: 16px;">Dirección
                    
                </div>
                <div class="center_content" style=" text-align: center; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size: 16px;"> Av. Francisco de Miranda con José Lazo Marti Torre EASO piso 4 Ofic J y K El Rosal. Municipio Chacao</div>
                    
                 
        </div>
        <input type="button" id="back-to-top" onclick="toTop()">
        
        <div class="center_content" id="copy-right" style=" height: 20px; text-align: center; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size: 16px;">

            Grupo Veneden © 2016
        </div>
    </div>
</footer>



