<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <body>

        <ui:composition template="/template/indexTemplate.xhtml">

            <ui:define name="header">
               <ui:include src="/views/application/cabecera.xhtml"/>
            </ui:define>

            <ui:define name="content">
                <ui:include src="/web/listaAddresses.xhtml"/>
            </ui:define>

            <ui:define name="footer">
               <ui:include src="/template/piePagina.xhtml"/> 
            </ui:define>

        </ui:composition>

    </body>
</html>
