<!DOCTYPE html>
<html ng-app="AKmodule" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" CONTENT="no-cache" />
    <link href="../img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <title>Grupo Veneden</title>

    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap3-3-6.css" >
    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap-theme.css" >
    <link href="../angular/css/angular/growl/growl.css" rel="stylesheet">
    <link rel="stylesheet" href="../angular/css/angular/themeAngular.css" >
    <link href="../angular/css/angular/table/ng-table.css" rel="stylesheet">
    <link href="../angular/js/jquery-ui-1.12.0/jquery-ui.css" rel="stylesheet">

    <script type="text/javascript" src="../angular/js/jquery/jquery-2.2.1.js" ></script>

    <script type="text/javascript" src="../angular/js/angular/angular_1.5.0.js" ></script>
    <script type="text/javascript" src="../angular/js/angular/module/moment.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/daterangepicker.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/angular-daterangepicker.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/ng-table.js"></script>


    <script src="../angular/js/angular/module/angular-material-1.0.5.js"></script>
    <script src="../angular/js/angular/module/angular-aria.min.js"></script>

    <script src="../angular/js/angular/module/angular-animate.min.js"></script>
    <script src="../angular/js/angular/module/angular-touch.min.js"></script>

    <script src="../angular/js/angular/module/angular-sanitize.js"></script>
    <script src="../angular/js/angular/module/ui-bootstrap-tpls-1.2.5.js"></script>


    <script src="../angular/js/angular/module/growl/growl.js"></script>
    <script src="../angular/js/angular/module/growl/growlDirective.js"></script>
    <script src="../angular/js/angular/module/growl/growlFactory.js"></script>
    <script src="../angular/js/angular/module/akmodulePureJs.js"></script>
    <script src="../angular/js/angular/module/akmodule.js"></script>
    <script src="../angular/js/jquery-ui-1.12.0/jquery-ui.min.js"></script>



    <script type="text/javascript" src="../angular/js/angular/controller/auditConsultTrace.js" ></script>
</head>
<body ng-controller="AKctrlAuditConsultTrace">
<div id="divLoading" class="ajax-content" ng-show="showAjax">
    <p style="position: absolute;  top: 50%; left: 45%;">

        <img src="../img/loading.gif" class="ajax-img">
    </p>
</div>
<div ng-include="'../angular/js/angular/include/header2.html'"></div>


<!-- content -->

    <div growl></div>

    <div class="container " style="width: 70%;"  >
        <header  id="blog-meta">
            <div id="titulo-blog" style="padding-bottom:10px;width: 100%;font-weight: bold">
                Estatus de reportes
            </div>
        </header>
        <div style="min-height: 500px;">
            <table ng-table="" class="table table-bordered table-hover table-condensed editable-table demoTable "
                   style="text-align: center;margin-bottom: 3%" >
                <tr>
                    <th class="headerTable" style="width: 18%">Nro. Reporte de tratamiento
                        <input ng-keyup="evalArray()" ng-keydown="evalArray()" class="form-control ak-input " ng-model="numreptrat" numbers-only ng-trim="false" maxlength="11" style="margin: auto;width: 70%" >
                    </th>

                    <th class="headerTable" style="width: 14%">Nro. Reporte de pago
                        <input ng-keyup="evalArray()" ng-keydown="evalArray()"  class="form-control ak-input" ng-model="numreppay" numbers-only style="margin: auto; width: 70%" maxlength="11" ng-trim="false" >
                    </th>

                    <th class="headerTable" style="width: 13%">Clave
                        <input ng-keyup="evalArray()" ng-keydown="evalArray()"  class="form-control ak-input "ng-model="keyst" numbers-only ng-trim="false"  maxlength="30" style="margin: auto;width: 100%" >
                    </th>

                    <th class="headerTable" style="width: 13%">Tratamiento
                        <input allow-pattern="^[a-zA-Z Ññ]*$" ng-keyup="evalArray()" ng-keydown="evalArray()"  class="form-control ak-input " ng-model="treatment" maxlength="255" style="margin: auto; width: 100%" >
                    </th>

                    <th class="headerTable" style="width: 4%; padding-bottom: 33px">Diente
                    </th>

                    <th class="headerTable" style="width: 15%">Situación
                        <input allow-pattern="^[a-zA-Z Ññ]*$" ng-keyup="evalArray()" ng-keydown="evalArray()"  class="form-control ak-input " ng-model="status" maxlength="25" style="margin: auto; width: 100%;" >
                    </th>

                    <th class="headerTable" style="width: 15%; padding-bottom: 33px">Observación
                    </th>

                    <th class="headerTable" style="width: 8%">Detalle</th>
                </tr>

                <tr ng-repeat="trace in traceAudit | filter:{numReportTreatment : numreptrat} | filter:{treatmentName : treatment}
                                                            | filter : {numPaymentReport : numreppay} | filter :  {statusName : status} | filter : {numKey : keyst}"
                    ng-hide="isHiddenTableContent">
                    <td class="numRT" ng-bind="trace.numReportTreatment"></td>
                    <td ng-bind="trace.numPaymentReport"></td>
                    <td ng-bind="trace.numKey"></td>
                    <td ng-bind="trace.treatmentName"></td>
                    <td ng-bind="trace.numTooth"></td>
                    <td ng-bind="trace.statusName"></td>
                    <td ng-bind="trace.observation"></td>
                    <td>
                        <input  type="button" class="ui-button ui-widget ui-statedefault ui-corner-all
                         ui-button-icon-only searchButton" title="Reporte de tratamientos"
                                style="margin-bottom: 10px; margin-top: 10px;
                                background-color: rgb(65,203,4);border-color: rgb(65,203,4)" ng-click="consultTreatmentReport(trace.numReportTreatment)">
                        <input type="button" ng-click="downloadPDF(trace.idPaymentReport);"
                               class="ui-button ui-widget ui-statedefault ui-corner-all
                         ui-button-icon-only searchButton" title="Reporte de pago" ng-hide= "isHidden(trace.idPaymentReport)"
                               style="margin-bottom: 10px; margin-top: 10px;">

                    </td>
                </tr>
            </table>
            <div style="text-align: center; padding-bottom: 150px;color: #828282;" ng-hide="isHiddenMessageDefault">
                NO SE ENCONTRARON REGISTROS
            </div>
        </div>
    </div>


<!-- END content -->

        <div ng-include="'../angular/js/angular/include/piePaginaAdmin2.html'"></div>

        <script type="text/javascript" src="../angular/js/bootstrap/bootstrap.js" ></script>
        <script type="text/javascript">
            function toTop() {
                $("html, body").animate({scrollTop: "0px"}, 500);
            }
        </script>

    </body>
</html>