<!DOCTYPE html>
<html ng-app="AKmodule" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" CONTENT="no-cache" />
    <link href="../img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <title>Grupo Veneden</title>

    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap3-3-6.css" >
    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap-theme.css" >
    <link href="../angular/css/angular/growl/growl.css" rel="stylesheet">
    <link rel="stylesheet" href="../angular/css/angular/themeAngular.css" >
    <link rel="stylesheet" href="../angular/js/jquery-ui-1.12.0/jquery-ui.css">


    <script type="text/javascript" src="../angular/js/jquery/jquery-2.2.1.js" ></script>
    <script type="text/javascript" src="../angular/js/jquery-ui-1.12.0/jquery-ui.js" ></script>

    <script type="text/javascript" src="../angular/js/angular/angular_1.5.0.js" ></script>
    <script src="../angular/js/angular/module/angular-material-1.0.5.js"></script>
    <script src="../angular/js/angular/module/angular-aria.min.js"></script>

    <script src="../angular/js/angular/module/angular-animate.min.js"></script>
    <script src="../angular/js/angular/module/angular-touch.min.js"></script>

    <script src="../angular/js/angular/module/angular-sanitize.js"></script>
    <script src="../angular/js/angular/module/ui-bootstrap-tpls-1.2.5.js"></script>


    <script src="../angular/js/angular/module/growl/growl.js"></script>
    <script src="../angular/js/angular/module/growl/growlDirective.js"></script>
    <script src="../angular/js/angular/module/growl/growlFactory.js"></script>
    <script src="../angular/js/angular/module/akmodulePureJs.js"></script>
    <script src="../angular/js/angular/module/akmodule.js"></script>



    <script type="text/javascript" src="../angular/js/angular/controller/changePassword.js" ></script>

    <style>
        .popover{
            min-width: 550px;
            height:155px;
        }
        #containerElem .popover {
            min-width: 550px;
            height:145px;
        }

    </style>


</head>
<body  ng-controller="AKctrlChangePassword">

<div id="divLoading" class="ajax-content" ng-show="showAjax">
    <p style="position: absolute;  top: 50%; left: 45%;">

        <img src="../img/loading.gif" class="ajax-img">
    </p>
</div>
<div ng-include="'../angular/js/angular/include/header2.html'"></div>




<!-- content -->

<div growl></div>

<div class="container " style="width: 70%;"  >
    <header  class="ak-title-page"> Cambio de contraseña</header>

    <form style="margin-bottom: 40px">


        <fieldset  class="form-group ak-fieldset" style="margin-bottom: 15px">
            <label class="ak-label-for-input" for="idCARD" style="margin-bottom: 10px">* Contraseña anterior</label>

            <div class="navbar-form ak-form-search">
                <input style="width: 51%"  type="password" id="idCARD" class="form-control ak-input" ng-model="oldPassword"
                       maxlength="12"  ng-keyup="matchPassword()" passwordvalid/>
            </div>

            <div class="ak-label-for-input" style="padding:8px 0;margin-left: 1%;" ng-hide="isHideLabel">
                <label style="font-weight: normal;color: #FF5500;">
                    La contraseña anterior ingresada es incorrecta
                </label>
            </div>

        </fieldset>

        <fieldset  class="form-group ak-fieldset" style="margin-bottom: 15px">
            <label class="ak-label-for-input" for="password" >* Nueva contraseña </label>
            <div class="navbar-form ak-form-search">
                <input style="width: 51%" ng-class="stylefirstPassword" class="form-control ak-input"  ng-model="firstPassword"
                       id="password" type="password" maxlength="12" passwordvalid
                       ng-keyup="validePassWord()" />

                <img   popover-trigger="mouseenter" uib-popover-html="htmlPopover" src="../img/icon-interrogacion.png"
                       style="margin-bottom: 5px" alt="" width="25" height="26"/>

            </div>

        </fieldset>

        <fieldset  class="form-group ak-fieldset">
            <label class="ak-label-for-input" for="re-password" >* Repita contraseña </label>
            <input class="form-control ak-input" id="re-password"  type="password" ng-model="secondPassWord"
                   maxlength="12" ng-disabled="activeSecondPassWord" ng-keyup="matchPassword()"/>
        </fieldset>
        <div class="message-error" ng-show="messageMatchPassWord">Las contraseñas no coinciden</div>


        <input  type="button" style="margin-left: 20%;margin-top: 15px;margin-bottom: 30px"  value="Confirmar"
                ng-disabled="buttonSubmit" ng-click="sendInfo(firstPassword,oldPassword)"/>

        <a href="../web/index.xhtml">
            <input  type="button" style="min-width: 71px;margin-top: 15px;margin-bottom: 30px"  value="Salir"/>
        </a>

    </form>

</div>

<!-- END content -->

<div ng-include="'../angular/js/angular/include/footer.html'"></div>


<script type="text/javascript" src="../angular/js/bootstrap/bootstrap.js" ></script>
<script type="text/javascript">
    function toTop(){
        $("html, body").animate({ scrollTop: "0px" }, 500);
    }
</script>


</body>
</html>