<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

<body>
<ui:composition template="/template/indexTemplateApplication.xhtml">


    <ui:define name="header">
        <ui:include src="/views/application/cabecera.xhtml"/>
    </ui:define>

    <ui:define name="content">
        <pe:blockUI widgetVar="blockUIWidgetGeneral">
            <h:panelGrid columns="2">
                <h:graphicImage value="/recursos/img/loader.gif" height="30"
                                style="margin-right: 12px !important; vertical-align: middle;" />
                <h:outputText value="Esperando respuesta..."
                              style="white-space: nowrap;" />
            </h:panelGrid>
        </pe:blockUI>
        <h:form>
            <p:remoteCommand name="testAutoRun"
                             autoRun="true"
                             onstart="PF('blockUIWidgetGeneral').block();"
                             oncomplete="PF('blockUIWidgetGeneral').unblock();"
                             action="#{keysPatientsViewBean.mostrarComponente()}"/>
        </h:form>
        <h:form id="form" style="border: 0px #000000;">
            <ui:include src="/web/listConsultBaremo.xhtml"/>
        </h:form>
    </ui:define>

</ui:composition>

</body>
</html>