<!DOCTYPE html>
<html ng-app="AKmodule" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" CONTENT="no-cache" />
    <link href="../img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <title>Grupo Veneden</title>

    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap3-3-6.css" >
    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap-theme.css" >
    <link href="../angular/css/angular/growl/growl.css" rel="stylesheet">
    <link rel="stylesheet" href="../angular/css/angular/themeAngular.css" >
    <link rel="stylesheet" href="../angular/js/jquery-ui-1.12.0/jquery-ui.css">


    <script type="text/javascript" src="../angular/js/jquery/jquery-2.2.1.js" ></script>
    <script type="text/javascript" src="../angular/js/jquery-ui-1.12.0/jquery-ui.js" ></script>

    <script type="text/javascript" src="../angular/js/angular/angular_1.5.0.js" ></script>
    <script src="../angular/js/angular/module/angular-material-1.0.5.js"></script>
    <script src="../angular/js/angular/module/angular-aria.min.js"></script>

    <script src="../angular/js/angular/module/angular-animate.min.js"></script>
    <script src="../angular/js/angular/module/angular-touch.min.js"></script>

    <script src="../angular/js/angular/module/angular-sanitize.js"></script>
    <script src="../angular/js/angular/module/ui-bootstrap-tpls-1.2.5.js"></script>


    <script src="../angular/js/angular/module/growl/growl.js"></script>
    <script src="../angular/js/angular/module/growl/growlDirective.js"></script>
    <script src="../angular/js/angular/module/growl/growlFactory.js"></script>
    <script src="../angular/js/angular/module/akmodulePureJs.js"></script>
    <script src="../angular/js/angular/module/akmodule.js"></script>


    <script type="text/javascript" src="../angular/js/angular/controller/createKey.js" ></script>

    <style>
        .popover{

            min-width: 550px;
            height:155px;
        }
        #containerElem .popover {
            min-width: 550px;
            height:145px;
        }

    </style>


</head>
<body  ng-controller="AKctrl">

<div id="divLoading" class="ajax-content" ng-show="showAjax">
    <p style="position: absolute;  top: 50%; left: 45%;">

        <img src="../img/loading.gif" class="ajax-img">
    </p>
</div>
<div ng-include="'../angular/js/angular/include/header.html'"></div>


<!-- content -->

<div growl></div>

<div class="container " style="width: 70%;"  >
    <header  class="ak-title-page"> Creación de usuario y contraseña</header>

    <form>


        <fieldset  class="form-group ak-fieldset">
            <label class="ak-label-for-input" for="idcard" style="margin-bottom: 10px">* Cédula</label>

            <div class="navbar-form ak-form-search">
                <input  type="text" id="idcard" class="form-control ak-input" ng-model="especialistCardId"
                        maxlength="8"  only-number ng-trim="false"  ng-disabled="activeCardId" ng-keyup="enableButtonSearch()"
                />
                <a href="javascript:void(0)" ng-click="serviceGetEspecialist(especialistCardId)" ng-class="styleButton"
                   ng-disabled="isDisabledComponents" ng-hide="hideComponents">
                    <img src="{{nameImg}}" style="margin-bottom: 5px;" alt="" width="25" height="26">
                </a>
            </div>

        </fieldset>

        <fieldset  class="form-group ak-fieldset">
            <label class="ak-label-for-input" for="nameUser">Nombre de usuario</label>
            <input class="form-control ak-input" id="nameUser"  ng-model="name" disabled/>
        </fieldset>

        <fieldset  class="form-group ak-fieldset">
            <label class="ak-label-for-input" for="name" >Usuario</label>
            <input  class="form-control ak-input" id="name"   ng-model="loginView" disabled/>
        </fieldset>

        <fieldset  class="form-group ak-fieldset" ng-hide="hideComponents">
            <label class="ak-label-for-input" for="password" >* Contraseña </label>
            <div class="navbar-form ak-form-search" ng-disabled="">
                <input style="width: 51%" ng-class="stylefirstPassword" class="form-control ak-input"  ng-model="firstPassword"
                       id="password" type="password" passwordvalid  ng-trim="false" maxlength="12" ng-disabled="activefirstPassWord"
                       ng-keyup="validePassWord()" />

                <img   popover-trigger="mouseenter" uib-popover-html="htmlPopover" src="../img/icon-interrogacion.png"
                       style="margin-bottom: 5px" alt="" width="25" height="26"/>

            </div>

        </fieldset>

        <fieldset  class="form-group ak-fieldset" ng-hide="hideComponents">
            <label class="ak-label-for-input" for="re-password" >* Repita contraseña </label>
            <input class="form-control ak-input" id="re-password"  type="password" ng-model="secondPassWord"
                   ng-disabled="activeSecondPassWord" ng-keyup="matchPassword()" maxlength="12"/>
        </fieldset>
        <div class="message-error" ng-show="messageMatchPassWord">Las contraseñas no coinciden</div>


        <input  type="button" style="margin-left: 20%;margin-top: 15px;margin-bottom: 30px"  value="Confirmar" ng-hide="hideComponents"
                ng-click="insertUserData(especialistCardId,idSpecialist,secondPassWord)" ng-disabled="buttonSubmit"/>

        <a href="../index.xhtml">
            <input  type="button" style=";margin-top: 15px;margin-bottom: 30px"
                    ng-class="styleButtSalir" value="Salir"/>
        </a>

    </form>

</div>

<!-- END content -->

<div ng-include="'../angular/js/angular/include/footer.html'"></div>


<script type="text/javascript" src="../angular/js/bootstrap/bootstrap.js" ></script>
<script type="text/javascript">
    function toTop(){
        $("html, body").animate({ scrollTop: "0px" }, 500);
    }
</script>


</body>
</html>