<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>

    </h:head>

    <h:body>

        <ui:include src="/web/dashboardContenedor.xhtml" />

    </h:body>
    
</html>
