<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="form">

        <ui:include src="/template/monitorSesion.xhtml" />

        <div align="center">

            <p:layout fullPage="true" style="border: none">              
                <p:layoutUnit position="north" size="300" >  
                    
                    <ui:include src="/views/application/cabecera.xhtml"/>
                    
                </p:layoutUnit>
                <p:layoutUnit position="south" size="100">   
                    
                    <ui:include src="/template/piePagina.xhtml"/> 
                    
                </p:layoutUnit>  

                <p:layoutUnit position="center">  
                                                      
                </p:layoutUnit> 

            </p:layout>

        </div>

    </h:form>

</ui:composition>
