<!DOCTYPE html>
<html ng-app="AKmodule" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" CONTENT="no-cache" />
    <link href="../img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <title>Grupo Veneden</title>

    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap3-3-6.css" >
    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap-theme.css" >
    <link href="../angular/css/angular/growl/growl.css" rel="stylesheet">
    <link rel="stylesheet" href="../angular/css/angular/themeAngular.css" >
    <link rel="stylesheet" href="../angular/js/jquery-ui-1.12.0/jquery-ui.css">


    <script type="text/javascript" src="../angular/js/jquery/jquery-2.2.1.js" ></script>
    <script type="text/javascript" src="../angular/js/jquery-ui-1.12.0/jquery-ui.js" ></script>

    <script type="text/javascript" src="../angular/js/angular/angular_1.5.0.js" ></script>
    <script src="../angular/js/angular/module/angular-material-1.0.5.js"></script>
    <script src="../angular/js/angular/module/angular-aria.min.js"></script>

    <script src="../angular/js/angular/module/angular-animate.min.js"></script>
    <script src="../angular/js/angular/module/angular-touch.min.js"></script>

    <script src="../angular/js/angular/module/angular-sanitize.js"></script>
    <script src="../angular/js/angular/module/ui-bootstrap-tpls-1.2.5.js"></script>


    <script src="../angular/js/angular/module/growl/growl.js"></script>
    <script src="../angular/js/angular/module/growl/growlDirective.js"></script>
    <script src="../angular/js/angular/module/growl/growlFactory.js"></script>
    <script src="../angular/js/angular/module/akmodule.js"></script>
    <script src="../angular/js/angular/module/akmodulePureJs.js"></script>


    <script type="text/javascript" src="../angular/js/angular/controller/forgetPassword.js" ></script>

    <style>
        .popover{

            min-width: 550px;
            height:145px;
        }
        #containerElem .popover {
            min-width: 550px;
            height:145px;
        }

    </style>


</head>
<body  ng-controller="AKctrlChangePassword">

<div id="divLoading" class="ajax-content" ng-show="showAjax">
    <p style="position: absolute;  top: 50%; left: 45%;">

        <img src="../img/loading.gif" class="ajax-img">
    </p>
</div>
<div ng-include="'../angular/js/angular/include/header.html'"></div>


<!-- content -->

<div growl></div>

<div class="container " style="width: 70%; min-height: 300px"  >
    <header  class="ak-title-page"> Restablecer contraseña</header>
    <div class="ak-label-for-input" style="padding-bottom: 25px;margin-left: 1%;">
        <label style="font-weight: normal;color: #FF5500;">
            Ingrese los campos requeridos
        </label>
    </div>

    <form>


        <fieldset  class="form-group ak-fieldset">
            <label class="ak-label-for-input" for="idcard" style="margin-bottom: 10px">* Cédula</label>

            <div class="navbar-form ak-form-search">
                <input  type="text" id="idcard" class="form-control ak-input"
                        maxlength="9"  only-number ng-trim="false" ng-model="idCard" ng-keydown="cleanData()"
                        ng-keyup="enableButtonSearch()" pattern="^\d+$"/>
                <a href="javascript:void(0)"  ng-click="findEspecialistByIdCard(idCard)"  ng-class="styleButton">
                    <img src="{{nameImg}}"  style="margin-bottom: 5px" alt="" width="25" height="26">
                </a>
            </div>

        </fieldset>

        <fieldset  class="form-group ak-fieldset" style="margin-bottom: 10px">
            <label class="ak-label-for-input" for="nameUser">Nombre de usuario</label>
            <input class="form-control ak-input" id="nameUser"   ng-model="completeName" disabled/>
        </fieldset>

        <input  type="button" style="margin-left: 20%;margin-top: 15px;margin-bottom: 30px"  value="Confirmar"
                ng-disabled="disabledSubmit" ng-click="submmitData(idCard)" />

        <a href="../index.xhtml">
            <input  type="button" style="min-width: 71px;margin-top: 15px;margin-bottom: 20px"  value="Salir"/>
        </a>

    </form>

</div>

<!-- END content -->

<div ng-include="'../angular/js/angular/include/piePaginaAdmin2.html'"></div>


<script type="text/javascript" src="../angular/js/bootstrap/bootstrap.js" ></script>
<script type="text/javascript">
    function toTop(){
        $("html, body").animate({ scrollTop: "0px" }, 500);
    }
</script>


</body>
</html>