<!DOCTYPE html>
<html ng-app="AKmodule" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" CONTENT="no-cache" />
    <link href="../img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <title>Grupo Veneden</title>

    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap3-3-6.css" >
    <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap-theme.css" >
    <link href="../angular/css/angular/growl/growl.css" rel="stylesheet">
    <link href="../angular/css/angular/table/ng-table.css" rel="stylesheet">
    <link href="../angular/css/font-awesome-4.6.3/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../angular/js/jquery-ui-1.12.0/jquery-ui.css">
    <link rel="stylesheet" href="../angular/css/angular/themeAngular.css" >

    <script type="text/javascript" src="../angular/js/jquery/jquery-2.2.1.js" ></script>
    <script type="text/javascript" src="../angular/js/jquery-ui-1.12.0/jquery-ui.js" ></script>

    <script type="text/javascript" src="../angular/js/angular/angular_1.5.0.js" ></script>
    <script type="text/javascript" src="../angular/js/angular/module/moment.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/daterangepicker.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/angular-daterangepicker.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/ng-table.js"></script>

    <script src="../angular/js/angular/module/angular-material-1.0.5.js"></script>
    <script src="../angular/js/angular/module/angular-aria.min.js"></script>

    <script src="../angular/js/angular/module/angular-animate.min.js"></script>
    <script src="../angular/js/angular/module/angular-touch.min.js"></script>

    <script src="../angular/js/angular/module/angular-sanitize.js"></script>
    <script src="../angular/js/angular/module/ui-bootstrap-tpls-1.2.5.js"></script>

    <script src="../angular/js/angular/module/growl/growl.js"></script>
    <script src="../angular/js/angular/module/growl/growlDirective.js"></script>
    <script src="../angular/js/angular/module/growl/growlFactory.js"></script>
    <script src="../angular/js/angular/module/akmodule.js"></script>
    <script src="../angular/js/angular/module/module.js"></script>

    <script src="../angular/js/angular/module/jqdialog.js"></script>

    <script src="../angular/js/angular/module/akmodulePureJs.js"></script>
    <script type="text/javascript" src="../angular/js/angular/controller/generatePaymentReport.js" ></script>
</head>
<body ng-controller="AKctrlgenPaymentR">
<div id="divLoading" class="ajax-content" ng-show="showAjax">
    <p style="position: absolute;  top: 50%; left: 45%;">

        <img src="../img/loading.gif" class="ajax-img">
    </p>
</div>


<div ng-include="'../angular/js/angular/include/header2.html'"></div>


<!-- content -->

<div growl></div>

<div class="container " style="width: 70%;" >
    <header  id="blog-meta">
        <div id="titulo-blog" style="padding-bottom:10px;width: 100%;font-weight: bold">
            Generar reporte de tratamiento odontológico
        </div>
    </header>
    <div style="margin:25px 0">

    </div>
    <div style="min-height: 500px;">
        <table ng-table="" ng-hide="isHideTableTreat" class="table table-bordered table-hover table-condensed editable-table demoTable" style="text-align: center">
            <tr>
                <th class="checkboxes headerTable" style="margin-top: 20px">
                    <input style="margin-top: 10px" type="checkbox" ng-model="checkboxm"id="checkbox-6"
                           class="checkbox-custom ak-checkbox-table" ng-change="enablesReportAll(checkboxm)" name="checkbox-6" ng-disabled="isDisabledCheckboxOnly">
                    <label for="checkbox-6" class="checkbox-custom-label"></label>

                </th>

                <th class="headerTable">Fecha
                     <input date-range-picker ng-keypress="evalArray();deleteOnly($event);"  class="form-control ak-input AK-date-picker" type="text"
                            allow-pattern="^[\b]+$" id="dateFilterReport" name="dateFilterReport" options="{singleDatePicker: true}" style="margin: auto;"
                            ng-model="searchReport.dateKeyS" ng-change="evalArray();" ng-click="evalArray()" ng-disabled="isDisabledCheckbox"/>
                    
                </th>
                <th class="headerTable">Nombre
                    <input ng-disabled="isDisabledCheckbox"  allow-pattern="^[a-zA-Z0-9\sñÑ]*$" ng-click="evalArray();"  ng-keydown="evalArray();"   ng-keyup="evalArray();"  id="namePatient" class="form-control ak-input" ng-model="namePatientFilter" maxlength="255" style="margin: auto;width: 70%" >
                </th>
                <th class="headerTable">Clave
                    <input ng-disabled="isDisabledCheckbox" ng-keydown="evalArray();" ng-keyup="evalArray();" id="numberKey"  class="form-control ak-input" ng-model="numberKeyFilter" maxlength="30" numbers-only ng-trim="false"  style="margin: auto;width: 70%" >
                </th>
                 <th class="headerTable">Tratamiento
                    <input ng-disabled="isDisabledCheckbox"  allow-pattern="^[a-zA-Z0-9\sñÑ]*$" ng-click="evalArray();"  ng-keydown="evalArray();"   ng-keyup="evalArray();"  id="nameTreatemnent" class="form-control ak-input" ng-model="nameTreatemnentFilter" maxlength="255" style="margin: auto;width: 70%" >
                </th>
                 <th class="headerTable">Diente
                    
                </th>
                <th class="headerTable">Detalle
                </th>
            </tr>

            <tr ng-repeat="treatment in (treatFilt = (names | filter:searchReport | filter:{numberKey : numberKeyFilter} | filter:{namePatient : namePatientFilter}  | filter:{nameTreatemnent : nameTreatemnentFilter}))"
                >
                <td class="checkboxes">
                    <input style="margin-top: 10px" id="{{treatment.numLine}}" class="checkbox-custom ak-checkbox-table"
                           name="{{treatment.idKey}}" type="checkbox" ng-checked="checkboxm"
                           ak-date="{{treatment.dateKeyS}}" ak-name="{{treatment.namePatient}}" ak-key="{{treatment.numberKey}}"
                           ng-model="treatment.isSelected"
                           ng-change="enableReport();"
                           ak-tooth="{{treatment.numberTooth}}">
                    <label for="{{treatment.numLine}}" class="checkbox-custom-label"></label>
                </td>

                <td class="dateKeyS" ng-bind="treatment.dateKeyS"></td>
                <td ng-bind="treatment.namePatient"></td>
                <td ng-bind="treatment.numberKey"></td>
                <td ng-bind="treatment.nameTreatemnent"></td>
                <td ng-bind="treatment.numTooth"></td>

                <td><input type="button" class="ui-button ui-widget ui-statedefault ui-corner-all
                     ui-button-icon-only searchButton" ng-click="findKeyDetails(treatment.idKey);" style="margin-bottom: 10px; margin-top: 10px; background-color: #79b2f8 !important">
                </td>

            </tr>
        </table>
        <div style="text-align: center; padding-bottom: 150px;color: #828282;" ng-hide="isHiddenTable">
            NO SE ENCONTRARON REGISTROS
        </div>
    </div>
    <div>
        <input  type="button" style="margin-left: 45%;margin-top: 15px;margin-bottom: 45px; width: 120px !important"
                value="Generar reporte" ng-disabled="isDisabledButtGenRep" ng-click="openConfirmation();"/>
    </div>
    <jqdialog dialog-name="Treatments" title="'Detalle de claves'"
              auto-open="false" width="1000" height="400"
              on-open="onOpen" modal="true"
              args-to-scope="true" draggable= "false"
              resizable= "false"
              before-close="beforeClose">

        <div style="height: 100%;border-style: solid;
                        border-width: 1px;border-color: #EBEBEB;">

            <!--<div class="row text-center" style="margin-top: 3%">-->
                <!--<div class="col-md-12"  >-->
                    <!--<div  class="ak-text-grey" >-->
                        <!--Detalle de la clave de atención-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div  style="margin-top: 28px">
                <div class="row">
                    <br>
                    <div style="height: 300px; padding: 0 9%;">
                        <div style="height:50px;">
                        </div>
                        <div ng-class="styleTable">
                            <table ng-table="" class="table table-bordered table-hover table-condensed editable-table demoTable "
                                   style="text-align: center;margin-bottom: 3%;">
                                <tr>
                                    <th class="headerTable" style="width: 50%">Tratamiento</th>
                                    <th class="headerTable" style="width: 18%">Fecha
                                    <th class="headerTable" style="width: 10%">Diente
                                    </th>
                                    <th class="headerTable" style="width: 22%">
                                        Recaudo(s)
                                    </th>
                                </tr>
                                <tr ng-repeat="treat in listTreatments| filter:{nameTreatment: treatment}| filter:searchTratament"
                                    ng-hide="isHiddenTableContent">
                                    <td class="namTre">{{treat.nameTreatment}}</td>
                                    <td>{{treat.dateFilterTreatment}}</td>
                                    <td>{{treat.numberPiece}}</td>
                                    <td>
                                        {{treat.valueDefault}}
                                        <input type="button" class="myPdfButton ui-button" title="Descargar"  style="min-width: 24px;" ng-click="descargarFileTemp(1,treat.idTreatment)" ng-hide="isHidenBtnFile(treat.idTreatment,1)"/>
                                        <input type="button" class="myPdfButton ui-button" title="Descargar " style="min-width: 24px;" ng-click="descargarFileTemp(2,treat.idTreatment)" ng-hide="isHidenBtnFile(treat.idTreatment,2)"/>
                                        <input type="button" class="myPdfButton ui-button" title="Descargar " style="min-width: 24px;" ng-click="descargarFileTemp(3,treat.idTreatment)" ng-hide="isHidenBtnFile(treat.idTreatment,3)"/>
                                        <input type="button" class="myPdfButton ui-button" title="Descargar " style="min-width: 24px;" ng-click="descargarFileTemp(4,treat.idTreatment)" ng-hide="isHidenBtnFile(treat.idTreatment,4)"/>
                                        <input type="button" class="myPdfButton ui-button" title="Descargar " style="min-width: 24px;" ng-click="descargarFileTemp(5,treat.idTreatment)" ng-hide="isHidenBtnFile(treat.idTreatment,5)"/>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div style="text-align: center; padding-bottom: 150px;color: #828282;" ng-hide="isHiddenMessageDefault">
                            NO SE ENCONTRARON REGISTROS
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 4%">
                    <div class="col-md-12 text-center" >

                        <input  type="button" class="boton-dialog" style="max-height: 25px; font-size: 11px;"
                                value="Salir" ng-click="closeDialog()" />
                    </div>
                </div>

            </div>



        </div>
    </jqdialog>

</div>
<jqdialog dialog-name="Confirmation" title="'Información'"
          auto-open="false" width="300" height="150"
          on-open="onOpen" modal="true"
          args-to-scope="true"
          before-close="beforeClose">

    <div style="height: 100%;border-style: solid;
                        border-width: 1px;border-color: #EBEBEB">

        <div class="row text-center" style="margin-top: 3%">
            <div class="col-md-12"  >
                <div  class="ak-text-grey" >
                    ¿Seguro de generar el reporte de tratamiento?
                </div>
            </div>
        </div>


        <div  style="margin-top: 28px">

        </div>

        <div class="row" style="margin-top: 4%">
            <div class="col-md-6 text-center" >

                <input  type="button" class="boton-dialog" style="max-height: 25px; font-size: 11px;"
                        value="Sí" ng-click="closeYesConfirmation()" />
            </div>
            <div class="col-md-6 text-center" >

                <input  type="button" class="boton-dialog" style="max-height: 25px; font-size: 11px;"
                        value="No" ng-click="closeNoConfirmation()" />
            </div>
        </div>

    </div>
</jqdialog>

</jqdialog>
<jqdialog dialog-name="Success" title="'Exito'"
          auto-open="false" width="300" height="150"
          on-open="onOpen"
          args-to-scope="true"
          before-close="beforeClose">

    <div style="height: 100%;border-style: solid;
                        border-width: 1px;border-color: #EBEBEB">

        <div class="row text-center" style="margin-top: 3%">
            <div class="col-md-12"  >
                <div  class="ak-text-grey" >
                    Operación realizada con éxito
                </div>
            </div>
        </div>


        <div  style="margin-top: 28px">

        </div>

        <div class="row" style="margin-top: 4%">
            <div class="col-md-12 text-center" >

                <input  type="button" class="boton-dialog" style="max-height: 25px; font-size: 11px;"
                        value="Aceptar" ng-click="closeSuccess();" />
            </div>
        </div>

    </div>
</jqdialog>
<!-- END content -->

<div ng-include="'../angular/js/angular/include/piePaginaAdmin2.html'"></div>

<script type="text/javascript" src="../angular/js/bootstrap/bootstrap.js" ></script>
<script type="text/javascript">
    function toTop() {
        $("html, body").animate({scrollTop: "0px"}, 500);
    }
</script>
</div>


</body>
</html>