<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    >                 

    <p:growl id="growGeneratePaymentReport" widgetVar="growReviewAnalysisKeys" showDetail="true" life="8000"/>

    <h:outputScript library="js" name="calendar_es.js" />

    <div class="order">
        <h:panelGrid>
            <f:facet name="header">
                <p:outputPanel style="text-align: left;" styleClass="blog-meta">
                    <h:outputLabel value="Generar Reportes de Pago" style="padding-bottom: 10px;" styleClass="titulo-blog"/>
                    <p:fieldset toggleable="true" toggleSpeed="500" styleClass="box-data">
                        <h:panelGrid columns="3" style="width: 530px; margin-top: -10px; padding-left: -25px; padding-right: -25px;">
                            <h:outputText value="Fecha: " class="box-search" />
                            <p:calendar timeZone="America/Caracas" readonlyInput="true" id="datePaymentReport" value="#{paymentReportViewBean.selectedDate}" maxdate="#{paymentReportViewBean.maxDate}" style="float: left; margin: 0 10px;" locale="es" pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true">
                                <p:ajax event="dateSelect" update="datePaymentReport" />
                            </p:calendar>

                            <p:commandButton id="btnExecuteManual" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"  disabled="#{paymentReportViewBean.btnExecuteManualDisabled}"
                                             actionListener="#{paymentReportRequestBean.executeManual()}" 
                                             value="Ejecutar" title="Ejecutar">
                            </p:commandButton>

                        </h:panelGrid>
                    </p:fieldset>


                </p:outputPanel>  



            </f:facet>  
        </h:panelGrid>

    </div>


</ui:composition>