<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"                
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="order"> 
        <h:outputScript library="js" name="calendar_es.js" />
        <p:dataTable id="keyPatientHistorical" var="historical" emptyMessage="NO SE ENCONTRARON REGISTROS"  
                     value="#{keysPatientsRegisterViewBean.historicalPatientGCOutput}" style="margin-bottom:0"                     
                     scrollable="false" filteredValue="#{keysPatientsRegisterViewBean.historicalPatientGCOutputFilter}"
                     paginatorAlwaysVisible="false" rows="7" paginator="true" widgetVar="wigetHistorical">

            <p:column width="10%" headerText="Fecha" filterMaxLength="10" filterMatchMode="contains" 
                      filterBy="#{keysPatientsRegisterViewBean.formatDate(historical.dateApplication)}"> 
                <f:facet name="filter"  >
                    
                    <p:calendar 
                        
                        id="filterDate"  widgetVar="filterDate"
                        maxdate="#{keysPatientsRegisterViewBean.maxDate}" maxlength="10" locale="es" mindate="#{keysPatientsRegisterViewBean.mindateHistorico}"  
                                value="#{keysPatientsRegisterViewBean.dateFilter}"                                
                                timeZone="America/Caracas" onkeyup="PF('wigetHistorical').filter()"
                                pattern="dd/MM/yyyy" showButtonPanel="true" navigator="true"
                                onkeydown="cleanCalendar(event)" onclick="preventPaste();">
                        <p:ajax event="dateSelect" listener="#{keysPatientsRegisterViewBean.handleDateSelect}"/>      
                        <pe:keyFilter regEx="/^[0-9-/]/" preventPaste="true"/>
                    </p:calendar>
                </f:facet>                
                <h:outputText value="#{historical.dateApplication}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>
            </p:column>

            <p:column headerText="Clave" width="15%" filterMaxLength="30" 
                      filterMatchMode="contains" filterBy ="#{historical.numberKey}">
                <f:facet name="filter">
                    <p:inputText maxlength="30" onkeyup="PF('wigetHistorical').filter()">
                        <pe:keyFilter regEx="/^[0-9]/" preventPaste="true"/>
                    </p:inputText>
                </f:facet> 
                <h:outputText  value="#{historical.numberKey}" style="text-transform: uppercase" />                    
            </p:column> 

            <p:column headerText="Tratamiento" width="19%" filterMaxLength="255" 
                      filterMatchMode="contains" filterBy ="#{historical.nameTratment}">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('wigetHistorical').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.nameTratment}" style="width: 100%; text-transform: uppercase" />                    
            </p:column>   

             <p:column headerText="Diente" width="7%" filterMaxLength="2" 
                      filterMatchMode="contains" filterBy ="#{historical.numberPropertie}">
                <f:facet name="filter">
                    <p:inputText maxlength="2" onkeyup="PF('wigetHistorical').filter()"
                                 style="visibility: hidden; height:18px;  width:20px">
                        <pe:keyFilter regEx="/^[0-9]/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.numberPropertie}" style="text-transform: uppercase" />                   
            </p:column> 

            <p:column headerText="Especialista" width="15%" filterMaxLength="255" 
                      filterMatchMode="contains" filterBy ="#{historical.specialist}">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('wigetHistorical').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText  value="#{historical.specialist}" style="text-transform: uppercase" />                    
            </p:column>  

            <p:column headerText="Parentesco" width="10%" filterMaxLength="45" 
                      filterMatchMode="contains" filterBy ="#{historical.relationShip}">
                <f:facet name="filter">
                    <p:inputText maxlength="45" onkeyup="PF('wigetHistorical').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.relationShip}" style="text-transform: uppercase" />                    
            </p:column> 

            <p:column headerText="Aseguradora" width="11%" filterMaxLength="255" 
                      filterMatchMode="contains" filterBy ="#{historical.insurance}">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('wigetHistorical').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.insurance}" style="text-transform: uppercase" />                    
            </p:column> 

            <p:column headerText="Plan" width="9%" filterMaxLength="255" 
                      filterMatchMode="contains" filterBy ="#{historical.plan}">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('wigetHistorical').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z \ 0-9 \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.plan}" style="text-transform: uppercase" />                    
            </p:column> 

            <p:column headerText="Ente" width="12%" filterMaxLength="255" 
                      filterMatchMode="contains" filterBy ="#{historical.company}">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('wigetHistorical').filter()">
                         <pe:keyFilter regEx="/^[a-zA-Z \ 0-9 \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.company}" style="text-transform: uppercase" />                    
            </p:column> 
        </p:dataTable>
    </div>
    <script type="text/javascript">
    
    PrimeFaces.widget.Dialog.prototype.applyFocus = function() {
  var firstInput = this.jq.find(':not(:submit):not(:button):input:visible:enabled:first');
  if(!firstInput.hasClass('hasDatepicker')) {
      firstInput.focus();
  }
}

var isActive = null;

        function cleanCalendar(e) {

            var keyCode = e.which || e.keyCode;
            PF('wigetHistorical').filter()
//si es igual a backspace
            if (keyCode == 8) {
                $(PrimeFaces.escapeClientId('form:wigetHistorical:filterDate_input')).val('');
                PF('wigetHistorical').filter()
            } else {
                e.preventDefault();
            }
        }

        function preventPaste() {

            if (isActive == null) {

                isActive = $("#form\\:wigetHistorical\\:filterDate_input").bind("paste", function (e) {
                    e.preventDefault();
                });
            }
        }

        function cancelEventDialog(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        }
        

    </script>
    
</ui:composition>
