<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
    <p:outputPanel id="panelKeyDetail" style="width: 1100px; height:100%;">
        <p:fieldset legend="Datos de la Clave" >
            <p:panelGrid style="width: 100%;">


                <p:row>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel for="keyConsult" value="Clave: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="keyConsult" value="#{keysPatientsViewBean.key}" style="text-align: justify" />
                    </p:column>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel for="applicationDateConsult" value="Fecha Solicitud: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="applicationDateConsult" value="#{keysPatientsViewBean.dateKeyDetail}" style="text-align: justify"  >
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                        </h:outputText>
                    </p:column>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel for="expirationDateConsult" value="Fecha Vencimiento: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="expirationDateConsult" value="#{keysPatientsViewBean.expirationKey}" style="text-align: justify" >
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                        </h:outputText>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="specialistConsult" value="Doctor: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="specialistConsult" value="#{keysPatientsViewBean.nameS}" style="text-transform: uppercase; text-align: justify" />
                    </p:column>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="specialityDetailsConsult" value="Especialidades: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="speciality" value="#{keysPatientsViewBean.speciality}" style="text-transform: uppercase; text-align: justify" />
                    </p:column>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="specialistConsultorio" value="Consultorio: "/>
                    </p:column>
                    <p:column>
                        <h:outputText id="consultorio" value="#{keysPatientsViewBean.consultorioName}" style="text-transform: uppercase; text-align: justify"/>
                    </p:column>


                </p:row>

                <p:row>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="patientConsult" value="Paciente: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="patientConsult" value="#{keysPatientsViewBean.nameP}"  style="text-transform: uppercase; text-align: justify"/>
                    </p:column>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="dateOfBirthConsult" value="Fecha de Nacimiento: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="dateOfBirthConsult" value="#{keysPatientsViewBean.birthdateP}" style="text-align: justify"  >
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                        </h:outputText>
                    </p:column>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="parentescoResultConsult" value="Parentesco: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="parentesco" value="#{keysPatientsViewBean.parentesco}" style="text-transform: uppercase; text-align: justify"/>
                    </p:column>
                </p:row>   

                <p:row>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="aseguradoraConsult" value="Aseguradora: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="aseguradoraConsult" value="#{keysPatientsViewBean.aseguradoraName}"  style="text-transform: uppercase; text-align: justify"/>
                    </p:column>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="planConsult" value="Plan: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="planConsult" value="#{keysPatientsViewBean.planName}" style="text-align: justify" >
                        </h:outputText>
                    </p:column>
                    <p:column styleClass="ui-widget-header">
                        <h:outputLabel  for="enteConsult" value="Ente: " />
                    </p:column>
                    <p:column>
                        <h:outputText id="ente" value="#{keysPatientsViewBean.enteName}" style="text-transform: uppercase; text-align: justify"/>
                    </p:column>
                </p:row>   


            </p:panelGrid>

            <div class="order">
                <p:dataTable  id="treatmentKeyDetail" var="consultKeysPatientsDetailTreatmentOutput" value="#{keysPatientsViewBean.consultKeysPatientsDetailTreatmentOutput}"
                              widgetVar="treatmentKeyDetail" paginator="true" rows="6" paginatorAlwaysVisible="false"
                              scrollable="false" rowIndexVar="indice" style="margin-right:5px" emptyMessage="NO SE ENCONTRARON REGISTROS">  

                    <p:column id="dateKeyPatients" filterMatchMode="contains" filterBy="#{consultKeysPatientsDetailTreatmentOutput.dateForTreatmentUtil}"
                              width="7%" headerText="Fecha"  >
                        <f:facet name="filter">
                            <p:calendar id="filterDate"  widgetVar="filterDate" 
                                        onkeydown="cleanCalendar(event);"
                                        onkeyup="PF('treatmentKeyDetail').filter()" 
                                        maxdate="#{keysPatientsViewBean.maxDate}"
                                        maxlength="10" timeZone="America/Caracas"
                                        value="#{keysPatientsViewBean.dateFilter}"
                                        pattern="dd/MM/yyyy"
                                        locale="es" navigator="true" showButtonPanel="true"
                                        onclick="preventPaste();" 
                                        mindate="#{keysPatientsViewBean.dateMinDetalle}">
                               
                                <pe:keyFilter  preventPaste="true"/>

                                <p:ajax event="dateSelect"  listener="#{keysPatientsViewBean.handleDateSelectDetail}"  update=":form:treatmentKeyDetail" />
                            </p:calendar>

                        </f:facet>

                        <h:outputText value="#{consultKeysPatientsDetailTreatmentOutput.dateForTreatmentUtil}">
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                        </h:outputText>
                    </p:column>



                    <p:column headerText="Tratamiento" width="19%" filterMaxLength="255" id="treatment"
                              filterMatchMode="contains" filterBy ="#{consultKeysPatientsDetailTreatmentOutput.nameTreatment}">
                        <f:facet name="filter">

                            <p:inputText maxlength="255" onkeyup="PF('treatmentKeyDetail').filter()" value="#{keysPatientsViewBean.nameTreatment}">
                                <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                            </p:inputText>
                        </f:facet>
                        <h:outputText value="#{consultKeysPatientsDetailTreatmentOutput.nameTreatment}" style="width: 100%; text-transform: uppercase" />                    
                    </p:column>   


                    <p:column id="diente" headerText="Diente"
                              filterMatchMode="contains" style=" width: 50px !important;" filterBy ="#{consultKeysPatientsDetailTreatmentOutput.numberPiece}">

                        <f:facet name="filter">
                            <p:inputText maxlength="2" onkeyup="PF('treatmentKeyDetail').filter()"
                                         style="visibility: hidden; height:18px;  width:20px">
                                <pe:keyFilter regEx="/^[0-9]/" preventPaste="true"/>
                            </p:inputText>
                        </f:facet>
                        <h:outputText  value="#{consultKeysPatientsDetailTreatmentOutput.numberPiece}" style="text-transform: uppercase" />                    
                    </p:column>  


                </p:dataTable>

            </div>
            <br/>
            <br/>
            <div style="align-content: center">
                <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                                 actionListener="#{accionesRequestBean.cerrarDialogoView('keysConsultDialogDetails')}"  
                                 style="width:76px;" value="Salir"  process="@this">               
                </p:commandButton>
            </div>
        </p:fieldset>
    </p:outputPanel>


    <script type="text/javascript">

        PrimeFaces.widget.Dialog.prototype.applyFocus = function () {
            var firstInput = this.jq.find(':not(:submit):not(:button):input:visible:enabled:first');
            if (!firstInput.hasClass('hasDatepicker')) {
                firstInput.focus();
            }
        }
        var isActive = null;

        function cleanCalendar(e) {

            var keyCode = e.which || e.keyCode;
            PF('treatmentKeyDetail').filter()
            //si es igual a backspace
            if (keyCode == 8) {
                $(PrimeFaces.escapeClientId('form:treatmentKeyDetail:filterDate_input')).val('');
                PF('treatmentKeyDetail').filter()
            } else {
                e.preventDefault();
            }
        }

        function preventPaste() {

            if (isActive == null) {

                isActive = $("#form\\:treatmentKeyDetail\\:filterDate_input").bind("paste", function (e) {
                    e.preventDefault();
                });
            }
        }

        function cancelEventDialog(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        }

    </script>
</ui:composition>