<!DOCTYPE html>
<html ng-app="AKmodule" >
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Pragma" CONTENT="no-cache" />
        <link href="../img/favicon.png" rel="shortcut icon" type="image/x-icon" />
        <title>Grupo Veneden</title>

        <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap3-3-6.css" >
        <link rel="stylesheet" href="../angular/css/bootstrap/bootstrap-theme.css" >
        <link href="../angular/css/angular/growl/growl.css" rel="stylesheet">
        <link rel="stylesheet" href="../angular/css/angular/themeAngular.css" >
        <link rel="stylesheet" href="../angular/js/jquery-ui-1.12.0/jquery-ui.css">
    <link href="../angular/css/angular/table/ng-table.css" rel="stylesheet">
    <link href="../angular/css/font-awesome-4.6.3/font-awesome.min.css" rel="stylesheet">


        <script type="text/javascript" src="../angular/js/jquery/jquery-2.2.1.js" ></script>
        <script type="text/javascript" src="../angular/js/jquery-ui-1.12.0/jquery-ui.js" ></script>

        <script type="text/javascript" src="../angular/js/angular/angular_1.5.0.js" ></script>
        <script src="../angular/js/angular/module/angular-material-1.0.5.js"></script>
        <script src="../angular/js/angular/module/angular-aria.min.js"></script>

        <script src="../angular/js/angular/module/angular-animate.min.js"></script>
        <script src="../angular/js/angular/module/angular-touch.min.js"></script>

        <script src="../angular/js/angular/module/angular-sanitize.js"></script>
        <script src="../angular/js/angular/module/ui-bootstrap-tpls-1.2.5.js"></script>


        <script src="../angular/js/angular/module/growl/growl.js"></script>
        <script src="../angular/js/angular/module/growl/growlDirective.js"></script>
        <script src="../angular/js/angular/module/growl/growlFactory.js"></script>
        
        
        <script type="text/javascript" src="../angular/js/angular/angular_1.5.0.js" ></script>
    <script type="text/javascript" src="../angular/js/angular/module/moment.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/daterangepicker.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/angular-daterangepicker.js"></script>
    <script type="text/javascript" src="../angular/js/angular/module/ng-table.js"></script>


        <script src="../angular/js/angular/module/module.js"></script>
        <script src="../angular/js/angular/module/jqdialog.js"></script>
        <script src="../angular/js/angular/module/akmodulePureJs.js"></script>
        <script src="../angular/js/angular/module/akmodule.js"></script>
        <script src="../angular/js/angular/module/angular-jquery-autocomplete.js"></script>
        <script src="../angular/js/angular/module/autocomplete.js"></script>
        <script type="text/javascript" src="../angular/js/angular/controller/keysAttentionSpecialist.js" ></script>

        




        <style>
            .popover{

                min-width: 550px;
                height:145px;
            }
            #containerElem .popover {
                min-width: 550px;
                height:145px;
            }

        </style>


    </head>
    <body  ng-controller="AKctrl">

        <div id="divLoading" class="ajax-content" ng-show="showAjax">
            <p style="position: absolute;  top: 50%; left: 45%;">

                <img src="../img/loading.gif" class="ajax-img">
            </p>
        </div>
        <div ng-include="'../angular/js/angular/include/header2.html'"></div>


        <!-- content -->

        <div growl></div>


        <div class="container" style="width: 70%;">

            <header  id="blog-meta">
                <div id="titulo-blog" style="padding-bottom: 10px; font-weight: bold">Generar clave de atención
                </div>    
            </header>


            <form>
                <fieldset>


                    <table class="ak-label-for-input2" style=" width: 100%;  ;">
                        <tr>
                            <td style="width: 100%; margin-top: 15px;">
                                <fieldset>
                                    <label class="ak-label-for-input2" style="text-align: center; height: 50px; color: black; line-height: 55px;">Datos del doctor</label>
                                </fieldset> 
                            </td>
                        </tr>

                        <tr class="tr" >
                            <td style="height: 40px" >
                                <label class=" ak-label-for-input2 col-md-3" style="padding-bottom: 10px;"> Nombre:</label>
                                <input  class=" ak-label-for-output2 uppercase2 col-md-3" id="name" ng-model="name" style="border: none" disabled="true"> 
                                <label class="ak-label-for-input2 col-md-3" style="padding-bottom: 10px;"> Especialidad(es):</label> 
                                <input  class="ak-label-for-output2 uppercase2 col-md-3" id="nameSpeciality" ng-model="nameSpeciality" style="border: none" disabled="true">
                            </td>
                        </tr>
                        <tr>

                        </tr>

                        <tr class="tr" ng-hide="isVisibleMedicalO">
                            <td>
                                <label class="ak-label-for-input2 col-md-12" style="padding-bottom: 10px;"> * Seleccionar consultorio/clínica:</label> 

                            </td>
                        </tr>





                        <tr class="tr" ng-hide="isVisibleMedicalO">
                            <td>

                                <select id="specialistMedical" ng-model="specialistMedical" ng-change="ComboConsult()" ng-selected="serviceGetMedicalOficce(specialistMedical)" name="specialist" class="selectOneMenu col-md-12 uppercase2" 
                                        style="width: 100%;" required="true" ng-options="x as x.nameMedicalOffice for x in specialist track by x.idMedicalOficce">
                                    <option value="">Seleccione un consultorio</option>
                                </select>


                            </td>
                        </tr>

                        <tr class="tr" >

                            <td  style="height: 40px" >
                                <label class="ak-label-for-input2 col-md-3" style="padding-bottom: 10px;"> Consultorio/Clínica:</label> 
                                <textarea class="ak-label-for-output2  uppercase2 col-md-3" rows="3" id="nameConsultorio" ng-model="nameConsultorio" ng-disabled="true" style="border: none;" ng-hide="!maxCaracteres"></textarea>
                                <input class="ak-label-for-output2  uppercase2 col-md-3" id="inputnameConsultorio" ng-model="nameConsultorio" style="border: none;" disabled="true" ng-hide="maxCaracteres">
                                <label class="ak-label-for-input2 col-md-3" style="padding-bottom: 10px;"> Dirección de consultorio/clínica:</label>
                                <textarea class="ak-label-for-output2  uppercase2 col-md-3" rows="3" id="direccionConsultoriotxt" ng-model="direccionConsultorio" ng-disabled="true" style="border: none;" ng-hide="!maxCaracteresDir"></textarea>
                                <input class="ak-label-for-output2  uppercase2 col-md-3" id="direccionConsultorio" ng-model="direccionConsultorio" style="padding-bottom: 10px;border: none" disabled="true" ng-hide="maxCaracteresDir"> 
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 100%; margin-top: 15px;" > 
                                <fieldset>
                                    <label  class="ak-label-for-input2" style="text-align: center; height: 50px; color: black; line-height: 55px;">Datos del paciente</label>
                                </fieldset>
                            </td>
                        </tr>
                        <tr ng-disabled="isDisabledDataPatient">
                            <td class="td"  style="height: 10px"> 
                                <label class="ak-label-for-input2 col-md-2" style="margin-left: 15%">* Cédula o nombre:</label>

                                <input class="form-control ak-input3 col-md-6" type="text" id="patient" style="width: 35%; color: #828282;"
                                       ng-model="patient" ng-keypress="validateButtnBuscar(patient)" allow-pattern="^[a-zA-Z0-9\sñÑ]*$"  maxlength="255" ng-disabled="isDisablePatient" />
                                <input  type="button" style=" width: 120px !important;margin-left: 5%"  value="Buscar" ng-click="serviceGetPatientforKey(patient, idEspecialidad, idSpecialist)"
                                        class="col-md-4" ng-disabled="btnnBuscarPatient"/>
                            </td> 
                        </tr>    
                    </table>


                    <div ng-class="styleScrollTablePatients" ng-hide="seccionTablePatient"> 
                        <table ng-table="datapatient" class="table table-bordered table-hover table-condensed editable-table demoTable "
                               style="text-align: center;margin-bottom: 3%; " ng-hide="hideTablePatient">

                            </td>


                            <tr>
                                <th class="headerTable col-md-2 text-center" >
                                    Cédula
                                </th>

                                <th class="headerTable col-md-2 text-center" >
                                    Nombre y apellido
                                </th>
                                <th class="headerTable col-md-2 text-center">
                                    Fecha de nacimiento

                                </th>
                                <th class="headerTable col-md-2 text-center">
                                    Aseguradora
                                </th>
                                <th class="headerTable col-md-2 text-center">
                                    Plan
                                </th>
                                <th class="headerTable col-md-2 text-center">
                                    Parentesco
                                </th>
                                <th class="headerTable col-md-2 text-center">
                                    Ente

                                </th>


                            </tr>

                            <tr ng-repeat="x in datapatient|filter:search:strict" ng-click="selectPatient(x)">
                                <td>{{x.identityNumberPatient}}</td>
                                <td>{{x.namePatient}}</td>
                                <td>{{x.birthDatePatientSelect}}</td>
                                <td>{{x.nameInsurance}}</td>
                                <td>{{x.namePlan}}</td>
                                <td>{{x.nameRelationship}}</td>
                                <td>{{x.nameCompany}}</td>


                            </tr>
                        </table>
                        <div style="text-align: center; padding-bottom: 150px;color: #828282;" ng-hide="isHiddenMessageDefaultTable">
                           COMUNICARSE CON GRUPO VENEDEN PARA VERIFICAR LA INFORMACIÓN DEL PACIENTE.
                        </div>
                    </div>

                    <div ng-hide="seccionPatients"> 
                        <table class="ak-label-for-input2" style=" width: 100%;  ;">


                            </tr>

                            <tr class="tr" ng-disabled="true">
                                <td style="height: 40px">
                                    <label class="ak-label-for-input2 col-md-2" style="padding-bottom: 10px;"> Cédula: </label> 
                                    <input  class="ak-label-for-output2  uppercase2 col-md-4" id="cedulaPatient" ng-model="identityNumberPatient" style="border: none; text-align:center" disabled="true">
                                    <label class="ak-label-for-input2 col-md-2" style="padding-bottom: 10px;"> Nombre: </label> 
                                    <input  class="ak-label-for-output2  uppercase2 col-md-4" id="namePatient" ng-model="namePatient" style="border: none; text-align:center" disabled="true">
                                </td>
                            </tr>
                            <div> 



                                <tr class="tr" ng-disabled="true">
                                    <td style="height: 40px">
                                        <label class="ak-label-for-input2 col-md-2" style="padding-bottom: 10px;"> Fecha de nacimiento: </label>
                                        <input  class="ak-label-for-output2  uppercase2 col-md-4" id="brithdayP" ng-model="brithdayP" style="border: none; text-align:center" disabled="true">
                                        <label class="ak-label-for-input2 col-md-2" style="padding-bottom: 10px;"> Parentesco: </label>
                                        <input  class="ak-label-for-output2  uppercase2 col-md-4" maxlength="45"  id="nameRelationship" ng-model="nameRelationship" style="border: none; text-align:center" disabled="true">
                                    </td>
                                </tr>

                                <tr class="tr" ng-disabled="true">
                                    <td style="height: 40px"> 
                                        <label class="ak-label-for-input2 col-md-2" style="padding-bottom: 10px;"> Aseguradora:  </label>
                                        <input  class="ak-label-for-output2  uppercase2 col-md-4" maxlength="255" id="nameInsurance" ng-model="nameInsurance" style="border: none; text-align:center" disabled="true">
                                        <label class="ak-label-for-input2 col-md-2" style="padding-bottom: 10px;"> Plan: </label>
                                        <input  class="ak-label-for-output2  uppercase2 col-md-4" maxlength="255"  id="namePlan" ng-model="namePlan" style="border: none; text-align:center" disabled="true">
                                    </td>
                                </tr>

                                <tr class="tr">
                                    <td style="height: 40px">
                                        <label class="ak-label-for-input2 col-md-2" style="padding-bottom: 10px;"  ng-disabled="true"> Ente: </label>
                                        <input  class="ak-label-for-output2  uppercase2 col-md-4" maxlength="255" id="namecompany" ng-model="namecompany" style="border: none; text-align:center" disabled="true">
                                        <label class="ak-label-for-input2 col-md-2" style="padding-bottom: 10px;"  ng-disabled="true"> Histórico: </label>
                                        <input type="button" class="searchButton" style="margin-left: 35.7%;margin-top: -20px; height: 25px; width:25px !important; margin-bottom: 0px !important;"
                                                ng-hide="isDisabledButtHistorial"  title="Historial"  ng-click="findHistorial(idPatientSelect, idSpecialist)"/>

                                        <label class="ak-label-for-output2 uppercase2 col-md-4" style="font-size: 11px; padding-left: 0px;" ng-hide="isDisabledLabelHistorial"  ng-disabled="true"> PACIENTE NO POSEE HISTORIAL</label>

                                    </td>
                                </tr>

                        </table>
                    </div> 

                </fieldset>
                </br>


                <input  type="button" style="margin-left: 40%;margin-top: 15px;margin-bottom: 45px; width: 120px !important"  value="Generar"
                        ng-disabled="isDisabledButtGenerar"ng-click="openConfirmationGenerateKey()"/>
                <a href="/web/index.xhtml">
                    <input  type="button" style="min-width: 71px;margin-top: 15px;margin-bottom: 45px; width: 120px !important"  value="Salir"/>
                </a>
            </form>
        </div>




    <jqdialog dialog-name="keyDetail" title="'Datos de la clave'"
              auto-open="false" width="900" height="450"
              on-open="onOpen"
              args-to-scope="true"
              before-close="beforeClose" modal="true">

        <div style="height: 100%;border-style: solid;
             border-width: 1px;border-color: #EBEBEB">

            <div class="row text-center" style="margin-top: 3%">
                <div class="col-md-12"  >
                    <div  class="ak-text-grey" >
                        <label style="padding-bottom: 10px;" ng-hide="isVisibleLabelCorreo"> La clave de atención ha sido generada exitosamente.</label> 
                        <label style="padding-bottom: 10px;" ng-hide="isVisibleLabelNoCorreo"> La clave de atención ha sido generada exitosamente. No se envió correo al especialista, ya que no posee dirección de correo electrónico registrado.</label>
                    </div>
                </div>
            </div>



            <div  style="margin-top: 28px">
                <div class="row">
                    <table class=" table " style="text-align: right;width: 814px;margin: auto" >
                        <tr>
                            <td class="table-info-dark" >
                                Clave:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{numberKey}}
                            </td>
                            <td class="table-info-dark" style="text-align: left">
                                Fecha solicitud:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{fechaSolicitud}}
                            </td>
                            <td class="table-info-dark" style="text-align: left">
                                Fecha de vencimiento:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;" >
                                {{fechaExpiracion}}
                            </td>
                        </tr>
                        <tr>

                        </tr>
                        <tr>
                            <td class="table-info-dark" style="text-align: left">
                                Doctor:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{nameSpecialist}}
                            </td>
                            <td class="table-info-dark" style="text-align: left">
                                Especialidad(es):
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{nameSpeciality}}
                            </td>
                            <td class="table-info-dark" style="text-align: left">
                                Consultorio:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{consultorioDetalleClave}}
                            </td>


                        </tr>
                        <tr>

                            <td class="table-info-dark" style="text-align: left">
                                Paciente:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{namePatient}}
                            </td>
                            <td class="table-info-dark" style="text-align: left">
                                Fecha de nacimiento:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{datePatient}}
                            </td>
                            <td class="table-info-dark" style="text-align: left">
                                Parentesco:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{relationPatient}}
                            </td>

                        </tr>


                        <tr>


                            <td class="table-info-dark" style="text-align: left">
                                Aseguradora:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;" >
                                {{nameAseguradora}}
                            </td>

                            <td class="table-info-dark" style="text-align: left">
                                Plan:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{namePlan}}
                            </td>
                            <td class="table-info-dark" style="text-align: left">
                                Ente:
                            </td>
                            <td class="ak-label-for-output2  uppercase2" style="background: white none;">
                                {{nameEnte}}
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>

                <div class="row" style="margin-top: 4%">
                    <div class="col-md-12 text-center" >
                        <a href="/web/index.xhtml">
                            <input  type="button" class="boton-dialog" style="max-height: 25px; font-size: 11px;"
                                    value="Salir" ng-click="closeDialogKeyDetail()" />
                        </a>
                    </div>
                </div>

            </div>



        </div>


    </div>
</jqdialog>




<jqdialog dialog-name="consultHistory" title="'CONSULTA DE HISTÓRICO DE TRATAMIENTOS'"
          auto-open="false" width="1250"
          on-open="onOpen"
          model="true"
          args-to-scope="true"
          before-close="beforeClose">

    <div>
        <div ng-class="styleScrollTable">
            <table ng-table="" class="table table-bordered table-hover table-condensed editable-table demoTable"
                   style="text-align: center;margin-bottom: 3%">
                <tr>

                    <th class="headerTable">
                        Fecha
                        <input date-range-picker ng-keydown="evalArray();deleteOnly($event);"  class="form-control ak-input AK-date-picker" type="text"
                               allow-pattern="^[\b]+$" id="dateForHistorial" name="dateForHistorial" options="{singleDatePicker: true}" style="margin: auto;"
                               ng-model="searchHistorial.dateForHistorial" ng-change="evalArray();" ng-click="evalArray()" ng-disabled="isDisabledCheckbox" maxlength="10"/>
                    </th>
                    <th class="headerTable">
                        Clave
                        <input class="form-control ak-input " style=";margin: auto;min-width: 90px"ng-model="search.numberKey" autofocus="true" numbers-only ng-trim="false" maxlength="30" ng-keydown="evalArray();" ng-keyup="evalArray();">
                    </th>
                    <th class="headerTable">
                        Tratamiento
                        <input ng-keydown="evalArray();" ng-keyup="evalArray();" class="form-control ak-input " style=";margin: auto;min-width: 90px" ng-model="search.nameTratment" allow-pattern="^[a-zA-Z Ññ]*$" maxlength="255" >
                    </th>
                    <th class="headerTable">
                        Diente
                        
                    </th>
                    <th class="headerTable">
                        Especialista
                        <input ng-keydown="evalArray();" ng-keyup="evalArray();" class="form-control ak-input " allow-pattern="^[a-zA-Z Ññ]*$" style=";margin: auto;min-width: 100px" ng-model="search.specialist" maxlength="255">

                    </th>
                    <th class="headerTable">
                        Parentesco
                        <input ng-keydown="evalArray();" ng-keyup="evalArray();" class="form-control ak-input " maxlength="45"  allow-pattern="^[a-zA-Z Ññ]*$" style=";margin: auto;min-width: 90px" ng-model="search.relationShip">

                    </th>
                    <th class="headerTable">
                        Aseguradora
                        <input ng-keydown="evalArray();" ng-keyup="evalArray();" class="form-control ak-input " style=";margin: auto;min-width: 90px"  maxlength="255"  allow-pattern="^[a-zA-Z Ññ]*$" ng-model="search.insurance">

                    </th>
                    <th class="headerTable">
                        Plan
                        <input ng-keydown="evalArray();" ng-keyup="evalArray();" class="form-control ak-input " style=";margin: auto;min-width: 90px" ng-model="search.plan" allow-pattern="^[a-zA-Z0-9\sñÑ]*$" maxlength="255">

                    </th>
                    <th class="headerTable">
                        Ente
                        <input ng-keydown="evalArray();" ng-keyup="evalArray();" class="form-control ak-input " style=";margin: auto;min-width: 90px" ng-model="search.company" allow-pattern="^[a-zA-Z0-9\sñÑ]*$" maxlength="255">

                    </th>
                </tr>
                <tr ng-repeat="x in dataHistorial|filter:search:strict |filter:searchHistorial">
                    <td class="dateForHist">{{x.dateForHistorial}}</td>
                    <td>{{x.numberKey}}</td>
                    <td>{{x.nameTratment}}</td>
                    <td>{{x.numberPropertie}}</td>
                    <td>{{x.specialist}}</td>
                    <td>{{x.relationShip}}</td>
                    <td>{{x.insurance}}</td>
                    <td>{{x.plan}}</td>
                    <td>{{x.company}}</td>

                </tr>


            </table>
            <div style="text-align: center; padding-bottom: 150px;color: #828282;" ng-hide="isHiddenTable">
                NO SE ENCONTRARON REGISTROS
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row" style="margin-top: 4%">
            <div class="col-md-12 text-center" >

                <input  type="button" class="boton-dialog" style="max-height: 25px; font-size: 11px;"
                        value="Salir" ng-click="closeDialogconsultHistory()" />
            </div>
        </div>
    </div>


</jqdialog>

<jqdialog dialog-name="Confirmation" title="'CONFIRMACIÓN'"
          auto-open="false" width="300" height="150"
          on-open="onOpen"
          args-to-scope=true
          before-close="beforeClose">

    <div style="height: 100%;border-style: solid;
         border-width: 1px;border-color: #EBEBEB">

        <div class="row text-center" style="margin-top: 3%">
            <div class="col-md-12"  >
                <div  class="ak-text-grey" >
                    ¿Seguro de generar la clave?
                </div>
            </div>
        </div>


        <div  style="margin-top: 28px">

        </div>

        <div class="row" style="margin-top: 4%">
            <div class="col-md-6 text-center" >

                <input  type="button" class="boton-dialog" style="max-height: 25px; font-size: 11px;"
                        value="Sí" ng-click="serviceGetKey(idPatientSelect, idEspecialista, idMedicalSelect, idCompanySelect, idPlanSelect)" />
            </div>
            <div class="col-md-6 text-center" >

                <input  type="button" class="boton-dialog" style="max-height: 25px; font-size: 11px;"
                        value="No" ng-click="closeNoConfirmationGenerateKey()" />
            </div>
        </div>

    </div>
</jqdialog>


<!-- END content -->

<div ng-include="'../angular/js/angular/include/piePaginaAdmin2.html'"></div>


<script type="text/javascript" src="../angular/js/bootstrap/bootstrap.js" ></script>
<script type="text/javascript">
    function toTop() {
        $("html, body").animate({scrollTop: "0px"}, 500);
    }
</script>
<!--<script>
    (function () {
        var texto = document.getElementById("nameConsultorio");
        var txt = texto.value;
        var tamano = txt.length;
        tamano *= 8.1; //el valor multiplicativo debe cambiarse dependiendo del tamaño de la fuente
        console.log(tamano);
        texto.style.width = tamano + "px";
    })();
</script>-->

</body>

</html>