<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
<p:scrollPanel  id="scrollerEditDetalleClaveH" widgetVar="scrollerEditDetalleClaveH" mode="native" style="width: 1200px; height: 535px">
    

    <p:fieldset legend="Datos de la Clave" toggleable="true" toggleSpeed="500">
        <p:ajax event="toggle" listener="#{fieldsetView.handleToggle}" />

        <p:panelGrid id="panelKeyH" style="width: 100%;">
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="keyH" value="Claves: " />
                </p:column>
                <p:column>
                    <h:outputText id="keyH" value="#{keysPatientsViewBean.keysPatientsHistory.number}" />
                </p:column>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="applicationDateH" value="Fecha Solicitud: " />
                </p:column>
                <p:column>
                    <h:outputText id="applicationDateH" value="#{keysPatientsViewBean.keysPatientsHistory.applicationDate}">
                               <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />     
                    </h:outputText>
                </p:column>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="expirationDate" value="Fecha Vencimiento: " />
                </p:column>
                <p:column>
                    <h:outputText id="expirationDateH" value="#{plansPatientsViewBean.editPlansPatients.dueDate}">
                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />  
                    </h:outputText>
                </p:column>
            </p:row>

            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  for="specialistH" value="Doctor: " />
                </p:column>
                <p:column>
                    <h:outputText id="specialistH" value="#{keysPatientsViewBean.keysPatientsHistory.specialistId.completeName}" />
                </p:column>
                <p:column colspan="2">
                    <p:dataList id="specialityDetailsH" value="#{keysPatientsViewBean.keysPatientsHistory.specialistId.specialityList}" var="speciality" type="definition" emptyMessage="">
                        <f:facet name="header">
                            Especialidades
                        </f:facet>
                        #{speciality.name}
                    </p:dataList>
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  for="patientH" value="Paciente: " />
                </p:column>
                <p:column>
                    <h:outputText id="patientH" value="#{keysPatientsViewBean.keysPatientsHistory.patientsId.completeName}"  />
                </p:column>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  for="dateOfBirthH" value="Fecha de Nacimiento: " />
                </p:column>
                <p:column>
                    <h:outputText id="dateOfBirthH" value="#{keysPatientsViewBean.keysPatientsHistory.patientsId.dateOfBirth}" > 
                         <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />  
                    </h:outputText>
                </p:column>
               <p:column>
                    <h:outputText id="plansResultH" value="#{plansPatientsViewBean.editPlansPatients.plansId.name}"  />
                   </p:column>
            </p:row>
        </p:panelGrid>
    </p:fieldset>
        <div class="order">
            <p:dataTable  id="lstTreatmentIIH" var="plansTreatmentsKeys" value="#{keysPatientsViewBean.keysPatientsHistory.plansTreatmentsKeysList}"
                          widgetVar="treatmentVarIIH" emptyMessage="" paginator="true" rows="4" paginatorAlwaysVisible="false" 
                          scrollable="false" rowIndexVar="indice" styleClass="margin-left-negativo-100" disabledSelection="true" style="width: 1172px;" >  
                <p:column id="treatmentTableIIH" headerText="Tratamiento"
                          filterMatchMode="contains" style="margin-left: -18px; width: 100px !important;">
                    <h:outputText  value="#{plansTreatmentsKeys.plansTreatmentsId.treatmentsId.name}" style="text-transform: uppercase" />                    
                </p:column>  

                <p:column id="teehtTableIIIH" headerText="Dientes Permanentes" rendered="#{propertiesTreatmentsViewBean.visibleListKeysHistory}" style="width: 512px !important;"> 
                    <p:panelGrid id="permanentTeethXLH"  styleClass="odontodiagram classmargin" >
                            <p:row>
                                <p:column styleClass="dientes_check2" disabledSelection="true">   
                                    <h:selectManyCheckbox readonly="true" id="propertiesOptionXLIH" converter="propertiesTreatmentsConverter" disabled="#{plansTreatmentsKeys.disableConsult}" value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListNew}">
                                        <f:selectItems  value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListFilter}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}" />
                                        <p:ajax  immediate="true" partialSubmit="true"  process="@this" update="propertiesOptionXLIH permanentTeethXLH "></p:ajax>
                                    </h:selectManyCheckbox>
                                </p:column>
                                <p:column styleClass="dientes_check2" disabledSelection="true">
                                    <h:selectManyCheckbox  readonly="true" id="propertiesOptionXLIIIH" converter="propertiesTreatmentsConverter" value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListNewIII}" disabled="#{plansTreatmentsKeys.disableConsult}">
                               <f:selectItems  value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListFilterIII}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionXLIIIH permanentTeethXLH"></p:ajax>
                            </h:selectManyCheckbox>
                                </p:column>
                               
                            </p:row>
                            <p:row>
                               <p:column styleClass="dientes_check2" disabledSelection="true">
                                    <h:selectManyCheckbox readonly="true"  id="propertiesOptionXLIIH" converter="propertiesTreatmentsConverter" value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListNewII}" disabled="#{plansTreatmentsKeys.disableConsult}" >
                                        <f:selectItems value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListFilterII}"  var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}"/>
                                        <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionXLIIH permanentTeethXLH"></p:ajax>
                                    </h:selectManyCheckbox>
                                </p:column>
                                <p:column styleClass="dientes_check2" disabledSelection="true">
                                    <h:selectManyCheckbox readonly="true"  id="propertiesOptionXLIVH" converter="propertiesTreatmentsConverter" value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListNewIV}" disabled="#{plansTreatmentsKeys.disableConsult}">
                                        <f:selectItems  value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListFilterIV}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}"/>
                                        <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionXLIVH permanentTeethXLH"></p:ajax>
                                    </h:selectManyCheckbox>
                                </p:column>
                             
                            </p:row>
                        </p:panelGrid>              
                </p:column>
                      <p:column id="teehtTableGIIIH" headerText="Dientes Temporales" rendered="#{propertiesTreatmentsViewBean.visibleListKeysHistory}" style="width: 360px !important;">
                    
                          <p:panelGrid id="permanentTeethGXLH"  styleClass="odontodiagram classmargin">
                            <p:row>
                                <p:column styleClass="dientes_check2" disabledSelection="true">
                                    <h:selectManyCheckbox readonly="true"  id="propertiesOptionGXLIH" disabled="#{plansTreatmentsKeys.disableEdit}" converter="propertiesTreatmentsConverter" value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListNewV}" >
                                        <f:selectItems  value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListFilterV}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}"/>
                                        <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionGXLIH permanentTeethGXLH"></p:ajax>
                                    </h:selectManyCheckbox>
                                </p:column>
                                 <p:column styleClass="dientes_check2" disabledSelection="true">
                                 <h:selectManyCheckbox  readonly="true" id="propertiesOptionGXLIIIH" disabled="#{plansTreatmentsKeys.disableEdit}" converter="propertiesTreatmentsConverter" value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListNewVII}" >
                                <f:selectItems  value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListFilterVII}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionGXLIIIH permanentTeethGXLH"></p:ajax>
                                </h:selectManyCheckbox> 
                                </p:column>
                                
                            </p:row>
                            <p:row>
                                <p:column styleClass="dientes_check2" disabledSelection="true">
                                <h:selectManyCheckbox  readonly="true" id="propertiesOptionGXLIIH" converter="propertiesTreatmentsConverter" disabled="#{plansTreatmentsKeys.disableEdit}" value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListNewVI}" >
                                   <f:selectItems value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListFilterVI}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}"/>
                                   <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionGXLIIH permanentTeethGXLH"></p:ajax>
                                 </h:selectManyCheckbox> 
                                </p:column>
                                <p:column styleClass="dientes_check2" disabledSelection="true">
                                  <h:selectManyCheckbox readonly="true"  id="propertiesOptionGXLIVH" disabled="#{plansTreatmentsKeys.disableEdit}" converter="propertiesTreatmentsConverter" value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListNewVIII}">
                                    <f:selectItems   value="#{plansTreatmentsKeys.propertiesPlansTreatmentsKeyListFilterVIII}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}"/>
                                    <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionGXLIVH permanentTeethGXLH"></p:ajax>
                                  </h:selectManyCheckbox>
                                </p:column>
                                
                            </p:row>
                        </p:panelGrid>            
                </p:column> 
            </p:dataTable>
            </div>

</p:scrollPanel>
</ui:composition>