<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <!-- Show Message  -->
    <p:growl id="growInvoicesReportMessage" widgetVar="growl" showDetail="true"
             life="8000"/>
    <!-- Library Calendar Spanish -->
    <h:outputScript library="js" name="calendar_es.js" />

    <div class="order">  

        <br />
        <h:panelGroup >
            <p:outputPanel  styleClass="blog-meta blog-meta3" style="margin-left: -198px">
                <h:outputLabel value="Consulta de reportes de pago" 
                               styleClass="titulo-blog" style="padding-bottom: 5px !important;" />
            </p:outputPanel>

            <p:outputPanel>
                <p:panelGrid styleClass="blog-meta3" style="margin-left: -198px">
                    <p:row>
                        <p:column style="width: 5%;">
                            <div style="text-align: right; font-weight: bold;">
                                Desde:
                            </div>                 
                        </p:column>                  
                        <p:column style="width: 10%;">
                            <p:calendar id="startDate" 
                                        maxdate="#{keysAnalisysReportViewBean.maxDate}"  
                                        mindate="#{keysAnalisysReportViewBean.minDate}"
                                        value="#{keysAnalisysReportViewBean.startDate}"  
                                        style="float: left; width: 100%;" 
                                        locale="es" pattern="dd/MM/yyyy" navigator="true" maxlength="10"
                                        disabled ="#{keysAnalisysReportViewBean.activeStartDate}"
                                        showButtonPanel="true">
                                <p:ajax event="dateSelect"
                                        listener="#{keysAnalisysReportViewBean.activeEndDateSelect()}" />
                                 <p:ajax event="change"
                                        listener="#{keysAnalisysReportViewBean.activeEndDateSelect()}" />
                            </p:calendar>
                        </p:column>
                        <p:column style="width: 5%;">
                            <div style="text-align: right; font-weight: bold;">
                                Hasta:
                            </div>                  
                        </p:column>                  
                        <p:column style="width: 10%;">
                            <p:calendar id="endDate" 
                                        maxdate="#{keysAnalisysReportViewBean.maxDate}" 
                                        mindate="#{keysAnalisysReportViewBean.startDate}"
                                        value="#{keysAnalisysReportViewBean.endDate}" 
                                        style="float: left; width: 100%;" locale="es" 
                                        disabled="#{keysAnalisysReportViewBean.activeEndDate}" maxlength="10"
                                        pattern="dd/MM/yyyy"  navigator="true" showButtonPanel="true">
                                <f:attribute name="startDate" 
                                             value="#{keysAnalisysReportViewBean.startDate}" />
                                <p:ajax event="dateSelect"
                                        listener="#{keysAnalisysReportViewBean.activeSearchByRangeDateAndSpecialist()}" />
                                <p:ajax event="change"
                                        listener="#{keysAnalisysReportViewBean.activeSearchByRangeDateAndSpecialist()}" />
                            </p:calendar> 

                        </p:column> 
                    </p:row>
                    <p:row>
                        <p:column style="width: 5%;">
                            <div style="text-align: right; font-weight: bold;">
                                Cédula o nombre del doctor:
                            </div>                                     
                        </p:column>
                        <p:column style="width: 10%;">
                            <p:autoComplete id="txtIdentity" maxlength="255"
                                            disabled="#{keysAnalisysReportViewBean.activeCedRIF}"
                                            onkeypress="if (event.keyCode === 13) {
                                                        return false;
                                                    }"  
                                            value="#{keysAnalisysReportViewBean.specialist}" 
                                            completeMethod="#{keysAnalisysReportViewBean.filterSpecialist}" 
                                            var="specialists"                           
                                            itemLabel="#{specialists.identityNumber}" 
                                            itemValue="#{specialists}" 
                                            converter="autocompleteConverter" 
                                            emptyMessage="No se encontraron coincidencias" 
                                            forceSelection="true"
                                            placeholder="Ingrese cédula o nombre" 
                                            style="float: left; width: 100%;">
                                <p:column>
                                    <h:outputText value="#{specialists.identityNumber}" />
                                </p:column>
                                <p:column>
                                    <h:outputText  value="#{specialists.completeName}" />
                                </p:column>
                                <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" 
                                              preventPaste="false"/>

                                <p:ajax onstart="PF('statusDialog').show()" 
                                        onsuccess="PF('statusDialog').hide()" 
                                        event="itemSelect" 
                                        listener="#{keysAnalisysReportViewBean.onItemSelect}" />  
                            </p:autoComplete>
                        </p:column>
                        <p:column style="width: 5%;">
                            <div style="text-align: right; font-weight: bold;">
                                Nro. de factura:
                            </div>                                      
                        </p:column>                  
                        <p:column style="width: 10%;">
                            <p:inputText id="txtNumberInvoice"
                                         value="#{keysAnalisysReportViewBean.filtersData[0]}"
                                         disabled="#{keysAnalisysReportViewBean.activeNumberRequest}"
                                         style="float: left; width: 100%;" maxlength="50">
                                <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="false"/>
                                <p:ajax event="keyup" listener="#{keysAnalisysReportViewBean.activeNumberInvoicesSearch()}" />
                            </p:inputText>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:outputPanel>

            <p:outputPanel>
                <div style="float: center; width: 100%;margin-top: 15px;">
                    <p:commandButton id="btnSearchData" value="Generar reporte"
                                     disabled="#{keysAnalisysReportViewBean.activeBtnSearch}"
                                     actionListener="#{keysAnalisysReportRequestBean.searchDataByCriterial()}"
                                     process="@this" ajax="false">

                    </p:commandButton>
                    <p:commandButton id="btnResetData" value="Restablecer"
                                     disabled="#{keysAnalisysReportViewBean.activeBtnReset}"
                                     actionListener="#{keysAnalisysReportRequestBean.resetCleanData() }"
                                     process="@this">
                    </p:commandButton>
                    <p:commandButton id="btnExportData" value="Generar excel"
                                     disabled="#{keysAnalisysReportViewBean.activeBtnExportData}"
                                     actionListener="#{keysAnalisysReportViewBean.sendReportXLS}" 
                                     ajax="false">
                    </p:commandButton>
                </div>    
            </p:outputPanel>

            <p:dataTable id="tableReportKeysAnalisys" var="paymentReportListCreiterial" 
                         value="#{keysAnalisysReportViewBean.paymentReportkeysAnalisysByCriterialOuputList}" 
                         paginator="true" paginatorAlwaysVisible="false"
                         emptyMessage="NO SE ENCONTRARON REGISTROS" style="width: 1300px; margin-left: -198px">

                <p:column headerText="Doctor / Clínica" id="columnVisibilityDoctorClinic"
                          rendered="#{keysAnalisysReportViewBean.visibilitySpecialistName}">
                    <h:outputText value="#{paymentReportListCreiterial.completeNameSpecialists}" />
                </p:column>
                <p:column headerText="Cédula / RIF" id="columnVisibilityRIFCED"
                          rendered="#{keysAnalisysReportViewBean.visibilityCEDRIF}">
                    <h:outputText value="#{paymentReportListCreiterial.identityNumberRIFSpecialistsClinic}" />
                </p:column>
                <p:column headerText="Nro. de factura" id="columnVisibilityInvoicesNumber"
                          rendered="#{keysAnalisysReportViewBean.visibilityInvoice}">
                    <h:outputText value="#{paymentReportListCreiterial.numberInvoices}" />
                </p:column>
                <p:column headerText="Monto de la factura">
                    <h:outputText value="#{paymentReportListCreiterial.amountInvoices}" >
                        <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                    </h:outputText>
                </p:column>
                <p:column headerText="% de retención">
                    <h:outputText value="#{paymentReportListCreiterial.islr_rate}" />
                </p:column>
                <p:column headerText="Monto retenido">
                    <h:outputText value="#{paymentReportListCreiterial.amountRetention}" >
                        <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                    </h:outputText>
                </p:column>

                <p:column headerText="Neto a pagar">
                    <h:outputText value="#{paymentReportListCreiterial.netAmountInvoices}" >
                        <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                    </h:outputText>
                </p:column>
                <p:column headerText="Fecha de pago">
                    <h:outputText value="#{paymentReportListCreiterial.transferDate}">
                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Número de transferencia">
                    <h:outputText value="#{paymentReportListCreiterial.numberTransfer}" />
                </p:column>
            </p:dataTable>
        </h:panelGroup>


        <!-- keysFilters -->
        <pe:keyFilter for="form:txtIdentity" regEx="/^[a-zA-Z 0-9 \'ñÑáÁéÉíÍóÓúÚüÜ]+$/"/>
    </div>
    <!-- Script -->
    <script type="text/javascript">
        $(document).ready(function () {

        });


    </script>
</ui:composition>

