<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <!-- Show Message  -->
    <p:growl id="growInvoicesTransferMessage" widgetVar="growl" showDetail="true" life="8000"/>
    <!-- Library Calendar Spanish -->
    <h:outputScript library="js" name="calendar_es.js" />

    <div class="order order2">

        <!-- 
        * /////////////////////////////////////////////////////////////////////
                     LES IMPLEMENTS IN THE VIEWS PROCESS PAYMENT
        * /////////////////////////////////////////////////////////////////////
        -->
        <p:dataTable id="keysInvoicesTransferTable" var="keysInvoicesTransfer" 
                     widgetVar="keysInvoicesTransferW" paginator="true"
                     value="#{keysInvoicesTransferViewBean.invoicesTransferKeysList}" rows="10" 
                     paginatorAlwaysVisible="false" sortBy="#{keysInvoicesTransfer.idReport}"
                     scrollable="false"
                     filteredValue="#{keysInvoicesTransferViewBean.invoicesTransferKeysListFiltered}"
                     emptyMessage="NO SE ENCONTRARON REGISTROS">

            <f:facet name="header" class="sin-border">
                <!-- Radio Buttons Status -->
                <p:outputPanel style="text-align: left;" styleClass="blog-meta blog-meta2" >
                    <br/>
                    <h:outputLabel value="Procesar pagos" styleClass="titulo-blog"/> 
                    <br/>
                    <h:outputLabel value="Estados:" styleClass="titulo-radio" />    
                    <p:selectOneRadio value="#{keysInvoicesTransferViewBean.statusKeysid}" styleClass="sin-border" style="width:auto; border: transparent">
                        <f:selectItems  var="keysStatus" itemLabel="#{keysStatus.description}" 
                                        itemValue="#{keysStatus.id}" 
                                        value="#{keysInvoicesTransferViewBean.statusAnalysisKeysList}"/>
                        <p:ajax event="change" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                                listener="#{keysInvoicesTransferViewBean.findAllKeysAnalysisInvoicesTransfer()}" 
                                partialSubmit="true" update="@this"  />                        
                    </p:selectOneRadio>    
                </p:outputPanel>
            </f:facet>
            <p:column headerText="Estado" id="columnStatus" style="width: 10%" 
                      rendered="#{keysInvoicesTransferViewBean.columnVisibilityStatusKeys}"
                      filterBy="#{keysInvoicesTransfer.nameStatus}" filterMatchMode="contains">     
                <f:facet name="filter">
                    <p:inputText  maxlength="45" onkeyup="PF('keysInvoicesTransferW').filter()"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{keysInvoicesTransferViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/^[a-zA-Z \ 'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysInvoicesTransfer.nameStatus}" />
            </p:column>
            <p:column headerText="Doctor / Clínica" style="width: 15%"
                      filterBy="#{keysInvoicesTransfer.doctorClinit}" filterMatchMode="contains">
                <f:facet name="filter">
                    <p:inputText  maxlength="255" onkeyup="PF('keysInvoicesTransferW').filter()"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{keysInvoicesTransferViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/^[a-zA-Z0-9., \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                        <p:ajax update=":form:keysInvoicesTransferTable" />
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysInvoicesTransfer.doctorClinit}" />
            </p:column>
            <p:column headerText="Cédula / Rif" style="width: 10%"
                      filterBy="#{keysInvoicesTransfer.celRif}" filterMatchMode="contains">
                <f:facet name="filter">
                    <p:inputText  maxlength="11" onkeyup="PF('keysInvoicesTransferW').filter()"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{keysInvoicesTransferViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/[a-zA-Z0-9()-]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysInvoicesTransfer.celRif}" />
            </p:column>
            <p:column headerText="Banco" style="width: 20%"
                      filterBy="#{keysInvoicesTransfer.bank}" filterMatchMode="contains">
                <f:facet name="filter">
                    <p:inputText  maxlength="255" onkeyup="PF('keysInvoicesTransferW').filter()"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{keysInvoicesTransferViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/^[a-zA-Z., \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysInvoicesTransfer.bank}" />
            </p:column>
            <p:column headerText="Número de cuenta" style="width: 15%"
                      filterBy="#{keysInvoicesTransfer.accountNumber}" filterMatchMode="contains">
                <f:facet name="filter">
                    <p:inputText  maxlength="24" onkeyup="PF('keysInvoicesTransferW').filter()"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{keysInvoicesTransferViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>                
                <h:outputText value="#{keysInvoicesTransfer.accountNumber}" />
            </p:column>
            <p:column headerText="Cédula / Rif asociado a la cuenta" style="width: 20%"
                      filterBy="#{keysInvoicesTransfer.associatedCelRif}" filterMatchMode="contains">
                <f:facet name="filter">
                    <p:inputText  maxlength="11" onkeyup="PF('keysInvoicesTransferW').filter()"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{keysInvoicesTransferViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/[a-zA-Z0-9()-]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysInvoicesTransfer.associatedCelRif}" />
            </p:column>            
            <p:column style="width: 10%">
                <!-- Buttons keys confirm data -->
                <p:commandButton  icon="ui-icon-myRegister" title="Detalle de la clave"                        
                                  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"                                  
                                  id="btnConfirmDialog" rendered="#{keysInvoicesTransferViewBean.btnVisibilityDataInvoicesConfirm}"
                                  actionListener="#{keysInvoicesTransferRequestBean.findKeysDetailConfirmsDialog('confirmDetailDialog', keysInvoicesTransfer)}">                    

                </p:commandButton>
                <!-- Buttons keys invoices  -->    
                <p:commandButton  icon="ui-icon-financialData" title="Datos de pago"                        
                                  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"                                  
                                  id="btnKeysInvoicesTransfer"
                                  actionListener="#{keysInvoicesTransferRequestBean.openViewDiaogInvoicesTransfer(keysInvoicesTransfer)}">                    
                </p:commandButton>  
                <!-- Buttons keys Download With Holding -->
                <p:commandButton id="btnKeysWithholding" icon="ui-icon-myPdf" title="#{keysInvoicesTransferViewBean.returnTitle(keysInvoicesTransfer)}"
                                 disabled="#{keysInvoicesTransferViewBean.enableBtnRetention(keysInvoicesTransfer)}"
                                 rendered="#{keysInvoicesTransferViewBean.btnVisibilityDataInvoicesDownload}" actionListener="#{ReportProofRetentionViewBean.downloadPDF(keysInvoicesTransfer)}" ajax="false">                    
                </p:commandButton>

            </p:column>
                    
        </p:dataTable>
        <div style="width: 100%; margin-top: 10px; margin-left: -30px;">


            <p:commandButton id="btnExport"
                             value="Exportar"
                             style="width: 110px; margin-bottom: 100px;"

                             ajax="false"
                             disabled="${keysInvoicesTransferViewBean.isEmptyTable}"
                             actionListener="#{keysInvoicesTransferViewBean.exportStateToXlsx()}"
            >
            </p:commandButton>


            <p:commandButton id="btnGenerateTxt" value="Generar Txt" style="margin: 10px;" actionListener="#{keysInvoicesTransferViewBean.generateReportTxt()}"
                             onclick="descargarTxt();" disabled="#{keysInvoicesTransferViewBean.btnGenerateTxt}">
                <p:fileDownload value="#{keysInvoicesTransferViewBean.txt}" />
            </p:commandButton>
        </div>


        <!--fin botones-->

        <!-- 
        * /////////////////////////////////////////////////////////////////////
                     DIALOG IMPLEMENTS IN THE VIEWS PROCESS PAYMENT
        * /////////////////////////////////////////////////////////////////////
        -->

        <!-- Dialog data confirm keys -->
        <p:dialog width="50%" widgetVar="confirmDetailDialog" resizable="false" id="confirmDetailDialog" modal="true"
                  showEffect="fade" closable="false" header="Detalle de clave" >

            <!-- Content Dialog -->
            <ui:include src="/web/dialogos/keysDataInvoicesTransferConfirmView.xhtml" />
            <br/>

            <!-- Buttons Exit -->
            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                             actionListener="#{accionesRequestBean.cerrarDialogoView('confirmDetailDialog')}" style="width:76px;" 
                             value="Salir"  process="@this" />           
        </p:dialog>

        <!-- Dialog data keys invoices  -->
        <p:dialog width="50%" widgetVar="keysInvoicesDialog" resizable="false" id="keysInvoicesDialog" modal="true"
                  showEffect="fade" closable="false" header="Datos de pago" >

            <!-- Content Dialog -->
            <ui:include src="/web/dialogos/keysDataInvoicesRegister.xhtml" />

            <!-- Btn Saved II -->
            <p:commandButton id="btnSavedInvoices2"  value="Guardar" styleClass="btnSavedInvoices2" disabled="true" />

            <!-- Btn Saved -->
            <p:commandButton id="btnRegisterInvoices" styleClass="btnSavedInvoices" 
                             value="Guardar" ajax="true" process="@this"
                             actionListener="#{keysInvoicesTransferRequestBean.keysRegisterInvoicesData('keysInvoicesDialog')}"
                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();">
                <p:confirm header="Confirmación" message="¿Seguro que desea registrar los datos de la factura?" icon="ui-icon-alert" />
            </p:commandButton>
            <!-- Btn Exit -->
            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                             actionListener="#{keysInvoicesTransferRequestBean.exitKeysInvoicesRegister('keysInvoicesDialog')}" style="width:76px;" 
                             value="Salir"  process="@this">
                <p:resetInput target=":form:keysInvoicesDialog" />
            </p:commandButton>
        </p:dialog>

        <!-- Dialog data keys transfer  -->
        <p:dialog width="50%"  widgetVar="keysTransferDialog" resizable="false" id="keysTransferDialog" modal="true"
                  showEffect="fade" closable="false" header="Datos de pago" >

            <!-- Content Dialog -->
            <ui:include src="/web/dialogos/keysDataInvoicesRegisterTransfer.xhtml" />

            <!-- Btn Saved II -->
            <p:commandButton id="btnRegisterTransfer2"  value="Guardar" styleClass="RegisterTransfer2" disabled="true" />
            <!-- Btn Saved -->
            <p:commandButton id="btnRegisterTransfer"  value="Guardar" ajax="true" process="@this"
                             styleClass="RegisterTransfer"
                             style="display: none;"
                             actionListener="#{keysInvoicesTransferRequestBean.keysRegisterTransferData('keysTransferDialog')}"
                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide();">
                <p:confirm header="Confirmación" message="¿Seguro que desea registrar los datos de la transferencia?" icon="ui-icon-alert" />
            </p:commandButton>
            <!-- Btn Exit -->
            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                             actionListener="#{keysInvoicesTransferRequestBean.exitKeysInvoicesTransfer('keysTransferDialog')}" style="width:76px;" 
                             value="Salir" process="@this">
                <p:resetInput target=":form:keysTransferDialog" />
            </p:commandButton>
        </p:dialog>

        <!-- Dialog data keys consults -->
        <p:dialog width="50%" widgetVar="keysInvoicesTransferConsult" resizable="false" id="keysInvoicesTransferConsult" modal="true"
                  showEffect="fade" closable="false" header="Datos de pago " >

            <!-- Content Dialog -->
            <ui:include src="/web/dialogos/keysDataInvoicesRegisterTransferConsult.xhtml" />

            <!-- Btn Exit -->
            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" ajax="true"
                             actionListener="#{accionesRequestBean.cerrarDialogoView('keysInvoicesTransferConsult')}" style="width:76px;" 
                             value="Salir" process="@this" >
                <p:resetInput target=":form:keysInvoicesTransferConsult" />
            </p:commandButton>
        </p:dialog>

        <!-- Confirm Dialog -->
        <p:confirmDialog style="background-color: #ffffff;" global="true" closable="true">
            <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </div>    
    <script type="text/javascript">

        // Cancel Event Daialog
        function cancelEventDialog(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        }


        function validateInputTextInvoices() {

            var numberInvoices = null;
            var dateInvoices = null;
            var numberControlTransfer = null;

            if(typeof $('.txtClassInvoices').val() !== 'undefined'){
                numberInvoices = $('.txtClassInvoices').val().trim();
            }

            if(typeof  $('.dateInvoicesClass input').val() !== 'undefined'){
                dateInvoices = $('.dateInvoicesClass input').val().trim();
            }

            if(typeof   $('.txtDataRTransferClass').val() !== 'undefined'){
                numberControlTransfer = $('.txtDataRTransferClass').val().trim();
            }


            if (numberInvoices != null &amp;&amp; numberInvoices === "") {
                $('.btnSavedInvoices2').show();
                $('.btnSavedInvoices').hide();
            }
            else if (dateInvoices != null &amp;&amp; dateInvoices === "") {
                $('.btnSavedInvoices2').show();
                $('.btnSavedInvoices').hide();
            }
            else if (numberControlTransfer == null &amp;&amp;  numberControlTransfer === "") {
                $('.btnSavedInvoices2').show();
                $('.btnSavedInvoices').hide();
            }
            else {
                $('.btnSavedInvoices2').hide();
                $('.btnSavedInvoices').show();
            }

        }

        function secondDialog() {

            var numberTransfer = null;
            var dateTransfer = null;
            var numberInvoicesTransfer = null;
            var numberControlTransfer = null;
            var dateTransferR = null;

            if(typeof  $(PrimeFaces.escapeClientId('form:dateTransferKeys_input')).val() !== 'undefined'){
                numberTransfer = $(PrimeFaces.escapeClientId('form:dateTransferKeys_input')).val().trim();
            }

            if(typeof  $('.dateTransferClass input').val() !== 'undefined'){
                dateTransfer = $('.dateTransferClass input').val().trim();
            }

            if(typeof  $('.txtDataRegistrerTransferClass').val() !== 'undefined'){
                numberInvoicesTransfer = $('.txtDataRegistrerTransferClass').val().trim();
            }

            if(typeof  $('.txtDataRegistrerTransferClass').val() !== 'undefined'){
                numberInvoicesTransfer = $('.txtDataRegistrerTransferClass').val().trim();
            }

            if(typeof  $(PrimeFaces.escapeClientId('form:txtDataTransfer')).val() !== 'undefined'){
                numberControlTransfer = $(PrimeFaces.escapeClientId('form:txtDataTransfer')).val().trim();
            }

            if(typeof  $('.dateRegistrerTransferClass input').val() !== 'undefined'){
                dateTransferR = $('.dateRegistrerTransferClass input').val().trim();
            }

            if (numberTransfer === "") {
                $('.RegisterTransfer2').show();
                $('.RegisterTransfer').hide();
            }
            else if (dateTransfer === "") {
                $('.RegisterTransfer2').show();
                $('.RegisterTransfer').hide();
            }
            else if (numberInvoicesTransfer === "") {
                $('.RegisterTransfer2').show();
                $('.RegisterTransfer').hide();
            }
            else if (numberControlTransfer === "") {
                $('.RegisterTransfer2').show();
                $('.RegisterTransfer').hide();
            }
            else if (dateTransferR === "") {
                $('.RegisterTransfer2').show();
                $('.RegisterTransfer').hide();
            }
            else {
                $('.RegisterTransfer2').hide();
                $('.RegisterTransfer').show();
            }
        }

        $(document).mouseover(function () {
            validateInputTextInvoices();
            secondDialog();
        });


        $(document).keydown(function (tecla) {
            var auxEnter = null;
            console.log("pruebo");
            if(typeof  $(".validateReturn>.ui-inputfield") !== 'undefined'){
                auxEnter = $(".validateReturn>.ui-inputfield");
            }
            if (typeof auxEnter.val() !== 'undefined' &amp;&amp; tecla.keyCode == 8) {
                if (auxEnter.val().length > 0) {
                    auxEnter.val("");
                }
            }

        });
    </script>
</ui:composition>

