<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    >                 

    <p:growl id="growReportAudit" widgetVar="growl" showDetail="true" life="8000" />

    <h:outputScript library="js" name="calendar_es.js" />

    <!--Comienzo de la caja de anuncion blog meta-->

    <p:outputPanel  styleClass="blog-meta">
        <h:outputLabel value="Reporte de Reembolso" styleClass="titulo-blog" style="padding-bottom: 5px !important;" />

    </p:outputPanel>

    <br/>
    <br/>
    <br/>
    <br/>

    <!--Fin de la caja blog meta-->


    <!--comienzo de la caja de datos de reporte reembolso-->


    <p:fieldset toggleable="false" toggleSpeed="500">

        <!--fechas desde hasta-->
        <table style="text-align: left !important; width: 100% !important; padding-bottom: 30px; margin-top: -88px;" class="table-audit"> 

            <tr>


                <td><p:outputLabel for="startDate" value="Desde: " style="float: left;" /></td>

                <td ><p:calendar id="startDate" maxdate="#{reimbursementReportViewBean.maxDate}" value="#{reimbursementReportViewBean.startDate}"  style="float: left; width: 250px;" locale="es" pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true">
                        <p:ajax event="dateSelect" update="endDate" />
                    </p:calendar></td>

                <td><p:outputLabel for="endDate" value="Hasta: " style="float: left;" /></td>

                <td><p:calendar id="endDate" maxdate="#{reimbursementReportViewBean.maxDate}" value="#{reimbursementReportViewBean.endDate}" mindate="#{reimbursementReportViewBean.startDate}"
                                style="float: left; width: 250px;" locale="es" pattern="dd/MM/yyyy"  navigator="true" showButtonPanel="true" >
                        <f:attribute name="startDate" value="#{reimbursementReportViewBean.startDate}" />
                    </p:calendar></td>

            </tr>
            <!--fin de fechas desde hasta-->

            <tr><td>
                    <p:outputLabel for="aseguradora" value="Aseguradora:  " style="float: left; margin-right: 10px;" /></td>
                <td>
                    <h:selectOneMenu  id="aseguradora" value="#{reimbursementReportViewBean.aseguradoraSeleccionada}"
                                      required="false" requiredMessage="Debe especificar una Aseguradora" style="width: 250px;"
                                      validatorMessage="Aseguradora inválida">

                        <f:selectItem itemLabel="SELECCIONAR ASEGURADORA" />
                        <f:selectItems  value="#{reimbursementReportViewBean.aseguradora}"/>

                    </h:selectOneMenu>
                </td>

                <!--Fin de Aseguradora-->
                <br/>


                <!--Comienzo de opcion Estado-->
                <td>
                    <p:outputLabel for="estado" value="Estado:  " style="float: left; margin-right: 10px;" />
                </td> <td>
                    <h:selectOneMenu  id="estado" value="#{reimbursementReportViewBean.estadoSeleccionado}"
                                      required="false" requiredMessage="Debe especificar una Especialidad" style="width: 250px;"
                                      validatorMessage="Especialidad inválida">
                        <f:selectItem itemLabel="SELECCIONAR ESTADO" />
                        <f:selectItems  value="#{reimbursementReportViewBean.estado}"/>
                    </h:selectOneMenu>
                </td></tr>
            <!--Fin de opcion estado--> 

        </table>
    </p:fieldset>

    <!--Comienzo botones-->
    
    <div style="float: center; width: 100%;">

        <p:commandButton id="btnFindKey" actionListener="#{reimbursementReportViewBean.validateByDate}" update="btnExportAuditKeys abonados" value="Buscar" style="width: 110px;" ajax="true">
        </p:commandButton>
        <span style="width: 40px;"></span>
        <p:commandButton id="btnResetKey" actionListener="#{reimbursementReportViewBean.refresh}" value="Restablecer" style="width: 110px;" update="aseguradora estado" ajax="false">
            <p:resetInput target = "aseguradora estado" /> 
        </p:commandButton>
        <span style="width: 40px;"></span>
        <p:commandButton id="btnExportAuditKeys" disabled="#{reimbursementReportViewBean.disabled}" value="Exportar" style="width: 110px;" ajax="false">
            <p:fileDownload value="#{reimbursementReportViewBean.archivo}" />
        </p:commandButton> 
    </div>
    
    <!--fin botones-->
    
    <!--Tabla datos-->
    
    <div id="actualiza" class="order">
        <p:dataTable id="abonados" var="abonado" value="#{reimbursementReportViewBean.listaAbonado}" widgetVar="keysTable1"
                     emptyMessage="No se encontraron registros de reembolso" paginator="true" scrollable="false" rows="10" 
                     sortBy="#{abonado.applicationDate}" sortOrder="descending" rendered="true"> 
            <p:column id="date" headerText="Fecha" 
                      width="10%">

                <h:outputText value="#{abonado.fecha}"/>
            </p:column>
            
            <p:column id="nroOrden" headerText="Nro Orden" 
                      width="20%">  
                <h:outputText value="#{abonado.nroOrden}" />  
            </p:column>

            <p:column id="cedula" headerText="Cédula"   
                      width="10%" >  
                <h:outputText value="#{abonado.cedula}" />
            </p:column>  

            <p:column id="patient" headerText="Paciente" 
                      width="20%">  
                <h:outputText value="#{abonado.nombre}" />  
            </p:column>
            
            <p:column id="monto" headerText="Monto"
                width="10%">
                <h:outputText value="#{abonado.monto}"/>
            </p:column>
            
            <p:column id="estado" headerText="Estado"
                width="10%">
                <h:outputText value="#{reimbursementReportViewBean.estadoSeleccionado}"/>
            </p:column>
            <p:column id="aseguradora" headerText="Aseguradora" width="20%">
                <h:outputText value="#{reimbursementReportViewBean.aseguradoraSeleccionada}"/>
            </p:column>
        </p:dataTable>
       
        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
    </div>
    
    <!--fin tabla datos-->

</ui:composition>