<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    >                 

    <p:growl id="growl" autoUpdate="false" sticky="true" showDetail="true" widgetVar="growl" life="8000" />

    <h:outputScript library="js" name="calendar_es.js" />

    <div class="order">

        <p:dataTable id="listaKeys" var="keys" value="#{keysPatientsViewBeanInsurancesReport.listaKeys}" widgetVar="keysTable"
                     emptyMessage="No se encontraron claves de atención" paginator="true" scrollable="false" rows="10"
                     filteredValue="#{keysPatientsViewBeanInsurancesReport.listaKeysFiltrada}" sortBy="#{keys.applicationDate}" sortOrder="descending" rendered="#{keysPatientsViewBean.visible}">

            <f:facet name="header">
                <p:outputPanel id="panelFechas" style="text-align: left;" styleClass="blog-meta" >  
                    <h:outputLabel value="Claves de Atención" styleClass="titulo-blog"/>
                    <p:outputLabel for="startDate" value="Desde: " style="float: left;" />
                    <p:calendar id="startDate"  value="#{keysPatientsViewBeanInsurancesReport.startDate}"  style="float: left; margin: 0 10px;" locale="es" pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true">
                       <p:ajax event="dateSelect" update="endDate" />
                    </p:calendar>
                    <p:outputLabel for="endDate" value="Hasta: " style="float: left;" />
                    <p:calendar id="endDate" value="#{keysPatientsViewBeanInsurancesReport.endDate}" mindate="#{keysPatientsViewBeanInsurancesReport.startDate}"
                                style="float: left; margin: 0 10px;" locale="es" pattern="dd/MM/yyyy"  navigator="true" showButtonPanel="true" >
                        <f:attribute name="startDate" value="#{keysPatientsViewBeanInsurancesReport.startDate}" />
                    </p:calendar>
                    <h:form>
                            <p:commandButton id="btnFindKey" value="Buscar" update="listaKeys" actionListener="#{keysPatientsViewBeanInsurancesReport.filtrarPorRango}" process="@this" ajax="false">
                    </p:commandButton>
                    </h:form>
                    <p:commandButton id="btnResetKey" actionListener="#{keysPatientsViewBeanInsurancesReport.resetFechas}" value="Restablecer" update="listaKeys" ajax="false">
                    </p:commandButton>   
                    <p:commandButton id="btnExportKey" actionListener="#{keysPatientsViewBeanInsurancesReport.showReportXlsx}" value="Exportar" update="listaKeys" ajax="false" style="float: right; ">
                    </p:commandButton>
                    <br/>
                    <p:outputLabel for="insurancesCreate" value="Aseguradora:  " style="float: left; margin-right: 10px;" />
                    <h:selectOneMenu  id="insurancesCreate" converter="insurancesConverter" value="#{insurancesViewBean.newInsurances}"
                                      required="false" requiredMessage="Debe especificar una Especialidad" style="width: 250px;"
                                      validatorMessage="Aseguradora inválida">
                        <f:selectItem itemLabel="Seleccione un valor" />
                        <f:selectItems  itemValue="#{insurances}" 
                                        var="insurances" itemLabel="#{insurances.name}" value="#{insurancesViewBean.listaInsurances}"/>
                        <p:ajax  ignoreAutoUpdate="true" immediate="true" partialSubmit="true" process="@this"></p:ajax>
                    </h:selectOneMenu>
                </p:outputPanel>
            </f:facet> 
            <p:column id="date" headerText="Fecha" filterMatchMode="contains"
                      filterBy = "#{keysPatientsViewBean.formatDate(keys.applicationDate)}" width="10%">
                <f:facet name="filter">
                    <p:calendar pattern="dd/MM/yyyy" locale="es" onkeyup="PF('keysTable').filter()" navigator="true" showButtonPanel="true"  >
                        <p:ajax event="dateSelect" listener="#{keysPatientsViewBean.handleDateSelect}"/>
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{keys.applicationDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>
            </p:column>
            <p:column id="key" headerText="Clave" filterMatchMode="contains" filterBy = "#{keys.number}" width="20%">  
                <h:outputText value="#{keys.number}" />
            </p:column>
            <p:column id="specialist" headerText="Doctor" 
                      filterMatchMode="contains" filterBy = "#{keys.specialistId.completeName}" width="20%">  
                <h:outputText value="#{keys.specialistId.completeName}" />
            </p:column>

            <p:column id="identityNumberSpecialist" headerText="Cedula" filterMatchMode="contains" 
                      filterBy="#{keys.specialistId.identityNumber}" width="10%">  
                <h:outputText value="#{keys.specialistId.identityNumber}" />
            </p:column>  

            <p:column id="patient" headerText="Paciente" filterMatchMode="contains"
                      filterBy="#{keys.patientsId.completeName}" width="20%">  
                <h:outputText value="#{keys.patientsId.completeName}" />  
            </p:column>

            <p:column id="identityNumberPatient" headerText="Cedula" filterMatchMode="contains"
                      filterBy="#{keys.patientsId.identityNumber}" width="10%">  
                <h:outputText value="#{keys.patientsId.identityNumber}" />
            </p:column>

        </p:dataTable>
    </div>
    <pe:blockUI target="#{componenteViewBean.blockerTarget}"
                widgetVar="blockUIWidget">
        <h:panelGrid columns="2">
            <h:graphicImage value="/recursos/img/loader.gif" height="30"
                            style="margin-right: 12px; vertical-align: middle;" />
            <h:outputText value="Esperando respuesta..."
                          style="white-space: nowrap;" />
        </h:panelGrid>
    </pe:blockUI>

</ui:composition>

   