<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >                 

    <h:form id="form">  
  
    <p:dataTable id="listaAddresses" var="addresses" value="#{addressesViewBean.listaAddresses}" widgetVar="addressesTable"   
            emptyMessage="No cars found with given criteria" filteredValue="#{addressesViewBean.filteredAddresses}">  
  
         <f:facet name="header">  
            <p:outputPanel>  
                <h:outputText value="Buscar campos:" />  
                <p:inputText id="globalFilter" onkeyup="addressesTable.filter()" style="width:150px" />  
            </p:outputPanel>  
        </f:facet>  
  
        <p:column id="address" filterBy="address"   
                headerText="Dirección"  
                filterMatchMode="contains">  
            <h:outputText value="#{addresses.address}" />  
        </p:column>  
  
        <p:column id="city" filterBy="name"  
                  headerText="Ciudad" filterMatchMode="contains">  
            <h:outputText value="#{addresses.cityId.name}" />  
        </p:column>  
  
       <p:column style="width:4%">  
                <p:commandButton id="selectButton" update=":form" oncomplete="PF('addressesDialog').show()" icon="ui-icon-search" title="View">  
                    <f:setPropertyActionListener value="#{addresses}" target="#{addressesViewBean.selectedAddresses}" />  
            </p:commandButton>  
        </p:column>  
        
        <p:column style="width:4%">  
                <p:commandButton id="selectButton" update=":form" oncomplete="PF('addressesDialog').show()" icon="ui-icon-pencil" title="Edit">  
                    <f:setPropertyActionListener value="#{addresses}" target="#{addressesViewBean.selectedAddresses}" />  
            </p:commandButton>  
        </p:column>
        
        <p:column style="width:4%">  
                <p:commandButton id="selectButton" update=":form" oncomplete="PF('addressesDialogDelete').show()" icon="ui-icon-close" title="Delete">  
                    <f:setPropertyActionListener value="#{addresses}" target="#{addressesViewBean.selectedAddresses}" />  
            </p:commandButton>  
        </p:column>
    </p:dataTable>
    
    <p:dialog header="Car Detail" widgetVar="addressesDialog" resizable="false" id="carDlg"  
                showEffect="fade" hideEffect="explode" modal="true">  
  
        
  
    </p:dialog>  
        
    <p:dialog header="Car Detail" widgetVar="addressesDialogDelete" resizable="false" id="carDlg"  
                showEffect="fade" hideEffect="explode" modal="true">  
  
        
  
    </p:dialog>  
    
      
</h:form>  
   
</ui:composition>