<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">                 

    <p:growl id="growl" showDetail="true" life="8000" />
    <div class="order">
        <p:dataTable id="listaClinics" sortBy="#{clinics.addressId.cityId.stateId.nombre}" var="clinics" value="#{clinicsViewBean.listaClinics}" widgetVar="clinicsTable"  
                     emptyMessage="No se encontraron clínicas" paginator="true" paginatorAlwaysVisible="false" scrollable="false" rows="10" rowIndexVar="indice"
                     filteredValue="#{clinicsViewBean.listaClinicsFiltrada}">    
            <f:facet name="header" >  
                <p:outputPanel style="text-align: left;" styleClass="blog-meta">  
                    <h:outputLabel value="Clínicas" styleClass="titulo-blog"/>
                    <p:commandButton id="botonAgregarClinica" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" rendered="#{clinicsViewBean.operationCreate}"

                                     actionListener="#{accionesRequestBean.desplegarDialogoCreate('clinicsDialogNew',true)}" 
                                     value="Agregar" icon="ui-icon-plusthick" style="float: right;width:70px">
                        <f:actionListener binding="#{clinicsRequestBean.prepareNewClinics()}"/> 
                    </p:commandButton> 

                    <h:outputText value="Buscar en todas las columnas: " />  
                    <p:inputText id="globalFilter" onkeyup="PF('clinicsTable').filter()" style="width:180px" /> 
                </p:outputPanel>  
            </f:facet>  

            <p:column id="clinic" width="22%" headerText="Nombre" 
                      filterMatchMode="contains" filterMaxLength="255" filterBy="#{clinics.name}">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('clinicsTable').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z0-9 \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="false"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{clinics.name}" />
            </p:column>

            <p:column filterMaxLength="20" id="rif" width="10%" headerText="RIF"
                      filterBy="#{clinics.rif}" filterMatchMode="contains">
                <f:facet name="filter">
                    <p:inputText maxlength="20" onkeyup="PF('clinicsTable').filter()">
                        <pe:keyFilter regEx="/[a-zA-Z0-9]/i" preventPaste="false"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{clinics.rif}" />
            </p:column>
            <p:column id="city" filterMaxLength="255" width="22%" headerText="Dirección"
                      filterBy="#{clinics.addressId.address}"
                      filterMatchMode="contains">
                <h:outputText value="#{clinics.addressId.address}" />  
            </p:column>
            <p:column id="state" filterMaxLength="255" width="10%" headerText="Estado" 
                      filterMatchMode="contains"
                      filterBy = "#{clinics.addressId.cityId.stateId.nombre}">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('clinicsTable').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="false"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{clinics.addressId.cityId.stateId.nombre}" />  
            </p:column>
            <p:column id="address" filterMaxLength="255" width="11%" headerText="Ciudad/Zona"   
                      filterMatchMode="contains"
                      filterBy = "#{clinics.addressId.cityId.name}">
                <f:facet name="filter">
                    <p:inputText onkeyup="PF('clinicsTable').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="false"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{clinics.addressId.cityId.name}" />  
            </p:column>  
            <p:column id="phone" width="12%" filterMaxLength="20" headerText="Teléfono"
                      filterMatchMode="contains" filterBy= "#{clinics.phoneClinicList}">
                <f:facet name="filter">
                    <p:inputText maxlength="20" onkeyup="PF('clinicsTable').filter()">
                        <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="false"/>
                    </p:inputText>

                </f:facet>
                <div>
                    <ui:repeat var="phonesClinic" value="#{clinics.phoneClinicList}">
                        <h:outputText  value="#{phonesClinic.phone}" /><br />
                    </ui:repeat>
                </div>
            </p:column>
           
            <p:column style="width:12%"> 

                <p:commandButton id="readClinic" update=":form:clinicsDialogView" 
                                 rendered="#{clinicsViewBean.operationRead}"
                                 onstart="PF('statusDialog').show();" 
                                 oncomplete="PF('statusDialog').hide(); PF('clinicsDialogView').show();"
                                 icon="ui-icon-mySearch" title="Consultar"> 
                    <f:setPropertyActionListener value="#{clinics}" target="#{clinicsViewBean.viewClinics}" />  
                </p:commandButton>

                <p:commandButton id="editClinic" onstart="PF('statusDialog').show();" rendered="#{clinicsViewBean.operationUpdate}" 
                                 oncomplete="PF('statusDialog').hide();" title="Editar"
                                 icon="ui-icon-myEdit"
                                 actionListener="#{accionesRequestBean.desplegarDialogoEdit('clinicsDialogEdit',true)}"> 
                    <f:setPropertyActionListener value="#{clinics}" target="#{clinicsViewBean.selectedClinics}" />
                    <f:setPropertyActionListener value="#{clinics}" target="#{clinicsViewBean.beforeEditClinics}" />
                    <f:actionListener binding="#{citiesViewBean.filtrarCities()}"/>  
                </p:commandButton>

                <p:commandButton update=":form:clinicsDialogDelete" id="deleteClinic" rendered="#{clinicsViewBean.operationDelete}"
                                 onstart="PF('statusDialog').show();" 
                                 oncomplete="PF('statusDialog').hide(); PF('clinicsDialogDelete').show();"
                                 icon="ui-icon-myDelete" title="Eliminar">  
                    <f:actionListener binding="#{clinicsViewBean.selectedClinic(clinics,indice)}"/>
                </p:commandButton>
            </p:column>
            <f:facet name="addClinics">  
                <p:commandButton  update="listaClinics" value="Agregar" icon="ui-icon-plusthick" title="Agregar"/> 
            </f:facet> 
        </p:dataTable>
    </div>

    <p:dialog style="width:320px;height:125px;background:white" header="ELIMINACIÓN" widgetVar="clinicsDialogDelete" resizable="false" id="clinicsDialogDelete" showEffect="fade"  modal="true">  
        <p:outputPanel>
            <h:outputLabel style="font-weight:normal"  value="¿Está seguro que desea eliminar la Clínica #{clinicsViewBean.clinicsSelected} ?" />
        </p:outputPanel>
        <br/>
        <p:commandButton widgetVar="botonEliminarClinics" oncomplete="PF('clinicsDialogDelete').hide()" onclick="PF('clinicsTable').clearFilters();" update=":form:listaClinics" process="@this"  value="Sí" title="Eliminar" 
                         actionListener="#{clinicsRequestBean.removeClinics}">

        </p:commandButton>
        <p:commandButton onclick="PF('clinicsDialogDelete').hide()" update="listaClinics" value="No" title="Eliminar" />
    </p:dialog> 


    <p:dialog widgetVar="clinicsDialogNew" resizable="false" id="clinicsDialogNew" header="Registro de Clínica" 
              showEffect="fade" modal="true" closable="false">
        <ui:include src="/web/dialogos/clinicsRegistro.xhtml"/>
        <br/>
        <p:commandButton onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"
                         actionListener="#{clinicsRequestBean.createClinics('clinicsDialogNew', 'form:listaClinics')}"  
                         widgetVar="botonRegistrar"  update=":form:listaClinics"
                         value="Guardar" title="Guardar" style="width:80px" >
        </p:commandButton>

        <p:commandButton onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" 
                         actionListener="#{accionesRequestBean.cerrarDialogoCreate('clinicsDialogNew')}"  
                         value="Salir" title="Salir" process="@this" style="width:80px">
            <p:resetInput target=":form:clinicsDialogNew" />
        </p:commandButton>

    </p:dialog>

    <p:dialog  widgetVar="clinicsDialogEdit" resizable="false" id="clinicsDialogEdit" header="Edición de Clínica"
               showEffect="fade" modal="true" closable="false">
        <ui:include src="/web/dialogos/clinicsEdit.xhtml"/>
        <br/>
        <p:commandButton id="btnSaveEdtiClinic" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();"
                          actionListener="#{clinicsRequestBean.editClinics('clinicsDialogEdit')}" 
                          onclick="PF('clinicsTable').clearFilters();disable(this.id);" process="@this"
                          value="Guardar" title="Guardar" style="width:80px">
        </p:commandButton>

        <p:commandButton id="btnLeaveEditClinic" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" 
                          actionListener="#{accionesRequestBean.cerrarDialogoEdit('clinicsDialogEdit')}" 
                          onclick="disable(this.id);"
                          value="Salir" title="Salir" resetValues="true" process="@this" style="width:80px" >
            <p:resetInput target=":form:clinicsDialogEdit" />
        </p:commandButton> 
    </p:dialog>

    <p:dialog  widgetVar="clinicsDialogView" resizable="false" id="clinicsDialogView" header="Consulta de Clínicas"  
               showEffect="fade" modal="true" closable="false" >  
        <ui:include src="/web/dialogos/clinicsDetails.xhtml" />
        <br/>
        <p:commandButton  id="btnLeaveDetailsClinic" onstart="PF('statusDialog').show();"
                          oncomplete="PF('statusDialog').hide();" onclick="disable(this.id);"
                         actionListener="#{accionesRequestBean.cerrarDialogoView('clinicsDialogView')}"  
                          value="Salir" title="Salir" style="width:80px" process="@this"> 
            <p:resetInput target=":form:clinicsDialogView" />
        </p:commandButton>
    </p:dialog>

    <pe:blockUI id="createBlocker" target="clinicsDialogNew"
                widgetVar="blockUIWidgetCreate">
        <h:panelGrid columns="2">
            <h:graphicImage value="/recursos/img/loader.gif" height="30"
                            style="margin-right: 12px; vertical-align: middle;" />
            <h:outputText value="Esperando respuesta..."
                          style="white-space: nowrap;" />
        </h:panelGrid>
    </pe:blockUI>

    <pe:blockUI target="#{componenteViewBean.blockerTarget}"
                widgetVar="blockUIWidget">
        <h:panelGrid columns="2">
            <h:graphicImage value="/recursos/img/loader.gif" height="30"
                            style="margin-right: 12px; vertical-align: middle;" />
            <h:outputText value="Esperando respuesta..."
                          style="white-space: nowrap;" />
        </h:panelGrid>
    </pe:blockUI>

    <script type="text/javascript">
        $(document).ready(function () {
            $("form").keypress(function (e) {
                if (e.which == 13) {
                    return false;
                }
            });
        });
    </script>

    <script  type="text/javascript">
        jQuery(function ($) {
            $("input.data:text").mask("(9999)(999-99-99)");
        });
        
        var idButton;

        function disable(idBtn) {
            idButton = idBtn;
            document.getElementById(idBtn).disabled = true;
        }

        function enabled() {
            document.getElementById(idButton).disabled = false;
        }
    </script>

</ui:composition>