<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div class="order order2" >
        <br/>

        <!-- Messages  -->
        <p:growl id="messageReimbursement" showDetail="true" life="3000" />

        <!-- Calendar Spanish -->
        <h:outputScript library="js" name="calendar_es.js" />

        <!-- Table Reimbursement -->
        <p:dataTable  var="reembolso" value="#{ReimbursementViewBean.reimbursementList}" 
                      id="tableReimbursement"  widgetVar="reimbTable2" paginatorAlwaysVisible="false"
                      rows="10" paginator="true" rowKey="#{reembolso.numberRequest}" style="margin-bottom: 50px; "
                      selection="#{ReimbursementViewBean.reimbursementSeleccionadoList}"                
                      emptyMessage="NO SE ENCONTRARON REGISTROS" rowSelectMode="checkbox">

            <f:facet name="header" class="sin-border">
                <p:outputPanel style="text-align: left;" styleClass="blog-meta blog-meta2" >  
                    <br/>
                    <h:outputLabel value="Gestión de reembolso" styleClass="titulo-blog"/> 
                    <br/>

                    <h:outputLabel value="Estados de solicitud" styleClass="titulo-radio" />    
                    <p:selectOneRadio value="#{ReimbursementViewBean.statusReimbursmentId}" 
                                      styleClass="sin-border" style="width:auto; border: transparent">
                        <f:selectItems  var="reimbStatus" itemLabel="#{reimbStatus.name}" 
                                        itemValue="#{reimbStatus.id}" value="#{ReimbursementViewBean.
                                                     findAllStatusReimbursement()}"/>
                        <p:ajax  listener="#{ReimbursementViewBean.reimbursementRequestsRejected()}" 
                                 partialSubmit="true" update="@this"  />
                        <p:ajax event="click" update="tableReimbursement" onstart="PF('statusDialog').show()" 
                                onsuccess="PF('statusDialog').hide()"  />
                    </p:selectOneRadio>                    
                </p:outputPanel>
            </f:facet> 

            <!-- Event Enabled and Disabled Buttons (Approve - Reject) -->
            <p:ajax event="rowSelectCheckbox" listener="#{ReimbursementViewBean.selectRow()}" />
            <p:ajax event="rowUnselectCheckbox" listener="#{ReimbursementViewBean.unSelectRow()}" />
            <p:ajax event="toggleSelect" listener="#{ReimbursementViewBean.toggleSelect()}"  partialSubmit="true" />

            <!-- Multiple Selections -->
            <p:column  rendered="#{ReimbursementViewBean.columnCheck}" selectionMode="multiple" 
                       style="width: 2%; text-align: center">
            </p:column>

            <!-- Order Number -->
            <p:column headerText="Nro. de solicitud" filterMatchMode="contains" style="width: 7%"
                      filterBy="#{reembolso.numberRequest}" >
                <f:facet name="filter">                     
                    <p:inputText  onkeypress="cancelEventDialog(event);" onkeyup="PF('reimbTable2').filter()" 
                                  styleClass="validateEnter" maxlength="50">
                        <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{reembolso.numberRequest}" />
            </p:column>

            <!-- Order Date -->
            <p:column headerText="Fecha solicitud" style="width: 6%" filterMatchMode="contains"  
                      filterBy="#{reembolso.date_request}" filterMaxLength="10" 
                      rendered="#{ReimbursementViewBean.columnDateRequest}">
                <f:facet name="filter">
                    <p:calendar id="txtDateRequest"  maxlength="10" timeZone="America/Caracas" 
                                pattern="dd/MM/yyyy" maxdate="#{ReimbursementViewBean.currentDate}" 
                                readonlyInput="true"
                                mindate="#{ReimbursementViewBean.minDate}" styleClass="validateReturn" 
                                onkeyup="PF('reimbTable2').filter()" locale="es" navigator="true" showButtonPanel="true">
                        <p:ajax event="dateSelect" oncomplete="PF('reimbTable2').filter()"  update=":form:tableReimbursement" />    
                        
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{reembolso.date_request}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>    
            </p:column>

            <!-- Order DateTransfer -->
            <p:column headerText="Fecha de pago" style="width: 6%" filterMatchMode="contains" 
                      filterBy="#{reembolso.date_transfer}" filterMaxLength="10" 
                      rendered="#{ReimbursementViewBean.columnDateTransfer}">

                <f:facet name="filter">
                    <p:calendar id="txtDateTransfer" maxlength="10" maxdate="#{ReimbursementViewBean.currentDate}" 
                                mindate="#{ReimbursementViewBean.minDate}" styleClass="validateReturn"  
                                timeZone="America/Caracas" onkeyup="PF('reimbTable2').filter()" pattern="dd/MM/yyyy"  
                                locale="es" navigator="true" showButtonPanel="true" 
                                readonlyInput="true"
                                >
                        <p:ajax event="dateSelect" oncomplete="PF('reimbTable2').filter()" update=":form:tableReimbursement" />
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{reembolso.date_transfer}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>    
            </p:column>

            <!-- Identity Holder -->
            <p:column headerText="Cédula titular" style="width: 6%"  filterBy="#{reembolso.indentityNumberTitular}" 
                      filterMatchMode="contains">
                <f:facet name="filter">                     
                    <p:inputText onkeypress="cancelEventDialog(event);" styleClass="validateEnter" maxlength="11"
                                 onkeyup="PF('reimbTable2').filter()" >
                        <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{reembolso.indentityNumberTitular}" />
            </p:column>

            <!-- CompleteName Holder -->
            <p:column headerText="Nombres y apellidos del titular" style="width: 12%"  filterMatchMode="contains" 
                      filterBy="#{reembolso.completeNameTitular}">
                <f:facet name="filter">                     
                    <p:inputText onkeypress="cancelEventDialog(event);" styleClass="validateEnter" 
                                 onkeyup="PF('reimbTable2').filter()" maxlength="255">
                        <pe:keyFilter regEx="/[a-z \'ñÑáÁéÉíÍóÓúÚüÜ]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>

                <h:outputText value="#{reembolso.completeNameTitular}" /> 
            </p:column>

            <!-- Beneficiary -->
            <p:column headerText="Nombres y apellidos del beneficiario" style="width: 12%" filterMatchMode="contains" 
                      filterBy="#{reembolso.completeNameBeneficiary}">
                <f:facet name="filter">                     
                    <p:inputText onkeypress="cancelEventDialog(event);" styleClass="validateEnter" 
                                 onkeyup="PF('reimbTable2').filter()" 
                                 maxlength="255">
                        <pe:keyFilter regEx="/[a-z \'ñÑáÁéÉíÍóÓúÚüÜ]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{reembolso.completeNameBeneficiary}" />
            </p:column>

            <!-- Company -->
            <p:column headerText="Empresa contratante" style="width: 6%" filterMatchMode="contains" 
                      filterBy="#{reembolso.company}">
                <f:facet name="filter">                     
                    <p:inputText onkeypress="cancelEventDialog(event);" styleClass="validateEnter"  
                                 onkeyup="PF('reimbTable2').filter()" maxlength="100">
                        <pe:keyFilter regEx="/[a-z0-9 ñÑáÁéÉíÍóÓúÚüÜ]/i" preventPaste="true" />
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{reembolso.company}" />
            </p:column>

            <!-- Observations -->
            <p:column headerText="Observación" style="width: 7%"  rendered="#{ReimbursementViewBean.columObservations}">                
                <h:outputText value="#{reembolso.concept}" />
            </p:column>
            <!-- CommandButtons -->
            <p:column style="width: 8%" disabledSelection="true" >
                <!-- History -->
                <p:commandButton  icon="ui-icon-myRegister" title="Historial"                        
                                  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"                                  
                                  id="searchBinnacle"
                                  actionListener="#{accionesRequestBean.desplegarDialogoView('BinnacleDetailsDialog')}">   
                    <f:setPropertyActionListener value="#{reembolso}" target="#{ReimbursementViewBean.reimbursementSelected}" /> 
                </p:commandButton>
                <!-- Views PDF  -->
                <p:commandButton id="btnViewsRequirement" 
                                 actionListener="#{ReimbursementViewBean.downloadRequirementByReimbursement(reembolso)}" 
                                 icon="ui-icon-myPdf" title="Descargar Recaudos" process="@this" ajax="false">    
                    <p:fileDownload value="#{ReimbursementViewBean.fileRequirement}" />
                </p:commandButton>
                <!-- Update Financial Data -->
                <p:commandButton  title="Datos de pago" 
                                  actionListener="#{reimbursementRequestBean.viewDialogDataFinnancial('financieroDialog',reembolso)}"
                                  id="btnFinnancialData" icon="ui-icon-financialData" update=":form:panelFinnancialData" 
                                  rendered="#{ReimbursementViewBean.btnVisilityDataUpdateFinnacial}"
                                  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()">
                    <f:setPropertyActionListener value="#{reembolso}" target="#{ReimbursementViewBean.reimbursementSelected}"/> 
                    <p:ajax event="click" listener="#{ReimbursementViewBean.chargeAmountPayment(reembolso)}"/>
                </p:commandButton>
                <!-- Read Finnancial Data -->
                <p:commandButton  title="Datos de pago" id="btnFinnancialDataRead" icon="ui-icon-financialData" 
                                  actionListener="#{accionesRequestBean.desplegarDialogoView('financieroDialogRead')}"                                  
                                  rendered="#{ReimbursementViewBean.btnVisilityDataReadFinnacial}"
                                  onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()">

                    <f:setPropertyActionListener value="#{reembolso}" target="#{ReimbursementViewBean.reimbursementSelected}"/> 

                </p:commandButton>           
            </p:column>
        </p:dataTable>
        <br></br>
         <br></br>

        <div style="width: 100%; margin-top: -50px;margin-bottom: 10px">
            <p:commandButton id="btnApprove" value="Aprobar"  process="@this" 
                             disabled="#{ReimbursementViewBean.btnVisibleAprobar}"
                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                             actionListener="#{reimbursementRequestBean.approveReimbursment()}">
                <p:confirm header="Confirmación" message="¿Seguro que desea aprobar la(s) solicitud(es)?" icon="ui-icon-alert" />
            </p:commandButton>
            <p:commandButton id="btnReject" value="Rechazar" process="@this"
                             disabled="#{ReimbursementViewBean.btnVisibleRechazar}"
                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()">
                <p:ajax event="click" listener="#{accionesRequestBean.desplegarDialogoView('reimbursementRejectD')}" 
                        update=":form:reimbursementRejectD" />
            </p:commandButton>

            <p:commandButton id="btnExport" value="Exportar" disabled="#{ReimbursementViewBean.btnExport}" 
                             actionListener="#{ReimbursementViewBean.exportRowsReimbursement()}" ajax="false" />

        </div>

        <!-- History Dialog -->
        <p:dialog width="50%" widgetVar="BinnacleDetailsDialog" resizable="false"
                  id="BinnacleDetailsDialog" modal="true" showEffect="fade" closable="false"
                 header="Historial de solicitud nro. #{ReimbursementViewBean.reimbursementSelected.numberRequest}" >

            <ui:include src="/web/dialogos/reimbursementBinnacle.xhtml" />
            <br/>

            <!-- Buttons Exit -->
            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                             actionListener="#{accionesRequestBean.cerrarDialogoView2('BinnacleDetailsDialog')}" style="width:76px;" 
                             value="Salir"  process="@this" />           
        </p:dialog>

        <!-- Financial Data -->
        <p:dialog width="50%" height="30%" widgetVar="financieroDialog" resizable="false" 
                  id="financieroDialog" modal="true"
                  showEffect="fade" closable="false" header="Datos de Pago" position="center">

            <ui:include src="/web/dialogos/reimbursementFinnancialData.xhtml" />
            <br />
            
            <!-- CommandButtons -->
            <p:commandButton id="btnUpdateDataFinnancial" disabled="#{ReimbursementViewBean.btnDataFinancial}" 
                             styleClass="btnSave" value="Guardar" process="@this"
                             actionListener="#{reimbursementRequestBean.reimbursementUpdateDataFinnancial()}" oncomplete="enabled();">
                 <p:confirm header="Confirmación" message="¿Seguro que desea  actualizar datos de pago?" icon="ui-icon-alert" />
            </p:commandButton>

            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                             actionListener="#{accionesRequestBean.cerrarDialogoView2('financieroDialog')}" 
                             style="width:76px;" value="Salir" process="@this">   
                <p:ajax listener="#{ReimbursementViewBean.resetDataTableReimbursement()}"/> 
            </p:commandButton>

        </p:dialog>  

        <!-- Data Reject Observations -->
        <p:dialog width="50%" height="30%" widgetVar="reimbursementRejectD"
                  resizable="false" id="reimbursementRejectD" modal="true"
                  closable="false" 
                  header="Motivo de rechazo para la(s) solicitud(es) seleccionada(s)">

            <ui:include src="/web/dialogos/reimbursementRejectDialog.xhtml" />

            <p:commandButton id="btnRejectData" disabled="#{ReimbursementViewBean.btnSaveReject}" styleClass="btnRejectData" 
                              value="Guardar" process="@this"  onstart="PF('statusDialog').show()"
                              onsuccess="PF('statusDialog').hide();" 
                             actionListener="#{reimbursementRequestBean.rejectReimbursment()}">
                 <p:confirm header="Confirmación" message="¿Seguro que desea rechazar la(s) solicitud(es)?" icon="ui-icon-alert" />
            </p:commandButton>

            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                             actionListener="#{reimbursementRequestBean.exitDialogRejectData('reimbursementRejectD')}"
                             style="width:76px;" value="Salir"  process="@this" /> 
        </p:dialog>

        <!-- Finnancial Data Consult -->
        <p:dialog width="50%" height="30%" widgetVar="financieroDialogRead" 
                  resizable="false" id="financieroDialogRead" modal="true"
                  showEffect="fade" closable="false" header="Datos de Pago" position="center">

            <ui:include src="/web/dialogos/reimbursementFinnancialConsult.xhtml" />
            <br />

            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                             actionListener="#{accionesRequestBean.cerrarDialogoView('financieroDialogRead')}" 
                             style="width:76px;" value="Salir"  process="@this">               
            </p:commandButton>

        </p:dialog> 


        <!--QUITAR LUEGO-->
        <p:dialog style="background-color: transparent !important" id="statusDialog" 
                  widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" 
                  showHeader="false">
            <img src="../recursos/img/loading.gif" style="max-width: 40px" alt=""/>                         
        </p:dialog>

        <!-- Confirm Dialog -->
        <p:confirmDialog id="confirmDialogId" widgetVar="groupConfirm" style="background-color: #ffffff;"
                         global="true" closable="true">
            <p:commandButton value="Sí" type="button" 
                             oncomplete="PF('groupConfirm').hide()" 
                             styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="submit" process="@this" 
                             styleClass="ui-confirmdialog-no" icon="ui-icon-close" 
                             onclick="PF('groupConfirm').hide()"
                             actionListener="#{reimbursementRequestBean.exitVerifyConfirmDialog()}" />
        </p:confirmDialog>
    </div>

    <script language="javascript">

        var px = false;
        function clearDate() {
            document.getElementById("form:tableReimbursement:txtDateRequest_input").value = "";
        }

        // Event
        var idButton;
        function disable2(idBtn) {
            idButton = idBtn;
            PF('statusDialog').show()
            document.getElementById(idBtn).disabled = true;
        }

        function disable(idBtn) {
            idButton = idBtn;
            document.getElementById(idBtn).disabled = true;
        }

        function enabled() {
            document.getElementById(idButton).disabled = false;
        }

        function cancelEventDialog(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        }

        $(document).keydown(function (tecla) {
            var auxEnter = $(".validateReturn>.ui-inputfield");
            if (tecla.keyCode == 8) {
                if (auxEnter.val().length > 0) {
                    if($(".validateReturn>.ui-inputfield").is(":focus")){
                        auxEnter.val("");
                    }
                    
                }
            }
        });



        $(document).mouseover(function () {
            if (px === false) {
                if (typeof $(".acountNumber2").val() !== "undefined") {
                    if ($(".acountNumber2").val().length > 15) {
                        $(".btnSave").removeClass("btn-disabled");
                        pass = true;
                    }
                }
           }else{
                
                
                
                if (!($(".acountNumber2").val().length > 15)) {
                    $(".btnSave").addClass("btn-disabled");
                    pass = false;
                      }
                        
              }                
        });
        
            
           
    </script>    

</ui:composition>

