<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!-- List Reports Rimbursement By Status Reject -->


    <!-- General Message -->
    <p:growl id="growReportReimbursement" widgetVar="growReportReimbursement" showDetail="true" life="6500" />

    <!-- Import Script Calendar Spanish -->
    <h:outputScript library="js" name="calendar_es.js" />


    <div class="order align-body-section-1300 width-1300">  
        <br />
        <!-- HEADER REPORT REIMBURSMENT -->
        <p:outputPanel  styleClass="blog-meta width-1300">
            <h:outputLabel value="Consulta de solicitudes de reembolso en estado abonado" styleClass="titulo-blog" style="padding-bottom: 5px !important;" />
        </p:outputPanel>
        
        
        <p:panelGrid style=" margin-top: 30px;" styleClass="width-1300">

            <p:row>
                <p:column style="width: 5%;">
                    <div align="left">
                        <div align="right" style="text-align: right;font-weight: bold;">
                            <h:outputText value="Desde:" />                       
                        </div>                           
                    </div>                           
                </p:column>
                <p:column style="width: 42%;">
                    <p:calendar id="startDate" maxdate="#{reimbursementReportViewBean.maxDate}" value="#{reimbursementReportViewBean.startDate}"
                                style="float: left; width: 100%" locale="es" pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true"
                                maxlength="10" >
                        <p:ajax event="dateSelect" listener="#{reimbursementReportViewBean.activetxtDateEnd()}" />
                    </p:calendar>
                </p:column>

                <p:column style="width: 5%;">
                    <div align="left">
                        <div align="right" style="text-align: right;font-weight: bold;">
                            <h:outputText value="Hasta:" />                       
                        </div>            
                    </div>   
                </p:column>
                <p:column style="width: 45%;">
                    <p:calendar id="endDate" maxdate="#{reimbursementReportViewBean.maxDate}" 
                                value="#{reimbursementReportViewBean.endDate}" 
                                mindate="#{reimbursementReportViewBean.startDate}"
                                style="float: left; width: 100%;" locale="es" 
                                pattern="dd/MM/yyyy"  navigator="true" disabled="#{reimbursementReportViewBean.btnActiveEndDate}"
                                showButtonPanel="true" maxlength="10" >
                        <f:attribute name="startDate" value="#{reimbursementReportViewBean.startDate}" />
                        <p:ajax event="dateSelect" listener="#{reimbursementReportViewBean.activecmbInsurances()}" />
                    </p:calendar>                                           
                </p:column>
            </p:row>

            <p:row> 
                <p:column colspan="4">
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4" style="text-align: right;font-weight: bold;">
                                <h:outputText value="Aseguradora: " />
                            </div>
                            <div class="ui-grid-col-8">
                                <h:selectOneMenu id="cmbInsurance" styleClass="TextCapitalLetter" value="#{reimbursementReportViewBean.insurancesSelected}" disabled="#{reimbursementReportViewBean.btnActiveInsurances}" style="text-transform: uppercase;">
                                    <f:selectItem itemLabel="Seleccionar aseguradora" itemValue="0" />
                                    <f:selectItems var="insurances" itemLabel="#{insurances.name}"  itemValue="#{insurances.id}" value="#{reimbursementReportViewBean.insurancesList}" />                                   
                                    <p:ajax event="change" listener="#{reimbursementReportViewBean.onChangeInsurance('ReimbursementByStatusSubscriber')}" ></p:ajax>
                                </h:selectOneMenu>
                            </div>
                        </div>
                    </div>   
                </p:column>                
            </p:row>
        </p:panelGrid>
        <br />

        <!-- BUTTONS -->
        <div style="width: 100%;">

            <p:commandButton id="btnFindKey" value="Buscar" style="width: 110px;" 
                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                             actionListener="#{reimbursementReportViewBean.searchReimbursementReportsbystatusSubcriber()}"
                             disabled="#{reimbursementReportViewBean.btnSearchData}" >

            </p:commandButton>
            <span style="width: 40px;"></span>
            <p:commandButton id="btnResetKey" update="form:btnSendMail" value="Restablecer" style="width: 110px;"
                             disabled="#{reimbursementReportViewBean.btnRestore}">
                <p:ajax listener="#{reimbursementReportViewBean.cleanAndDate()}" />
            </p:commandButton>
            <span style="width: 40px;"></span>
            <p:commandButton id="btnExportAuditKeys"  value="Exportar" style="width: 110px;"
                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                             actionListener="#{reimbursementReportViewBean.sendReportXLSSubscriber}"
                             disabled="#{reimbursementReportViewBean.btnExportData}" ajax="false">               
            </p:commandButton> 

            <p:commandButton id="btnSendMail"  value="Enviar Correo" style="width: 110px;"
                             actionListener="#{reimbursementReportViewBean.generatePaymentReport()}"
                             disabled="#{reimbursementReportViewBean.btnExportData}"  >               
            </p:commandButton> 
        </div>        
        <!-- END HEADER REPORT REIMBURSEMENT -->

        <!-- CONTENT REPORT REIMBURSEMENT -->
        <p:dataTable id="tableReimbursementReport" var="reimbursementReport" paginatorAlwaysVisible="false" rows="10" paginator="true" 
                     sortBy="#{reimbursementReport.date_transfer}" sortOrder="descending" 
                     value="#{reimbursementReportViewBean.reimbursermentReportList}" emptyMessage="No se encontraron registros">

            <p:column headerText="Nombre(s) y apellido(s)" style="width: 16%">
                <h:outputText value="#{reimbursementReport.patientsId.completeName}" />
            </p:column>

            <p:column headerText="Cédula de identidad" style="width: 6%">
                <h:outputText value="#{reimbursementReport.patientsId.identityNumber}" />
            </p:column>

            <p:column headerText="Nro. de factura" style="width: 15%">
                <h:outputText value="#{reimbursementReport.invoice_number}" />
            </p:column>

            <p:column headerText="Monto neto a pagar" style="width: 15%">
                <h:outputText value="#{reimbursementReport.amount}" >
                    <f:convertNumber minFractionDigits="2" /> 
                </h:outputText>
            </p:column>

            <p:column headerText="Banco" style="width: 8%">
                <h:outputText value="#{reimbursementReport.banksPatientsId.bankId.name}" />
            </p:column>

            <p:column headerText="Número de cuenta" style="width: 11%">
                <h:outputText value="#{reimbursementReport.banksPatientsId.accountNumber}" />
            </p:column>

            <p:column headerText="Fecha de pago" style="width: 6%">
                <h:outputText value="#{reimbursementReport.date_transfer}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>    
            </p:column>

            <p:column headerText="Nro. de transferencia" style="width: 11%">
                <h:outputText value="#{reimbursementReport.number_transfer}"  />
            </p:column>

            <p:column headerText="Nombre plan" style="width: 9%">
                <h:outputText value="#{reimbursementReport.plansId.name}" />
            </p:column>

        </p:dataTable>
        <!-- END CONTENT REPORT REIMBURSEMENT -->
    </div>
    <!-- Status Dialog -->

</ui:composition>
