<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <!-- Show Message  -->
    
    <p:growl id="growReportStatus" widgetVar="growl" showDetail="true" life="8000"/>
    <!-- Library Calendar Spanish -->
    <h:outputScript library="js" name="calendar_es.js" />

    <div class="order">

        <!-- 
        * /////////////////////////////////////////////////////////////////////
     
        * /////////////////////////////////////////////////////////////////////
        -->
        <p:dataTable id="reportEstatusAnalysisKeysTable" var="reportEstatusAnalysisKeys" 
                     widgetVar="keysInvoicesTransferW" paginator="true" 
                     value="#{reportEstatusAnalysisKeysViewBean.listByFilter}" rows="10" 
                     paginatorAlwaysVisible="false" sortBy="#{reportEstatusAnalysisKeys.idPaymentReport}"
                     scrollable="false"
                     emptyMessage="NO SE ENCONTRARON REGISTROS">
            
          <p:ajax event="page" listener="#{reportEstatusAnalysisKeysViewBean.update()}" />
            
         <!--   <p:ajax event="onpage" />-->
            
            <f:facet name="header">
             
                
                <!-- Radio Buttons Status -->
                <p:outputPanel style="text-align: left;" styleClass="blog-meta" >
                    <br/>
                    <h:outputLabel value="Estatus de Reporte" style="padding-bottom: 10px;" styleClass="titulo-blog"/>
                </p:outputPanel>
                    
                    <br/>
                    
                      <table >

                    <tr>
                        <td> <h:outputLabel  value="Desde:"  style="float: left;" />  </td>
                        <td> <p:calendar id="startDate"
                                         mindate="#{reportEstatusAnalysisKeysViewBean.getMinDateReportStatus()}"
                                       maxdate="#{reportEstatusAnalysisKeysViewBean.maxDate()}"
                                         value="#{reportEstatusAnalysisKeysViewBean.startDate}"  style="float: left; width: 100%"
                                         locale="es" pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true" readonlyInput="true">
                            <p:ajax event="dateSelect" listener="#{reportEstatusAnalysisKeysViewBean.selectDateConsultKeys()}" />
                        </p:calendar> </td>

                        <td>  <h:outputLabel value="Hasta:" style="float: left;"  />   </td>
                        <td>   <p:calendar id="endDate"
                                           value="#{reportEstatusAnalysisKeysViewBean.endDate}"
                                           mindate="#{reportEstatusAnalysisKeysViewBean.startDate}" 
                                           maxdate="#{reportEstatusAnalysisKeysViewBean.maxDate()}"
                                           disabled="#{reportEstatusAnalysisKeysViewBean.inputDataEnd}"
                                           style="float: left; width: 100%;" locale="es"
                                           pattern="dd/MM/yyyy"  navigator="true"
                                           showButtonPanel="true"  readonlyInput="true">
                            <!--<f:attribute name="startDate" value="{reportEstatusAnalysisKeysViewBean.startDate}" />-->

                            <p:ajax event="dateSelect" listener="#{reportEstatusAnalysisKeysViewBean.selectDateEndConsultKeys()}" />
                        </p:calendar>
                            
                            
                            
                        </td>
                    </tr>
                                              <tr>
                                                 

                          <td> 
                               
                              <h:outputLabel  id="numberKey" value="Clave:" style="float: left;"  />   </td>
                          
                <td>
                    
                    <p:inputText id="key" value="#{reportEstatusAnalysisKeysViewBean.key}" maxlength="30">
                        <pe:keyFilter regEx="/[0-9]/i" preventPaste="false"/>
                        <f:validateLength maximum="30"/>
                      
                        <p:ajax event="keyup" listener="#{reportEstatusAnalysisKeysViewBean.validateActivateButtonSearch}"  />
                        <p:ajax event="keydown" listener="#{reportEstatusAnalysisKeysViewBean.validateActivateButtonSearch}" />

                    </p:inputText>
                   
                   </td>
                          
                           <td>  <h:outputLabel id="queryKeysPatients"  value="Cédula o nombre del especialista:" style="float: left;"  />   </td>
                          
                   <td> <p:inputText id="specialist"  value="#{reportEstatusAnalysisKeysViewBean.specialist}" maxlength="255">
                        <pe:keyFilter regEx="/[a-z0-9 ñÑáÁéÉíÍóÓúÚüÜ]/i" preventPaste="false" />
                        <f:validateLength maximum="255"/>
                      
                        <p:ajax event="keyup" listener="#{reportEstatusAnalysisKeysViewBean.validateActivateButtonSearch}"  />
                        <p:ajax event="keydown" listener="#{reportEstatusAnalysisKeysViewBean.validateActivateButtonSearch}" />

                    </p:inputText></td>
                          
                          </tr>

                </table>
                         <br/>

                <p:commandButton id="btnFindKey" value="Buscar" style="width: 110px;"
                                 actionListener="#{reportEstatusAnalysisKeysViewBean.getDatabyFilter()}"
                                 disabled="#{reportEstatusAnalysisKeysViewBean.btnBuscar}" >


                </p:commandButton>
                         <p:commandButton id="btnResetKey" value="Restablecer" style="width: 110px;"  disabled="#{reportEstatusAnalysisKeysViewBean.btnReset}" >
                    
                    <p:ajax listener="#{reportEstatusAnalysisKeysViewBean.cleanAndDate()}" />


                </p:commandButton>

                                       

            </f:facet>
            
             <p:column  headerText="Especialista" style="width: 12%;padding-top: 25px"
                       filterBy="#{reportEstatusAnalysisKeys.specialist}" filterMatchMode="contains"
                       rendered="#{reportEstatusAnalysisKeysViewBean.columnVisibilitySpecialist}">
                <f:facet name="filter">
                   
                    <p:inputText  maxlength="255" onkeyup="PF('keysInvoicesTransferW').filter()" id="prueba"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter" value="#{reportEstatusAnalysisKeysViewBean.nameSpecislits}"
                                  disabled="#{reportEstatusAnalysisKeysViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/^[a-zA-Z., \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                        <p:ajax update=":form:reportEstatusAnalysisKeysTable" />
                    </p:inputText>
                </f:facet>
                 <h:outputText value="#{reportEstatusAnalysisKeys.specialist}" />
            </p:column>
            
              <p:column headerText="Nro Reporte de Tratamiento" style="width: 20%"
                        filterBy="#{reportEstatusAnalysisKeys.numReportTreatmentS}" filterMatchMode="contains">
                <f:facet name="filter">
                    <p:inputText  maxlength="30" onkeyup="PF('keysInvoicesTransferW').filter()" value="#{reportEstatusAnalysisKeysViewBean.numReportTreatmentS}"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{reportEstatusAnalysisKeysViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>                
                  <h:outputText value="#{reportEstatusAnalysisKeys.numReportTreatmentS}" />
            </p:column>
            
             <p:column headerText="Nro Reporte de Pago" style="width: 15%"
                       filterBy="#{reportEstatusAnalysisKeys.numPaymentReport}" filterMatchMode="contains">
                <f:facet name="filter">
                    <p:inputText  maxlength="30" onkeyup="PF('keysInvoicesTransferW').filter()" value="#{reportEstatusAnalysisKeysViewBean.numPaymentReport}"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{reportEstatusAnalysisKeysViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>                
                 <h:outputText value="#{reportEstatusAnalysisKeys.numPaymentReport}" />
            </p:column>
              
            <p:column id="keyColum" headerText="Clave" style="width: 15%;padding-top: 25px"
                      filterBy="#{reportEstatusAnalysisKeys.numKey}" filterMatchMode="contains"
                      rendered="#{reportEstatusAnalysisKeysViewBean.columnVisibilityKeys}"
                      >
                <f:facet name="filter">
                  
                    <p:inputText  maxlength="30" onkeyup="PF('keysInvoicesTransferW').filter()" value="#{reportEstatusAnalysisKeysViewBean.numKey}"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{reportEstatusAnalysisKeysViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{reportEstatusAnalysisKeys.numKey}" />
            </p:column>
         
            <p:column headerText="Tratamiento" style="width: 18%;padding-top: 25px"
                      filterBy="#{reportEstatusAnalysisKeys.treatmentName}" filterMatchMode="contains">
                <f:facet name="filter">
                    
                    <p:inputText  maxlength="255" onkeyup="PF('keysInvoicesTransferW').filter()" value="#{reportEstatusAnalysisKeysViewBean.treatmentName}"
                                  onkeypress="cancelEventDialog(event);" style=""
                                  styleClass="validateEnter"
                                  disabled="#{reportEstatusAnalysisKeysViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/^[a-zA-Z., \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{reportEstatusAnalysisKeys.treatmentName}" />
            </p:column>
            
            <p:column headerText="Diente" style="width: 8%;">
                
                       
                        
                <h:outputText value="#{reportEstatusAnalysisKeys.numTooth}" />
            </p:column>
          
              
            
                    <p:column headerText="Situación" id="columnStatus" style="width: 12%;padding-top: 25px" 
                     
                              filterBy="#{reportEstatusAnalysisKeys.statusName}" filterMatchMode="contains"> 
                           
                <f:facet name="filter">
                    
                    <p:inputText  maxlength="255" onkeyup="PF('keysInvoicesTransferW').filter()" value="#{reportEstatusAnalysisKeysViewBean.statusName}"
                                  onkeypress="cancelEventDialog(event);" styleClass="validateEnter"
                                  disabled="#{reportEstatusAnalysisKeysViewBean.columnFilterActive}">
                        <pe:keyFilter regEx="/^[a-zA-Z \ 'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                        <h:outputText value="#{reportEstatusAnalysisKeys.statusName}" />
            </p:column>
           
            <p:column headerText="Detalle"  style="width: 10%">
                <!-- Buttons keys confirm data -->
                <p:commandButton  icon="ui-icon-mySearch" title="Reporte de Tratamiento"                        
                                ajax="false"
                                 id="btnReportTreatment"
                             actionListener="#{reportEstatusAnalysisKeysViewBean.exportPDFTreatmentReport(reportEstatusAnalysisKeys)}" class="ui-button ui-widget ui-statedefault ui-corner-all
                         ui-button-icon-only searchButton"
                                style="margin-bottom: 10px; margin-top: 10px;
                                background-color: rgb(65,203,4);border-color: rgb(65,203,4)"
                                rendered="#{reportEstatusAnalysisKeys.btnVisibilityReportTreatment}">     
                      

                </p:commandButton>
                <!-- Buttons keys invoices  -->    
                <p:commandButton  icon="ui-icon-mySearch" title="Reporte de Pago"                                    
                                  id="btnReportPaymet"
                                   ajax="false"
                             actionListener="#{reportEstatusAnalysisKeysViewBean.exportPDFPaymentReport(reportEstatusAnalysisKeys)}" 
                             rendered="#{reportEstatusAnalysisKeys.btnVisibilityPaymentReport}"
                             >   
                     
                </p:commandButton>  
               
                <h:outputText id="btnEnableDetail"  value="-" 
                               rendered="#{reportEstatusAnalysisKeys.btnEnableDetail}" />
            </p:column>
                    
        </p:dataTable>
   

       
    </div>    
    <script type="text/javascript">

        $(document).mouseover(function () {
            validateInputTextInvoices();
            secondDialog();
        });


        $(document).keydown(function (tecla) {
            var auxEnter = null;
            console.log("pruebo");
            if(typeof  $(".validateReturn>.ui-inputfield") !== 'undefined'){
                auxEnter = $(".validateReturn>.ui-inputfield");
            }
            if (typeof auxEnter.val() !== 'undefined' &amp;&amp; tecla.keyCode == 8) {
                if (auxEnter.val().length > 0) {
                    auxEnter.val("");
                }
            }

        });
    </script>
</ui:composition>

