<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!-- General Message -->
    <p:growl id="growReportReimbursement" widgetVar="growl" showDetail="true"
             life="8000" />
    <!-- Import Script Calendar Spanish -->
    <h:outputScript library="js" name="calendar_es.js" />

    <div class="order order2">
        <br />
        <!-- HEADER REPORT REIMBURSMENT -->
        <p:outputPanel  styleClass="blog-meta blog-meta2">
            <h:outputLabel
                value="Consulta de solicitudes de reembolso en estado rechazada"
                styleClass="titulo-blog" style="padding-bottom: 5px !important;" />
        </p:outputPanel>

        <p:panelGrid style="margin-top: 30px;" styleClass="blog-meta2">
            <p:row>
                <p:column style="width: 5%;">
                    <div align="right" style="text-align: right;font-weight: bold;">
                        <h:outputText value="Desde:" />
                    </div>
                </p:column>
                <p:column style="width: 45%;">
                    <p:calendar id="startDate" showButtonPanel="true"
                                maxdate="#{reimbursementReportViewBean.maxDate}"
                                value="#{reimbursementReportViewBean.startDate}"
                                style="float: left; width: 100%;"
                                locale="es" pattern="dd/MM/yyyy" navigator="true" maxlength="10" mask="true"
                                >
                        <p:ajax event="dateSelect"
                                listener="#{reimbursementReportViewBean.activetxtDateEnd}" />
                          <p:ajax event="keyup"
                                listener="#{reimbursementReportViewBean.activetxtDateEnd}" />
                      
                    </p:calendar>
                </p:column>
                <p:column style="width: 5%;">
                    <div align="right" style="text-align: right;font-weight: bold;">
                        <h:outputText value="Hasta:" />
                    </div>
                </p:column>
                <p:column style="width: 45%;">
                    <p:calendar id="endDate"
                                maxdate="#{reimbursementReportViewBean.maxDate}"
                                value="#{reimbursementReportViewBean.endDate}"
                                mindate="#{reimbursementReportViewBean.startDate}"
                                style="float: left; width: 100%;" locale="es"
                                pattern="dd/MM/yyyy"  navigator="true" showButtonPanel="true"
                                disabled="#{reimbursementReportViewBean.btnActiveEndDate}" maxlength="10" mask="true">
                        <f:attribute name="startDate" value="#{reimbursementReportViewBean.startDate}" />
                        <p:ajax event="dateSelect"
                                listener="#{reimbursementReportViewBean.activecmbInsurances}" />
                         <p:ajax event="keyup"
                                listener="#{reimbursementReportViewBean.activecmbInsurances}" />
                    </p:calendar>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="4">
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4" style="text-align: right;font-weight: bold;">
                                <h:outputText value="Aseguradora: " />
                            </div>
                            <div class="ui-grid-col-8">
                                <h:selectOneMenu id="cmbInsurance"
                                                 value="#{reimbursementReportViewBean.insurancesSelected}"
                                                 styleClass="formUppercase back"
                                                 disabled="#{reimbursementReportViewBean.btnActiveInsurances}">
                                    <f:selectItem itemLabel="Seleccionar aseguradora" itemValue="" />
                                    <f:selectItems var="insurances" itemLabel="#{insurances.name}"
                                                   itemValue="#{insurances.id}" value="#{reimbursementReportViewBean.insurancesList}" /> 
                                    <p:ajax event="change" listener="#{reimbursementReportViewBean.onChangeInsurance('ReimbursementByStatusReject')}" ></p:ajax>
                                </h:selectOneMenu>
                            </div>
                        </div>
                    </div>
                </p:column>
            </p:row>
        </p:panelGrid>
        <br />
        <!-- BUTTONS -->
        <div style="float: center; width: 100%;">
            <p:commandButton id="btnFindKey" value="Buscar" style="width: 110px;"
                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                             actionListener="#{reimbursementReportViewBean.searchReimbursementReportsbystatusReject()}"
                             disabled="#{reimbursementReportViewBean.btnSearchData}" ajax="true">
            </p:commandButton>
            <span style="width: 40px;"></span>
            <p:commandButton id="btnResetKey" value="Restablecer" style="width: 110px;"
                             disabled="#{reimbursementReportViewBean.btnRestore}">
                <p:ajax listener="#{reimbursementReportViewBean.cleanAndDate()}" />
            </p:commandButton>
            <span style="width: 40px;"></span>
            <p:commandButton id="btnExportAuditKeys"  value="Exportar" style="width: 110px;"
                             onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"
                             actionListener="#{reimbursementReportViewBean.sendReportXLS}"
                             disabled="#{reimbursementReportViewBean.btnExportData}" ajax="false">
            </p:commandButton>
        </div>
        <!-- END HEADER REPORT REIMBURSEMENT -->

        <!-- CONTENT REPORT REIMBURSEMENT -->
        <p:dataTable id="tableReimbursementReport" var="reimbursementReport"
                     value="#{reimbursementReportViewBean.reimbursermentReportList}"
                     paginator="true" rows="10" paginatorAlwaysVisible="false"
                     emptyMessage="NO SE ENCONTRARON REGISTROS"
                     sortBy="#{reimbursementReport.date_request}" sortOrder="descending">

            <p:column headerText="Nombre(s) y apellido(s)" style="width: 15%">
                <h:outputText value="#{reimbursementReport.patientsId.completeName}" />
            </p:column>
            <p:column headerText="Cédula de identidad" style="width: 6%">
                <h:outputText value="#{reimbursementReport.patientsId.identityNumber}" />
            </p:column>
            <p:column headerText="Nro. de factura" style="width: 10%">
                <h:outputText value="#{reimbursementReport.invoice_number}" />
            </p:column>
            <p:column headerText="Monto neto a pagar" style="width: 10%">
                <h:outputText value="#{reimbursementReport.amount}" />
            </p:column>
            <p:column headerText="Entidad bancaria" style="width: 15%">
                <h:outputText value="#{reimbursementReport.banksPatientsId.bankId.name}" />
            </p:column>
            <p:column headerText="Nro. de cuenta" style="width: 15%">
                <h:outputText value="#{reimbursementReport.banksPatientsId.accountNumber}" />
            </p:column>
            <p:column headerText="Nombre de plan" style="width: 9%">
                <h:outputText value="#{reimbursementReport.plansId.name}" />
            </p:column>
            <p:column headerText="Observaciones" style="width: 15%">
                <h:outputText value="#{reimbursementReport.concept}" />
            </p:column>
        </p:dataTable>
        <!-- END CONTENT REPORT REIMBURSEMENT -->
    </div>
</ui:composition>
