<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/cohre">


    <div class="order order2 reimbursement">

        <!-- Calendar Spanish -->
        <h:outputScript library="js" name="calendar_es.js" />
        <br/>
        <!-- Mensaje General  -->
        <p:growl id="messageRefund" showDetail="true" life="3000" />    

        <!-- Bandeja de Gestión de Pagos -->
        <br/>


        <p:dataTable var="reimbursement" value="#{paymentRefundViewBean.listReimbursement}" 
                     id="tableRefund" widgetVar="tableRefund"  rows="10" paginator="true" rowKey="#{reimbursement.id}" 
                     style="margin-bottom: 50px;" paginatorAlwaysVisible="false"  rowSelectMode="checkbox"
                     emptyMessage="NO SE ENCONTRARON REGISTROS" 
                     selection="#{paymentRefundViewBean.listSelectedReimbursement}">

            <f:facet name="header">
                <p:outputPanel style="text-align: left;" styleClass="blog-meta blog-meta2" >  
                    <br/>
                    <h:outputLabel value="Gestión Pagos de Reembolso" styleClass="titulo-blog"/> 
                    <br/>
                    <h:outputLabel value="Estados de solicitud" styleClass="titulo-radio" style="background: transparent" /> 
                    <p:selectOneRadio label="" value="#{paymentRefundViewBean.statusReimbursementId}" 
                                      styleClass="sin-border" style="width:auto; border: transparent; background: transparent">
                        <f:selectItems value="#{paymentRefundViewBean.listStatusReimbursement}" var="status" 
                                       itemLabel="#{status.name}" itemValue="#{status.id}" />
                        <p:ajax  listener="#{paymentRefundViewBean.reimbursementRequestsChange()}" 
                                 partialSubmit="true" update="@this" />
                    </p:selectOneRadio>
                </p:outputPanel>
            </f:facet> 
            <!-- Event Enabled and Disabled Buttons (Approve - Reject) -->
            <p:ajax event="rowSelectCheckbox" listener="#{paymentRefundViewBean.selectRow()}"/>
            <p:ajax event="rowUnselectCheckbox" listener="#{paymentRefundViewBean.unSelectRow()}" />
            <p:ajax event="toggleSelect" listener="#{paymentRefundViewBean.toggleSelect()}"  partialSubmit="true" />

            <p:column rendered="#{paymentRefundViewBean.seeColumnCheck}" selectionMode="multiple" width="5%"
                      disabledSelection="#{!paymentRefundViewBean.disableCheck(reimbursement.statusReimbursmentId.id)}" /> 
            <p:column headerText="Estado Solicitud" style="width: 7%;"  filterMaxLength="11" filterMatchMode="contains"
                      rendered="#{paymentRefundViewBean.columnState}"  filterBy="#{reimbursement.statusReimbursmentId.name}" >                
                <h:outputText id="statusReimbursement" value="#{reimbursement.statusReimbursmentId.name}"   />
                <f:facet name="filter">
                    <p:inputText styleClass="validateEnter" onkeypress="cancelEventDialog(event);" maxlength="11" 
                                 onkeyup="PF('tableRefund').filter()">
                        <pe:keyFilter regEx="/[a-z \'ñÑáÁéÉíÍóÓúÚüÜ]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
            </p:column>
            <!-- Order Number -->
            <p:column headerText="Nro. de Solicitud" filterMatchMode="contains"  style="width: 7%"
                      filterBy="#{reimbursement.numberRequest}">
                <f:facet name="filter">                     
                    <p:inputText styleClass="validateEnter" onkeypress="cancelEventDialog(event);" 
                                 onkeyup="PF('tableRefund').filter()" maxlength="50">
                        <pe:keyFilter regEx="/[\d]/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{reimbursement.numberRequest}" />
            </p:column>
            <!-- Order Date -->
            <p:column headerText="Fecha Solicitud" style="width: 6%"   
                      filterBy="#{reimbursement.date_request}" rendered="#{!paymentRefundViewBean.columnPayment}"
                      filterMatchMode="contains"
                      >
                <f:facet name="filter">
                    <p:calendar id="txtDateRequest" styleClass="validateReturn" timeZone="America/Caracas" 
                                maxdate="#{paymentRefundViewBean.currentDate}" 
                                mindate="#{paymentRefundViewBean.minDate}"
                                onkeyup="PF('tableRefund').filter()"
                                readonlyInput="true" pattern="dd/MM/yyyy"  locale="es" navigator="true" showButtonPanel="true">
                        <p:ajax event="dateSelect" oncomplete="PF('tableRefund').filter()" update=":form:tableRefund" />
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{reimbursement.date_request}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>    
            </p:column>
            <!-- Order DateTransfer -->
            <p:column headerText="Fecha de Pago" style="width: 6%"  
                      filterBy="#{reimbursement.date_transfer}" rendered="#{paymentRefundViewBean.columnPayment}">
                <f:facet name="filter">
                    <p:calendar id="txtDateTransfer" timeZone="America/Caracas" readonlyInput="true" 
                                maxdate="#{paymentRefundViewBean.currentDate}" 
                                mindate="#{paymentRefundViewBean.minDate}"
                                pattern="dd/MM/yyyy"   locale="es" navigator="true" showButtonPanel="true">
                        <p:ajax event="dateSelect" oncomplete="PF('tableRefund').filter()" update="tableRefund" />
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{reimbursement.date_transfer}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>    
            </p:column>
            <p:column headerText="Cédula  Titular" style="width: 6%" filterMatchMode="contains" 
                      filterBy="#{reimbursement.indentityNumberTitular}">
                <f:facet name="filter">
                    <p:inputText styleClass="validateEnter" onkeypress="cancelEventDialog(event);" maxlength="11" 
                                 onkeyup="PF('tableRefund').filter()">
                        <pe:keyFilter regEx="/[0-9]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{reimbursement.indentityNumberTitular}" />
            </p:column>
            <p:column headerText="Nombres y Apellidos Titular" style="width: 12%"  
                      filterBy="#{reimbursement.completeNameTitular}" filterMatchMode="contains">
                <h:outputText value="#{reimbursement.completeNameTitular}" />
                <f:facet name="filter">
                    <p:inputText styleClass="validateEnter" onkeypress="cancelEventDialog(event);" maxlength="255" 
                                 onkeyup="PF('tableRefund').filter()">
                        <pe:keyFilter regEx="/[a-z \'ñÑáÁéÉíÍóÓúÚüÜ]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
            </p:column>
            <p:column headerText="Nombres y Apellidos  Beneficiario" style="width: 12%" 
                      filterBy="#{reimbursement.completeNameBeneficiary}" filterMatchMode="contains">
                <h:outputText value="#{reimbursement.completeNameBeneficiary}" />
                <f:facet name="filter">
                    <p:inputText styleClass="validateEnter" onkeypress="cancelEventDialog(event);" maxlength="255" 
                                 onkeyup="PF('tableRefund').filter()">
                        <pe:keyFilter regEx="/[a-z \'ñÑáÁéÉíÍóÓúÚüÜ]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
            </p:column>
            <p:column headerText="Empresa Contratante" style="width: 6%" filterBy="#{reimbursement.company}" 
                      filterMatchMode="contains"> 
                <h:outputText value="#{reimbursement.company}" />
                <f:facet name="filter">
                    <p:inputText styleClass="validateEnter" onkeypress="cancelEventDialog(event);" maxlength="100" 
                                 onkeyup="PF('tableRefund').filter()">
                        <pe:keyFilter regEx="/[a-z0-9 \'ñÑáÁéÉíÍóÓúÚüÜ]/i" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
            </p:column>



            <p:column  filterFunction="#{paymentRefundViewBean.filterAmountPay}" 
                       filterBy="#{reimbursement.monto_remb_pagar}"  headerText="Monto a Pagar"
                       rendered="#{!paymentRefundViewBean.statusPaymentColumn}" 
                       style="width: 6%"

                       >

                <f:facet name="filter">

                    <pe:inputNumber value="#{paymentRefundViewBean.amountPay}"  onkeyup="filterAmountPay()" 
                                    decimalSeparator="," thousandSeparator="." decimalPlaces="2"
                                    widgetVar="amountPay"
                                    styleClass="amountPay"
                                    onblur="trimDecimalPlace();"
                                    >
                    </pe:inputNumber>
                </f:facet>


                <h:outputText value="#{reimbursement.monto_remb_pagar}" id="num">
                    <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                </h:outputText>


            </p:column>


            <p:column 
                filterFunction="#{paymentRefundViewBean.filterAmountPay}" 
                headerText="Monto Abonado"  style="width: 6%" filterMatchMode="contains" 
                filterBy="#{reimbursement.monto_remb_pagar}" rendered="#{paymentRefundViewBean.statusPaymentColumn}">
                <f:facet name="filter">

                      <pe:inputNumber value="#{paymentRefundViewBean.amountPay}"  onkeyup="filterAmountPay()" 
                                    decimalSeparator="," thousandSeparator="." decimalPlaces="2"
                                    widgetVar="amountPay"
                                    styleClass="validateEnter"
                                    onblur="trimDecimalPlace();"
                                    onkeypress="cancelEventDialog(event);"
                                    >
                    </pe:inputNumber>
                    
                </f:facet>
                <h:outputText value="#{reimbursement.monto_remb_pagar}">
                    <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                </h:outputText>
            </p:column>
            <p:column style="width: 8%">
                <!-- History -->
                <p:commandButton  icon="ui-icon-myRegister" title="Historial" id="searchBinnacle" 
                                  actionListener="#{accionesRequestBean.desplegarDialogoView('BinnacleDetailsDialog')}" 
                                  rendered="true" >
                    <f:setPropertyActionListener value="#{reimbursement}" target="#{paymentRefundViewBean.selectedFinancial}"/> 
                </p:commandButton>
                <!-- Views PDF  -->
                <p:commandButton id="btnViewsRequirement"  
                                 actionListener="#{ReimbursementViewBean.downloadRequirementByReimbursement(reimbursement)}" 
                                 icon="ui-icon-myPdf" title="Descargar Recaudos" process="@this" ajax="false">    
                    <p:fileDownload value="#{ReimbursementViewBean.fileRequirement}" />
                </p:commandButton>
                <!-- Datos financieros-->               
                <p:commandButton id="btnDataFinancial"  title="Datos Financieros" 
                                 actionListener="#{accionesRequestBean.desplegarDialogoView('dialogDataFinancial') }"
                                 icon="ui-icon-financialData" process="@this">
                    <f:setPropertyActionListener value="#{reimbursement}" target="#{paymentRefundViewBean.selectedFinancial}"/>
                </p:commandButton>
            </p:column>

        </p:dataTable>

        <!--acumulador de precios-->
        <p:panel id="paymentTotal" style="margin-top: -4%;">
            <p:outputLabel  style="margin-left: 53%; width: 10%;" value="Total a cancelar:" 
                            rendered="#{paymentRefundViewBean.seeAmountTotal}" />
            <p:outputLabel  style="margin-left: 74%; width: 10%;  margin-top: -21px;" 
                            value="#{paymentRefundViewBean.totalPrice}" rendered="#{paymentRefundViewBean.seeAmountTotal}">
                <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
            </p:outputLabel>

        </p:panel>



        <!--fin de acumulador de precios-->


        <div style="width: 100%;  margin-top: 20px; margin-left: -30px;height: 50px;margin-bottom: 10px">
            <p:commandButton id="btnApprove" disabled="#{paymentRefundViewBean.btnVisibleAprobar}"  
                             actionListener="#{paymentRefundRequestBean.paymentProcessing()}"  value="Procesar Pago" 
                             style="width: 110px; margin: 10px; margin-bottom: 100px;" >
                <p:confirm header="Confirmación" message="¿Seguro de procesar el pago de la(s) solicitud(es)?"  />
            </p:commandButton>
            <p:confirmDialog global="true" showEffect="fade" style="background: #FFFFFF; padding: 4px; text-align: center">
                <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
            <p:commandButton id="btnExport" value="Exportar" disabled="#{!paymentRefundViewBean.btnExport}" actionListener="#{paymentRefundViewBean.exportRowsReimbursement()}" ajax="false" />

            <p:commandButton id="btnGenerateTxt" value="Generar Txt" style="margin: 10px;" actionListener="#{paymentRefundViewBean.generateReportTxtprueba()}"
                             onclick="descargarTxt();" disabled="#{!paymentRefundViewBean.btnGenerateTxt}">
                <p:fileDownload value="#{paymentRefundViewBean.txt}" />
            </p:commandButton>
        </div>


        <!--fin botones-->

        <!-- Dialogo Datos Financieros -->
        <p:dialog width="50%" widgetVar="dialogDataFinancial" showEffect="fade" closable="false" id="dialogDataFinancial"
                  header="Datos Financieros">  

            <p:outputPanel id="panelFinanciero">

                <p:panelGrid style="width: 100%;">
                    <p:row>
                        <p:column colspan="2" styleClass="ui-widget-header">
                            <h:outputText  value="Datos de factura" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Nro. factura:" />
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase" 
                                              value="#{paymentRefundViewBean.selectedFinancial.invoice_number}" />
                            </div>                           
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Fecha:" />
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase"
                                              value="#{paymentRefundViewBean.selectedFinancial.date_request}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                                </h:outputText>                           
                            </div>                           
                        </p:column>
                    </p:row> 
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Monto Bs. F:" />
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase"
                                              value="#{paymentRefundViewBean.selectedFinancial.amount}">
                                    <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                                </h:outputText>
                            </div>                           
                        </p:column>
                    </p:row> 
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Monto a pagar:" />                        
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase"
                                              value="#{paymentRefundViewBean.selectedFinancial.monto_remb_pagar}">                             
                                    <f:convertNumber minFractionDigits="2" /> 
                                    <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                                </h:outputText>                          
                            </div>                           
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Observación:" />  
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase"
                                              value="#{paymentRefundViewBean.selectedFinancial.obser_monto_pagar}">                             
                                </h:outputText>                          
                            </div>                           
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Plan:" />                          
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText  styleClass="all-upperCase" 
                                               value="#{paymentRefundViewBean.selectedFinancial.plansPatientsId.plansId.name}">                             
                                </h:outputText>                          
                            </div>                           
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Compañía de seguros:" />                     
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase"
                                              value="#{paymentRefundViewBean.selectedFinancial.plansId.insuranceId.name}">                             
                                </h:outputText>                          
                            </div>                           
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2" styleClass="ui-widget-header">
                            <h:outputText value="Datos de la cuenta" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Entidad bancaria:" />
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase"
                                              value="#{paymentRefundViewBean.selectedFinancial.banksPatientsId.bankId.name}" />                                 
                            </div>                           
                        </p:column>
                    </p:row> 
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Nro. de cuenta:" />
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase"
                                              value="#{paymentRefundViewBean.selectedFinancial.banksPatientsId.accountNumber}" />
                            </div>                           
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:outputPanel>
            <p:outputPanel id="panelFinancieroTwo" rendered="#{paymentRefundViewBean.changeVisibilityByAprove
                                                               (paymentRefundViewBean.selectedFinancial.statusReimbursmentId.id)}">
                <p:panelGrid style="width: 100%;">
                    <p:row>
                        <p:column colspan="2" styleClass="ui-widget-header">
                            <h:outputText value="Datos de la transferencia" />
                        </p:column>
                    </p:row>
                    <!--datos cuando es para editar-->
                    <p:row rendered="#{!paymentRefundViewBean.changeInpuFinancial(paymentRefundViewBean.
                                       selectedFinancial.statusReimbursmentId.id)}">
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Nro. transferencia:" />
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <p:inputText onmouseover="validarBoton();" maxlength="20"  
                                             onkeypress="return validarNumero(event);"  styleClass="text_tranfer2" 
                                             id="txt_tranfer2" value="#{paymentRefundViewBean.selectedFinancial.number_transfer}"
                                             placeholder="Ej: 88960256322111212121">
                                    <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="false"/>
                                </p:inputText>
                            </div>                           
                        </p:column>
                    </p:row> 
                    <p:row rendered="#{!paymentRefundViewBean.changeInpuFinancial(paymentRefundViewBean.selectedFinancial.
                                       statusReimbursmentId.id)}">
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Fecha transferencia:"/>                                    
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <p:calendar onkeypress="validarBoton();" placeholder="01/07/2015" id="date_tranfer2" 
                                            onmouseover="validarBoton();" onblur="validarBoton();" 
                                            styleClass="calendarData" locale="es" maxdate="#{paymentRefundViewBean.maxDate}"
                                            timeZone="America/Caracas" maxlength="10" pattern="dd/MM/yyyy" 
                                            value="#{paymentRefundViewBean.selectedFinancial.date_transfer}" />
                            </div>                           
                        </p:column>
                    </p:row> 
                    <!--datos cuando es para consulta-->
                    <p:row rendered="#{paymentRefundViewBean.changeInpuFinancial(paymentRefundViewBean.
                                       selectedFinancial.statusReimbursmentId.id)}">
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Nro. transferencia:" />
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left"> 
                                <h:outputText styleClass="all-upperCase" id="txt_tranfer3" value="#{paymentRefundViewBean.
                                                                                                    selectedFinancial.number_transfer}"  />
                            </div>                           
                        </p:column>
                    </p:row> 
                    <p:row rendered="#{paymentRefundViewBean.changeInpuFinancial(paymentRefundViewBean.
                                       selectedFinancial.statusReimbursmentId.id)}">
                        <p:column styleClass="ui-widget-header" style="width: 50%;">
                            <div align="left">
                                <h:outputText value="Fecha transferencia:"/>                                    
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText styleClass="all-upperCase" value="#{paymentRefundViewBean.selectedFinancial.date_transfer}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                                </h:outputText> 
                            </div>                           
                        </p:column>
                    </p:row> 
                </p:panelGrid>

            </p:outputPanel>
            <p:commandButton id="btnSave"  value="Guardar" styleClass="btnSave"  
                             actionListener="#{paymentRefundRequestBean.updateReimbursement()}" 
                             rendered="#{!paymentRefundViewBean.changeInpuFinancial(paymentRefundViewBean.selectedFinancial.
                                         statusReimbursmentId.id)}" style="display: none;">
                <p:confirm header="Confirmar" message=" ¿Seguro de registrar los datos de la transferencia?"  />
            </p:commandButton>

            <p:commandButton id="btnSave2"  value="Guardar" styleClass="btnSave2" disabled="true" 
                             rendered="#{!paymentRefundViewBean.changeInpuFinancial(paymentRefundViewBean.selectedFinancial.
                                         statusReimbursmentId.id)}" />

            <p:confirmDialog global="true" showEffect="fade" style="background: #FFFFFF; padding: 4px; text-align: center">
                <p:commandButton value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            <p:commandButton onstart="PF('statusDialog').show()" onclick="clearData()" onsuccess="PF('statusDialog').hide()"
                             actionListener="#{paymentRefundViewBean.cerrarDialogoView('financieroDialog')}" 
                             style="width:76px;" value="Salir"  process="@this">               
            </p:commandButton>
        </p:dialog>

        <!-- Dialogo Datos Financieros -->

        <!-- History Dialog -->
        <p:dialog width="50%"  widgetVar="BinnacleDetailsDialog" resizable="false" id="BinnacleDetailsDialog"
                  showEffect="fade" closable="false" header="Historial de solicitud nro. 
                  #{paymentRefundViewBean.selectedFinancial.numberRequest}">


            <p:dataTable var="binnacleR" style="max-width: 90%; margin-bottom: 18px;"
                         value="#{paymentRefundViewBean.searchBinnacleReimbursementByReimbursementid
                                  (paymentRefundViewBean.selectedFinancial.id)}"
                         emptyMessage="No se encontraron registro(s)">

                <p:column headerText="Estado" style="width: 30%;">
                    <h:outputText value="#{binnacleR.statusReimbursementId.name}" />
                </p:column>

                <p:column headerText="Datos del proceso" style="width: 70%;">
                    <h:outputText value="#{binnacleR.issuerUser}" styleClass="formUppercase" />, 
                    <h:outputText value="#{binnacleR.date}">
                        <f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss aa" timeZone="America/Caracas" locale="es" />
                    </h:outputText>
                </p:column>
            </p:dataTable>
            <!-- Buttons Exit -->
            <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" 
                             actionListener="#{accionesRequestBean.CloseDialogUpdate('BinnacleDetailsDialog','tableRefund')}"
                             style="width:76px;" 
                             value="Salir" process="@this" />           
        </p:dialog>
    </div>  
    <script language="javascript">
//<![CDATA[

        function filterAmountPay() {
            if (typeof PF('tableRefund') !== "undefined") {
                PF('tableRefund').filter();
                $('.amountPay').keyup();
                $('.validateEnter').keyup();
                PF('tableRefund').filter();
            }
        }

        function cancelEventDialog(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        }


        $(document).keydown(function (tecla) {
            var auxEnter = $(".validateReturn>.ui-inputfield");
            if (tecla.keyCode == 8) {
                if (auxEnter.val().length > 0) {
                    if ($(".validateReturn>.ui-inputfield").is(":focus")) {
                        auxEnter.val("");
                    }
                }
            }
        });



        var dataNumber = false;
        var dataDate = false;
        var enableBoton = false;

        function validarBoton() {
            //var auxData = $(".text_tranfer2").val().trim();

            if (typeof $(".calendarData>.ui-inputfield").val() !== "undefined") {

                if ($(".calendarData>.ui-inputfield").val().trim().length > 0) {
                    this.dataDate = true
                } else {
                    this.dataDate = false;
                    $(".btnSave").hide();
                    $(".btnSave2").show();
                }

                if (this.dataDate === true) {
                    if (this.dataNumber === true) {
                        $(".btnSave2").hide();
                        $(".btnSave").show();
                    }
                }
            }
        }

        function validarNumeroVacio() {

            if (typeof $(".text_tranfer2").val() !== "undefined") {
                var auxData = null;


                auxData = $(".text_tranfer2").val().trim();
                if (auxData.length > 0) {
                    this.dataNumber = true;
                }
                else {
                    this.dataNumber = false;
                    $(".btnSave").hide();
                    $(".btnSave2").show();
                }

                if (this.dataDate === true) {
                    if (this.dataNumber === true) {
                        $(".btnSave2").hide();
                        $(".btnSave").show();
                    }
                }
            }

        }

        //-------Validar Numeros
        function validarNumero(e) {

            validarNumeroVacio();

            var keynum = e.which;
            if ((keynum == 8) || (keynum == 46)) {
                return true;
            }
            return /\d/.test(String.fromCharCode(keynum));
        }


        $(document).mouseover(function () {
            $(".btnSave").hide();
            validarBoton();
            validarNumeroVacio();
        });

        function clearData() {
            $(".calendarData>.ui-inputfield").val("");
            $(".text_tranfer2").val("");

        }



        /**
         * Se encargar de quitar los ,00 al perder el focus del inputNumber
         * @returns 
         */
        function trimDecimalPlace() {

            var curVal = $(".ui-inputNum > input:first-child").val();
            var parseVal = '';

            if (curVal.indexOf(",")) {

                var tokens = curVal.split(",");

                if (tokens[tokens.length - 1] == '00') {

                    parseVal += tokens[0];

                } else {
                    parseVal = $(".ui-inputNum > input:first-child").val();

                }
            }
            $(".ui-inputNum > input:first-child").val(parseVal);
        }

//]]>
    </script>
</ui:composition>
