<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" 
                xmlns:h="http://java.sun.com/jsf/html">                

    <ui:include src="/template/monitorError.xhtml"/>
    <h:form> 
            <p:menubar styleClass="menuBar" model="#{menuModelViewBean.model}">
    </p:menubar>
    </h:form>

    <div name="options" style="position: absolute; right: 0px; width: 175px; margin-top: -30px; margin-right: 2%;">
        <p:outputLabel style="float: left;margin-left: -28px;">#{securityViewBean.obtainNameUser()} </p:outputLabel>
        <h:outputLink value="#{request.contextPath}/j_spring_security_logout">Cerrar Sesión</h:outputLink>             
    </div>

</ui:composition>
