<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="/template/indexTemplateApplication.xhtml">

            <ui:define name="header">
                <!-- Cabecera del Content -->
                <ui:include src="/views/application/cabecera.xhtml"/>
            </ui:define>

            <ui:define name="content">               
                
                <h:form id="form" style="border: 0px #000000;">
                    <ui:include src="/web/listRefundPaymentOrder.xhtml"/>
                </h:form>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
