<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pe="http://primefaces.org/ui/extensions"
>

    <p:growl id="growRegisterAnalysisKeys" widgetVar="growRegisterAnalysisKeys" showDetail="true" life="6000"/>

    <h:outputScript library="js" name="calendar_es.js" />

    <div class="order">

        <p:dataTable id="registerAnalysisKeysList" rendered="#{registerKeysAnalysisViewBean.seeRegisterList}"
                     widgetVar="registerAnalysisTable" var="keysPatients"
                     value="#{registerKeysAnalysisViewBean.keysPatients}"
                     emptyMessage="NO SE ENCONTRARON REGISTROS" rowIndexVar="index" style="margin-bottom:0"
                     paginator="true" scrollable="false" rows="10" paginatorAlwaysVisible="false"
                     filteredValue="#{registerKeysAnalysisViewBean.keysPatientsFiltered}" >

            <f:facet name="header">
                <p:outputPanel style="text-align: left;" styleClass="blog-meta">
                    <h:outputLabel value="Claves de atención recibidas" style="padding-bottom: 10px; width: 70%; "
                                   styleClass="titulo-blog"/>
                    <p:fieldset legend="Datos del doctor" toggleable="false" toggleSpeed="500" styleClass="box-data">
                        <h:panelGrid columns="2" style="width: 100%; margin-top: -10px; padding-left: -25px;
                                     padding-right: -25px;">
                            <p:column style="width: 100px;">
                                <h:outputLabel value="Nombre:" class="box-search"  />
                            </p:column>
                            <p:column style="width: 25%;">
                                <h:outputText styleClass="uppercase2"
                                              value="#{registerKeysAnalysisViewBean.selectedSpecialist.completeName}" />
                            </p:column>
                            <p:column style="width: 100px;">
                                <h:outputLabel value="Cédula:" class="box-search"  />
                            </p:column>
                            <p:column style="width: 25%;">
                                <h:outputText styleClass="uppercase2"
                                              value="#{registerKeysAnalysisViewBean.selectedSpecialist.identityNumber}"  />
                            </p:column>
                            <p:column style="width: 100px;">
                                <h:outputLabel value="Fecha de recepción:" class="box-search" />
                            </p:column>
                            <p:column style="width: 25%;">
                                <h:outputText value="#{registerKeysAnalysisViewBean.receptionDate}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                                </h:outputText>
                            </p:column>
                        </h:panelGrid>
                    </p:fieldset>
                </p:outputPanel>
            </f:facet>

            <p:column id="aplicationDateRegisterAnalysis"
                      width="15%" headerText="Fecha" filterMatchMode="contains"
                      filterBy="#{registerKeysAnalysisViewBean.formatDate(keysPatients.applicationDate)}" >
                <f:facet name="filter">
                    <p:calendar widgetVar="calendar" id="calendar" maxdate="#{registerKeysAnalysisViewBean.maxDate}"
                                value="#{registerKeysAnalysisViewBean.dateFilter}" maxlength="10"
                                timeZone="America/Caracas" pattern="dd/MM/yyyy" locale="es"
                                onkeyup="PF('registerAnalysisTable').filter()" navigator="true" showButtonPanel="true"
                                onkeydown="cleancalendar(event)">
                        <pe:keyFilter regEx="/^[0-9-/]/" preventPaste="true"/>
                        <p:ajax event="dateSelect" listener="#{registerKeysAnalysisViewBean.handleDateSelect}"/>
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{keysPatients.applicationDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>
            </p:column>

            <p:column filterMaxLength="30" filterMatchMode="contains" filterBy ="#{keysPatients.number}"
                      id="keyRegisterAnalysis" headerText="Clave" width="25%" >
                <f:facet name="filter">
                    <p:inputText maxlength="30" onkeyup="PF('registerAnalysisTable').filter()">
                        <pe:keyFilter regEx="/^[0-9]/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysPatients.number}"/>
            </p:column>

            <p:column filterMaxLength="255" filterMatchMode="contains" filterBy ="#{keysPatients.namePatient}"
                      id="patientNameRegisterAnalysis" headerText="Paciente" width="30%">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('registerAnalysisTable').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysPatients.namePatient}" />
            </p:column>

            <p:column filterMaxLength="11" filterMatchMode="contains" filterBy ="#{keysPatients.identityNumberPatient}"
                      id="patientIdentityRegisterAnalysis" headerText="Cédula" width="30%">
                <f:facet name="filter">
                    <p:inputText maxlength="11" onkeyup="PF('registerAnalysisTable').filter()">
                        <pe:keyFilter regEx="/^[0-9]/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysPatients.identityNumberPatient}" />
            </p:column>

            <p:column filterMaxLength="45" filterMatchMode="contains" filterBy ="#{keysPatients.statusName}"
                      id="patientStatusRegisterAnalysis" headerText="Estado" width="25%">
                <f:facet name="filter">
                    <p:inputText maxlength="45" onkeyup="PF('registerAnalysisTable').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{keysPatients.statusName}" />
            </p:column>

            <p:column rendered="#{registerKeysAnalysisViewBean.renderedColumn}" width="15%">
                <p:commandButton id="btnEditKeyAnlysisRegister" onclick="disable(this.id);" onsuccess="enabled();"
                                 process="@this" actionListener="#{registerKeysAnalysisViewBean.goRegisterKeysDetails()}"
                                 icon="ui-icon-myEdit" title="Editar">
                    <f:setPropertyActionListener for="btnEditKeyAnlysisRegister" value="#{keysPatients}"
                                                 target="#{registerKeysAnalysisViewBean.selectedKey }" />
                </p:commandButton>

                <p:commandButton id="btnDeleteAnlysisRegister" icon="ui-icon-myDelete" style="margin-left: 1px"
                                 title="${keysPatients.undoReceiveKey ? registerKeysAnalysisViewBean.titleDisabledUndoKey :  registerKeysAnalysisViewBean.titleEnabledUndoKey }"
                                 disabled="#{keysPatients.undoReceiveKey}"
                                 actionListener="#{registerKeysAnalysisViewBean.goUndoKey(keysPatients)}"
                                 ajax="true"
                                 onclick="disable(this.id);" onsuccess="enabled();"
                                 update=":form:registerAnalysisKeysList"
                >
                    <p:confirm header="Confirmación" message=" ¿Desea continuar con la operación de deshacer?" icon="ui-icon-alert" />
                </p:commandButton>

            </p:column>


        </p:dataTable>

        <br></br>
        <br></br>
        <p:commandButton onclick="disable(this.id);" onsuccess="enabled();"
                         actionListener="#{registerKeysAnalysisViewBean.resetDataSpecialistToAudit()}"
                         update=":form:registerSpecialistToAudit" process="@this"
                         rendered="#{registerKeysAnalysisViewBean.seeRegisterList}" value="Ir a la bandeja" >
        </p:commandButton>
    </div>

    <script type="text/javascript">

        var isActive = null;

        function cleancalendar(e) {
            var keyCode = e.which || e.keyCode;

            //si es igual a backspace
            if(keyCode == 8){
                $(PrimeFaces.escapeClientId('form:registerAnalysisKeysList:calendar_input')).val('');
                PF('receiveAnalysisTable').filter();
            }else{
                e.preventDefault();
            }
        }

        function completeIformation(){
            if(isActive == null){
                isActive = $( "#form\\:registerAnalysisKeysList\\:calendar_input" ).bind( "paste", function(e) {
                    e.preventDefault();
                    isActive = true;
                });
            }
        }


    </script>

</ui:composition>