<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:pe="http://primefaces.org/ui/extensions">

    <div class="order">          
        <p:dataTable id="registerAnalysispatientHistorical"  var="historical" scrollable="false" rows="5"
                     value="#{registerKeysAnalysisViewBean.historicalPatientOutput}" widgetVar="patientHistorical"
                     emptyMessage="NO SE ENCONTRARON REGISTROS" style="margin-bottom:0" paginator="true"  
                     paginatorAlwaysVisible="false" 
                     filteredValue="#{registerKeysAnalysisViewBean.historicalPatientOutputFiltered}">

            <p:column headerText="Clave" filterBy="#{historical.numberKey}" filterMatchMode="contains" 
                      style=" width: 100px !important;">                
                <f:facet name="filter">
                    <p:inputText maxlength="30" onkeyup="PF('patientHistorical').filter()">
                        <pe:keyFilter regEx="/^[0-9]/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.numberKey}" style="text-transform: uppercase" />                    
            </p:column> 

            <p:column headerText="Tratamiento" filterBy="#{historical.nameTratment}" filterMatchMode="contains"
                      style=" width: 100px !important;" filterMaxLength="255">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('patientHistorical').filter()">
                        <pe:keyFilter regEx="/[a-zA-Z]/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.nameTratment}" style="text-transform: uppercase" />                    
            </p:column>   

            <p:column  headerText="Diente" filterBy="#{historical.numberPropertie}" filterMatchMode="contains"
                      style=" width: 100px !important;" width="30%" filterMaxLength="2">
                <f:facet name="filter">
                    <p:inputText styleClass="inputTooth"  maxlength="2" onkeyup="PF('patientHistorical').filter()">
                        <pe:keyFilter regEx="/^[0-9]/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.numberPropertie}" style="text-transform: uppercase" />                   
            </p:column>



            <p:column  filterFunction="#{registerKeysAnalysisViewBean.filterAmountPay}"
                       filterBy="#{historical.price}"  headerText="Baremo"
                       widgetVar="amountPay"
                       styleClass="validateEnter"
                       style=" width: 100px !important;" width="30%"
            >
                <f:facet name="filter">

                    <pe:inputNumber value="#{registerKeysAnalysisViewBean.amountPay}"  onkeyup="filterAmountPay()"
                                    decimalSeparator="," thousandSeparator="." maxValue="9999999999.99" decimalPlaces="2"
                                    widgetVar="amountPay"
                                    styleClass="amountPay"
                    >
                    </pe:inputNumber>
                </f:facet>


                <h:outputText value="#{historical.price}" id="num">
                    <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                </h:outputText>
            </p:column>

            <p:column filterBy="#{registerKeysAnalysisViewBean.formatDate(historical.dateApplication)}" 
                      filterMatchMode="contains" width="10%" headerText="Fecha" filterMaxLength="10"> 
                <f:facet name="filter">
                    <p:calendar id="calendar" widgetVar="calendar" maxdate="#{registerKeysAnalysisViewBean.maxDate}" pattern="dd/MM/yyyy"
                                value="#{registerKeysAnalysisViewBean.dateFilterHistorical}" maxlength="10" 
                                timeZone="America/Caracas" locale="es" 
                                onkeyup="PF('patientHistorical').filter()"
                                onkeydown="cleanCalendar(event);"
                                navigator="true"   showButtonPanel="true" onclick="preventPaste()" >
                        <p:ajax event="dateSelect" listener="#{registerKeysAnalysisViewBean.handleDateSelectHistorical}"/>                        
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{historical.dateApplication}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>
            </p:column>
            
            <p:column headerText="Estado" filterBy="#{historical.nameStatus}" filterMatchMode="contains" 
                      style=" width: 100px !important;" filterMaxLength="9">
                <f:facet name="filter">
                    <p:inputText maxlength="9" onkeyup="PF('patientHistorical').filter()">
                        <pe:keyFilter regEx="/^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText  value="#{historical.nameStatus}" style="text-transform: uppercase" />                    
            </p:column>  

            <p:column headerText="Observación" filterBy="#{historical.observation}" filterMatchMode="contains" 
                      style=" width: 100px !important;" filterMaxLength="255">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('patientHistorical').filter()">
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{historical.observation}" style="text-transform: uppercase" />                    
            </p:column>

        </p:dataTable>
    </div>


    <script type="text/javascript">

        var isActive = null;

        function cleanCalendar(e) {
            var keyCode = e.which || e.keyCode;

            //si es igual a backspace
            if(keyCode == 8){
                $(PrimeFaces.escapeClientId('form:registerAnalysispatientHistorical:calendar_input')).val('');
                PF('patientHistorical').filter();
            }else{
                e.preventDefault();
            }
        }

        function preventPaste(){
            if(isActive == null){
                isActive = $( "#form\\:registerAnalysispatientHistorical\\:calendar_input" ).bind( "paste", function(e) {
                    e.preventDefault();
                    isActive = true;
                });
            }
        }


        function filterAmountPay(){
            $('.amountPay').keyup();
            PF('patientHistorical').filter();
            $('.validateEnter').keyup();
            PF('patientHistorical').filter();
        }

        //evita que se coloque de primero el numero 0 en el campo   de dientes
        $(document).ready(function(){

            $(".inputTooth").keydown(function(evt){
                var cadenaInput = $(".inputTooth").val();
                var keyCode = evt.which || evt.keyCode;

                if(cadenaInput.length == 0 &amp;&amp; ( keyCode == 96  ||  keyCode == 48)){

                    evt.preventDefault();
                }

            }); // end keypress
        }); //end document


    </script>


</ui:composition>