<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <!--KEY DATA-->


    <h:outputLabel value="Auditar tratamientos" rendered="#{registerKeysAnalysisViewBean.seeRegisterDetails}"
                   style="margin-left: 15px;" styleClass="titulo-blog"/>

    <p:fieldset id="fieldsetRegisterDetails" style="width: 100%;" legend="Datos de la clave"
                rendered="#{registerKeysAnalysisViewBean.seeRegisterDetails}">
        <p:panelGrid id="panelRegisterAnalisisKey" style="width: 100%;">
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="keyAnalysisRegister" value="Clave: "/>
                </p:column>
                <p:column>
                    <h:outputText styleClass="uppercase2" id="keyAnalysisRegister"
                                  value="#{registerKeysAnalysisViewBean.selectedKey.number}"/>
                </p:column>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="applicationDateAnalysisRegister" value="Fecha solicitud: "/>
                </p:column>
                <p:column>
                    <h:outputText id="applicationDateAnalysisRegister"
                                  value="#{registerKeysAnalysisViewBean.selectedKey.applicationDate}">
                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas"/>
                    </h:outputText>
                </p:column>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="expirationDateAnalysisRegister" value="Fecha vencimiento: "/>
                </p:column>
                <p:column>
                    <p:dataList id="expirationDateAnalysisRegister" styleClass="uppercase2"
                                value="#{registerKeysAnalysisViewBean.plansPatients}" var="plans" type="definition"
                                emptyMessage="">
                        <h:outputText value="#{plans.dueDate}">
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas"/>
                        </h:outputText>
                    </p:dataList>
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="specialistAnalysisRegister" value="Doctor: "/>
                </p:column>
                <p:column>
                    <h:outputText styleClass="uppercase2" id="specialistAnalysisRegister"
                                  value="#{registerKeysAnalysisViewBean.selectedSpecialist.completeName}"/>
                </p:column>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="specialityDetailsAnalysisRegister" value="Especialidades: "/>
                </p:column>
                <p:column>
                    <p:dataList id="specialityDetailsAnalysisRegister" styleClass="uppercase2"
                                value="#{registerKeysAnalysisViewBean.specialityOfSpecialist}" var="speciality"
                                type="definition" emptyMessage="">
                        <h:outputText value="#{speciality.name}"/>
                    </p:dataList>
                </p:column>
            </p:row>

            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="patientAnalysisRegister" value="Paciente: "/>
                </p:column>
                <p:column>
                    <h:outputText styleClass="uppercase2" id="patientAnalysisRegister"
                                  value="#{registerKeysAnalysisViewBean.selectedKey.namePatient}"/>
                </p:column>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="dateOfBirthAnalysisRegister" value="Fecha de nacimiento: "/>
                </p:column>
                <p:column>
                    <h:outputText id="dateOfBirthAnalysisRegister"
                                  value="#{registerKeysAnalysisViewBean.patients.dateOfBirth}">
                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas"/>
                    </h:outputText>
                </p:column>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel value="Plan: "/>
                </p:column>
                <p:column>
                    <p:dataList id="plansResultAnalysisRegisterDate" styleClass="uppercase2"
                                value="#{registerKeysAnalysisViewBean.plansPatients}" var="plans" type="definition"
                                emptyMessage="">
                        <h:outputText value="#{plans.planName}"/>
                    </p:dataList>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:fieldset>
    <!--END KEY DATA-->
    <!-- ADD PROPERTIES TREATMENTS-->
    <p:fieldset id="fieldsetAddTratments" style="width: 100%;" legend="Planificar tratamientos"
                rendered="#{registerKeysAnalysisViewBean.seeRegisterDetails}">
        <p:panelGrid id="panelTreatmentsAnalysisRegister" style="width: 100%;">
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="treatmentsListAnalysisRegister" value="Tratamiento: "/>
                </p:column>
                <p:column colspan="2">
                    <h:selectOneMenu id="treatmentsListAnalysisRegister" styleClass="uppercase2"
                                     converter="plansTreatmentsConverterAnalysis"
                                     value="#{registerKeysAnalysisViewBean.selectedPlansTreatment}"
                                     style="width: 100%;color:#000;">
                        <f:selectItem itemLabel="SELECCIONAR TRATAMIENTO"/>
                        <f:selectItems value="#{registerKeysAnalysisViewBean.plansTreatments}"
                                       var="plansTreatments" itemLabel="#{plansTreatments.nameTreatments}"
                                       itemValue="#{plansTreatments}"/>
                        <p:ajax event="change" update="treatmentsListAnalysisRegister"
                                listener="#{registerKeysAnalysisViewBean.findPropertiesTreatments()}"></p:ajax>
                    </h:selectOneMenu>
                </p:column>
                <p:column colspan="2">
                    <p:outputLabel for="treatmentsDateAnalysisRegister" value="Fecha de ejecución:"
                                   style="float: left;"/>
                    <p:calendar disabled="#{registerKeysAnalysisViewBean.disabledDateEjecution}"
                                id="treatmentsDateAnalysisRegister" timeZone="America/Caracas" readonlyInput="true"
                                value="#{registerKeysAnalysisViewBean.dateTreatment}" locale="es" pattern="dd/MM/yyyy"
                                style="float: left; margin: 0 10px;" placeholder="SELECCIONE LA FECHA" navigator="true"
                                mindate="#{registerKeysAnalysisViewBean.minDateEjecution}"
                                maxdate="#{registerKeysAnalysisViewBean.maxDate}" showButtonPanel="true">
                        <p:ajax event="dateSelect" update="treatmentsDateAnalysisRegister"
                                listener="#{registerKeysAnalysisViewBean.enabledAddTratment()}"/>
                    </p:calendar>
                </p:column>
            </p:row>
        </p:panelGrid>
        <p:panelGrid id="panelPropertiesTreatments" style="width: 100%;">
            <p:row rendered="#{registerKeysAnalysisViewBean.visiblePanelPermanent}">
                <p:column styleClass="ui-widget-header" style="width:160px">
                    <h:outputLabel style="width: 80px" for="permanentTeethAnalysisRegister"
                                   value="Dientes Permanentes: "/>
                </p:column>
                <p:column>
                    <p:panelGrid id="permanentTeethAnalysisRegister" styleClass="odontodiagram">
                        <p:row>
                            <p:column styleClass="dientes_check">
                                <p:selectManyCheckbox id="propertiesPermanentTeethI"
                                                      converter="propertiesTreatmentsConverter"
                                                      layout="grid"
                                                      columns="#{registerKeysAnalysisViewBean.numberColunmsPermanent}"
                                                      value="#{registerKeysAnalysisViewBean.selectedPropertiesTreatmentsPermanent}">
                                    <f:selectItems
                                            value="#{registerKeysAnalysisViewBean.propertiesTreatmentsPermanentI}"
                                            var="propertiesTreatments" itemValue="#{propertiesTreatments}"
                                            itemLabel="#{propertiesTreatments.propertieStringValue}"/>
                                    <p:ajax immediate="true" process="@this"
                                            update="propertiesPermanentTeethI"></p:ajax>
                                </p:selectManyCheckbox>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
            </p:row>
            <p:row rendered="#{registerKeysAnalysisViewBean.visiblePanelTemporary}">
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel for="temporaryTeehtAnalysisRegister" value="Dientes Temporales:" style="width:80px"/>
                </p:column>
                <p:column>
                    <p:panelGrid id="temporaryTeehtAnalysisRegister" styleClass="odontodiagram">
                        <p:row>
                            <p:column styleClass="dientes_check">
                                <p:selectManyCheckbox id="propertiesTemporaryTeethI"
                                                      converter="propertiesTreatmentsConverter"
                                                      layout="grid"
                                                      columns="#{registerKeysAnalysisViewBean.numberColumnsTemporary}"
                                                      value="#{registerKeysAnalysisViewBean.selectedPropertiesTreatmentsTemporary}">
                                    <f:selectItems
                                            value="#{registerKeysAnalysisViewBean.propertiesTreatmentsTemporaryI}"
                                            var="propertiesTreatments" itemValue="#{propertiesTreatments}"
                                            itemLabel="#{propertiesTreatments.propertieStringValue}"/>
                                    <p:ajax immediate="true" process="@this"
                                            update="propertiesTemporaryTeethI"></p:ajax>
                                </p:selectManyCheckbox>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
            </p:row>
        </p:panelGrid>

        <p:panelGrid id="panelRecaudosAnalysisRegister" style="width: 100%;">
            <p:row id="req1">
                <p:column  colspan="2" styleClass="ui-widget-header3">
                    <h:outputLabel value="Recaudos"/>
                </p:column>
            </p:row>
            <p:row id="req2"  >
                <p:column styleClass="align-boton" colspan="2">
                    <h:outputLabel value="Seleccionar archivo:"/>
                    <h:form id="identityHolderForm" style="z-index: -1 !important;">
                        <p:fileUpload id="identityHolder" fileUploadListener="#{registerKeysAnalysisViewBean.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                      disabled="#{registerKeysAnalysisViewBean.disabledbtnFile}" multiple="false" update="messages" sizeLimit="2000000" fileLimit="1" allowTypes="/(\.|\/)(jpe?g|jpg|png|tiff)$/"
                                      cancelLabel="Cancelar" uploadLabel="Subir" label="Elegir" fileLimitMessage="Debe cancelar el archivo anterior y elegir uno nuevo" invalidFileMessage="El tipo de archivo no es permitido, se permiten archivos en formato: .jpg, .jpeg, .png" invalidSizeMessage="El archivo sobrepasa el tamaño máximo permitido (2mb),"/>
                        <p:message id="messages" for="identityHolder" display="text"/>
                    </h:form>

                </p:column>
            </p:row>

        </p:panelGrid>



        <br></br>

        <p:commandButton onclick="disable(this.id);" onsuccess="enabled();" id="btnAddTreatmentAlaysisRegister"
                         disabled="#{registerKeysAnalysisViewBean.disabledAddTreatment}" immediate="true"
                         process="@this"
                         actionListener="#{registerKeysAnalysisRequestBean.registerPlansTratmentsKeys()}"
                         value="Agregar Tratamiento" icon="ui-icon-myCreate" style="width:161px;">
        </p:commandButton>

    </p:fieldset>
    <!--END ADD PROPERTIES TREATMENTS-->


    <h:panelGrid rendered="#{registerKeysAnalysisViewBean.seeRegisterDetails}" styleClass="list-Radio" columns="5"
                 style="margin-bottom:10px; border: 0;" cellpadding="5">
        <p:outputLabel for="optionsTreatments" value="Tratamientos:"/>
        <p:selectOneRadio id="optionsTreatments" value="#{registerKeysAnalysisViewBean.optionsProperties}"
                          style="width:auto; border: 0; background: transparent">
            <f:selectItem itemLabel="CON DIENTES" itemValue="#{registerKeysAnalysisViewBean.whitProperties}"/>
            <f:selectItem itemLabel="SIN DIENTES" itemValue="#{registerKeysAnalysisViewBean.whitoutProperties}"/>
            <p:ajax listener="#{registerKeysAnalysisViewBean.findPlansTratmentsKeys()}" partialSubmit="true"
                    process="@this"/>
        </p:selectOneRadio>

        <p:outputLabel for="statusTratments" value="Estados:"/>
        <p:selectOneRadio id="statusTratments" value="#{registerKeysAnalysisViewBean.idStatusSelected}"
                          style="width:auto; border: 0; background: transparent">
            <f:selectItems value="#{registerKeysAnalysisViewBean.statusAnalysisKeysList}" var="status"
                           itemLabel="#{status.description}" itemValue="#{status.id}"/>
            <p:ajax event="change" listener="#{registerKeysAnalysisViewBean.findPlansTratmentsKeys()}"
                    partialSubmit="true" process="@this"/>
        </p:selectOneRadio>
    </h:panelGrid>
    <br></br>
    <br></br>
    <br></br>
    <p:fieldset>
        <p:dataTable id="plansTreatmentsKeysAnalysisRegister" style="width: 102%;" rows="5"
                     rendered="#{registerKeysAnalysisViewBean.seeWhitoutProperties}" var="plansTreatmentsKeys"
                     value="#{registerKeysAnalysisViewBean.plansTreatmentsKeys}" editable="true" editMode="cell"
                     emptyMessage="NO SE ENCONTRARON REGISTROS" rowIndexVar="indice" paginator="true" scrollable="false"
                     paginatorAlwaysVisible="false" sortOrder="descending" rowKey="#{plansTreatmentsKeys.id}"
                     rowSelectMode="checkbox" selection="#{registerKeysAnalysisViewBean.plansTreatmentsKeysSelected}">

            <p:ajax onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" event="cellEdit"
                    listener="#{registerKeysAnalysisRequestBean.onCellEdit}"/>

            <p:ajax event="rowSelectCheckbox" listener="#{registerKeysAnalysisViewBean.selectRow()}"/>
            <p:ajax event="rowUnselectCheckbox" listener="#{registerKeysAnalysisViewBean.unSelectRow()}"/>
            <p:ajax event="toggleSelect" listener="#{registerKeysAnalysisViewBean.toggleSelect()}"
                    partialSubmit="true"/>

            <p:column id="columnCheckTreat" selectionMode="multiple" width="5%"
                      rendered="#{registerKeysAnalysisViewBean.seeColunmCheck}"/>

            <p:column id="treatmentAnalysisRegisterDate" headerText="Fecha" style=" width: 7% !important;">
                <h:outputText value="#{plansTreatmentsKeys.datePlansTreatmentsKeys}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas"/>
                </h:outputText>
            </p:column>


            <p:column id="treatmentAnalysisRegisterName" headerText="Tratamiento" style=" width: 13% !important;">
                <h:outputText value="#{plansTreatmentsKeys.nameTreatments}" style="text-transform: uppercase"/>
            </p:column>



            <p:column id="treatmentAnalysisRegisterObeservation" headerText="Observación"
                      style=" width: 15% !important;">
                <span title="Presione aquí­ para editar" class="icon-lapiz icon_lapiz">
                    <img src="../recursos/img/iconpencil.png" alt=""/></span>
                <p:cellEditor id="cellEditorBaremo">
                    <f:facet name="output">
                        <h:outputText style="text-transform: uppercase; cursor: pointer" id="outputObservation"
                                      value="#{plansTreatmentsKeys.observation}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText maxlength="255" style="text-transform: uppercase" id="inputObservation"
                                     immediate="true" title="Presione enter o clic fuera para guardar los cambios"
                                     value="#{plansTreatmentsKeys.observation}">

                        </p:inputText>
                    </f:facet>
                </p:cellEditor>
            </p:column>


        </p:dataTable>
        <p:dataTable id="propertiesPlansTreatmentsKeysAnalysisRegister" style="width: 102%;"
                     rendered="#{registerKeysAnalysisViewBean.seeWhitProperties}" var="propertiesPlansTreatmentsKeyOutput"
                     value="#{registerKeysAnalysisViewBean.propertiesPlansTreatmentsKeyOutput}"
                     emptyMessage="NO SE ENCONTRARON REGISTROS" rowIndexVar="indice" paginator="true"
                     scrollable="false" rows="4" rowKey="#{propertiesPlansTreatmentsKeyOutput.id}"
                     paginatorAlwaysVisible="false" sortOrder="descending" editable="true" editMode="cell"
                     rowSelectMode="checkbox"
                     selection="#{registerKeysAnalysisViewBean.propertiesPlansTreatmentsKeySelected}">

            <p:ajax onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" event="cellEdit"
                    listener="#{registerKeysAnalysisRequestBean.onCellEdit}"/>

            <p:ajax event="rowSelectCheckbox" listener="#{registerKeysAnalysisViewBean.selectRow()}"/>
            <p:ajax event="rowUnselectCheckbox" listener="#{registerKeysAnalysisViewBean.unSelectRow()}"/>
            <p:ajax event="toggleSelect" listener="#{registerKeysAnalysisViewBean.toggleSelect()}"
                    partialSubmit="true"/>

            <p:column id="columnCheckProTreat" selectionMode="multiple" width="5%"
                      rendered="#{registerKeysAnalysisViewBean.seeColunmCheck}"/>

            <p:column headerText="Fecha" style=" width: 7% !important;">
                <h:outputText value="#{propertiesPlansTreatmentsKeyOutput.dateTreatments}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Tratamiento" style=" width: 13% !important;">
                <h:outputText value="#{propertiesPlansTreatmentsKeyOutput.nameTreatments}" style="text-transform: uppercase"/>
            </p:column>

            <p:column headerText="Diente" style=" width: 8% !important;">
                <h:outputText value="#{propertiesPlansTreatmentsKeyOutput.nameProperties}" style="text-transform: uppercase"/>
            </p:column>

            <p:column id="treatmentAnalysisRegisterFiles" headerText="Recaudos"
                      style=" width: 15% !important;">

                <p:commandButton id="btnViewsRecaudos1"  rendered="#{registerKeysAnalysisViewBean.enableBtnFile(propertiesPlansTreatmentsKeyOutput.fileRequirement1)}"
                                 actionListener="#{registerKeysAnalysisViewBean.downloadRequirementByRegister(propertiesPlansTreatmentsKeyOutput.fileRequirement1,1)}"
                                 icon="ui-icon-myPdf" title="Descargar Recaudos" process="@this" ajax="false">
                    <p:fileDownload value="#{registerKeysAnalysisViewBean.fileRequirementD1}" />
                </p:commandButton>
                <p:commandButton id="btnViewsRecaudos2" rendered="#{registerKeysAnalysisViewBean.enableBtnFile(propertiesPlansTreatmentsKeyOutput.fileRequirement2)}"
                                 actionListener="#{registerKeysAnalysisViewBean.downloadRequirementByRegister(propertiesPlansTreatmentsKeyOutput.fileRequirement2,2)}"
                                 icon="ui-icon-myPdf" title="Descargar Recaudos" process="@this" ajax="false">
                    <p:fileDownload value="#{registerKeysAnalysisViewBean.fileRequirementD2}" />
                </p:commandButton>
                <p:commandButton id="btnViewsRecaudos3" rendered="#{registerKeysAnalysisViewBean.enableBtnFile(propertiesPlansTreatmentsKeyOutput.fileRequirement3)}"
                                 actionListener="#{registerKeysAnalysisViewBean.downloadRequirementByRegister(propertiesPlansTreatmentsKeyOutput.fileRequirement3,3)}"
                                 icon="ui-icon-myPdf" title="Descargar Recaudos" process="@this" ajax="false">
                    <p:fileDownload value="#{registerKeysAnalysisViewBean.fileRequirementD3}" />
                </p:commandButton>
                <p:commandButton id="btnViewsRecaudos4" rendered="#{registerKeysAnalysisViewBean.enableBtnFile(propertiesPlansTreatmentsKeyOutput.fileRequirement4)}"
                                 actionListener="#{registerKeysAnalysisViewBean.downloadRequirementByRegister(propertiesPlansTreatmentsKeyOutput.fileRequirement4,4)}"
                                 icon="ui-icon-myPdf" title="Descargar Recaudos" process="@this" ajax="false">
                    <p:fileDownload value="#{registerKeysAnalysisViewBean.fileRequirementD4}" />
                </p:commandButton>
                <p:commandButton id="btnViewsRecaudos5" rendered="#{registerKeysAnalysisViewBean.enableBtnFile(propertiesPlansTreatmentsKeyOutput.fileRequirement5)}"
                                 actionListener="#{registerKeysAnalysisViewBean.downloadRequirementByRegister(propertiesPlansTreatmentsKeyOutput.fileRequirement5,5)}"
                                 icon="ui-icon-myPdf" title="Descargar Recaudos" process="@this" ajax="false">
                    <p:fileDownload value="#{registerKeysAnalysisViewBean.fileRequirementD5}" />
                </p:commandButton>
                <p:outputLabel id="labelSinRecaudos" value="-" rendered="#{registerKeysAnalysisViewBean.enableLabelFile(propertiesPlansTreatmentsKeyOutput.poseeRecaudos)}" style="text-align: center"/>

            </p:column>
            <p:column id="treatmentAnalysisRegisterObeservation2" headerText="Observación"
                      style=" width: 15% !important;">
                <span title="Presione aquí­ para editar" class="icon-lapiz icon_lapiz"><img
                        src="../recursos/img/iconpencil.png" alt=""/></span>
                <p:cellEditor id="cellEditorBaremo2">
                    <f:facet name="output">
                        <h:outputText id="outputObservation2" style="text-transform: uppercase; cursor: pointer"
                                      value="#{propertiesPlansTreatmentsKeyOutput.observation}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText maxlength="255" style="text-transform: uppercase;cursor: pointer;"
                                     id="inputObservation2" immediate="true" size="13"
                                     title="Presione enter o clic fuera para guardar los cambios"
                                     value="#{propertiesPlansTreatmentsKeyOutput.observation}">

                        </p:inputText>
                    </f:facet>
                </p:cellEditor>
            </p:column>
        </p:dataTable>
    </p:fieldset>

    <br></br>
    <br></br>
    <br></br>

    <h:panelGrid id="panelBtns" rendered="#{registerKeysAnalysisViewBean.seeRegisterDetails}" style="border: 0"
                 columns="4">
        <p:commandButton id="analysisBtnAudit" onclick="disable(this.id);" onsuccess="enabled();"
                         actionListener="#{registerKeysAnalysisRequestBean.auditGeneral('audited')}"
                         disabled="#{registerKeysAnalysisViewBean.disabledBtnAudit}" value="Auditar" process="@this">
            <p:confirm header="Confirmación" message="¿Desea continuar con la operación de auditar?"
                       icon="ui-icon-alert"/>
        </p:commandButton>

        <p:commandButton id="analysisBtnEvaluation" onclick="disable(this.id);" onsuccess="enabled();"
                         actionListener="#{registerKeysAnalysisRequestBean.auditGeneral('evaluation')}"
                         disabled="#{registerKeysAnalysisViewBean.disabledBtnEvaluation}" value="Evaluar"
                         process="@this">
            <p:confirm header="Confirmación" message="¿Desea continuar con la operación de evaluar?"
                       icon="ui-icon-alert"/>
        </p:commandButton>

        <p:commandButton id="analysisBtnRefuse" onclick="disable(this.id);" onsuccess="enabled();"
                         actionListener="#{registerKeysAnalysisRequestBean.auditGeneral('refuse')}"
                         disabled="#{registerKeysAnalysisViewBean.disabledBtnRefuse}" value="Rechazar" process="@this">
            <p:confirm header="Confirmación" message="¿Desea continuar con la operación de rechazar?"
                       icon="ui-icon-alert"/>
        </p:commandButton>
        <p:commandButton id="analysisBtnDelete" onclick="disable(this.id);" onsuccess="enabled();"
                         actionListener="#{registerKeysAnalysisRequestBean.auditGeneral('delete')}"
                         disabled="#{registerKeysAnalysisViewBean.disabledBtnDelete}" value="Eliminar" process="@this">
            <p:confirm header="Confirmación" message="¿Desea continuar con la operación de eliminar?"
                       icon="ui-icon-alert"/>
        </p:commandButton>
    </h:panelGrid>

    <br></br>
    <br></br>
    <br></br>

    <p:commandButton actionListener="#{registerKeysAnalysisViewBean.filterKeys(registerKeysAnalysisViewBean.
                                       selectedSpecialist.id, registerKeysAnalysisViewBean.receptionDate)}"
                     rendered="#{registerKeysAnalysisViewBean.seeRegisterDetails}"
                     value="Salir" process="@this">
    </p:commandButton>

    <p:commandButton actionListener="#{registerKeysAnalysisViewBean.resetDataSpecialistToAudit()}"
                     update=":form:registerSpecialistToAudit"
                     rendered="#{registerKeysAnalysisViewBean.seeRegisterDetails}"
                     value="Ir a la bandeja" process="@this">
    </p:commandButton>

    <p:commandButton id="btnHistorical" disabled="#{registerKeysAnalysisViewBean.disabledBtnHistorical}"
                     actionListener="#{accionesRequestBean.desplegarDialogoView('dialogHistoricalPatient')}"
                     rendered="#{registerKeysAnalysisViewBean.seeRegisterDetails}" value="Ver historial"
                     process="@this" onclick="PF('patientHistorical').filter()">
        <f:actionListener binding="#{registerKeysAnalysisViewBean.findHistoricalPatient()}"></f:actionListener>
    </p:commandButton>

    <p:confirmDialog style="background-color: #ffffff;" global="true" showEffect="fade">
        <p:commandButton value="Sí­" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
        <p:commandButton value="No" type="submit" process="@this" styleClass="ui-confirmdialog-no"
                         actionListener="#{registerKeysAnalysisViewBean.clearSelection()}" icon="ui-icon-close"/>
    </p:confirmDialog>
    <p:dialog widgetVar="dialogHistoricalPatient" draggable="true" resizable="true" id="dialogHistoricalPatient"
              showEffect="fade" modal="true" closable="false" header="Consulta del histórico de tratamiento">
        <p:scrollPanel id="scrollReviewAnlysisKeys" widgetVar="scrollReviewAnlysisKeys" mode="native"
                       style="width: 980px; height: 535px">
            <ui:include src="/web/registerAnalysisPatientHistorical.xhtml"/>
            <br></br>
            <br></br>
            <p:commandButton style="text-align: center" value="Salir" process="@this"
                             update="form:scrollReviewAnlysisKeys"
                             actionListener="#{accionesRequestBean.cerrarDialogoView('dialogHistoricalPatient')}">
                <f:actionListener binding="#{registerKeysAnalysisViewBean.resetHistorical()}"></f:actionListener>
            </p:commandButton>
        </p:scrollPanel>
    </p:dialog>

    <script type="text/javascript">
        var idButton;

        function disable(idBtn) {
            idButton = idBtn;
            PF('statusDialog').show();
            document.getElementById(idBtn).disabled = true;
        }

        function enabled() {
            PF('statusDialog').hide();
            document.getElementById(idButton).disabled = false;
        }
    </script>


</ui:composition>
