<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:outputScript library="js" name="calendar_es.js" />

    <p:fieldset rendered="#{reviewKeysAnalysisViewBean.reviewKeysAnalysisDetails}">
        <p:panelGrid id="panelReviewAnalisisKey" style="width: 100%;">
            <p:outputPanel style="text-align: left;" styleClass="blog-meta">
                <h:outputLabel value="Detalle de claves" style="padding-bottom: 10px;" styleClass="titulo-blog"/>
            </p:outputPanel>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 10%;">
                    <h:outputLabel for="keyAnalysisReview" value="Mes: "/>
                </p:column>
                <p:column style="width: 70%;">
                    <h:outputLabel for="keyAnalysisReview" value="#{reviewKeysAnalysisViewBean.nameMonth}"/>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:fieldset>
    <div class="order">
        <p:dataTable id="confirmKeyDetailsOutputTable" widgetVar="confirmKeyDetailsOutputTable"
                     var="confirmKeyDetailsOutput" value="#{reviewKeysAnalysisViewBean.confirmKeyDetailsList}"
                     rendered="#{reviewKeysAnalysisViewBean.reviewKeysAnalysisDetails}"
                     emptyMessage="NO SE ENCONTRARON REGISTROS"
                     style="margin-bottom:0" paginator="true" scrollable="false" rows="5"
                     paginatorAlwaysVisible="false">
            <p:column headerText="Clave" filterMaxLength="30" filterBy="#{confirmKeyDetailsOutput.numberKey}"
                      filterMatchMode="contains" width="35%">
                <f:facet name="filter">
                    <p:inputText maxlength="30" onkeyup="PF('confirmKeyDetailsOutputTable').filter()" id="claveF" >
                        <pe:keyFilter regEx="/^[0-9]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{confirmKeyDetailsOutput.numberKey}" style="text-transform: uppercase"/>
            </p:column>

            <p:column headerText="Tratamiento" filterMaxLength="255" filterBy="#{confirmKeyDetailsOutput.nameTreatments}"
                      filterMatchMode="contains" width="35%">
                <f:facet name="filter">
                    <p:inputText maxlength="255" onkeyup="PF('confirmKeyDetailsOutputTable').filter()" id="tratamientoF">
                        <pe:keyFilter regEx="/^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{confirmKeyDetailsOutput.nameTreatments}" style="text-transform: uppercase"/>
            </p:column>


            <p:column headerText="Fecha" filterMaxLength="10" filterBy="#{reviewKeysAnalysisViewBean.formatDate(confirmKeyDetailsOutput.dateTreatment)}"
                      filterMatchMode="contains" width="35%">
                <f:facet name="filter">
                    <p:calendar  id="calendar" widgetVar="calendar" maxdate="#{reviewKeysAnalysisViewBean.maxFilter}" pattern="dd/MM/yyyy"
                                 mindate="#{reviewKeysAnalysisViewBean.minFilter}"
                                 value="#{reviewKeysAnalysisViewBean.dateFilter}" maxlength="10"
                                 timeZone="America/Caracas" locale="es"
                                 onkeyup="PF('confirmKeyDetailsOutputTable').filter()"
                                 onkeydown="cleanCalendar(event)"  disabled="#{reviewKeysAnalysisViewBean.inputTable}"
                                 navigator="true"
                                 showButtonPanel="true" onclick="completeIformation()">
                        <p:ajax event="dateSelect" listener="#{reviewKeysAnalysisViewBean.handleDateSelectDetails()}"/>
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{reviewKeysAnalysisViewBean.formatDate(confirmKeyDetailsOutput.dateTreatment)}">
                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                </h:outputText>
            </p:column>

            <p:column headerText="Diente"
                      filterMatchMode="contains" style=" width: 100px !important;">
                <h:outputText value="#{confirmKeyDetailsOutput.nameProperties}  "
                              style="text-transform: uppercase; text-align: center;">
                </h:outputText>
            </p:column>


            <p:column headerText="Estado" filterMaxLength="45" filterBy="#{confirmKeyDetailsOutput.nameStatus}"
                      filterMatchMode="contains"  width="35%">
                <f:facet name="filter">
                    <p:inputText maxlength="45" onkeyup="PF('confirmKeyDetailsOutputTable').filter()" id="estadoF">
                        <pe:keyFilter regEx="/^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{confirmKeyDetailsOutput.nameStatus}" style="text-transform: uppercase"/>
            </p:column>


            <p:column id="observacionAnalysisToReview" headerText="Observación" filterMaxLength="255" filterBy="#{confirmKeyDetailsOutput.observation}"
                      filterMatchMode="contains"  width="35%">
                <f:facet name="filter">
                    <p:inputText onkeyup="PF('confirmKeyDetailsOutputTable').filter()" maxlength="255" id="observacionF" onkeypress="">
                        <pe:keyFilter regEx="/^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                    </p:inputText>
                </f:facet>
                <h:outputText value="#{confirmKeyDetailsOutput.observation}" style="text-transform: uppercase"/>
            </p:column>


            <p:column id="amountPaidAnalysisToReview" headerText="Baremo" filterMaxLength="13" filterFunction="#{reviewKeysAnalysisViewBean.filterAmountPay}" 
                      filterBy="#{confirmKeyDetailsOutput.amountPaid}"  width="35%"
                     >
                <f:facet name="filter">


                    <pe:inputNumber value="#{reviewKeysAnalysisViewBean.priceDetail}"  onkeyup="filterPrice()"
                                    decimalSeparator="," thousandSeparator="." maxValue="9999999999.99" decimalPlaces="2"
                                    widgetVar="price"
                                    styleClass="price"
                    >
                    </pe:inputNumber>
                </f:facet>
                <h:outputText value="#{confirmKeyDetailsOutput.amountPaid}" style="text-transform: uppercase">
                    <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                </h:outputText>
            </p:column>
        </p:dataTable>
        <p:fieldset rendered="#{reviewKeysAnalysisViewBean.reviewKeysAnalysisDetails}">
            <p:panelGrid id="panelTotalAmounthPaid" style="width:100%;margin-left: 1.5%;">
                <p:row>

                    <p:column style="width: 67%;border: 0 !important;">

                    </p:column>
                    <p:column styleClass="ui-widget-header" style="width: 13%;">
                        <h:outputLabel for="totalAmounthPaid" value="Total a pagar Bs."/>
                    </p:column>
                    <p:column style="width: 20%;">
                        <h:outputLabel for="totalAmounthPaid" value="#{reviewKeysAnalysisViewBean.totalAmounthPaid}"
                                       style="text-align:center;">
                            <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                        </h:outputLabel>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:fieldset>
        <br></br>
        <br></br>
    </div>


    <p:commandButton value="Aceptar" style="width: 75px" onstart="PF('statusDialog').show()"
                     onsuccess="PF('statusDialog').hide()" process="@this"
                     actionListener="#{reviewKeysAnalysisRequestBean.updateStatusTreatmentsConfirm()}"
                     rendered="#{reviewKeysAnalysisViewBean.btnConfirmReviewKeysAnalysisDetails}">
        <p:confirm header="Confirmación" message="¿Seguro de realizar esta operación?" icon="ui-icon-alert"/>
    </p:commandButton>
    <p:commandButton value="Salir" style="width: 75px" onclick="resetPaginator();" onsuccess="PF('statusDialog').hide()"
                     actionListener="#{reviewKeysAnalysisViewBean.goReviewKeysAnalysisList()}" process="@this"
                     rendered="#{reviewKeysAnalysisViewBean.btnLeaveReviewKeysAnalysisDetails}">

    </p:commandButton>

    <p:confirmDialog message="¿Seguro de realizar esta operación?" header="Confirmación"
                     style="background-color: #ffffff;" global="true" showEffect="fade">
        <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" value="Sí"
                         type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
        <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" value="No"
                         type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
    </p:confirmDialog>

    <script>
        function resetPaginator() {
            PF('statusDialog').show();
            PF('confirmKeyDetailsOutputTable').getPaginator().setPage(0);
        }
    </script>

    <script type="text/javascript">
        var isActive = null;
        
        $("form").keypress(function(e) {
        if (e.which == 13) {
            return false;
        }
    });
        var clave = document.querySelector("#form\\:confirmKeyDetailsOutputTable\\:claveF");
        if (clave !== null) {
            clave.ondrop = function () {
                return false;
            };
        }
        var tratamiento = document.querySelector("#form\\:confirmKeyDetailsOutputTable\\:tratamientoF");
        if (tratamiento !== null) {
            tratamiento.ondrop = function () {
                return false;
            };
        }
        var estado = document.querySelector("#form\\:confirmKeyDetailsOutputTable\\:estadoF");
        if (estado !== null) {
            estado.ondrop = function () {
                return false;
            };
        }
        var obs = document.querySelector("#form\\:confirmKeyDetailsOutputTable\\:observacionF");
        if (obs !== null) {
            obs.ondrop = function () {
                return false;
            };
        }
        var baremo = document.querySelector("#form\\:confirmKeyDetailsOutputTable\\:baremoF");
        if (baremo !== null) {
            baremo.ondrop = function () {
                return false;
            };
        }
        var calen = document.querySelector("#form\\:confirmKeyDetailsOutputTable\\:calendar_input");
        if (calen !== null) {
            calen.ondrop = function () {
                return false;
            };
        }
        function cleanCalendar(e) {
            var keyCode = e.which || e.keyCode;

            //si es igual a backspace
            if (keyCode == 8) {
                $(PrimeFaces.escapeClientId('form:confirmKeyDetailsOutputTable:calendar_input')).val('');
                PF('confirmKeyDetailsOutputTable').filter();
            } else {
                e.preventDefault();
            }
        }

        function completeIformation() {
            if (isActive == null) {

                isActive = $("#form\\:confirmKeyDetailsOutputTable\\:calendar_input").bind("paste", function (e) {
                    e.preventDefault();
                    isActive = true;
                });
            }
        }
        
        function filterAmountPay() {
            if (typeof PF('Baremo') !== "undefined") {
                PF('Baremo').filter();
                $('.amountPay').keyup();
                $('.validateEnter').keyup();
                PF('Baremo').filter();
            }
        }


        function filterPrice(){
            $('.price').keyup();
            PF('confirmKeyDetailsOutputTable').filter();
            $('.validateEnter').keyup();
            PF('confirmKeyDetailsOutputTable').filter();
        }

    </script>
</ui:composition>