<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"                
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:fieldset rendered="#{reviewKeysAnalysisHistoricalViewBean.reviewKeysAnalysisHistoricalDetails}" >
        <p:panelGrid id="panelReviewAnalisisKey" style="width: 100%;">
            <p:outputPanel style="text-align: left;" styleClass="blog-meta">
                <h:outputLabel value="Detalle de claves" style="padding-bottom: 10px;" styleClass="titulo-blog"/>
            </p:outputPanel>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 10%;">
                    <h:outputLabel for="keyAnalysisHistoricalReview" value="Mes: " />
                </p:column>
                <p:column style="width: 70%;" >
                    <h:outputLabel for="keyAnalysisHistoricalReview" value="#{reviewKeysAnalysisHistoricalViewBean.nameMonth}" />
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:fieldset>
    <div class="order">          
        <p:dataTable id="confirmKeyDetailsOutputTable" widgetVar="confirmKeyDetailsOutputTable" var="confirmKeyDetailsOutput" value="#{reviewKeysAnalysisHistoricalViewBean.confirmKeyDetailsList}" rendered="#{reviewKeysAnalysisHistoricalViewBean.reviewKeysAnalysisHistoricalDetails}" 
                     emptyMessage="NO SE ENCONTRARON REGISTROS" 
                     style="margin-bottom:0" paginator="true" scrollable="false" rows="5" 
                     paginatorAlwaysVisible="false" >
            <p:column  headerText="Clave"
                      filterMatchMode="contains" style=" width: 100px !important;">
                <h:outputText value="#{confirmKeyDetailsOutput.numberKey}" style="text-transform: uppercase" />                    
            </p:column>

            <p:column  headerText="Tratamiento"
                      filterMatchMode="contains" style=" width: 100px !important;">
                <h:outputText value="#{confirmKeyDetailsOutput.nameTreatments}" style="text-transform: uppercase" />                    
            </p:column>  
            <p:column  headerText="Estado"
                      filterMatchMode="contains" style=" width: 100px !important;">
                <h:outputText value="#{confirmKeyDetailsOutput.nameStatus}" style="text-transform: uppercase" />                    
            </p:column> 
            <p:column  headerText="Diente"
                      filterMatchMode="contains" style=" width: 100px !important;" >
                <h:outputText  value="#{confirmKeyDetailsOutput.nameProperties}  " style="text-transform: uppercase; text-align: center;">                    
                </h:outputText> 
            </p:column> 
            <p:column id="observacionAnalysisToReview" headerText="Observación"
                      filterMatchMode="contains" style=" width: 100px !important;">
                <h:outputText  value="#{confirmKeyDetailsOutput.observation}" style="text-transform: uppercase" />                    
            </p:column>  
            <p:column id="amountPaidAnalysisToReview" headerText="Monto a pagar"
                      filterMatchMode="contains" style=" width: 100px !important;">
                <h:outputText  value="#{confirmKeyDetailsOutput.amountPaid}" style="text-transform: uppercase"> 
                    <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                </h:outputText>                    
            </p:column>
        </p:dataTable>
        <p:fieldset rendered="#{reviewKeysAnalysisHistoricalViewBean.reviewKeysAnalysisHistoricalDetails}"   >
        <p:panelGrid id="panelTotalAmounthPaid" style="width:100%;margin-left: 1.5%;">
            <p:row>
               
                 <p:column  style="width: 67%;border: 0 !important;">
                   
                </p:column>
                 <p:column styleClass="ui-widget-header" style="width: 13%;">
                    <h:outputLabel for="totalAmounthPaid" value="Total a pagar Bs." />
                </p:column>
                <p:column  style="width: 20%;" >
                    <h:outputLabel for="totalAmounthPaid" value="#{reviewKeysAnalysisHistoricalViewBean.totalAmounthPaid}" style="text-align:center;">
                                    <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                    </h:outputLabel>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:fieldset>
        <br></br>
        <br></br>
    </div>
    <p:commandButton value="Aceptar" style="width: 75px" onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" process="@this" actionListener="#{reviewKeysAnalysisHistoricalRequestBean.updateStatusTreatmentsConfirm()}" rendered="#{reviewKeysAnalysisHistoricalViewBean.btnConfirmReviewKeysAnalysisDetails}"> 
          <p:confirm header="Confirmación" message="¿Seguro de realizar esta operación?" icon="ui-icon-alert" />
    </p:commandButton>
    <p:commandButton value="Salir" style="width: 75px" onclick="resetPaginator();" onsuccess="PF('statusDialog').hide()" actionListener="#{reviewKeysAnalysisHistoricalViewBean.goReviewKeysAnalysisList()}"  process="@this" rendered="#{reviewKeysAnalysisHistoricalViewBean.btnLeaveReviewKeysAnalysisDetails}" > 
         
    </p:commandButton>

    <p:confirmDialog message="¿Seguro de realizar esta operación?" header="Confirmación" style="background-color: #ffffff;" global="true" showEffect="fade">
        <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"  value="Sí" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
    
    <script>
        function resetPaginator() {  
            PF('statusDialog').show();
            PF('confirmKeyDetailsOutputTable').getPaginator().setPage(0);
        }
    </script>
</ui:composition>