<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <body>
        <ui:composition template="/template/indexTemplateApplication.xhtml">


            <ui:define name="header">
                <ui:include src="/views/application/cabecera.xhtml"/>
            </ui:define>

            <ui:define name="content" class="divContenRegister">

                <h:form id="form" style="border: 0px #000000;">
                    <ui:include src="/web/reviewAnalysisKeysList.xhtml"/>
                     <ui:include src="/web/reviewAnalysisKeysDetails.xhtml"/>   
                    <p:dialog style="background-color: transparent !important"  widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                        <img src="../recursos/img/loading.gif" style="max-width: 40px" alt=""/>                    
                    </p:dialog>
                </h:form>   


            </ui:define>
        </ui:composition>

    </body>
</html>