<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <body>

        <ui:composition template="/template/indexTemplateApplication.xhtml">

            <ui:define name="header">
                <ui:include src="/views/application/cabecera.xhtml"/>
            </ui:define>

            <ui:define name="content">

                <h:form id="form" style="border: 0px #000000;">
                    <ui:include src="/web/listSpecialist.xhtml"/>
                     <ui:include src="/web/dialogos/maskLoading.xhtml"/>
                </h:form>                  
            </ui:define>

        </ui:composition>

    </body>
</html>
