<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="font-size: 0.7em !important;">

        <div style="width: 100%; height: 75px; margin-top: 5px">
            <h:outputLink value="/web/index.xhtml">
                <p:graphicImage value="/img/heal_logo2.png" style="float: left; margin-right: 1%; margin-left: 15%;"/>
            </h:outputLink>

            <ui:include src="/web/menuBar.xhtml"/>

            <ui:include src="/template/monitorSesion.xhtml"/>

        </div>

        <div id="page-title-wrap">

            <div style="width: 940px; margin:0 auto;"><p:graphicImage value="/img/oficinavirtual.png" style="float: left;"/> </div>

        </div>
    </div>



</ui:composition>


