<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
>
    <div>
        <p:outputLabel value="Gestor Administrativo del Grupo Veneden" styleClass="blog-title" style="margin-left: 5%;"/>
        <p:outputLabel rendered="false" value="Bienvenido(a): " styleClass="blog-title" style="font-size: 2em; margin-left: 5%;"></p:outputLabel>
        <br/>

        <p:graphicImage value="/img/img_admin.jpg" styleClass="blog-image" style="margin-left: auto !important; margin-right: auto !important; float: none !important; box-shadow: none !important;"/> <br/>
    </div>
</ui:composition>