<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"       
                xmlns:f="http://java.sun.com/jsf/core">

    <p:panelGrid>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="firstnameCreate" value="* Primer nombre: " />
            </p:column>
            <p:column>
                <p:inputText   size="50" maxlength="20"
                              id="firstnameCreate" label="firstnameCreate" 
                              
                              requiredMessage="Debe introducir un Primer Nombre"
                              validator="SoloLetrasValidator"
                              validatorMessage="Caracteres inválidos en el campo Primer Nombre">
                   
                    <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="false"/>
                </p:inputText>
            </p:column>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="secondnameCreate" value="Segundo nombre: " />
            </p:column>
            <p:column>
                <p:inputText   size="50" maxlength="20"
                              id="secondnameCreate" label="secondnameCreate" 
                              requiredMessage="Debe introducir un Segundo Nombre"
                              validator="SoloLetrasValidator"
                              validatorMessage="Caracteres inválidos en el campo Segundo Nombre">                    
                   
                    <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="false"/>
                </p:inputText>
            </p:column>

        </p:row>

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="firstlastnameCreate" value="* Primer Apellido: " />
            </p:column>
            <p:column>
                <p:inputText  size="50" maxlength="20"
                             id="firstlastnameCreate" label="firstlastnameCreate" 
                             
                             requiredMessage="Debe introducir un Primer Apellido"
                             validatorMessage="Caracteres inválidos en el campo Primer Apellido"> 
                   
                    <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="false"/>
                </p:inputText>
            </p:column>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="secondlastnameCreate" value="Segundo Apellido: " />
            </p:column>
            <p:column>
                <p:inputText   size="50" maxlength="20"
                              id="secondlastnameCreate" label="secondlastnameCreate" 
                              requiredMessage="Debe introducir un Segundo Apellido"
                              validatorMessage="Caracteres inválidos en el campo Segundo Apellido">                    
                    
                    <pe:keyFilter regEx="/^[a-zA-Z \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="false"/>
                </p:inputText>
            </p:column>

        </p:row>

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="completeNameCreate" value="Nombre Completo: " />
            </p:column> 
            <p:column> 
                <h:outputLabel  id="completeNameCreate" value="#{specialistsViewBean.newSpecialists[5]}"  />
            </p:column>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="baremoCreate" value="Baremo: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="baremoCreate" converter="baremoConverter" value="#{baremoViewBean.newBaremo}">
                    <f:selectItem itemLabel="Seleccione un valor" />
                    <f:selectItems  itemValue="#{baremo}"
                                    var="baremo" itemLabel="#{baremo.descripcion}" value="#{baremoApplicationBean.listBaremo}"/>

                </h:selectOneMenu>
            </p:column>
        </p:row>


        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="cedulaCreate" value="* Cédula: " />
            </p:column> 
            <p:column>
                <p:inputText   size="50" maxlength="8"
                              id="cedulaCreate" label="Cedula" 
                              requiredMessage="Debe introducir una Cédula"
                              validatorMessage="Caracteres inválidos en el campo Cedula"> 
                     <pe:keyFilter regEx="/^[0123456789]*$/" preventPaste="false"/>
                    </p:inputText>
            </p:column> 

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="rifCreate" value="* RIF: " />
            </p:column> 
            <p:column>
                <h:selectOneMenu  id="tipoRif" value="#{specialistsViewBean.tipoRifEdit}" style="width: 60px; display: inline; float: left;">
                    <f:selectItem itemLabel="V" itemValue="V"/>
                    <f:selectItem itemLabel="J" itemValue="J"/>
                    <f:selectItem itemLabel="G" itemValue="G"/>
                    <f:selectItem itemLabel="E" itemValue="E"/>
                    <p:ajax event="change" update="rifCreate" listener="#{specialistsRequestBean.mascaraRif(specialistsViewBean.tipoRifEdit)}" />
                </h:selectOneMenu>
                <p:inputMask   size="35" mask="#{specialistsViewBean.mascaraRifEdit}"
                             
                              id="rifCreate" label="rifCreate" style="float: left; height: 18px; width: auto;"
                              validatorMessage="RIF inválido" requiredMessage="Debe introducir un RIF" placeholder="Ej: V123456789">                    
                </p:inputMask>
            </p:column> 


        </p:row>

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="tel1Create" value="Teléfono: " />
            </p:column>
            <p:column>
                <p:inputMask    size="50"
                              id="tel1Create" required="false"  label="tel1Create" 
                              placeholder="Ej: (0212)(555-55-55)" 
                              validatorMessage="Teléfono inválido" 
                              requiredMessage="Debe introducir un número Teléfono" 
                              mask="(9999)(999-99-99)" >
                </p:inputMask>
            </p:column>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="tel2Create" value="Teléfono celular: " />
            </p:column>
            <p:column>
                <p:inputMask   size="50"
                              required="false"
                              id="tel2Create" label="tel2Create" 
                              validatorMessage="Teléfono inválido" 
                              requiredMessage="Debe introducir un número de Teléfono Celular" 
                              mask="(9999)(999-99-99)"
                              placeholder="Ej: (0414)(555-55-55)" >
                </p:inputMask>
            </p:column>

        </p:row>

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="msdsCreate" value="MSDS: " />
            </p:column>
            <p:column>
                <p:inputText   size="50" maxlength="10"
                              id="msdsCreate" required="false"  label="msdsCreate" 
                              requiredMessage="Debe introducir un número MSDS"
                              validatorMessage="Caracteres inválidos en el campo MSDS">
                    <pe:keyFilter regEx="/^[0123456789]*$/" preventPaste="false"/>
                </p:inputText>
            </p:column>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="ncmCreate" value="Número colégio de médicos: " />
            </p:column>
            <p:column>
                <p:inputText   size="50" maxlength="10"
                              id="ncmCreate" required="false"  label="ncmCreate" 
                              requiredMessage="Debe introducir un número de Colégio de Médicos"
                                validatorMessage="Caracteres inválidos en el campo Número colégio de médicos">
                    <pe:keyFilter regEx="/^[0123456789]*$/" preventPaste="false"/>
                </p:inputText>
            </p:column>

        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="emailCreate" value="* Correo Electrónico: " />
            </p:column>
            <p:column>
                <p:inputText   size="50" maxlength="254"
                              id="emailCreate" label="emailCreate" 
                              
                              requiredMessage="Debe introducir un Correo Electrónico" 
                              placeholder="Ej: usuario@midominio.com"
                              validatorMessage="Correo Electrónico inválido">
                    <pe:keyFilter mask="email" preventPaste="false"/>
                </p:inputText>
            </p:column>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="direccionCreate" value="Dirección de habitación: " />
            </p:column>
            <p:column>
                <p:inputTextarea value="#{addressesViewBean.newAddresses.address}"  cols="50" maxlength="255"
                                  id="direccionCreate" required="false"  label="direccionCreate" 
                                  validatorMessage="Dirección inválida" requiredMessage="Debe introducir una Dirección" >
                </p:inputTextarea>
            </p:column>



        </p:row>

        <p:row>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="stateCreate" value="Estado: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="stateCreate" converter="stateConverter"  value="#{stateViewBean.newState}" 
                                  required="false" requiredMessage="Debe especificar un Estado"
                                  validatorMessage="Estado inválido">
                    <f:selectItem itemLabel="Seleccione un valor" />
                    <f:selectItems  itemValue="#{state}"
                                    var="state" itemLabel="#{state.nombre}" value="#{stateApplicationBean.listState}"/>
                    <p:ajax event="change" partialSubmit="true" process="@this" update="citiesCreate" listener="#{citiesViewBean.filtrarCitiesClinic(stateViewBean.newState)}" />
                </h:selectOneMenu>
            </p:column>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="citiesCreate" value="Ciudad/Zona: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="citiesCreate" converter="citiesConverter"  value="#{citiesViewBean.newCities}"
                                  required="false" requiredMessage="Debe especificar una Ciudad/Zona"
                                  validatorMessage="Ciudad inválida">
                    <f:selectItem itemLabel="Seleccione un valor" />
                    <f:selectItems  itemValue="#{cities}" 
                                    var="cities" itemLabel="#{cities.name}" value="#{citiesViewBean.listCities}"/>
                    <p:ajax/>
                </h:selectOneMenu>
            </p:column>

        </p:row>

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="sexoCreate" value="Sexo: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="sexoCreate"  >
                    <f:selectItem itemLabel="Seleccione un valor" />
                    <f:selectItems itemLabel="#{listaSexo}" itemValue="#{listaSexo.valor}" var="listaSexo" value="#{miscelaneosViewBean.listaSexo}" />
                </h:selectOneMenu>
            </p:column>

            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="edocivilCreate" value="Estado civil: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="edocivilCreate"  >
                    <f:selectItem itemLabel="Seleccione un valor" />
                    <f:selectItems value="#{miscelaneosViewBean.listaEstadoCivil}" />
                </h:selectOneMenu>
            </p:column>

        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel for="papeleriaCreate" value="Papeleria: " />
            </p:column>
            <p:column>
                <p:selectBooleanCheckbox id="papeleriaCreate"  />
            </p:column>
            
            <p:column styleClass="ui-widget-header">
                <h:outputLabel for="observationCreate" value="Observaciones: "/>
            </p:column>
            <p:column>
                <p:inputTextarea  
                                  style="width: 100%; width: 100%"
                                  id="observationCreate" label="observationCreate" >
                </p:inputTextarea>
            </p:column>
        </p:row>


    </p:panelGrid>    
</ui:composition>

