/**
    @autor leonelsoriano3@gmail.com
*/


body{
    background: url("../../../img/subtle_dots.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

#blog-meta {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EFEFEF;
    background-image: url("/../img/white_bed_sheet.png");
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    color: #949494;
    margin: 0 auto;
    padding: 15px 15px 5px 16px;
    width: 100%;
}

.blog-meta-dialog{
    background: #EFEFEF url("../../../img/white_bed_sheet.png");
    color: #5d5d5d;
    margin-top: -9px;
    padding: 13px 15px 15px 16px;
}


.row-single-dialog{

    padding: 10px 15px 10px 16px;
    color: #5d5d5d;
    margin-top: -9px;
    padding: 13px 15px 15px 16px;
}

.blog-meta-dialog-row{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    color: #5d5d5d;
    margin: 12px;
}

#page-title-wrap-general{

    color: #8c8c8c;
    margin-bottom: 50px;
    padding: 24px 0 31px 30px;
    opacity: 0.9;
    background:url(../../../img/page_title_bg.png) no-repeat;
    border-top: 3px solid #e0e0e0;
    border-bottom: 3px solid #e0e0e0;
    width: 100%;
    height: 230px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
}


.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#page-title-wrap-general2{

    color: #8c8c8c;
    margin-bottom: 50px;
    padding: 24px 0 31px 30px;
    opacity: 0.9;
    background:url(../../../img/page_title_bg.png) no-repeat;
    border-top: 3px solid #e0e0e0;
    border-bottom: 3px solid #e0e0e0;
    width: 100%;
    height: 149px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
}

#page-title-wrap {
    color:#8c8c8c;
    margin-bottom:20px;
    padding:28px 0 31px 30px;
    opacity:0.9;
    background:url(../../../img/page_title_bg.png) no-repeat;
    border-top:3px solid #e0e0e0;
    border-bottom:3px solid #e0e0e0;
    width: 100%;
    height: 149px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}


#title-directory{

    margin-top: 20px;
    margin-left: -100px;
    margin-bottom: 7px;
}

#title-directory2{

    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;

}

#titulo-blog{
    text-align: left;
    vertical-align: center;
    font-size: 22px;
    color: #DF8D2E;
}

#container-title-directory2{

    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

#container-title-directory{

    margin-left: 70px;
}



#subtitle-directory{
    width: 100%;
    margin-left: -75px;
    margin-top: 9px;

    display: inline;
    padding-top: 3px;
    color: #e4e4e4;
    float: left;
    font: 14px/21px "Source Sans Pro","Droid Sans",Arial,sans-serif;
    font-size: 1.02em;
}

#dotted-top{
    border-top: 1px dotted #c8c8c8;
    width: 33%;
    margin-top: 7px;
}
#dotted-top>div{
    padding-left: 0px;
    margin-top: 2px;
}
#bttnFile{
    padding:5px 15px; background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;

    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    background-color: #79b2f8;
    border: 1px solid #71a1da;
    color: #fff !important;
    text-shadow: 1px 1px 0px #727272;
    box-shadow: inset 0px 0px 4px white;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    line-height: normal;
    padding: 5px 8px 5px 8px;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

}


.ui-dialog-titlebar {
      text-align: left;
    vertical-align: center;
    font-size: 14px;
    /*background:#DF8D2E;*/
    color: #DF8D2E !important;

}

#ui-id-2{
    text-align: left;
    vertical-align: center;
    /*font-size: 18px;*/
    color: #DF8D2E;
}
div.ui-dialog:nth-child(8) > div:nth-child(1){

    color: #DF8D2E;

}



/*.ak-dialog-titlebar {*/
    /*text-align: left;*/
    /*vertical-align: center;*/
    /*font-size: 14px;*/
    /*background: none repeat scroll 0% 0% #F1F1F1;*/
    /*color: orange;*/

/*}*/
.uppercase2 {
    text-transform: uppercase !important;
}

.tr{
    border:1px dotted #e0e0e0 !important;
    padding:8px !important;
    color:#828282;
    text-align:center !important;
    font-size: 0.8em !important;
    background: url("/../img/subtle_dots.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.td {
    padding:12px;
    border:1px dotted #d5d5d5;
    font-size:0.9em;
    background:url(/../img/noise_lines.png);
    text-align:center !important;
    font-weight:bold !important;
    color:#444 !important;
}

/* footer */

#page-footer-wrap {
    background:url(../../../img/footer-bg.png);
    min-height: 200px;
    border-top:3px solid #e0e0e0;
    color: #FFF;
    border-bottom:3px solid #e0e0e0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 35px !important;
    font-size: 14px;
    font-family: Arial;
    text-align: left;
}

.title-footer{
    text-align: left;
    font-family: Footlight MT Light;
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 20px;
    color: #DF8D2E;
    cursor: default;
}

.content-footer-1{
    font-weight: bold;
    line-height: 22px;
}

.sub-divicion-footer{
    color: #b4ceed;
    margin-bottom: 1px;
}

.sub-title-footer{
    color: #FFFFFF;
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 1.06em;
}


.footer-telephone {
    background: url(../../../img/footer_telephone_img.png) no-repeat 0  4px;
    padding-left: 20px !important;
    padding-bottom: -10px;
}

.footer-email{
    background: url(../../../img/footer_mail_img.png) no-repeat 0 4px;
    padding-left: 20px !important;
    padding-bottom: -10px;
}

.footer-address{
    background: url(../../../img/footer_address_img.png) no-repeat 0 4px;
    padding-left: 20px !important;
    padding-bottom: -10px;
}

#center_content{
    position: relative; width: 960px; margin: 0 auto; padding: 0;
}

#copy-right{
    padding-top: 30px;
    margin-top: 40px;
    border-top: 1px dotted #6D9CEA;
    padding-bottom: 25px;
}

.footer-img-link{
    text-align: center;
    border-bottom: 1px dotted #6D9CEA;
    padding-bottom: 8px;
    padding-top: 2px;
}

.footer-img-link>a>img{
    width: 112px;
    height: 38px

}


#back-to-top{
    position: absolute;
    bottom: 20px;
    right: 30px;
    background: url(../../../img/totop_img.png) no-repeat;
    width: 50px;
    height: 50px;
    opacity: .6;
    transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
}



/*titulo de pagina*/
.ak-title-page{
    line-height: 30px;
    color: #4477b5;
    text-decoration: none;
    font-family: Footlight MT Light;
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 2.6em;
    font-weight: normal;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    margin-bottom: 6px;
}

.ak-title-page:hover{
    color: #2c62a4;
}


.table-info-dark{
    background: #EFEFEF url("../../../img/white_bed_sheet.png");
    color: #949494;
    font-weight: bolder;
}

/*input*/
.ak-input{
    width: 50%;
    height: 28px;
    font-size: 0.9em;
}

.ak-input2{
    width: 50%;
    height: 28px;
    font-size: 1em;
}

.ak-input3{
    width: 30%;
    height: 28px;
    font-size: 1em;
}

.ak-text-grey{
    font-weight: bold;
    font-size: 12px;
    color: #828282;
    height: 14px;
}

.ak-label-for-input{
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    color: #828282;
    height: 14px;
}

.ak-label-for-input2{
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    color: #828282;
    height: 14px;
}

.ak-label-for-output2{
    color:#828282;
    text-align:left !important;
    font-size: 11px !important;
    font-weight: normal;
    color: #828282;
}



.ak-input:focus{
    border-color: #9C9C9C;
    outline: 0;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(37, 37, 37, .6);
    box-shadow: inset 0 0.5px 0.5px rgba(0,0,0,.075), 0 0 2px rgba(37, 37, 37, .6);
}

.ak-fieldset{
    margin-bottom: 10px;
}

.fileBttn{
  padding:5px 15px; background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;

    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    background-color: #79b2f8;
    border: 1px solid #71a1da;
    color: #fff !important;
    text-shadow: 1px 1px 0px #727272;
    box-shadow: inset 0px 0px 4px white;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    line-height: normal;
    padding: 5px 8px 5px 8px;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
  
}


input[type=button] {
    padding:5px 15px; background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;

    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    background-color: #79b2f8;
    border: 1px solid #71a1da;
    color: #fff !important;
    text-shadow: 1px 1px 0px #727272;
    box-shadow: inset 0px 0px 4px white;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    line-height: normal;
    padding: 5px 8px 5px 8px;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

}

input[type=button]:hover{
    background-color: #3C90F8;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    line-height: normal;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}


input[type=file] {
    padding:5px 15px; background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;

    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    background-color: #79b2f8;
    border: 1px solid #71a1da;
    color: #fff !important;
    text-shadow: 1px 1px 0px #727272;
    box-shadow: inset 0px 0px 4px white;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    line-height: normal;
    padding: 5px 8px 5px 8px;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

}

input[type=file]:hover{
    background-color: #3C90F8;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    line-height: normal;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
select {
    width: 50%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url("http://www.csslab.cl/ejemplos/select/arrowdown.gif") no-repeat 90% center;
    border: 1px solid #ccc;

}
div.daterangepicker:nth-child(12) > div:nth-child(1) > div:nth-child(2)
> table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(2)
{
    background: rgb(255,235,205);
}
div.daterangepicker:nth-child(13) > div:nth-child(1) > div:nth-child(2) > table:nth-child(1) > thead:nth-child(1) >
tr:nth-child(1) > th:nth-child(2){

    background: rgb(255,235,205);
}
div.daterangepicker:nth-child(13) > div:nth-child(1) > div:nth-child(2) > table:nth-child(1) > thead:nth-child(1) >
tr:nth-child(1) > th:nth-child(3)
{
    background: rgb(255,235,205);
}
.prev{
    background: rgb(255,235,205);
}
div.daterangepicker:nth-child(12) > div:nth-child(1) > div:nth-child(2) > table:nth-child(1) > thead:nth-child(1) >
tr:nth-child(1) > th:nth-child(3)
{
    background: rgb(255,235,205);
}

.fa-chevron-left , div.daterangepicker:nth-child(12) > div:nth-child(1) > div:nth-child(2) > table:nth-child(1) >
thead:nth-child(1) > tr:nth-child(1) > th:nth-child(3) > i:nth-child(1){

    background: rgb(223,141,46);
    color: #FFFFFF;
    padding: 8px;
    font-size: 7px !important;;

}
div.daterangepicker:nth-child(13) > div:nth-child(1) > div:nth-child(2) > table:nth-child(1) >
thead:nth-child(1) >tr:nth-child(1) > th:nth-child(3) > i:nth-child(1){
    background: rgb(223,141,46);
    color: #FFFFFF;
    padding: 8px;
    font-size: 7px !important;;
}

div.daterangepicker:nth-child(15) > div:nth-child(1) > div:nth-child(2) >
table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(3){
    background: rgb(255,235,205);
}

div.calendar:nth-child(1) > div:nth-child(2) > table:nth-child(1) >
thead:nth-child(1) > tr:nth-child(1) > th:nth-child(3){
    background: rgb(255,235,205);
}

div.daterangepicker:nth-child(15) > div:nth-child(1) > div:nth-child(2) >
table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(2){
    background: rgb(255,235,205);
}

div.daterangepicker:nth-child(15) > div:nth-child(1) > div:nth-child(2) >
table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1){
    background: rgb(255,235,205);
}

div.daterangepicker:nth-child(14) > div:nth-child(1) > div:nth-child(2) >
table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(2){
    background: rgb(255,235,205);
}
div.single:nth-child(1) > div:nth-child(2) > table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1),
div.single:nth-child(1) > div:nth-child(2) > table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(2){
    background: rgb(255,235,205);
}

div.calendar:nth-child(1) > div:nth-child(2) > table:nth-child(1) > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(3){
    background: rgb(255,235,205);
}

.fa-chevron-right
{
    background: rgb(223,141,46);
    color: #FFFFFF;
    padding: 8px;
    font-size: 7px !important;;
}


input[type=button]:disabled{

    cursor: default !important;
    opacity: .35;
    background-image: none;
}

.ak-form-search{
    padding-left: 0;
    margin-top: -5px;
    margin-bottom: -8px;
}

.ak-form-search> input[type=text]{
    width: 51%;
    height: 31px;
    margin-bottom: 0px;
}

#back-to-top {
    float: right;
    position: relative;
    top: 0px;
    /*left: 150px;  COMENTADO POR JULIO*/ 
    background: url('../../../img/totop_img.png') no-repeat scroll 0% 0% transparent;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    transition-duration: 0.6s;
    border: none;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0);
}

#back-to-top:hover {
    opacity:.9;
    top:-5px;
}


.ajax-content{
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 88, 92, .15);
    z-index: 30001;
}

.ajax-img{
    background-color: white;
    width: 30px;
    height: 38px;
    box-shadow: -6px 6px 12px 2px rgba(0,0,0,0.5);
}

.message-error{
    margin-top: -8px;
    color: #FF5500;
    font-weight: bold !important;
    font: 10px "Source Sans Pro", "Droid Sans", Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -8px;
    line-height: 25px;
    background: white;
    width: 50%;
    min-height: 26px;

}



/*angular animation*/
.fade-in-out {
    transition: 1s linear all;
    opacity: 1;
}

.fade-in-out.ng-hide {
    opacity: 0;
}
.inactive {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}


.input-error,.input-error:focus,.input-error:hover, .input-error:active{
    border-color: rgba(255, 0, 0, 0.5);
    outline: 0;
    color: #FF5500;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 85, 0, 0.07), 0 0 8px rgba(255, 85, 0, 0.3);
    background: white;
    box-shadow: inset 0 1px 1px rgba(255, 85, 0, 0.07), 0 0 6px rgba(255, 85, 0, 0.3);
    height: 28px;
}

/** Estilos para el Filtro **/
.ak-filter > table{
    width: 100%;
}

.ak-filter > tr{
    width: 100%;
}

.ak-filter > td{
    width: 25%;
}

.linkDisabled {
    pointer-events:none;
}

.ak-filter input[type=text]{
    width: 100%;
    color: #828282;
}
.ak-filter td > label{
    padding-bottom:10px;
    margin-right:5%;
    margin-left: 10%;
    float: right;
}


.move-button-beforeConfirm{
    margin:15px 0px 30px 0;
    min-width: 71px;
    transition-duration: 0s;
}
.move-button-afterConfirm{
    margin:15px 0 30px 25%;
    min-width: 71px;
    transition-duration: 0s;
}
.ak-filter td:nth-child(2n+1) {
    padding-bottom: 10px;
    width: 25%;
    height: 40px;
}

table th{
    background: url("../../../img/noise_lines.png") repeat scroll 0% 0% transparent;
    font-size: 0.9em;
    text-align: center !important;
    font-weight: bold !important;
    color: #444 !important;
}

table .headerTable{
    background: url("../../../img/noise_lines.png") repeat scroll 0% 0% transparent;
    font-size: 0.9em;
    text-align: center !important;
    font-weight: bold !important;
    color: #444 !important;
}
div.daterangepicker:nth-child(12){
    font-family: "Source Sans Pro", "Droid Sans", Arial, sans-serif;
}

.searchButton{
    background-image: url('../../../img/zoom_icon&16.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px;
    height: 24px;

}

.myPdfButton{
    background-image: url('../../../img/file16.png') !important; 
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.addPdfButton{
    background-image: url('../../../img/addFile.png') !important; 
    background-repeat: no-repeat !important;
    background-position: center !important;
}


.myDeleteButton{
    background-image: url('../../../img/trash_icon&16.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}



.table > tbody > tr > td
{
    vertical-align: center !important;

}

.ak-icon-pdf{

    background-image: url('../../../img/zoom_icon&16.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px;
    height: 24px;
}

.ui-button {
    background-color: #79b2f8;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    border: 1px solid #71a1da ;
    color: #fff !important;
    text-shadow: 1px 1px 0px #727272;
    box-shadow: inset 0px 0px 4px white;
}

.ui-statedefault{

    height: 28px !important;
    width: 25px !important;
    margin-left: -2px;
    margin-top: -2px;

}

.ui-button-icon-only .ui-button-text {
    padding: 0.3em;
    text-indent: -1e+7px;
}
.ui-icon-mySearch2{
    background-image: url('../../img/zoom_icon&16.png') !important;
    width: 100%;
    height: 100%;
}

table td {
    border: 1px dotted #E0E0E0 !important;
    padding: 8px !important;
    color: #828282;
    text-align: center !important;
    font-size: 0.8em !important;
    background: url("/../img/subtle_dots.png") repeat scroll 0px 0px transparent;
}



.searchButton{
    background-image: url('../../../img/zoom_icon&16.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px;
    height: 24px;
}


.detail-button{
    background-image: url('../../../img/viewing.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px;
    height: 24px;
}

.trash_icon{
    background-image: url('../../../img/trash_icon&16.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px;
    height: 24px;
}



.pdf-download_icon{
    background-image: url('../../../img/pdf-download.png') !important;
    background-size: 17px 17px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px;
    height: 24px;
}

.boton-dialog{
    min-width: 80px;font-size: 11px;
}

.boton-dialog:hover{
    font-size: 8px;
    margin-bottom: 20px;
}


.ui-selectonemenu .ui-selectonemenu-trigger {
    border-bottom: medium none;
    border-right: medium none;
    border-top: medium none;
    cursor: pointer;
    height: 100%;
    padding: 0 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.selectOneMenu {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 11px !important;

}


option:checked { display:none; }

input[type=button]:hover {
    background-color: #3C90F8;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    line-height: normal;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.scrollPatient{

    width: 100%;
    height: 150px;
    overflow-y: scroll;
    


}

.scrollAddTreatment{

    width: 100%;
    height: 300px;
    overflow-y: scroll;
    
    
    
   
    


}

.styleScroll{
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}



.checkbox-teeth {
    opacity: 0;
    position: absolute;
}

.checkbox-teeth, .checkbox-teeth-label{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    width: 24px;
}


.checkbox-teeth + .checkbox-teeth-label:before {
    content: '';
    background: #fff;
    border: 1px solid #79B2F8;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 31px;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
    color: #797979 !important;
    border-radius: 50%;
}


.checkbox-teeth, .checkbox-teeth-label-select{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    width: 24px;
    content: '';
    background: #79B2F8;
    border: 1px solid #79B2F8;
    height: 31px;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
    color: #797979 !important;
    border-radius: 50%;
}





.checkbox-teeth:checked + .checkbox-teeth-label:before {
    background-color: #79B2F8;
    color: #bbb;
}

/*END check dientes*/


/* check normal */



.checkbox-custom, .checkbox-custom-label  {
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;

}
.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom-label  {
    position: relative;
    vertical-align: bottom;
    bottom: 1px;


}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #FFF;
    border:1px solid #DF8D2E;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 15px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 3px;
    padding-bottom: 18px;
    margin-right: 4px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #fff;
    color: #DF8D2E;

}

.scrollTableDialog{

    width: 100%;
    height: 190px;
    overflow-y: scroll;

}

/* SELECT**/
.btn
{
   width: 195% !important;
}

.selected > a:nth-child(1){

    display: none!important;

}

#ui-id-1{
    width: 50%;
    height: 28px;
    font-size: 1em;
}

.ak-link{
    color: #333;
    text-decoration: none;
    outline: 0;
    font-size: 10px;
    padding: 10px;
}

a:hover { 
    color: #DF8D2E;
    text-decoration: none; 
}

div.calendar  > div > table > tbody tr .disabled
{
    background: rgb(234,234,234);
    cursor:not-allowed;
}
div.calendar  > div > table > tbody tr .available
{
    cursor:pointer;
}

