<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:panelGrid columns="1">
        <p:row>
            
            <h:outputLabel for="nombre" value="Nombre de la Clínica: * #{clinicsViewBean.selectedClinics.name}" />
        
        </p:row>
        <p:row >
            
            <h:outputLabel for="state" value="Estado: * #{clinicsViewBean.selectedClinics.addressId.cityId.stateId.nombre}" />

        </p:row>
        <p:row>
            
            <h:outputLabel for="cities" value="Ciudad: * #{clinicsViewBean.selectedClinics.addressId.cityId.name}" />

        </p:row>
        <p:row>
            
            <h:outputLabel for="nombre" value="Dirección: * #{clinicsViewBean.selectedClinics.addressId.address}" />
       
        </p:row>
    </p:panelGrid>
</ui:composition>


