<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >

    <p:messages id="messagesCreate" autoUpdate="true" closable="true" />
    <p:panelGrid id="panelClinicsRegister">
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="nameCreate" value="* Nombre: " />
            </p:column>
            <p:column colspan="3">
                <p:inputText  value="#{clinicsViewBean.newClinics[0]}" size="100" maxlength="150"
                              id="nameCreate" required="#{componenteSessionBean.camposRequeridosCreate}"  label="Nombre" 
                              validatorMessage="Nombre inválido" requiredMessage="Debe introducir un Nombre">
                    <p:ajax event="blur" update="messagesCreate" ignoreAutoUpdate="false"/>
                    
                </p:inputText>
            </p:column>
        </p:row>

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="rifCreateClinic" value="* RIF: " />
            </p:column>
            <p:column colspan="3">
                <h:selectOneMenu  id="tipoRifClinicNew" value="#{clinicsViewBean.tipoRifEdit}" style="width:37px; height:28px; display: inline; float: left;">
                    <f:selectItem itemLabel="V" itemValue="V"/>
                    <f:selectItem itemLabel="J" itemValue="J"/>
                    <f:selectItem itemLabel="G" itemValue="G"/>
                    <f:selectItem itemLabel="E" itemValue="E"/>
                    <p:ajax event="change" update="rifCreateClinic" listener="#{clinicsRequestBean.mascaraRifClinic(clinicsViewBean.tipoRifEdit)}" />
                </h:selectOneMenu>
                <p:inputMask  value="#{clinicsViewBean.newClinics[1]}" size="35"
                              mask="#{clinicsViewBean.mascaraRifEdit}"
                              required="#{componenteSessionBean.camposRequeridosCreate}"
                              id="rifCreateClinic" label="RIF" style="float: left; height: 18px; width: 220px"
                              validatorMessage="RIF inválido" requiredMessage="Debe introducir un RIF" placeholder="#{clinicsRequestBean.placeholderRif(clinicsViewBean.tipoRifEdit)}">
                    <p:ajax event="blur" update="messagesCreate" />
                </p:inputMask>   

            </p:column> 
        </p:row>

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="stateCreate" value="* Estado: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="stateCreate" converter="stateConverter" value="#{stateViewBean.newState}" 
                                  required="#{componenteSessionBean.camposRequeridosCreate}" 
                                  requiredMessage="Debe seleccionar un Estado" style="height: 28px">
                    <f:selectItem itemLabel="Seleccione un valor" itemValue=""/>
                    <f:selectItems  itemValue="#{state}"
                                    var="state" itemLabel="#{state.nombre}" value="#{stateApplicationBean.listState}"/>
                    <p:ajax event="change" update="citiesCreate" listener="#{citiesViewBean.filtrarCitiesClinic(stateViewBean.newState)}" />
                    <p:ajax event="blur" update="messagesCreate" />
                </h:selectOneMenu>
            </p:column>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="citiesCreate" value="* Ciudad/Zona: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="citiesCreate" converter="citiesConverter"  value="#{citiesViewBean.newCities}" 
                                  required="#{componenteSessionBean.camposRequeridosCreate}"
                                  requiredMessage="Debe seleccionar una Ciudad" style="height: 28px; width:90%">
                    <f:selectItem itemLabel="Seleccione un valor" itemValue="" />
                    <f:selectItems  itemValue="#{cities}" 
                                    var="cities" itemLabel="#{cities.name}" value="#{citiesViewBean.listCities}"/>
                    <p:ajax/>
                    <p:ajax event="blur" update="messagesCreate" />
                </h:selectOneMenu>
            </p:column>
        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header"> 
                <h:outputLabel  for="addressesCreate" value="* Dirección: " />
            </p:column>
            <p:column colspan="3">
                <p:inputTextarea  value="#{addressesViewBean.newAddresses.address}" cols="100" maxlength="255"
                                  id="addressesCreate"  label="Dirección" 
                                  validatorMessage="Dirección Invalida" required="#{componenteSessionBean.camposRequeridosCreate}" 
                                  requiredMessage="Debe introducir una Dirección">
                    <p:ajax event="blur" update="messagesCreate" />
                </p:inputTextarea>
            </p:column>
        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="phoneClinicCreate" value="Teléfonos: " />
            </p:column>
            <p:column>
                <p:inputMask  value="#{phoneClinicViewBean.newPhoneClinic[0]}" size="50"
                              style="width: 200px; display: inline; float: left; float: left; margin-bottom: 0px; margin-right: 5px;"
                              id="phoneClinicCreate" required="false"  label="Teléfono" placeholder="Ej: (0212)(555-55-55)" 
                              validatorMessage="Teléfono inválido" requiredMessage="Debe introducir un número Teléfono" 
                              mask="(9999)(999-99-99)">
                </p:inputMask>
                <p:commandButton  action="#{clinicsRequestBean.addPhoneClinic(phoneClinicViewBean.newPhoneClinic[0],true)}" 
                                  title="Agregar" process="@this phoneClinicCreate" icon="ui-icon-myCreate" update="phoneClinicCreate phonesTableCreate" 
                                  style="width:26px!important; height: 26px !important; float: left; margin-bottom: 0px; margin-top: 2px;">
                </p:commandButton>
            </p:column>
            <p:column colspan="2" >
                <p:dataTable id="phonesTableCreate" var="telefono" value="#{phoneClinicViewBean.newListPhoneClinic}" 
                             emptyMessage="Teléfono no registrado" style="width:330px!important;margin-left: 50px;margin-top: 20px;height:100px!important" 
                             scrollable="true" scrollHeight="80%" tableStyle="">
                    <p:column style="width: 80%; font-size: 12px !important;">
                        <h:outputText value="#{telefono.phone}" />
                    </p:column>
                    <p:column>
                        <p:commandButton  action="#{clinicsRequestBean.removePhoneClinic(telefono,true)}" 
                                          title="Borrar" process="@this phonesTableCreate" icon="ui-icon-myDelete" update="phonesTableCreate" 
                                          style="width:26px!important; height: 26px !important; margin-bottom: 0px; margin-top: 2px;">
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:column>
        </p:row>
    </p:panelGrid>

</ui:composition>