<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"       >
    <p:scrollPanel mode="native" style="width:auto;height:auto">
        <p:panelGrid id="detalleClinica" style="width:484px;height:250px">
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  value="Nombre: "  />           
                </p:column>
                <p:column>
                    <h:outputText  value="#{clinicsViewBean.viewClinics.name}"  />
                </p:column>
            </p:row>
             <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  value="RIF: "  />           
                </p:column>
                <p:column>
                    <h:outputText  value="#{clinicsViewBean.viewClinics.rif}"  />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  value="Estado: "  />           
                </p:column>
                <p:column>
                    <h:outputText  value="#{clinicsViewBean.viewClinics.addressId.cityId.stateId.nombre}"  />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  value="Ciudad: "  />           
                </p:column>
                <p:column>
                    <h:outputText  value=" #{clinicsViewBean.viewClinics.addressId.cityId.name}"  />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  value="Dirección: "  />           
                </p:column>
                <p:column>
                    <h:outputText  value=" #{clinicsViewBean.viewClinics.addressId.address}"  />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  value="Teléfonos: "  />           
                </p:column>
                <p:column>
                    <p:dataList value="#{clinicsViewBean.viewClinics.phoneClinicList}" var="clinic" itemType="disc" emptyMessage="">  
                        #{clinic.phone}
                    </p:dataList>
                </p:column>
            </p:row>   
        </p:panelGrid>
    </p:scrollPanel>
</ui:composition>


