<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >

    <p:messages id="messagesEdit" autoUpdate="true" closable="true" />

    <p:panelGrid id="panelClinicsEdit">

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="name" value="* Nombre: " />
            </p:column>
            <p:column colspan="3">
                <p:inputText  value="#{clinicsViewBean.editClinics[1]}" size="100" maxlength="100"
                              id="name" required="#{componenteSessionBean.camposRequeridosEdit}"  label="Nombre" 
                              validatorMessage="Nombre inválido" requiredMessage="Debe introducir un Nombre">
                    <p:ajax event="blur" update="messagesEdit" />
                </p:inputText>
            </p:column>
        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="rifCreateClinic" value="* RIF: " />
            </p:column>
            <p:column colspan="3">
                <h:selectOneMenu  id="tipoRifClinicEdit" value="#{clinicsViewBean.tipoRifEdit}" style="width:37px; height:28px; display: inline; float: left;">
                    <f:selectItem itemLabel="V" itemValue="V"/>
                    <f:selectItem itemLabel="J" itemValue="J"/>
                    <f:selectItem itemLabel="G" itemValue="G"/>
                    <f:selectItem itemLabel="E" itemValue="E"/>
                    <p:ajax event="change" update="rifEditClinic" listener="#{clinicsRequestBean.mascaraRifClinic(clinicsViewBean.tipoRifEdit)}" />
                </h:selectOneMenu>
                <p:inputMask  value="#{clinicsViewBean.editClinics[2]}" size="35" 
                              mask="#{clinicsViewBean.mascaraRifEdit}"
                              required="#{componenteSessionBean.camposRequeridosEdit}"
                              id="rifEditClinic" label="RIF" style="float: left; height: 18px; width: 220px;"
                              validatorMessage="RIF inválido" requiredMessage="Debe introducir un RIF" placeholder="Ej: V123456789">
                    
                    <p:ajax event="blur" update="rifEditClinic" />
                    <p:ajax event="blur" update="messagesEdit" />
                </p:inputMask>
            </p:column> 
        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="state" value="* Estado: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="state" converter="stateConverter" value="#{stateViewBean.editState}" required="#{componenteSessionBean.camposRequeridosEdit}" 
                                  requiredMessage="Debe seleccionar un Estado" style="height: 28px">
                    <f:selectItems  itemValue="#{state}" 
                                    var="state" itemLabel="#{state.nombre}" value="#{stateApplicationBean.listState}"/>
                    <p:ajax event="change" update="cities" listener="#{citiesViewBean.filtrarCitiesClinic(stateViewBean.editState)}" />
                    <p:ajax event="blur" update="messagesEdit" />
                </h:selectOneMenu>
            </p:column>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="cities" value="* Ciudad/Zona: " />
            </p:column>
            <p:column>
                <h:selectOneMenu  id="cities" converter="citiesConverter"  value="#{citiesViewBean.editCities}" required="#{componenteSessionBean.camposRequeridosEdit}"
                                  requiredMessage="Debe seleccionar una Ciudad" style="height: 28px;width:90%">
                    <f:selectItems  itemValue="#{cities}" 
                                    var="cities" itemLabel="#{cities.name}" value="#{citiesViewBean.listCities}"/>
                    <p:ajax/>
                    <p:ajax event="blur" update="messagesEdit" />
                </h:selectOneMenu>
            </p:column>
        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header"> 
                <h:outputLabel  for="addresses" value="* Dirección: " />
            </p:column>
            <p:column colspan="3">
                <p:inputText  value="#{addressesViewBean.editAddresses.address}" size="100" maxlength="255"
                              id="addresses"  label="Dirección" 
                              validatorMessage="Dirección Invalida" required="#{componenteSessionBean.camposRequeridosEdit}"
                              requiredMessage="Debe introducir una Dirección">
                    <p:ajax event="blur" update="messagesEdit" />
                </p:inputText> 
            </p:column>
        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel  for="phoneClinicEdit" value="Teléfonos: " />
            </p:column>
            <p:column>
                <p:inputMask  value="#{phoneClinicViewBean.editPhoneClinic[0]}" size="50"
                              style="width: 200px; display: inline; float: left; float: left; margin-bottom: 0px; margin-right: 5px;"
                              id="phoneClinicEdit" required="false"  label="Teléfono" placeholder="Ej: (0212)(555-55-55)" 
                              validatorMessage="Teléfono inválido" requiredMessage="Debe introducir un número Teléfono" 
                              mask="(9999)(999-99-99)">
                </p:inputMask>
                <p:commandButton  action="#{clinicsRequestBean.addPhoneClinic(phoneClinicViewBean.editPhoneClinic[0],false)}" 
                                  title="Agregar" process="@this phoneClinicEdit" icon="ui-icon-myCreate" update="phoneClinicEdit phonesTableEdit" 
                                  style="width:26px!important; height: 26px !important; float: left; margin-bottom: 0px; margin-top: 2px;">
                </p:commandButton>
            </p:column>
            <p:column colspan="2" >
                <p:dataTable id="phonesTableEdit" var="telefono" value="#{phoneClinicViewBean.editListPhoneClinic}" 
                             emptyMessage="Teléfono no registrado"  style="width:330px!important;margin-left: 50px;margin-top: 20px;height:100px!important" 
                             scrollable="true" scrollHeight="80%" tableStyle="">
                    <p:column style="width: 80%; font-size: 12px !important;">
                        <h:outputText value="#{telefono.phone}" />
                    </p:column>
                    <p:column>
                        <p:commandButton  action="#{clinicsRequestBean.removePhoneClinic(telefono,false)}" 
                                          title="Borrar" process="@this phonesTableEdit" icon="ui-icon-myDelete" update="phonesTableEdit" 
                                          style="width:26px!important; height: 26px !important; float: left; margin-bottom: 0px; margin-top: 2px;">
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:column>
        </p:row>

    </p:panelGrid>

</ui:composition>
