<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">



    <p:outputPanel id="panelHistoryBaremo">
        <h:panelGroup style="width: 100%; margin-top: 5px; margin-left: 5px; margin-right: 5px; margin-bottom: 5px; padding: 5px;">


            <p:dataTable id="historyBaremoTable" value="#{configBaremoViewBean.historyBaremosOutputList}" var="detailsHistory" widgetVar="detailsHistory"
                         style="max-width: 90%; margin-bottom: 18px;" paginator="true" scrollable="false" rows="6" paginatorAlwaysVisible="false">

                <p:column headerText="Fecha de vigencia" style="width: 30%;">
                    <h:outputText value="#{detailsHistory.effective_date}" >
                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" locale="es" />
                    </h:outputText>
                </p:column>
                <p:column headerText="Baremo" style="width: 20%;">
                    <h:outputText value="#{detailsHistory.baremo}" >
                    <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                    </h:outputText>
                </p:column>
                <p:column headerText="Datos del proceso" style="width: 50%;">
                    <h:outputText value="#{detailsHistory.processData}" >
                    </h:outputText>
                </p:column>

            </p:dataTable>

        </h:panelGroup>



    </p:outputPanel>

</ui:composition>
