<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">
    
    
<p:messages id="msgBaremo" showDetail="true" showSummary="false" closable="true" style="margin-left: 28px"/>


    
    <p:outputPanel id="panelBaremoDetail">
        <p:panelGrid style="width: 100%;">

            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>*Fecha de vigencia:</strong>
                    </div>
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <!--NO BORRAR este input es utilizado para evitar el focus del calendar al desplegar el dialogo -->
                        <p:inputText id="fixForFocusProblem" style="visibility: hidden; height: 0.5px;position: absolute "/>
                        <!--NO BORRAR este input es utilizado para evitar el focus del calendar al desplegar el dialogo-->
                        <p:calendar timeZone="America/Caracas" styleClass="date"
                                    readonlyInput="true" id="starDate"
                                    maxdate="#{configBaremoViewBean.maxDateCalendar}"
                                    value="#{configBaremoViewBean.dateDetail}"
                                    style="width: 100%;" locale="es"
                                    mindate="#{configBaremoViewBean.minDate}"
                                    pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true"

                        >
                            <p:ajax event="dateSelect" immediate="true"  listener="#{configBaremoViewBean.selectDate()}" update="msgBaremo"/>
                            <p:ajax event="blur" listener="#{configBaremoViewBean.validateDate}" update="msgBaremo"/>
                            <p:ajax event="keyup" listener="#{configBaremoViewBean.validateDate}"  update="msgBaremo"/>
                            <p:ajax event="keydown" listener="#{configBaremoViewBean.validateDate}" update="msgBaremo"/>
                            <p:ajax event="click" listener="#{configBaremoViewBean.validateDate}"/>

                        </p:calendar>
                    </div>
                </p:column>
            </p:row>

            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>*Baremo:</strong>
                    </div>
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">

                        <pe:inputNumber id="imputBaremos" disabled="#{configBaremoViewBean.imputBaremo}" decimalPlaces="2" thousandSeparator="." decimalSeparator=","
                                        maxlength="12" value="#{configBaremoViewBean.priceDetail}" minValue="-10000000000" maxValue="10000000000"
                                        emptyValue="Ingrese un baremo" styleClass="priceDetail"
                                        required="true" 
                        >
                           
                     

                            <p:ajax event="blur" listener="#{configBaremoViewBean.validateChange}" update="msgBaremo"/>
                            <p:ajax event="keyup" listener="#{configBaremoViewBean.validateChange}" update="msgBaremo" />
                            <p:ajax event="keydown" listener="#{configBaremoViewBean.validateChange}" update="msgBaremo" />
                            

                        </pe:inputNumber>

                    </div>
                </p:column>

            </p:row>
            
            
        </p:panelGrid>
    </p:outputPanel>



</ui:composition>
