<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <!-- Show Messages -->
    <p:messages id="messagesRegisterInvoicesKeys" autoUpdate="false" closable="true" />

    <!-- Panel Data -->
    <p:outputPanel id="panelRegisterInvoicesKeys">

        <p:panelGrid style="width: 100%;" rendered="#{not empty keysInvoicesTransferViewBean.paymentReportOutput}">
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la factura
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Nro. de factura:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <p:inputText  id="txtNumberInvoice"  required="#{componenteSessionBean.camposRequeridosCreate}"
                                      value="#{keysInvoicesTransferViewBean.invoicesRegister[0]}"
                                      styleClass="txtClassInvoices" onkeyup="validateInputTextInvoices();"
                                      requiredMessage="Nro. de factura es obligatorio"
                                      maxlength="50">
                            <pe:keyFilter regEx="/[0-9()]/i" preventPaste="true"/>
                            <p:ajax event="blur"  update="txtNumberInvoice" />
                            <p:ajax event="blur"  update="messagesRegisterInvoicesKeys" />
                        </p:inputText>                            
                    </div>                           
                </p:column>
            </p:row>            
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Fecha:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <p:calendar timeZone="America/Caracas" styleClass="dateInvoicesClass" readonlyInput="true" id="dateInvoicesKeys"      
                                    onmouseover="validateInputTextInvoices()"
                                    value="#{keysInvoicesTransferViewBean.dateInvoices}" style="width: 100%;" locale="es" 
                                    mindate="#{keysInvoicesTransferViewBean.minDate}" maxdate="#{keysInvoicesTransferViewBean.currentDate}"                                            
                                    required="#{componenteSessionBean.camposRequeridosCreate}"                                     
                                    requiredMessage="Fecha de facturación, es obligatorio!"
                                    onkeydown="cleanCalendarDialog(event)"
                                    pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true">
                            <p:ajax event="dateSelect" immediate="true" partialSubmit="true" process="@this"></p:ajax>
                        </p:calendar>                           
                    </div>                           
                </p:column>
            </p:row>
            <p:row id="rowControlNumber" rendered="#{keysInvoicesTransferViewBean.visibilityRow}">                
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Nro. de control:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <p:panelGrid>
                        <p:row>
                            <div align="left">
                                <p:column style="width: 10%;">
                                    <h:outputLabel  id="code" value="#{keysInvoicesTransferViewBean.maskNumberControl}" style="width: 10%;"/>
                                </p:column>
                                <p:column style="width: 90%;">
                                    <p:inputText  id="txtNumberControl" styleClass="txtDataRTransferClass" size="50"
                                                  required="#{componenteSessionBean.camposRequeridosCreate}" placeholder="Ej: 123456789"
                                                  disabled="#{keysInvoicesTransferViewBean.inputEnabledDisabledNumberControl}"
                                                  value="#{keysInvoicesTransferViewBean.invoicesRegister[1]}" 
                                                  requiredMessage="Nro. de control es obligatorio"
                                                  maxlength="50">
                                        <pe:keyFilter regEx="/[0-9]/i" preventPaste="false"/>
                                        <p:ajax event="blur"  update="txtNumberControl" />
                                        <p:ajax event="blur"  update="messagesRegisterInvoicesKeys" />
                                    </p:inputText> 
                                </p:column>
                            </div> 
                        </p:row>
                    </p:panelGrid> 
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Monto Bs. F:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%; font-weight: bold;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.amountTotal}">
                            <f:convertNumber locale="de_DE" pattern="#,##0.00" />  
                        </h:outputText>                        
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la cuenta
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Entidad bancaria:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;font-weight: bold;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.bankName}" 
                                      styleClass="formUppercase back"/>                                          
                    </div>                           
                </p:column>
            </p:row> 
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Nro. de cuenta:</strong>                              
                    </div>                           
                </p:column>
                <p:column  style="width: 50%;font-weight: bold;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.bankAccountNumber}" />                                                   
                    </div>                           
                </p:column>
            </p:row>

            <script type="text/javascript">

                function cleanCalendarDialog(e) {
                    var keyCode = e.which || e.keyCode;
                    //si es igual a backspace
                    if(keyCode == 8){
                        $('#form\\:dateInvoicesKeysTransfer_input').val('');
                    }
                }

            </script>
        </p:panelGrid>


    </p:outputPanel>


</ui:composition>

