<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pe="http://primefaces.org/ui/extensions">
    
    <!-- Show Messages -->
    <p:messages id="messagesRegisterTransferKeys" autoUpdate="true" rendered="false" closable="true" />
    
    <p:outputPanel id="panelRegisterTransferKeys">
        <p:panelGrid id="panelGridRegisterTransferKeys" style="width: 100%;" rendered="#{not empty keysInvoicesTransferViewBean.paymentReportOutput}">
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la factura
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Nro. de factura:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <p:inputText  id="txtNumberInvoiceTransfer"  required="#{componenteSessionBean.camposRequeridosCreate}"
                                      value="#{keysInvoicesTransferViewBean.paymentReportOutput.billNumber}"
                                      styleClass="txtDataRegistrerTransferClass" onkeyup="validateInputTextInvoices();"
                                      requiredMessage="Nro. de factura es obligatorio"
                                      maxlength="50">
                            <pe:keyFilter regEx="/[0-9()]/i" preventPaste="true"/>
                            <p:ajax event="blur"  update="txtNumberInvoiceTransfer" />
                            <p:ajax event="blur"  update="messagesRegisterTransferKeys" />
                        </p:inputText>                            
                    </div>                           
                </p:column>
            </p:row>            
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Fecha:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <p:calendar timeZone="America/Caracas" styleClass="dateRegistrerTransferClass" readonlyInput="true" id="dateInvoicesKeysTransfer"      

                                    value="#{keysInvoicesTransferViewBean.paymentReportOutput.billDate}" style="width: 100%;" locale="es" 
                                    mindate="#{keysInvoicesTransferViewBean.minDate}" maxdate="#{keysInvoicesTransferViewBean.currentDate}"                                            
                                    required="#{componenteSessionBean.camposRequeridosCreate}"                                     
                                    requiredMessage="Fecha de facturación, es obligatorio!" 
                                    pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true">
                            <p:ajax event="dateSelect" immediate="true" partialSubmit="true" process="@this"></p:ajax>
                        </p:calendar>                           
                    </div>                           
                </p:column>
            </p:row>
            <p:row id="rowControlNumber2" rendered="#{keysInvoicesTransferViewBean.visibilityRow}">                
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Nro. de control:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <p:panelGrid>
                        <p:row>
                            <div align="left">
                                <p:column style="width: 10%;">
                                    <h:outputLabel  id="codeTransfer" value="#{keysInvoicesTransferViewBean.maskNumberControl}" style="width: 10%;"/>
                                </p:column>
                                <p:column style="width: 90%;">
                                    <p:inputText  id="txtNumberControlTransfer" styleClass="txtDataRTransferClass" size="50"
                                                  required="#{componenteSessionBean.camposRequeridosCreate}" placeholder="Ej: 123456789"
                                                  disabled="#{keysInvoicesTransferViewBean.inputEnabledDisabledNumberControl}"
                                                  value="#{keysInvoicesTransferViewBean.paymentReportOutput.controlNumber}"
                                                  requiredMessage="Nro. de control es obligatorio"
                                                  maxlength="50">
                                        <pe:keyFilter regEx="/[0-9]/i" preventPaste="false"/>
                                        <p:ajax event="blur"  update="txtNumberControlTransfer" />
                                        <p:ajax event="blur"  update="messagesRegisterTransferKeys" />
                                    </p:inputText> 
                                </p:column>
                            </div> 
                        </p:row>
                    </p:panelGrid> 
                </p:column>
            </p:row>
           
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Monto Bs. F:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%; font-weight: bold;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.amount}">
                           <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                        </h:outputText>                                         
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la cuenta
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%; font-weight: bold;">
                    <div align="left">
                        <strong>Entidad bancaria:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.bankName}" 
                            styleClass="formUppercase back"/>                                          
                    </div>                           
                </p:column>
            </p:row> 
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%; font-weight: bold;">
                    <div align="left">
                        <strong> Nro. de cuenta:</strong>                              
                    </div>                           
                </p:column>
                <p:column  style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.bankAccountNumber}" />                                                   
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la transferencia
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Nro. de transferencia:</strong>                              
                    </div>                           
                </p:column>
                <p:column  style="width: 50%;">
                    <div align="left">
                        <p:inputText  id="txtDataTransfer" maxlength="20"
                              styleClass="txtDataTransferClass"
                              onkeyup="secondDialog()"
                              value="#{keysInvoicesTransferViewBean.numberTransfer}"
                              required="#{componenteSessionBean.camposRequeridosEdit}"
                              requiredMessage="Nro. de transferencia es obligatorio">
                            <pe:keyFilter regEx="/[0-9()]/i" preventPaste="false"/>
                            <p:ajax event="blur"  update="txtDataTransfer" />
                            <p:ajax event="blur"  update="messagesRegisterTransferKeys" />
                        </p:inputText>
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Fecha de la transferencia:</strong>                              
                    </div>                           
                </p:column>
                <p:column  style="width: 50%;">
                    <div align="left">
                        <p:calendar timeZone="America/Caracas" styleClass="dateTransferClass" 
                                    onmouseover="secondDialog()"
                                    readonlyInput="true" id="dateTransferKeys"  
                                    value="#{keysInvoicesTransferViewBean.dateTransfer}" style="width: 100%;" locale="es" 
                                    mindate="#{keysInvoicesTransferViewBean.minDate}" maxdate="#{keysInvoicesTransferViewBean.currentDate}"                                            
                                    required="#{componenteSessionBean.camposRequeridosEdit}" 
                                    requiredMessage="Fecha de facturación es obligatorio" pattern="dd/MM/yyyy" 
                                    navigator="true" showButtonPanel="true">
                            <p:ajax event="dateSelect" immediate="true" partialSubmit="true" process="@this"></p:ajax>
                        </p:calendar>  
                    </div>                           
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:outputPanel>
</ui:composition>

