<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">
    
    <p:outputPanel id="panelRegisterTransferKeysConsult">
        
        <p:panelGrid style="width: 100%;" rendered="#{not empty keysInvoicesTransferViewBean.paymentReportOutput}">
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la factura
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Nro. de factura:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.billNumber}" />                                          
                    </div>                           
                </p:column>
            </p:row>            
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Fecha:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.billDate}">
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                        </h:outputText>                                        
                    </div>                           
                </p:column>
            </p:row>
            <p:row id="rowControlNumber3" rendered="#{keysInvoicesTransferViewBean.visibilityRow}">
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Nro. de control:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.controlNumber}" />                                                
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Monto Bs. F:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.amount}">
                             <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                        </h:outputText>
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la cuenta
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>Entidad bancaria:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.bankName}" 
                            styleClass="formUppercase back"/>                                          
                    </div>                           
                </p:column>
            </p:row> 
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Nro. de cuenta:</strong>                              
                    </div>                           
                </p:column>
                <p:column  style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.bankAccountNumber}" />                                                   
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la transferencia
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Nro. de transferencia:</strong>                              
                    </div>                           
                </p:column>
                <p:column  style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.transferNumber}" />                       
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong> Fecha de la transferencia:</strong>                              
                    </div>                           
                </p:column>
                <p:column  style="width: 50%;">
                    <div align="left">
                        <h:outputText value="#{keysInvoicesTransferViewBean.paymentReportOutput.transferDate}">
                          <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                        </h:outputText>                             
                    </div>                           
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:outputPanel>
</ui:composition>

