<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:panelGrid id="panelChoosePart">
        <p:row>
            <p:column styleClass="ui-widget-header" >
                <h:outputLabel for="permanentTeeth" value="Dientes Permanentes: " />
            </p:column>

            <p:column>
                <p:panelGrid id="permanentTeeth"  styleClass="odontodiagram">
                    <p:row>
                        <p:column styleClass="dientes_check">
                            <p:selectManyCheckbox id="propertiesOptionI" converter="propertiesTreatmentsConverter" value="#{propertiesTreatmentsViewBean.newListPropertiesTreatments}" >
                                <f:selectItems  value="#{propertiesTreatmentsViewBean.editListPropertiesTreatments}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}"  itemDescription="#{propertiesTreatments.priceString}"/>
                                <p:ajax  immediate="true" partialSubmit="true" process="@this" update="propertiesOptionI"></p:ajax>
                            </p:selectManyCheckbox>
                        </p:column>
                        <p:column styleClass="dientes_check">
                            <p:selectManyCheckbox id="propertiesOptionIII" converter="propertiesTreatmentsConverter" value="#{propertiesTreatmentsViewBean.newListPropertiesTreatmentsIII}">
                                <f:selectItems  value="#{propertiesTreatmentsViewBean.editListPropertiesTreatmentsIII}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}" itemDescription="#{propertiesTreatments.priceString}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionIII"></p:ajax>
                            </p:selectManyCheckbox>
                        </p:column>

                    </p:row>
                    <p:row>
                        <p:column styleClass="dientes_check">
                            <p:selectManyCheckbox id="propertiesOptionII" converter="propertiesTreatmentsConverter" value="#{propertiesTreatmentsViewBean.newListPropertiesTreatmentsII}">
                                <f:selectItems value="#{propertiesTreatmentsViewBean.editListPropertiesTreatmentsII}"  var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}" itemDescription="#{propertiesTreatments.priceString}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionII"></p:ajax>
                            </p:selectManyCheckbox>
                        </p:column>
                        <p:column styleClass="dientes_check">
                            <p:selectManyCheckbox id="propertiesOptionIV" converter="propertiesTreatmentsConverter" value="#{propertiesTreatmentsViewBean.newListPropertiesTreatmentsIV}">
                                <f:selectItems  value="#{propertiesTreatmentsViewBean.editListPropertiesTreatmentsIV}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}" itemDescription="#{propertiesTreatments.priceString}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionIV"></p:ajax>
                            </p:selectManyCheckbox>
                        </p:column>



                    </p:row>
                </p:panelGrid>
            </p:column>
        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel for="temporaryTeehtTeeth" value="Dientes Temporales " />
            </p:column>

            <p:column>
                <p:panelGrid id="temporaryTeehtTeeth" styleClass="odontodiagram">
                    <p:row>
                        <p:column styleClass="dientes_check">
                            <p:selectManyCheckbox id="propertiesOptionV" converter="propertiesTreatmentsConverter" value="#{propertiesTreatmentsViewBean.newListPropertiesTreatmentsV}">
                                <f:selectItems  value="#{propertiesTreatmentsViewBean.editListPropertiesTreatmentsV}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}" itemDescription="#{propertiesTreatments.priceString}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionV"></p:ajax>
                            </p:selectManyCheckbox>
                        </p:column>
                        <p:column styleClass="dientes_check">
                            <p:selectManyCheckbox id="propertiesOptionVII" converter="propertiesTreatmentsConverter" value="#{propertiesTreatmentsViewBean.newListPropertiesTreatmentsVII}">
                                <f:selectItems  value="#{propertiesTreatmentsViewBean.editListPropertiesTreatmentsVII}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}" itemDescription="#{propertiesTreatments.priceString}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionVII"></p:ajax>
                            </p:selectManyCheckbox>
                        </p:column>

                    </p:row>
                    <p:row>
                        <p:column styleClass="dientes_check">
                            <p:selectManyCheckbox id="propertiesOptionVI" converter="propertiesTreatmentsConverter" value="#{propertiesTreatmentsViewBean.newListPropertiesTreatmentsVI}">
                                <f:selectItems  value="#{propertiesTreatmentsViewBean.editListPropertiesTreatmentsVI}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}" itemDescription="#{propertiesTreatments.priceString}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionVI"></p:ajax>
                            </p:selectManyCheckbox>
                        </p:column>
                        <p:column styleClass="dientes_check">
                            <p:selectManyCheckbox id="propertiesOptionVIII" converter="propertiesTreatmentsConverter" value="#{propertiesTreatmentsViewBean.newListPropertiesTreatmentsVIII}">
                                <f:selectItems  value="#{propertiesTreatmentsViewBean.editListPropertiesTreatmentsVIII}" var="propertiesTreatments" itemValue="#{propertiesTreatments}" itemLabel="#{propertiesTreatments.propertiesId.stringValue}" itemDescription="#{propertiesTreatments.priceString}"/>
                                <p:ajax immediate="true" partialSubmit="true" process="@this" update="propertiesOptionVIII"></p:ajax>
                            </p:selectManyCheckbox>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:column>
        </p:row>
    </p:panelGrid>
</ui:composition>