<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >
   <p:scrollPanel mode="native" style="width:448px; height:185px;">

        <!-- Message on the Dialog -->
        <p:messages id="messagesReject" autoUpdate="false" closable="true" />

        <p:outputPanel id="panelRejectDialog" style="width: 100%;">
            <p:panelGrid style="width: 100%;"
                         >
                <p:row>
                    <p:column styleClass="ui-widget-header" style="width: 40%;">
                        <div align="left">
                            <strong> * Motivo de eliminación:</strong>
                        </div>
                    </p:column>
                    <p:column style="width: 60%;height:100px;">
                        <div align="left">
                            <p:inputTextarea rows="10" cols="50" id="txtObservationsData" value="#{keysPatientsViewBean.reasonDelete[1]}"
                                             styleClass="motive sizeInputTextArea" maxlength="255">
                            <p:ajax event="keyup" listener="#{keysPatientsViewBean.observationCreate()}" />
                            <p:ajax event="keyup" listener="#{keysPatientsViewBean.validateObservation}" update="messagesReject" />
                            <p:ajax event="keydown" listener="#{keysPatientsViewBean.validateObservation}" update="messagesReject" />
                            </p:inputTextarea>
                            

                        </div>
                    </p:column>
                </p:row>
            </p:panelGrid>   
        </p:outputPanel>

    </p:scrollPanel>
    
    
</ui:composition>