<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:panelGrid id="panelChoosePartIII">

        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel for="permanentTeethD" value="Dientes Permanentes: " />
            </p:column>

            <p:column>
                <p:panelGrid id="permanentTeethD" columns="17" styleClass="odontodiagram">
                    <p:row>
                        <p:column>
                            <h:selectManyCheckbox id="propertiesOptionDI" disabled="false" value="#{propertiesTreatmentsViewBean.selectedOptionsI}">
                                <f:selectItem itemLabel="18" itemValue="18" />
                                <f:selectItem itemLabel="17" itemValue="17" />
                                <f:selectItem itemLabel="16" itemValue="16" />
                                <f:selectItem itemLabel="15" itemValue="15" />
                                <f:selectItem itemLabel="14" itemValue="14" />
                                <f:selectItem itemLabel="13" itemValue="13" />
                                <f:selectItem itemLabel="12" itemValue="12" />
                                <f:selectItem itemLabel="11" itemValue="11" />
                                <p:ajax event="change" update="propertiesOptionDI permanentTeethD" partialSubmit="true" process="@this" listener="#{propertiesTreatmentsRequestBean.addSelectedOptions(propertiesTreatmentsViewBean.selectedOptionsI,'propertiesOptionI')}" />
                            </h:selectManyCheckbox>
                        </p:column>
                        <p:column>
                            <h:selectManyCheckbox id="propertiesOptionDII" value="#{propertiesTreatmentsViewBean.selectedOptionsII}">
                                <f:selectItem itemLabel="21" itemValue="21" />
                                <f:selectItem itemLabel="22" itemValue="22" />
                                <f:selectItem itemLabel="23" itemValue="23" />
                                <f:selectItem itemLabel="24" itemValue="24" />
                                <f:selectItem itemLabel="25" itemValue="25" />
                                <f:selectItem itemLabel="26" itemValue="26" />
                                <f:selectItem itemLabel="27" itemValue="27" />
                                <f:selectItem itemLabel="28" itemValue="28" />
                                <p:ajax event="change" update="propertiesOptionDII permanentTeethD" partialSubmit="true" process="@this" listener="#{propertiesTreatmentsRequestBean.addSelectedOptions(propertiesTreatmentsViewBean.selectedOptionsII,'propertiesOptionII')}" />
                            </h:selectManyCheckbox>
                        </p:column>
                    </p:row>
                     <p:row>
                        <p:column>
                            <h:selectManyCheckbox id="propertiesOptionDIII" value="#{propertiesTreatmentsViewBean.selectedOptionsIII}">
                                <f:selectItem itemLabel="48" itemValue="48" />
                                <f:selectItem itemLabel="47" itemValue="47" />
                                <f:selectItem itemLabel="46" itemValue="46" />
                                <f:selectItem itemLabel="45" itemValue="45" />
                                <f:selectItem itemLabel="44" itemValue="44" />
                                <f:selectItem itemLabel="43" itemValue="43" />
                                <f:selectItem itemLabel="42" itemValue="42" />
                                <f:selectItem itemLabel="41" itemValue="41" />
                                <p:ajax event="change" update="propertiesOptionDIII permanentTeethD" partialSubmit="true" process="@this" listener="#{propertiesTreatmentsRequestBean.addSelectedOptions(propertiesTreatmentsViewBean.selectedOptionsIII,'propertiesOptionIII')}" />
                            </h:selectManyCheckbox>
                        </p:column>
                        <p:column>
                            <h:selectManyCheckbox id="propertiesOptionDIV" value="#{propertiesTreatmentsViewBean.selectedOptionsIV}">
                                <f:selectItem itemLabel="31" itemValue="31" />
                                <f:selectItem itemLabel="32" itemValue="32" />
                                <f:selectItem itemLabel="33" itemValue="33" />
                                <f:selectItem itemLabel="34" itemValue="34" />
                                <f:selectItem itemLabel="35" itemValue="35" />
                                <f:selectItem itemLabel="36" itemValue="36" />
                                <f:selectItem itemLabel="37" itemValue="37" />
                                <f:selectItem itemLabel="38" itemValue="38" />
                                <p:ajax event="change" update="propertiesOptionDIV permanentTeethD" partialSubmit="true" process="@this" listener="#{propertiesTreatmentsRequestBean.addSelectedOptions(propertiesTreatmentsViewBean.selectedOptionsIV,'propertiesOptionIV')}" />
                            </h:selectManyCheckbox>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:column>
        </p:row>
        <p:row>
            <p:column styleClass="ui-widget-header">
                <h:outputLabel for="temporaryTeehtTeethE" value="Dientes Temporales " />
            </p:column>

            <p:column>
                <p:panelGrid id="temporaryTeehtTeethE" columns="17" styleClass="odontodiagram">
                    <p:row>
                        <p:column>
                            <h:selectManyCheckbox id="propertiesOptionEV" value="#{propertiesTreatmentsViewBean.selectedOptionsV}">
                                <f:selectItem itemLabel="55" itemValue="55" />
                                <f:selectItem itemLabel="54" itemValue="54" />
                                <f:selectItem itemLabel="53" itemValue="53" />
                                <f:selectItem itemLabel="52" itemValue="52" />
                                <f:selectItem itemLabel="51" itemValue="51" />
                                <p:ajax event="change" update="propertiesOptionEV temporaryTeehtTeethE" partialSubmit="true" process="@this" listener="#{propertiesTreatmentsRequestBean.addSelectedOptions(propertiesTreatmentsViewBean.selectedOptionsV,'propertiesOptionV')}" />
                            </h:selectManyCheckbox>
                        </p:column>
                        <p:column>
                            <h:selectManyCheckbox id="propertiesOptionEVI" value="#{propertiesTreatmentsViewBean.selectedOptionsVI}">
                                <f:selectItem itemLabel="61" itemValue="61" />
                                <f:selectItem itemLabel="62" itemValue="62" />
                                <f:selectItem itemLabel="63" itemValue="63" />
                                <f:selectItem itemLabel="64" itemValue="64" />
                                <f:selectItem itemLabel="65" itemValue="65" />
                                <p:ajax event="change" update="propertiesOptionEVI temporaryTeehtTeethE" partialSubmit="true" process="@this" listener="#{propertiesTreatmentsRequestBean.addSelectedOptions(propertiesTreatmentsViewBean.selectedOptionsVI,'propertiesOptionVI')}" />
                            </h:selectManyCheckbox>
                        </p:column>
                    </p:row>
                     <p:row>
                        <p:column>
                            <h:selectManyCheckbox id="propertiesOptionEVII" value="#{propertiesTreatmentsViewBean.selectedOptionsVII}">
                                <f:selectItem itemLabel="85" itemValue="85" />
                                <f:selectItem itemLabel="84" itemValue="84" />
                                <f:selectItem itemLabel="83" itemValue="83" />
                                <f:selectItem itemLabel="82" itemValue="82" />
                                <f:selectItem itemLabel="81" itemValue="81" />
                                <p:ajax event="change" update="propertiesOptionEVII temporaryTeehtTeethE" partialSubmit="true" process="@this" listener="#{propertiesTreatmentsRequestBean.addSelectedOptions(propertiesTreatmentsViewBean.selectedOptionsVII,'propertiesOptionVII')}" />
                            </h:selectManyCheckbox>
                        </p:column>
                        <p:column>
                            <h:selectManyCheckbox id="propertiesOptionEVIII" value="#{propertiesTreatmentsViewBean.selectedOptionsVIII}">
                                <f:selectItem itemLabel="71" itemValue="71" />
                                <f:selectItem itemLabel="72" itemValue="72" />
                                <f:selectItem itemLabel="73" itemValue="73" />
                                <f:selectItem itemLabel="74" itemValue="74" />
                                <f:selectItem itemLabel="75" itemValue="75" />
                                <p:ajax event="change" update="propertiesOptionEVIII temporaryTeehtTeethE" partialSubmit="true" process="@this" listener="#{propertiesTreatmentsRequestBean.addSelectedOptions(propertiesTreatmentsViewBean.selectedOptionsVIII,'propertiesOptionVIII')}" />
                            </h:selectManyCheckbox>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:column>
        </p:row>
    </p:panelGrid>
</ui:composition>