<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                >

    <p:scrollPanel  id="scrollerEditkeys" widgetVar="scrollerEditkeys" mode="native" style="width: 980px; height: 600px">

        <p:panelGrid id="panelTreatments" style="width: 100%;">
            <p:row>
                <p:column styleClass="ui-widget-header">
                    <h:outputLabel  for="treatment" value="Tratamiento: " />
                </p:column>
                <p:column colspan="2">
                    <h:selectOneMenu  id="treatment" value="#{clinicsViewBean.tipoRifEdit}">
                        <f:selectItem itemLabel="Restauración en Resina Clase I Oclusal" itemValue="V"/>
                        <f:selectItem itemLabel="Restauración en Resina Clase II Oclusal" itemValue="J"/>
                        <p:ajax event="change" partialSubmit="true" process="@this" listener="#{accionesRequestBean.desplegarDialogoCreate('keysOdontodiagram',true)}" />
                    </h:selectOneMenu>
                </p:column>
            </p:row>

        </p:panelGrid>

        <p:commandButton id="btnAddTreatment2" onclick="PF('informacion').show();"
                         value="Agregar Tratamiento" icon="ui-icon-myCreate" style="width: 200px;">
            <f:actionListener /> 
        </p:commandButton>

        <div class="order">
            <p:dataTable  id="lstTreatment2" var="treatmentRow" value="#{clinicsViewBean.listaClinics}"
                          widgetVar="treatmentVar" emptyMessage="Tratamiento no encontrado" paginator="true" 
                          scrollable="false" rows="10" filteredValue="#{clinicsViewBean.listaClinicsFiltrada}" rendered="#{clinicsViewBean.visible}">  

                <p:column style="width: 20px">  
                    <p:commandButton onstart="PF('blqueaPantallaCompleta').block();" 
                                     oncomplete="PF('blqueaPantallaCompleta').unblock();" 
                                     icon="ui-icon-myDelete" title="Eliminar">  
<!--                        <f:setPropertyActionListener value="#{clinics}" target="#{clinicsViewBean.selectedClinics}" />  -->
                    </p:commandButton>  
                </p:column>

                <p:column id="treatmentTable2" headerText="Tratamiento"
                          filterBy="#{clinics.name}"
                          filterMatchMode="contains">
                    <h:outputText  value="Diagnóstico" style="text-transform: uppercase" />                    
                </p:column>  

                <p:column id="teehtTable2" headerText="Diente"
                          filterBy="#{clinics.addressId.cityId.stateId.nombre}"
                          filterMatchMode="contains" style="width: 250px;">
                    <h:outputText  value="toda la boca" style="text-transform: uppercase" />                    
                </p:column>
            </p:dataTable>
        </div>
    </p:scrollPanel>

    <p:dialog widgetVar="keysOdontodiagram" resizable="false" id="keysEdit" header="N° Diente: Restauración en Resina Clase I Oclusal" 
              showEffect="fade" modal="false" closable="false" >  
        <ui:include src="/web/dialogos/keysOdontodiagram.xhtml" />
    </p:dialog>

    <p:dialog header="Información" showEffect="fade" widgetVar="informacion" height="50" width="300">
        <h:outputText value="Agrega el tratamiento a la lista de abajo." />
    </p:dialog>
</ui:composition>