<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">
    
    <p:scrollPanel mode="native" style="width:655px; height:435px;">
        <p:outputPanel id="panelRegisterTransferConfirmViews">
            <h:panelGroup style="width: 100%; margin-top: 5px; margin-left: 5px; margin-right: 5px; margin-bottom: 5px; padding: 5px;" rendered="#{not empty keysInvoicesTransferViewBean.confirmKeyDetailsInvoicesTransferOutputSelected}">

                <p:panelGrid style="width: 100%;">
                    <p:row>
                        <p:column styleClass="ui-widget-header" style="width: 10%;">
                            <div align="left">
                                <strong> Mes:</strong>                              
                            </div>                           
                        </p:column>
                        <p:column style="width: 10%;">
                            <div align="left">
                                <h:outputText value="#{keysInvoicesTransferViewBean.confirmKeyDetailsInvoicesTransferOutputSelected.nameMonth}" />                                          
                            </div>                           
                        </p:column>
                        <p:column styleClass="ui-widget-header" style="width: 30%;">
                            <div align="left">
                                <strong> Doctor:</strong>                              
                            </div>                           
                        </p:column>
                        <p:column style="width: 50%;">
                            <div align="left">
                                <h:outputText value="#{keysInvoicesTransferViewBean.confirmKeyDetailsInvoicesTransferOutputSelected.nameSpecialist}" />                                          
                            </div>                           
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <p:dataTable id="confirmKeyTable" var="confirmKey" widgetVar="confirmKeyWitg"
                             value="#{keysInvoicesTransferViewBean.confirmKeyDetailsInvoicesTransferOutputList}">

                    <p:column headerText="Clave" style="width: 20%;">
                        <h:outputText value="#{confirmKey.nameKeyPatient}" />
                    </p:column>
                    <p:column headerText="Tratamiento" style="width: 20%;">
                        <h:outputText value="#{confirmKey.nameTreatment}" />
                    </p:column>
                    <p:column headerText="Diente" style="width: 10%;">
                        <h:outputText value="#{confirmKey.namePropertie}" />
                    </p:column>
                    <p:column headerText="Observación" style="width: 30%;">
                        <h:outputText value="#{confirmKey.observations}" />
                    </p:column>
                    <p:column headerText="Monto a pagar" style="width: 20%;">
                        <h:outputText value="#{confirmKey.amountTotal}" >
                             <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                        </h:outputText>
                    </p:column>
                </p:dataTable>
                
                
                  <p:fieldset >
       <p:panelGrid id="panelTotalAmounthPaid" style="width:100%;margin-left: 1.5%;">
                <p:row >

                    <p:column style="width: 67%;border: 0 !important;">

                    </p:column>
                    <p:column styleClass="ui-widget-header" style="width: 13%;">
                        <h:outputLabel for="totalAmounthPaid" value="Total a pagar Bs."/>
                    </p:column>
                    <p:column style="width: 20%;">
                        <h:outputLabel for="totalAmounthPaid" value="#{keysInvoicesTransferViewBean.confirmKeyDetailsInvoicesTransferOutputSelected.totalAmountPaid}"
                                       style="text-align:center;">
                            <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                        </h:outputLabel>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:fieldset>
            </h:panelGroup>
        </p:outputPanel>        
    </p:scrollPanel>
    
</ui:composition>

