<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"                
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:scrollPanel mode="native" style="width:auto;height:auto">
    <div class="order">          
        <p:dataTable id="massiveLoadingDetails" widgetVar="massiveLoadingDetails" var="massiveLoadingDetails" value="#{massiveLoadingViewBean.listExcelConfigured}" 
                     emptyMessage="NO SE ENCONTRARON REGISTROS"  
                     style="margin-bottom:0" paginator="true" scrollable="false" rows="5" 
                     paginatorAlwaysVisible="false" >
            <p:column  headerText="Columna"
                       filterMatchMode="contains" style=" width: 100px !important;">
                <h:outputText value="#{massiveLoadingDetails.letter}" style="text-transform: uppercase" />                    
            </p:column>

            <p:column  headerText="Campo"
                       filterMatchMode="contains" style=" width: 100px !important;">
                <h:outputText value="#{massiveLoadingDetails.field.name}" style="text-transform: uppercase" />                    
            </p:column>  

        </p:dataTable>

        <br></br>
        <br></br>
    </div>

    </p:scrollPanel>
</ui:composition>