<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">



    <!-- Message on the Dialog -->
    <p:messages id="messagesFinnancial" showDetail="true" showSummary="false" closable="true" style="margin-left: 28px"/>

    <!-- Data Finnancial -->
    <p:outputPanel id="panelFinnancialData" >
        <!-- Panel -->
        <p:scrollPanel mode="native" style="max-height: 400px !important; overflow-y: scroll !important  " >
        <p:panelGrid id="panelFinancial" 
                         rendered="#{not empty ReimbursementViewBean.reimbursementSelected}">
                <p:row>
                    <p:column colspan="2" styleClass="ui-widget-header">
                        Datos de la factura
                    </p:column>
                </p:row>

                <p:row>
                    <p:column styleClass="ui-widget-header" style="width: 50%;">
                        <div align="left"><strong>* Nro. de factura:</strong></div>
                    </p:column>

                    <p:column style="width: 50%;">
                        <div align="left">
                            <p:inputText  id="txtNumberInvoice"
                                          value="#{ReimbursementViewBean.invoice_number}"
                                          maxlength="30" styleClass="nroInvoce"

                                          >
                                <p:ajax event="blur" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial"/>
                                <p:ajax event="keyup" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial" />
                                <pe:keyFilter regEx="/[0-9.,]/i" preventPaste="false"/>
                            </p:inputText>
                        </div>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="ui-widget-header" style="width: 50%;">
                        <div align="left">
                            <strong>* Fecha:</strong>
                        </div>
                    </p:column>
                    <p:column style="width: 50%;">
                        <div align="left">
                            <p:calendar timeZone="America/Caracas" styleClass="date"
                                        readonlyInput="true" id="starDateInvoiceReimbursement"
                                        value="#{ReimbursementViewBean.invoice_date}"
                                        style="width: 100%;" locale="es"
                                        mindate="#{ReimbursementViewBean.minDate}"
                                        maxdate="#{ReimbursementViewBean.currentDate}"
                                        pattern="dd/MM/yyyy" navigator="true" showButtonPanel="true">
                                <p:ajax event="dateSelect" immediate="true"
                                        partialSubmit="true" listener="#{ReimbursementViewBean.validateDataFinancial}" 
                                        process="@this"></p:ajax>
                                <p:ajax event="blur" listener="#{ReimbursementViewBean.validateDataFinancial}"/>
                            </p:calendar>
                        </div>
                    </p:column>
                </p:row>
                <p:row>

                    <p:column styleClass="ui-widget-header" style="width: 50%;">
                        <div align="left">
                            <strong>* Monto Bs. F:</strong>
                        </div>
                    </p:column>
                    <p:column style="width: 50%;">
                        <div align="left">

                            <pe:inputNumber
                                symbolPosition="s"
                                symbol=""
                                thousandSeparator="."
                                emptyValue=""
                                decimalSeparator=","
                                decimalPlaces="2"
                                styleClass="mount"
                                id="txtAmountReimbursement"
                                value="#{ReimbursementViewBean.amount}" >

                                <p:ajax event="blur" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial"/>
                                <p:ajax event="keyup" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial" />
                                <p:ajax event="keydown" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial" />

                            </pe:inputNumber>

                        </div>
                    </p:column>
                </p:row>

                <p:row id="rowAmountToPay">
                    <p:column styleClass="ui-widget-header" style="width: 50%;">
                        <div align="left">
                            <strong>* Monto a pagar:</strong>
                        </div>
                    </p:column>
                    <p:column>

                        <pe:inputNumber 
                            symbolPosition="s"
                            symbol=""
                            thousandSeparator="."
                            emptyValue=""
                            decimalSeparator=","
                            decimalPlaces="2"
                            id="inputAmountToPay"
                            styleClass="mount"
                            maxlength="13" 
                            value="#{ReimbursementViewBean.amountPaymentOriginal}" >

                            <p:ajax event="keyup" listener="#{ReimbursementViewBean.validateDataFinancial}" update="form:fieldObser messagesFinnancial" />
                            <p:ajax event="blur" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial"/>
                            <p:ajax event="keydown" listener="#{ReimbursementViewBean.validateDataFinancial}" update="form:fieldObser messagesFinnancial" />

                        </pe:inputNumber>
                    </p:column>

                </p:row>
                <p:row>
                    <p:column styleClass="ui-widget-header" style="width: 50%">
                        <div align="left">
                            <strong>* Observación:</strong>
                        </div>
                    </p:column>
                    <p:column>
                        <p:inputTextarea   rows="8" cols="50" id="fieldObser"  styleClass="mount textareaDialog" maxlength="255" 
                                           disabled="#{!ReimbursementViewBean.fieldChangeAmount}"
                                           value="#{ReimbursementViewBean.obser_monto_pagar}" placeholder="Debe ingresar observación">
                            <pe:keyFilter regEx="/^[a-zA-Z 0-9., \'ñÑáÁéÉíÍóÓúÚüÜ]+$/" preventPaste="true"/>
                            <p:ajax event="keyup" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial"/>
                            <p:ajax event="blur" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial"/>

                        </p:inputTextarea>
                    </p:column>        
                </p:row>
                <p:row>
                    <p:column styleClass="ui-widget-header" style="width: 50%;">
                        <div align="left">
                            <strong>Plan seleccionado por el paciente:</strong>
                        </div>
                        <div align="right">
                            <p:outputLabel styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.plansId.name}" />
                        </div>
                    </p:column>
                    <p:column styleClass="ui-widget-header" style="width: 50%;">
                        <div align="left">
                            <strong>Compañía de seguros:</strong>
                        </div>
                        <div align="left" style="text-transform: uppercase">
                            <p:outputLabel styleClass="all-upperCase" 
                                           value="#{ReimbursementViewBean.reimbursementSelected.plansId.insuranceId.name}"/>
                        </div>
                    </p:column>
                </p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>Seleccione el plan si es requerido actualizar:</strong>
                    </div>
                </p:column>
                <p:column style="width: 50%">

                    <h:selectOneMenu  id="listPlanPatient" styleClass="formUppercase back" converter="plansConverter"
                                      value="#{ReimbursementViewBean.planSelected}">

                        <f:selectItems var="plans" itemLabel="#{plans.name}" 
                                       itemValue="#{plans}" value="#{ReimbursementViewBean.plansList}" />
                        <f:ajax event="change" listener="#{ReimbursementViewBean
                                                           .changePlan(ReimbursementViewBean.planSelected)}" />
                    </h:selectOneMenu>
                </p:column>
                <p:row>

                </p:row>
                <p:row>
                    <p:column colspan="2" styleClass="ui-widget-header">
                        Datos de la cuenta
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="ui-widget-header" style="width: 50%;">
                        <div align="left">
                            <strong>Entidad bancaria:</strong>
                        </div>
                    </p:column>
                    <p:column style="width: 50%;">
                        <div align="left">
                            <h:selectOneMenu  id="cmbEntityBanks"
                                              converter="bankConverter"
                                              styleClass="formUppercase back"
                                              value="#{ReimbursementViewBean.selectedBanks}">
                                <f:selectItems var="bank" itemLabel="#{bank.name}"
                                               itemValue="#{bank}" value="#{ReimbursementViewBean.banksList}" />
                                <p:ajax event="change"
                                        listener="#{ReimbursementViewBean.onChangeCodeBanks()}"/>
                            </h:selectOneMenu>
                        </div>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="ui-widget-header" style="width: 50%;">
                        <div align="left">
                            <strong>* Nro. de cuenta:</strong>
                        </div>
                    </p:column>
                    <p:column id="columEntityBank" style="width: 50%;">
                        <div align="left">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2" align="right" style="width: 18%;display: inline-block;">
                                    <p:inputText id="txtCode" styleClass="acountNumber"
                                                 readonly="true" style="margin-right: 5px; width: 70%;"
                                                 value="#{ReimbursementViewBean.selectedBanks.code}"
                                                 size="20" />
                                </div>
                                <div class="ui-grid-col-9" style="width: 82%; display: inline-block">
                                    <p:inputText id="txtAccountNumber2"  styleClass="acountNumber2"
                                                 value="#{ReimbursementViewBean.reimbursementSelected.accountNumberSubTring}"
                                                 validatorMessage="Cantidad de caracteres incorrectos, debe poseer un 
                                                 total de 16 dígitos."  maxlength="16" placeholder="Ej: 8896522125652154"
                                                 style="width: 91%; display: inline-block" size="20" >
                                        <pe:keyFilter regEx="/[0-9()-]/i" preventPaste="false"/>

                                        <p:ajax event="blur" listener="#{ReimbursementViewBean.validateDataFinancial}" update="messagesFinnancial"/>
                                        <p:ajax event="keyup" listener="#{ReimbursementViewBean.validateDataFinancial}"
                                                update="messagesFinnancial"/>
                                    </p:inputText>
                                </div>
                            </div>
                        </div>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:scrollPanel>
    </p:outputPanel>
</ui:composition>
