<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <p:dataTable var="binnacleR" style="max-width: 90%; margin-bottom: 18px;"
     value="#{ReimbursementViewBean.searchBinnacleReimbursementByReimbursementid(ReimbursementViewBean.reimbursementSelected.id)}"
     emptyMessage="No se encontraron registro(s)">

      <p:column headerText="Estado" style="width: 30%;">
        <h:outputText value="#{binnacleR.statusReimbursementId.name}" />
      </p:column>

      <p:column headerText="Datos del proceso" style="width: 70%;">
         <h:outputText value="#{binnacleR.issuerUser}" styleClass="formUppercase" />, 
         <h:outputText value="#{binnacleR.date}">
             <f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss aa" timeZone="America/Caracas" locale="es" />
         </h:outputText>
      </p:column>
    </p:dataTable> 
</ui:composition>
    
    

