<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <!-- Data Finnancial -->

    <p:outputPanel id="panelFinnancialDataRead">
        <!-- Panel -->
        <p:panelGrid style="width: 100%;" 
                     rendered="#{not empty ReimbursementViewBean.reimbursementSelected}">
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la factura
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Nro. de factura:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left" >
                        <h:outputText styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.invoice_number}" />   
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Fecha:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.invoice_date}">
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Caracas" />
                        </h:outputText>                                           
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Monto Bs. F:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.amount}">                             
                             <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>  
                            <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                        </h:outputText>                          
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Monto a pagar:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.monto_remb_pagar}">                             
                             <f:convertNumber locale="de_DE" pattern="#,##0.00"></f:convertNumber>  
                            <f:convertNumber  locale="de_DE" pattern="#,##0.00"></f:convertNumber>
                        </h:outputText>                          
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Observación:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.obser_monto_pagar}">                             
                        </h:outputText>                          
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Plan:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.
                                                                          plansPatientsId.plansId.name}">                             
                        </h:outputText>                          
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Compañía de seguros:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.
                                                                          plansId.insuranceId.name}">                             
                        </h:outputText>                          
                    </div>                           
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la cuenta
                </p:column>
            </p:row>   
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>Entidad bancaria:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" 
                                      value="#{ReimbursementViewBean.reimbursementSelected.banksPatientsId.bankId.name}" />                       
                    </div>                           
                </p:column>
            </p:row> 
            <p:row>
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>* Nro. de cuenta:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" 
                                      value="#{ReimbursementViewBean.reimbursementSelected.banksPatientsId.accountNumber}" />                                                                              
                    </div>                           
                </p:column>
            </p:row>  
            <p:row rendered="#{ReimbursementViewBean.visibilityDataTransfer}">
                <p:column colspan="2" styleClass="ui-widget-header">
                    Datos de la transferencia
                </p:column>
            </p:row>
            <p:row rendered="#{ReimbursementViewBean.visibilityDataTransfer}">
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>Nro. de transferencia:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase"
                                      value="#{ReimbursementViewBean.reimbursementSelected.number_transfer}" />                       
                    </div>                           
                </p:column>
            </p:row>  
            <p:row rendered="#{ReimbursementViewBean.visibilityDataTransfer}">
                <p:column styleClass="ui-widget-header" style="width: 50%;">
                    <div align="left">
                        <strong>Fecha de transferencia:</strong>                              
                    </div>                           
                </p:column>
                <p:column style="width: 50%;">
                    <div align="left">
                        <h:outputText styleClass="all-upperCase" value="#{ReimbursementViewBean.reimbursementSelected.date_transfer}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss a" timeZone="America/Caracas" />
                        </h:outputText>                       
                    </div>                           
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:outputPanel>    
</ui:composition>

