<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <p:scrollPanel id="panelRegistroEspecialista" mode="native" style="width: 980px; height: 535px; margin-top: -30px !important;">
        <!-- p:focus e p:inputText se usan para colocar el focus por encima de los mensaje de error-->      
        <p:inputText id="textFocusNew" style="opacity: 0.0 !important; cursor: default !important;"/>
        <!-- <p:messages id="messagesSpecialist" autoUpdate="true" closable="true"/> -->
        
        <p:wizard id="wizardEspecialista" styleClass="hidden-wizard-next" 
                  style="width:940px;height:570px">  
            
            <p:tab id="personalTab" title="Datos Personales">
                <p:focus for="textFocusNew"/>
                
                <ui:include src="/web/dialogos/componentes/specialistsEdit.xhtml"/>
                
            </p:tab> 

        </p:wizard>  
    </p:scrollPanel>

</ui:composition>

