<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >

    <p:scrollPanel id="panelRegistroEspecialistaNew" mode="native" style="width: 980px; height: 535px; margin-top: -30px !important;">
        <!-- p:focus e p:inputText se usan para colocar el focus por encima de los mensaje de error-->      
        <p:inputText id="textFocusNew" style="opacity: 0.0 !important; cursor: default !important;"/>
        <p:messages id="messagesSpecialistRegistro" autoUpdate="false" closable="true"/>

        
        <p:wizard id="wizardRegistroEspecialista" flowListener="#{componenteViewBean.onFlowProcess}" widgetVar="wiz" nextLabel="Siguiente" backLabel="Anterior" 
                  style="width:940px;height:570px">  

            <p:tab id="personalTab1" title="Datos Personales">
                <p:focus for="textFocusNew"/>
                <ui:include src="/web/dialogos/componentes/camposSpecialist.xhtml"/>
            </p:tab>  

            
            <p:tab id="especialityTab1" title="Especialidades">
                <p:focus for="textFocusNew"/>
                <ui:include src="/web/dialogos/componentes/listaSpeciality.xhtml"/>
            </p:tab>  

            <p:tab id="clinicsTab1" title="Consultorios">
                <p:focus for="textFocusNew"/>
                <ui:include src="/web/dialogos/componentes/listaClinics.xhtml"/>
            </p:tab>  

        </p:wizard>  


    </p:scrollPanel>

</ui:composition>
