.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.ui-helper-reset {
    border: 0 none;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}
.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
}
.ui-helper-clearfix {
    display: inline-block;
}
* html .ui-helper-clearfix {
    height: 1%;
}
.ui-helper-clearfix {
    display: block;
}
.ui-helper-zfix {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-state-disabled {
    cursor: default !important;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    display: block;
    font-size: 0.1px;
    position: absolute;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    left: 0;
    top: -5px;
    width: 100%;
}
.ui-resizable-s {
    bottom: -5px;
    cursor: s-resize;
    height: 7px;
    left: 0;
    width: 100%;
}
.ui-resizable-e {
    cursor: e-resize;
    height: 100%;
    right: -5px;
    top: 0;
    width: 7px;
}
.ui-resizable-w {
    cursor: w-resize;
    height: 100%;
    left: -5px;
    top: 0;
    width: 7px;
}
.ui-resizable-se {
    bottom: 1px;
    cursor: se-resize;
    height: 12px;
    right: 1px;
    width: 12px;
}
.ui-resizable-sw {
    bottom: -5px;
    cursor: sw-resize;
    height: 9px;
    left: -5px;
    width: 9px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    height: 9px;
    left: -5px;
    top: -5px;
    width: 9px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    height: 9px;
    right: -5px;
    top: -5px;
    width: 9px;
}
.ui-selectable-helper {
    border: 1px dotted #000000;
    position: absolute;
    z-index: 100;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2;
}
.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}
.ui-slider-horizontal {
    height: 0.8em;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.3em;
}
.ui-slider-horizontal .ui-slider-range {
    height: 100%;
    top: 0;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-slider-vertical {
    height: 100px;
    width: 0.8em;
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-bottom: -0.6em;
    margin-left: 0;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
.ui-datepicker {
    display: none;
    padding: 0.2em 0.2em 0;
    width: 17em;
}
.ui-datepicker .ui-datepicker-header {
    padding: 0.2em 0;
    position: relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
    width: 150px;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    width: 120%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 83px;
}
.ui-datepicker table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0 0 0.4em;
    width: 100%;
}
.ui-datepicker th {
    border: 0 none;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}
.ui-datepicker td {
    border: 0 none;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    cursor: pointer;
    float: right;
    margin: 0.5em 0.2em 0.4em;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto 0.4em;
    width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    font-size: 0;
    width: 100%;
}
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    left: auto;
    right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    left: auto;
    right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}
.ui-datepicker-cover {
    display: block;
    height: 200px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 200px;
    z-index: -1;
}
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}
.ui-timepicker-div dl {
    text-align: left;
}
.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
    font-size: 90%;
}
.ui-tpicker-grid-label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0;
    padding: 0;
}
.ui-timepicker-rtl {
    direction: rtl;
}
.ui-timepicker-rtl dl {
    text-align: right;
}
.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}
.ui-datepicker-trigger.ui-button-icon-only .ui-button-text {
    padding: 0.3em;
}
.ui-accordion {
    width: 100%;
}
.ui-accordion .ui-accordion-header {
    cursor: pointer;
    margin-top: 1px;
    position: relative;
}
.ui-accordion .ui-accordion-header a {
    display: block;
    font-size: 1em;
    padding: 0.5em 0.5em 0.5em 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon {
    left: 0.5em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-accordion .ui-accordion-content {
    border-top: 0 none;
    margin-bottom: 2px;
    margin-top: -2px;
    overflow: auto;
    padding: 1em 2.2em;
    position: relative;
    top: 1px;
}
.ui-accordion .ui-accordion-header.ui-state-disabled, .ui-accordion .ui-accordion-header.ui-state-disabled a {
    cursor: default;
}
.ui-accordion.ui-accordion-rtl {
    direction: rtl;
}
.ui-accordion.ui-accordion-rtl .ui-accordion-header .ui-icon {
    left: auto;
}
.ui-accordion.ui-accordion-rtl .ui-accordion-header a {
    padding: 0.5em 2.2em 0.5em 0.5em;
}
.ui-autocomplete {
    width: auto;
    cursor: pointer;
    box-shadow: none;
    position: relative;

}

.ui-autocomplete-query {
    font-weight: bold;
}
.ui-autocomplete-panel {
    overflow: auto;
    position: absolute;
    background: white;
    height: 162px !important;
}
.ui-autocomplete-panel .ui-autocomplete-list {
    border: 0 none;
    padding: 0.4em;
}
.ui-autocomplete-panel .ui-autocomplete-list-item {
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
}
.ui-autocomplete-panel .ui-autocomplete-table {
    border-collapse: collapse;
    width: 100%;
}
.ui-autocomplete-panel .ui-autocomplete-table th, .ui-autocomplete-panel .ui-autocomplete-table td {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    padding: 4px 10px;
}
.ui-autocomplete .ui-button-icon-only .ui-button-text {
    padding: 0.29em;
}
.ui-autocomplete-multiple-container {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    min-height: 1px;
    overflow: hidden;
    width: 400px;
}
.ui-autocomplete-multiple-container.ui-inputfield {
    padding: 0;
}
.ui-autocomplete-token {
    cursor: default;
    float: left;
    margin: 2px;
    overflow: hidden;
    padding: 1px 3px;
    position: relative;
    white-space: nowrap;
}
.ui-autocomplete-token-label {
    display: block;
    padding: 0 2.1em 0 0.5em;
}
.ui-autocomplete-token-icon {
    cursor: pointer;
    margin-top: -9px;
    position: absolute;
    right: 0.2em;
    top: 50%;
}
.ui-autocomplete-input-token {
    float: left;
    list-style-type: none;
    margin: 1px;
    padding: 0;
}
.ui-autocomplete-input-token input {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 2px;
    outline: medium none;
    width: 140px;
}
.ui-autocomplete-itemtip-content {
    display: none;
}
.ui-autocomplete-itemtip {
    display: none;
    padding: 0.4em;
    position: absolute;
}
.ui-autocomplete-emptyMessage {
    padding: 3px 5px;
    font-family: tahoma !important;
    font-size: 12px !important;
}
.ui-blockui {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
}
.ui-blockui-content {
    padding: 1em;
    position: absolute;
    text-align: center;
    background: white;
}
.ui-carousel {
    display: inline-block;
    padding: 1px;
    position: relative;
}
.ui-carousel .ui-carousel-viewport ul {
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 32000px;
}
.ui-carousel .ui-carousel-viewport ul li {
    float: left;
    margin: 1px;
    padding: 0;
}
.ui-carousel .ui-carousel-viewport {
    border: 0 none;
    overflow: hidden;
    position: relative;
}
.ui-carousel .ui-carousel-vertical-viewport ul li {
    float: none !important;
}
.ui-carousel .ui-carousel-vertical-viewport ul {
    width: auto !important;
}
.ui-carousel .ui-carousel-footer {
    height: 16px;
    margin: 1px 1px 0;
    overflow: hidden;
    padding: 9px 10px 6px;
}
.ui-carousel .ui-carousel-header {
    height: 16px;
    margin: 0 1px;
    overflow: hidden;
    padding: 7px 10px 8px;
}
.ui-carousel .ui-carousel-header .ui-carousel-header-title {
    display: inline-block;
    overflow: hidden;
    padding-top: 2px;
    width: 30%;
}
.ui-carousel .ui-carousel-dropdown {
    background-image: none;
    float: right;
    margin: 0 10px;
}
.ui-carousel .ui-carousel-dropdown option {
    background-image: none;
    border: 0 none;
    box-shadow: none;
}
.ui-carousel .ui-carousel-button {
    float: right;
    margin: 2px;
}
.ui-carousel .ui-carousel-page-link {
    float: left;
    margin: 0 2px;
}
.ui-carousel .ui-carousel-page-link, .ui-carousel .ui-carousel-button {
    cursor: pointer;
}
.ui-carousel .ui-carousel-page-links {
    display: inline-table;
    float: right;
    margin: 1px 9px 0;
}
.ui-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.ui-overlay-visible {
    visibility: visible;
}
ui-overlay-visible * {
    visibility: visible !important;
}
.ui-overlay-hidden {
    visibility: hidden;
}
.ui-overlay-hidden * {
    visibility: hidden !important;
}
.ui-overlay-visible table {
}
.ui-overlay-hidden table {
}
.ui-datepicker .ui-datepicker-current.ui-priority-secondary {
    opacity: 1;
}
.ui-dashboard-column {
    float: left;
    padding-bottom: 100px;
}
.ui-datalist .ui-datalist-header, .ui-datalist .ui-datalist-footer {
    padding: 4px 10px;
    text-align: center;
}
.ui-datalist .ui-datalist-header {
    border-bottom: 0 none;
}
.ui-datalist .ui-datalist-footer {
    border-top: 0 none;
}
.ui-datalist .ui-paginator-top {
    border-bottom: 0 none;
}
.ui-datalist .ui-paginator-bottom {
    border-top: 0 none;
}
.ui-datalist .ui-datalist-empty-message {
    padding: 4px 10px;
}
.ui-datagrid-data {
    width: 100%;
}
.ui-datagrid .ui-paginator {
    text-align: center;
}
.ui-datagrid-column {
    padding: 3px;
}
.ui-datagrid-content-empty {
    padding: 4px 10px;
}
.ui-datagrid .ui-datagrid-header, .ui-datagrid .ui-datagrid-footer {
    padding: 4px 10px;
    text-align: center;
}
.ui-datagrid .ui-datagrid-header {
    border-bottom: 0 none;
}
.ui-datagrid .ui-datagrid-footer {
    border-top: 0 none;
}
.ui-datagrid .ui-paginator-top {
    border-bottom: 0 none;
}
.ui-datagrid .ui-paginator-bottom {
    border-top: 0 none;
}
.ui-datatable table {
    border-collapse: collapse;
    width: 100%;
}
.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    padding: 4px 0px !important;
    text-align: center;
}
.ui-datatable .ui-datatable-header {
    border-bottom: 0 none;
}
.ui-datatable .ui-datatable-footer {
    border-top: 0 none;
}
.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 4px 10px;
}
.ui-datatable tbody td {
    border-color: inherit;
}
.ui-datatable .ui-sortable-column {
    cursor: pointer;
}
.ui-datatable div.ui-dt-c {
    position: relative;
}
.ui-datatable .ui-sortable-column-icon {
    display: inline-block;
    margin: -3px 0 -3px 2px;
}
.ui-datatable .ui-column-filter {
    display: block;
    margin: auto;
    width: 90% !important;
}
.ui-datatable .ui-expanded-row {
    border-bottom: 0 none;
}
.ui-datatable .ui-expanded-row-content {
    border-top: 0 none;
}
.ui-datatable .ui-row-toggler {
    cursor: pointer;
}
.ui-datatable tr.ui-state-highlight {
    cursor: pointer;
}
.ui-datatable .ui-selection-column .ui-chkbox-all {
    display: block;
    height: 16px;
    margin: 0 auto;
    width: 16px;
}
.ui-datatable-scrollable table, .ui-datatable-sticky table {
    table-layout: fixed;
}
.ui-datatable-scrollable-body {
    overflow: auto;
}
.ui-datatable-scrollable-header, .ui-datatable-scrollable-footer {
    border: 0 none;
    overflow: hidden;
}
.ui-datatable-scrollable .ui-datatable-scrollable-header, .ui-datatable-scrollable .ui-datatable-scrollable-footer {
    position: relative;
}
.ui-datatable-scrollable .ui-datatable-scrollable-header td {
    font-weight: normal;
}
.ui-datatable .ui-datatable-data tr.ui-state-hover {
    border-color: inherit;
    cursor: pointer;
    font-weight: inherit;
}
.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
    padding: 2px;

}
.ui-column-dnd-top, ui-column-dnd-bottom {
    display: none;
    position: absolute;
}
.ui-column-dnd-top .ui-icon, ui-column-dnd-bottom .ui-icon {
    position: absolute;
    top: -4px;
}
.ui-datatable .ui-cell-editor-input {
    display: none;
}
.ui-datatable .ui-row-editing .ui-cell-editor .ui-cell-editor-output {
    display: none;
}
.ui-datatable .ui-row-editing .ui-cell-editor .ui-cell-editor-input {
    display: block;
}
.ui-datatable .ui-row-editor span {
    cursor: pointer;
    display: inline-block;
}
.ui-datatable .ui-row-editor .ui-icon-pencil {
    display: inline-block;
}
.ui-datatable .ui-row-editing .ui-row-editor .ui-icon-pencil {
    display: none;
}
.ui-datatable .ui-row-editor .ui-icon-check, .ui-datatable .ui-row-editor .ui-icon-close {
    display: none;
}
.ui-datatable .ui-row-editing .ui-row-editor .ui-icon-check, .ui-datatable .ui-row-editing .ui-row-editor .ui-icon-close {
    display: inline-block;
}
.ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column, .ui-datatable .ui-datatable-data td.ui-cell-editing {
    margin: 0;
    padding: 0;
}
.ui-datatable .ui-column-resizer {
    background-image: url("/javax.faces.resource/spacer/dot_clear.gif.xhtml?ln=primefaces&v=4.0");
    cursor: col-resize;
    float: right;
    height: 20px;
    margin: -4px -10px -4px 0;
    padding: 0;
    width: 8px;
}
.ui-datatable .ui-filter-column .ui-column-resizer {
    height: 45px;
}


.ui-datatable .ui-column-resizer-helper {
    display: none;
    position: absolute;
    width: 1px;
    z-index: 10;
}
.ui-datatable-resizable {
    overflow: auto;
    padding-bottom: 1px;
}
.ui-datatable-resizable thead th, .ui-datatable-resizable tbody td, .ui-datatable-resizable tfoot td {
    white-space: nowrap;
}
.ui-datatable-resizable table {
    table-layout: fixed !important;
}
.ui-datatable-rtl {
    direction: rtl;
}
.ui-datatable-rtl.ui-datatable thead th, .ui-datatable-rtl.ui-datatable tfoot td {
    text-align: right;
}
.ui-dialog {
    overflow: hidden;
    padding: 0;
    position: fixed;
}
.ui-dialog .ui-dialog-titlebar {
    border: 0 none;
    padding: 0.4em 0.4em 0.4em 1em;
    position: relative;
    background: url("../../img/noise_lines.png")50% top repeat-x !important;
}
.ui-dialog .ui-dialog-title {
    float: left;
    margin: 0.3em 16px 0.1em 0;
    color: #DF8D2E;
    font-weight: bold;
    text-transform: uppercase;
}
.ui-dialog .ui-dialog-content {
    /*background: url("../../img/subtle_dots.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;*/
    background: none repeat scroll 0 0 #ffffff !important;
    border: 0;
    padding: .0em 0em !important;
    position: relative !important;
    overflow: hidden !important;
}
.ui-dialog .ui-dialog-content table td{

    background: url("../../img/subtle_dots.png") repeat scroll 0 0 rgba(0, 0, 0, 0);

}

.ui-dialog .ui-dialog-content .ui-selectlistbox-list  table td{

    background: transparent;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
}
.ui-dialog .ui-resizable-se {
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px;
}
.ui-draggable .ui-dialog-titlebar {
    background:url(../../img/noise_lines.png) 50% top repeat-x !important;
    cursor: move;
}

.ui-dialog .ui-dialog-titlebar-close {
    width: 16px;
    height: 16px;
    background-image: url("../../img/ui-icons.png");
    background-position: -96px -128px;

}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus{
    width: 16px;
    height: 16px;
    background-image: url("../../img/ui-iconsBlue.png");
    background-position: -96px -128px;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-minimize, .ui-dialog .ui-dialog-titlebar-maximize {
    cursor: pointer;
    float: right;
    margin: 0;
    padding: 0px !important;
    top: 0;
}
.ui-dialog .ui-dialog-titlebar-close span, .ui-dialog .ui-dialog-titlebar-minimize span, .ui-dialog .ui-dialog-titlebar-maximize span {
    display: block;
    margin: 0;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus, .ui-dialog .ui-dialog-titlebar-minimize:hover, .ui-dialog .ui-dialog-titlebar-minimize:focus, .ui-dialog .ui-dialog-titlebar-maximize:hover, .ui-dialog .ui-dialog-titlebar-maximize:focus {
    padding: none !important;
}
.ui-dialog-footer {
    border-width: 1px 0 0;
    padding: 0.4em 1em;
    text-align: left;
}
.ui-dialog-docking-zone {
    bottom: 0;
    left: 0;
    position: fixed;
}
.ui-dialog-minimizing {
    border: 2px dotted #808080;
}
.ui-dialog .ui-dialog-message {
    margin-top: auto;
}
.ui-confirm-dialog .ui-dialog-content {
    padding: 1em;
}
.ui-confirm-dialog-severity {
    float: left;
    margin-right: 4px;
}
.ui-confirm-dialog-message {
    display: inline-block;
    margin-top: 1px;
}
.ui-dialog-rtl {
    direction: rtl;
}
.ui-dialog.ui-dialog-rtl .ui-dialog-title {
    float: right;
}
.ui-dialog.ui-dialog-rtl .ui-dialog-titlebar-close, .ui-dialog.ui-dialog-rtl .ui-dialog-titlebar-minimize, .ui-dialog.ui-dialog-rtl .ui-dialog-titlebar-maximize {
    float: left;
}
.ui-dialog.ui-dialog-rtl .ui-dialog-footer {
    text-align: right;
}
.ui-message-dialog .ui-dialog-content {
    padding: 1em !important;
}
.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 0.6em 1em;
}
.ui-fieldset-toggleable .ui-fieldset-legend {
    cursor: pointer;
    padding: 0.5em 1em 0.5em 0.5em;
}
.ui-fieldset .ui-fieldset-toggler {
    float: left;
    margin-top: -0.1em;
    padding-right: 0.1em;
}
.ui-inputfield {
    font-weight: normal;
    margin: 0;
    outline: medium none;
    padding: 4px;
}
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
    font-weight: normal;
}

.ui-widget-headerScale{

    font-weight:bold;
    font-size: 1.2em !important;
}
.ui-inputtextarea-resizable {
    overflow: hidden;
    resize: none;
}
.ui-selectonelistbox, .ui-selectmanymenu, .ui-multiselectlistbox-listcontainer {
    overflow: visible;
    padding: 0px;
    width: 300px;
}

.ui-selectonelistbox .ui-selectlistbox-list, .ui-selectmanymenu .ui-selectlistbox-list, .ui-multiselectlistbox .ui-multiselectlistbox-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ui-selectonelistbox .ui-selectlistbox-item, .ui-selectmanymenu .ui-selectlistbox-item, .ui-multiselectlistbox .ui-multiselectlistbox-item {
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
    margin: 2px;
}
.ui-selectonelistbox table.ui-selectlistbox-list, .ui-selectmanymenu table.ui-selectlistbox-list {
    border-collapse: collapse;
    width: auto !important;
}
.ui-multiselectlistbox .ui-multiselectlistbox-listcontainer {
    float: left;
    margin-right: 4px;
}
.ui-multiselectlistbox .ui-multiselectlistbox-item {
    white-space: nowrap;
}
.ui-multiselectlistbox.ui-state-disabled .ui-multiselectlistbox-item {
    cursor: default;
}
.ui-chkbox {
    display: block;

}
.ui-chkbox .ui-chkbox-box {
    border-radius: 2px;
    display: inline-block;
    height: 16px;
    width: 16px;
}
/*esto es para la imagen de selecte*/
.ui-chkbox-icon.ui-icon {
    background-image: url("/javax.faces.resource/images/ui-icons_228ef1_256x240.png.xhtml?ln=primefaces-ui-lightness")!important;
    overflow: visible;

}

.ui-chkbox .ui-chkbox-label {
    cursor: pointer;
    display: inline-block;
    margin: 3px 0 0 3px;
    outline: medium none;
    vertical-align: top;
    z-index: 1;
}
.ui-chkbox  .ui-state-default {
    border: 1px solid #cccccc;
    background: white !important;
}
/*esto es para el check seleccionado*/
.ui-chkbox  .ui-state-active {
    /* border: 1px solid #fbd850;
     /*    background: #ffffff  50% 50% repeat-x;*/
    /*font-weight: bold;
    color: #eb8f00;
    background: url("../../img/ui-icons.png") no-repeat scroll 0 0 #ffffff !important;
    background-position: -64px -144px !important;*/

    border: 1px solid #fbd850;
    /*    background: #ffffff  50% 50% repeat-x;*/
    font-weight: bold;
    color: #eb8f00;
    background: url("../../img/ui-icons.png") no-repeat scroll 0 0 #ffffff !important;
    background-position: -64px -144px !important;
}

.ui-selectmanycheckbox label, .ui-selectoneradio label {
    display: block;
    margin-top: 4px;
}
.ui-selectmanycheckbox.ui-widget td, .ui-selectoneradio .ui-widget td {
    border: 0 none !important;

}
/*esto es el sombreado de la lista cuando selecciono*/
.ui-selectlistbox-list .ui-state-highlight{
    border: 0 none !important;
    cursor: pointer !important;
    font-weight: bold !important;
    margin: 2px !important;
    border: 1px solid #CECECE !important;
    background:url(../../img/noise_lines.png) 50% top repeat-x !important;
    /*background: #DBDBDB url("frontend/javax.faces.resource/images/ui-bg_highlight-soft_75_ffe45c_1x100.png.xhtml?ln=primefaces-ui-lightness") 50% top repeat-x !important;*/
    color: #363636 !important;
}
.ui-selectlistbox-list .ui-state-highlight .ui-chkbox  .ui-state-default{
    border: 1px solid #fbd850;
    font-weight: bold;
    color: #eb8f00;
    background: url("../../img/ui-icons.png") no-repeat scroll 0 0 #ffffff !important;
    background-position: -64px -144px !important;
}
.ui-selectlistbox-list .ui-state-hover{
    border: 1px solid #fbcb09;
    background: #fdf5ce url("/javax.faces.resource/images/ui-bg_glass_100_fdf5ce_1x400.png.xhtml?ln=primefaces-ui-lightness") 50% 50% repeat-x;
    font-weight: normal !important;
    color: #c77405 !important;
}
.ui-radiobutton {
    display: inline-block;
    line-height: 16px;
    margin: 3px -7px !important;

    margin-top: -5px !important;
}
.ui-radiobutton .ui-radiobutton-box {
    border-radius: 10px;
    height: 16px;
    line-height: 16px;
    width: 16px;
}
.ui-radiobutton-icon {
    margin-left: 1px;
}
.ui-radiobutton.ui-radiobutton-native {
    margin: 0;
    padding: 0;
}
.ui-radiobutton.ui-radiobutton-native .ui-helper-hidden-accessible {
    clip: auto;
    position: static !important;
}
.ui-radiobutton.ui-radiobutton-native .ui-radiobutton-box {
    display: none;
}
.ui-selectonemenu {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: auto;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
    border-bottom: medium none;
    border-right: medium none;
    border-top: medium none;
    cursor: pointer;
    height: 100%;
    padding: 0 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 3px;
}
.ui-selectonemenu .ui-selectonemenu-label {
    border: medium none;
    display: block;
    float: left;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger, .ui-selectonemenu.ui-state-disabled .ui-selectonemenu-label {
    cursor: default;
}
.ui-selectonemenu label.ui-selectonemenu-label {
    cursor: pointer;
}
.ui-selectonemenu input.ui-selectonemenu-label {
    cursor: default;
}
.ui-selectonemenu-panel {
    background: white !important;
    height: auto;
    position: absolute;
}
.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
    overflow: auto;
    background: white !important;
    font-size: 11px;
}
.ui-selectonemenu-panel .ui-selectonemenu-item {
    cursor: pointer;
    font-weight: normal;
}
.ui-selectonemenu-panel .ui-selectonemenu-item-group {
    font-weight: bold;
}
.ui-selectonemenu-panel .ui-selectonemenu-list {
    border: 0 none;
    padding: 0.4em;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border: 0 none;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
    white-space: nowrap;
}
.ui-selectonemenu-panel .ui-selectonemenu-table {
    border-collapse: collapse;
    width: 100%;
}
.ui-selectonemenu-panel .ui-selectonemenu-table td {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    padding: 4px 10px;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter {
    padding-right: 15px;
    width: 85%;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    display: inline-block;
    margin: 0;
    padding: 0.4em;
    position: relative;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}
.ui-state-disabled a {
    outline: medium none;
}
.ui-button {
    background-color: #79b2f8;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    border: 1px solid #71a1da ;
    color: #fff !important;
    text-shadow: 1px 1px 0px #727272;
    box-shadow: inset 0px 0px 4px white;
}

.ui-button:hover {
    background-color: #3C90F8;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 2px rgba #727272;
    cursor: pointer;
    line-height: normal;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button-buscar-directorio{
    opacity: 0.7;
    background-color: #fac668 !important;
    border: 1px solid #e2b35e !important;
}
.button-buscar-directorio:hover{
    opacity: 1;
    background-color: #fac668 !important;
    border: 1px solid #e2b35e !important;
}


.ui-button-icon-only {
    width: 2.4em;
}
.ui-button .ui-button-text {
    display: block;
    line-height: 1.4;
}
.ui-button-text-only .ui-button-text {
    padding: 0.3em 1em;
}
.ui-button-icon-only .ui-button-text {
    padding: 0.3em;
    text-indent: -1e+7px;
}
.ui-button-text-icon-left .ui-button-text {
    padding: 0.3em 1em 0.3em 1em !important;
}
.ui-button-text-icon-right .ui-button-text {
    padding: 0.3em 2.1em 0.3em 1em;
}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}
.ui-button-icon-left {
    left: 0.5em;
}
.ui-button-icon-right {
    right: 0.5em;
}
.ui-buttonset {
    margin-right: 7px;
}
.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 0;
}
button.ui-button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.ui-selectcheckboxmenu {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: auto;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-bottom: medium none;
    border-right: medium none;
    border-top: medium none;
    cursor: pointer;
    height: 100%;
    padding: 0 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
    margin-top: 3px;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
    border: medium none;
    cursor: pointer;
    display: block;
    padding: 3px 26px 3px 5px;
    width: auto;
}
.ui-selectcheckboxmenu.ui-state-disabled .ui-selectcheckboxmenu-trigger, .ui-selectcheckboxmenu.ui-state-disabled .ui-selectcheckboxmenu-label {
    cursor: auto;
}
.ui-selectcheckboxmenu-panel {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 0.2em;
    position: absolute;
}
.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items-wrapper {
    overflow: auto;
}
.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list {
    border: 0 none;
}
.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
    white-space: nowrap;
}
.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
    display: block;
    position: relative;
}
.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item .ui-chkbox {
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item label {
    display: block;
    padding-left: 2.2em;
}
.ui-selectcheckboxmenu-header {
    margin-bottom: 0.3em;
    padding: 0.3em 0 0.3em 0.4em;
}
.ui-selectcheckboxmenu-header .ui-chkbox {
    cursor: pointer;
    float: left;
}
.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
    float: left;
    margin-left: 5px;
    position: relative;
}
.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon {
    position: absolute;
    right: 5px;
    top: 2px;
}
.ui-selectcheckboxmenu-header .ui-inputfield {
    padding: 1px 20px 1px 2px;
}
.ui-selectcheckboxmenu-header span.ui-icon {
    float: left;
}
.ui-selectcheckboxmenu-header a.ui-selectcheckboxmenu-all, .ui-selectcheckboxmenu-header a.ui-selectcheckboxmenu-none {
    display: block;
    float: left;
    margin-right: 10px;
}
.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
    display: block;
    float: right;
    margin-right: 0.2em;
    padding: 1px;
}
.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close.ui-state-hover {
    padding: 0;
}
div.ui-button, .ui-splitbutton {
    display: inline-block;
}
.ui-password-panel {
    margin-top: 2px;
    padding: 4px 10px;
    width: 150px;
}
.ui-password-panel .ui-password-meter {
    background: url("/javax.faces.resource/forms/password-meter.png.xhtml?ln=primefaces&v=4.0") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 10px;
    margin: 0;
    padding: 0;
}
.ui-password-info {
    margin-top: 4px;
}
.ui-password-panel-overlay {
    position: absolute;
}
.ui-outputlabel.ui-state-error {
    border: 0 none;
}
.ui-outputlabel .ui-outputlabel-rfi {
    margin-left: 0.4em;
}
.ui-selectonebutton {
    display: inline-block;
    padding: 1px;
}
.ui-selectonebutton.ui-state-error {
    padding: 0;
}
.ui-selectmanybutton {
    display: inline-block;
    padding: 0px;
}
.ui-selectmanybutton.ui-state-error {
    padding: 0;
}
* html .ui-growl {
    position: absolute;
}
* html .ui-growl-item {
    padding-bottom: 0;
}
* html .ui-growl-icon-close {
    right: 7px;
    top: 7px;
}
.ui-growl {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 301px;
}
.ui-growl-item-container {
    background: #ffe45c !important;
    border-radius: 4px;
    border: 1px solid #fed22f;
    color: #363636;
    font: 12px "Source Sans Pro","Droid Sans",Arial,sans-serif !important;
    font-weight: bold !important;
    text-align: center  !important;
    text-shadow: 0px 1px 0px #719DDF;
    text-transform: uppercase;
    margin: 0 0 10px;
    opacity: 0.85!important;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);

}
.ui-growl-item {
    display: block;
    padding: 10px 15px;
}
.ui-growl-item p {
    margin: 0;
    padding: 0;
}
.ui-growl-icon-close {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 5px;
}
.ui-growl-title {
    display: block;
    font-weight: bold;
    padding: 0 0 0px;
}
.ui-growl-image {
    background: url("/javax.faces.resource/messages/messages.png.xhtml?ln=primefaces&v=4.0") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 32px;
    margin: 0;
    padding: 0;
    width: 32px;
}
.ui-growl-image-info {
    background-position: 0 -264px;
    margin-top: 12px !important;
}
.ui-growl-image-warn {
    background-position: 0 -396px;
}
.ui-growl-image-error {
    background-position: 0 0;
}
.ui-growl-image-fatal {
    background-position: 0 -132px;
}
.ui-growl-message {
    float: none !important;
    padding: 0 0 5px;
    width: 220px;
}
.ui-growl-message p {
    font-weight: normal;
}
.ui-inplace .ui-inplace-display {
    border: 0 none !important;
    cursor: pointer;
}
.ui-inplace .ui-inplace-disabled {
    cursor: default;
}
.ui-inplace .ui-inplace-content {
}
.ui-inplace .ui-inplace-editor {
    margin-left: 0.1em;
}
.ui-inplace .ui-inplace-editor .ui-button-icon-only .ui-button-text {
    padding: 0;
}
.ui-lightbox {
    position: fixed;
}
.ui-lightbox-content-wrapper {
    position: relative;
}
.ui-lightbox-content {
    background-color: #000000;
    margin: 0;
    padding: 0;
    position: relative;
}
.ui-lightbox-nav-right, .ui-lightbox-nav-left {
    cursor: pointer;
    position: absolute;
    top: 50%;
}
.ui-lightbox-nav-left {
    left: 0;
}
.ui-lightbox-nav-right {
    right: 0;
}
.ui-lightbox-loading {
    background: url("/javax.faces.resource/lightbox/images/loading.gif.xhtml?ln=primefaces&v=4.0") no-repeat scroll center center #000000;
}
.ui-lightbox-caption {
    display: none;
    padding: 0.2em 0.4em;
}
.ui-lightbox-caption-text {
    float: left;
    margin: 0.3em 0 0.1em;
}
.ui-lightbox-close {
    float: right;
    margin: 0;
    padding: 1px;
}
.ui-lightbox-close.ui-state-hover {
    padding: 0;
}
.ui-menu {
    outline: 0 none;
    padding: 0.3em;
    position: relative;
    width: 12.5em;
}
.ui-menu.ui-menu-dynamic {
    display: none;
    position: absolute;
    z-index: 100000;
}
.ui-menu-list {
    position: static;
}
.ui-menu .ui-menu-list .ui-menuitem {
    border: medium none;
}
.ui-menu .ui-menu-list .ui-widget-header {
    clear: both;
    float: left;
    margin: 1px 0;
    width: 98%;
}
.ui-menu .ui-menuitem {
    clear: both;
    float: left;
    margin: 1px 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menuitem-parent {
    clear: both;
    float: left;
    margin: 1px 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menuitem-link {
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 400;
    line-height: 16px;
    outline: medium none;
    padding: 0.3em;
    text-decoration: none;
    width: 92%;
}
.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display: inline-block;
    float: left;
}
.ui-menu .ui-menuitem-text {
    float: left;

}
.ui-menu .ui-widget-header h1, .ui-menu .ui-widget-header h2, .ui-menu .ui-widget-header h3, .ui-menu .ui-widget-header h4, .ui-menu .ui-widget-header h5, .ui-menu .ui-widget-header h6 {
    display: block;
    float: left;
    font-size: 1em;
    margin: 0 auto;
    padding: 0.3em 3%;
}
.ui-menu .ui-menu-parent .ui-menu-child {
    display: none;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0.3em;
    position: absolute;
    text-decoration: none;
    width: 12.5em;
}
.ui-menu .ui-menu-parent {
    position: relative;
}
.ui-menu .ui-menu-parent .ui-icon-triangle-1-e, .ui-menu .ui-menu-parent .ui-icon-triangle-1-s, .ui-menubar .ui-menu-child .ui-icon-triangle-1-s, .ui-menubar .ui-menu-child .ui-icon-triangle-1-s {
    float: right;
}
.ui-menubutton {
    padding: 0;
}
.ui-menubutton .ui-button {
    margin: 0;
}
.ui-menubar {
    width: auto;
}
.ui-menubar .ui-menuitem {
    clear: none;
    width: auto;
}
.ui-menubar .ui-menu-child .ui-menuitem {
    width: 100%;
}
.ui-menubar .ui-menu-child {
    left: 0;
    top: 25px;
}
.ui-menubar .ui-menuitem-link {
    padding: 0.4em 0.3em;
    width: auto;
}
.ui-menubar .ui-menu-child .ui-menuitem-link {
    width: 92%;
}
.ui-menubar .ui-widget-header {
    clear: none;
    margin: 0 3px 0 0;
    width: auto;
}
.ui-menubar .ui-widget-header h1, .ui-menubar .ui-widget-header h2, .ui-menubar .ui-widget-header h3, .ui-menubar .ui-widget-header h4, .ui-menubar .ui-widget-header h5, .ui-menubar .ui-widget-header h6 {
    padding: 0.4em 0.3em;
}
.ui-menubar .ui-menubar-options {
    float: right;
}
.ui-menu .ui-separator {
    border-top: 0 none;
    clear: both;
    float: left;
    height: 0;
    margin: 1px 0 0;
    padding: 0;
    width: 98%;
}
.ui-megamenu td {
    vertical-align: top;
}
.ui-menu.ui-megamenu .ui-menu-parent .ui-menu-child {
    width: auto;
}
.ui-menu.ui-megamenu .ui-menu-child > table {
    width: auto;
}
.ui-menu.ui-megamenu .ui-menu-child .ui-menu-list {
    width: 12.5em;
}
.ui-breadcrumb {
    margin: 0;
    overflow: hidden;
    padding: 5px 5px 7px;
}
.ui-breadcrumb ul {
    display: block;
    margin: 0;
    padding: 0;
}
.ui-breadcrumb ul li {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
}
.ui-breadcrumb ul li span {
    display: block;
    overflow: hidden;
}
.ui-breadcrumb ul li .ui-menuitem-link {
    display: block;
    float: left;
    margin-top: 3px;
    overflow: hidden;
    position: relative;
}
.ui-breadcrumb ul li a.ui-icon-home {
    margin-top: 1px;
    overflow: hidden;
    padding: 0;
}
.ui-breadcrumb-chevron {
    float: left;
    margin-top: 2px;
}
.ui-slidemenu .ui-slidemenu-wrapper {
    position: relative;
}
.ui-slidemenu .ui-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.ui-slidemenu .ui-menu-list {
    position: absolute;
    top: 0;
}
.ui-slidemenu .ui-menu-parent {
    position: static;
}
.ui-slidemenu .ui-menu-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: none;
}
.ui-slidemenu-backward {
    bottom: 0;
    cursor: pointer;
    display: none;
    margin-bottom: 0.4em;
    padding: 0.2em;
    position: absolute;
    width: 95%;
}
.ui-slidemenu-backward .ui-icon {
    float: left;
}
.ui-panelmenu {
    width: auto;
}
.ui-panelmenu .ui-panelmenu-panel {
    margin: 0;
    padding: 0;
}
.ui-panelmenu .ui-panelmenu-header {
    cursor: pointer;
    margin: 0;
    position: relative;
}
.ui-panelmenu .ui-panelmenu-header a {
    display: block;
    font-size: 1em;
    padding: 0.5em 0.5em 0.5em 2.2em;
}
.ui-panelmenu .ui-panelmenu-header .ui-icon {
    left: 0.5em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-panelmenu .ui-panelmenu-content {
    border-top: 0 none;
    margin-top: -2px;
    overflow: auto;
    padding: 0.2em 0 0.2em 0.2em;
    position: relative;
    top: 1px;
}
.ui-panelmenu .ui-panelmenu-header.ui-state-disabled, .ui-panelmenu .ui-panelmenu-header.ui-state-disabled a {
    cursor: default;
}
.ui-panelmenu .ui-menu-list {
    position: static;
}
.ui-panelmenu .ui-menuitem {
    clear: both;
    float: left;
    margin: 1px 0;
    padding: 0;
    width: 100%;
}
.ui-panelmenu .ui-menuitem-link {
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 400;
    line-height: 16px;
    outline: medium none;
    padding: 0.3em;
    text-decoration: none;
    width: 92%;
}
.ui-panelmenu .ui-icon {
    display: inline-block;
    float: left;
}
.ui-panelmenu .ui-menuitem-text {
    float: left;
}
.ui-panelmenu .ui-menu-parent .ui-menu-list {
    display: none;
    margin-left: 20px;
}
.ui-tabmenu {
    position: relative;
}
.ui-tabmenu .ui-tabmenu-nav {
    margin: 0;
    padding: 0.2em 0.2em 0;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    border-bottom: 0 none;
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem-hasicon a {
    padding: 0.5em 1em 0.5em 0.2em;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-icon {
    cursor: pointer;
    float: left;
}
.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    border: 1px solid;
    margin: 10px 0;
    padding: 10px;
}
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
    border: 0px;
    margin: 0 5px;
    padding: 2px 5px;
}
.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon, .ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}
.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon {
    height: 24px;
    margin-top: -4px;
    width: 24px;
}
.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
    height: 16px;
    width: 16px;
}
.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
    font-weight: bold;
    margin-left: 10px;
}
.ui-messages-info-detail, .ui-messages-warn-detail, .ui-messages-error-detail, .ui-messages-fatal-detail, .ui-message-info-detail, .ui-message-warn-detail, .ui-message-error-detail, .ui-message-fatal-detail {
    margin-left: 5px;
}
.ui-messages-info, .ui-message-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.ui-messages-warn, .ui-message-warn {
    background-color: #FCF8E3;
    border-color: #FBEED5;
    color: #C09853;
}
.ui-messages-error, .ui-message-error {
    color: #FF5500 !important;
    font-size: 11px;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border: 0px !important;
    font-weight: bold !important;
    text-align: left !important;
}
.ui-messages-fatal, .ui-message-fatal {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.ui-messages ul {
    list-style-type: none;
    margin: 0 25px;
    padding: 0;
}
.ui-message-icon-only {
    height: 16px;
    width: 16px;
}
.ui-messages-info-icon {
    background-position: 1px -360px !important;
}
.ui-messages-warn-icon {
    background-position: 0 -448px;
}
.ui-messages-error-icon {
    width: 24px !important;
    height: 24px !important;
    background-image: url("../../img/Warning.png") !important;
    background-position: 0px !important;
}
.ui-messages-fatal-icon {
    background-position: 0 -184px;
}
.ui-message-info-icon {
    background-position: 0 -360px;
}
.ui-message-warn-icon {
    background-position: 0 -492px;
}
.ui-message-error-icon {
    background-position: 0 -96px;
}
.ui-message-fatal-icon {
    background-position: 0 -228px;
}
.ui-messages .ui-messages-close {
    cursor: pointer;
    float: right;
    display: none !important;
}
.ui-messages .ui-messages-close .ui-icon-close{
    width: 16px;
    height: 16px;
    background-image: url("../../img/ui-iconsRed.png") !important;
    background-position: -80px -128px;

}
.ui-messages .ui-messages-close .ui-icon-close:hover, .ui-messages .ui-messages-close .ui-icon-close:focus{
    width: 16px;
    height: 16px;
    background-image: url("../../img/icons-gris.png") !important;
    background-position: -80px -128px;

}
.ui-notificationbar {
    display: none;
    height: 100px;
    padding: 10px;
    position: fixed;
    width: 100%;
}
.ui-notificationbar-close {
    cursor: pointer;
    position: absolute;
    right: 3em;
    top: 1em;
}
.ui-orderlist .ui-orderlist-list {
    height: 200px;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 200px;
}
.ui-orderlist .ui-orderlist-list li {
    margin: 1px;
    padding: 2px;
}
.ui-orderlist .ui-button {
    display: block;
    margin-bottom: 0.3em;
}
.ui-orderlist .ui-orderlist-button.ui-button-text-icon-primary {
    width: 100%;
}
.ui-orderlist .ui-orderlist-item {
    border: 0 none;
    cursor: pointer;
    font-weight: inherit;
}
.ui-orderlist .ui-orderlist-caption {
    border-bottom: 0 none;
    padding: 4px 10px;
    text-align: center;
}
.ui-orderlist table {
    border-collapse: collapse;
    width: 100%;
}
.ui-orderlist.ui-state-disabled .ui-orderlist-item, .ui-orderlist.ui-state-disabled .ui-button {
    cursor: default;
}
.ui-outputpanel-loading {
    background: url("/javax.faces.resource/outputpanel/images/loading.gif.xhtml?ln=primefaces&v=4.0") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 32px;
    width: 32px;
}
.ui-overlaypanel {
    margin: 0;
    padding: 0;
    position: absolute;
}
.ui-overlaypanel-content {
    padding: 0.5em 1em;
}
.ui-overlaypanel-close {
    border-radius: 10px;
    position: absolute;
    right: -10px;
    top: -10px;
}
.ui-panel {
    padding: 0.2em;
}
.ui-panel .ui-panel-titlebar {
    padding: 0;

}
.ui-panel .ui-panel-title {
    margin: 0!important;
}
.ui-panel .ui-panel-titlebar-icon {
    cursor: pointer;
    float: right;
}
.ui-panel .ui-panel-titlebar-icon, .ui-panel .ui-panel-titlebar-icon:hover, .ui-panel .ui-panel-titlebar-icon:focus {
    margin-left: 0.2em;
    margin-top: -0.2em;
}
.ui-panel .ui-panel-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0.5em 1em;
}
.ui-panel .ui-panel-footer {
    border-width: 1px 0 0;
    margin: 0.5em 0 0;
    padding: 0.5em 1em;
    text-align: left;
}
.ui-panel.ui-panel-collapsed-h {
    width: 42px;
}
.ui-panel.ui-panel-collapsed-h .ui-panel-title {
    display: none;
}
.ui-panelgrid {
    border-collapse: collapse;
}
.ui-panelgrid .ui-panelgrid-header {
    padding: 4px 10px;
    text-align: center;
}
.ui-panelgrid .ui-panelgrid-footer {
    padding: 2px 5px;
    text-align: left;
}
.ui-panelgrid td {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    padding: 4px 10px;
}
.ui-paginator {
    margin: 0;
    padding: 2px;
    text-align: center;
}
.ui-paginator .ui-paginator-top {
    border-bottom: 0 none;
}
.ui-paginator .ui-paginator-bottom {
    border-top: 0 none;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
    display: inline-block !important;
    margin-left: 1px;
    margin-right: 1px;
    text-decoration: none;
    background: none repeat scroll 0 0 #ffffff;
    color: #DF8D2E;
    float: left;
    font-size: 11px;
    font-weight: normal;
    padding: 4px 6px;

    height: 18px;
    margin-top: 2px !important;
}
.ui-paginator .ui-paginator-pages{
    /*border-bottom: 1px dotted #c8c8c8 !important;*/

}
.ui-paginator .ui-paginator-page,.ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
    border: solid 1px #ccc !important;
}

.ui-paginator-page:active {
    color: white;
    background: #DF8D2E;
    font-weight: bold;
}

.ui-paginator-page:hover{
    border: 1px solid #DF8D2E !important;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev {
    cursor: pointer;

}
.ui-paginator .ui-paginator-first,.ui-paginator .ui-paginator-prev,  .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last {
    background-image: url("../../img/ui-icons.png") !important;
    height: 18px;
    margin-top: 6px !important;
}

.ui-paginator .ui-paginator-first{
    background-position: -82px -157px;

}

.ui-paginator .ui-paginator-prev{
    background-position: 158px -13px;

}
.ui-paginator .ui-paginator-next{
    background-position: 222px -13px;

}
.ui-paginator .ui-paginator-last{
    background-position: -67px -157px;

}



.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
    background-image: none;
    margin-left: 1em;
    margin-right: 1em;
}
.ui-paginator .ui-paginator-next .ui-icon, .ui-paginator .ui-paginator-prev .ui-icon, .ui-paginator .ui-paginator-first .ui-icon, .ui-paginator .ui-paginator-last .ui-icon {
    height: auto;
    overflow: inherit;

}
/*.ui-paginator .ui-paginator-first .ui-icon .ui-state-default{
background-image: url("../../img/ui-icons.png") !important;
background-position: -80px -160px !important;
}*/

.ui-paginator .ui-paginator-jtp-select option, .ui-paginator .ui-paginator-rpp-options option {
    background-image: none;
    border: 0 none;
    box-shadow: none;
}
.ui-picklist .ui-picklist-list {
    height: 200px;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 200px;
}
.ui-picklist .ui-picklist-list li {
    margin: 1px;
    padding: 2px;
}
.ui-picklist .ui-button {
    display: block;
    margin-bottom: 0.3em;
}
.ui-picklist .ui-picklist-item {
    border: 0 none;
    cursor: pointer;
    font-weight: inherit;
}
.ui-picklist .ui-picklist-caption {
    border-bottom: 0 none;
    padding: 4px 10px;
    text-align: center;
}
.ui-picklist table {
    border-collapse: collapse;
    width: 100%;
}
.ui-picklist .ui-picklist-filter {
    padding-right: 15px;
    width: 90%;
}
.ui-picklist .ui-picklist-filter-container {
    margin: 0;
    padding: 0;
    position: relative;
}
.ui-picklist .ui-picklist-filter-container .ui-icon {
    position: absolute;
    right: 2px;
    top: 5px;
}
.ui-progressbar {
    height: 1.2em;
    position: relative;
    text-align: left;
}
.ui-progressbar .ui-progressbar-value {
    display: none;
    height: 100%;
    margin: -1px;
    position: absolute;
    width: 0;
}
.ui-progressbar .ui-progressbar-label {
    display: none;
    font-weight: bold;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}
.ui-rating-star, .ui-rating-cancel {
    cursor: pointer;
    display: block;
    float: left;
    overflow: hidden;
    text-indent: -999em;
}
.ui-rating-star a, .ui-rating-cancel a {
    background: url("/javax.faces.resource/rating/rating.png.xhtml?ln=primefaces&v=4.0") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 15px;
    width: 16px;
}
.ui-rating-star a {
    background-position: 0 -32px;
}
.ui-rating-star-on a {
    background-position: 0 -48px;
}
.ui-rating-star-hover a {
    background-position: 0 -64px;
}
.ui-rating-cancel-hover a {
    background-position: 0 -16px;
}
.ui-rating.ui-state-disabled .ui-rating-star, .ui-rating.ui-state-disabled .ui-rating-cancel {
    cursor: default;
}
.ui-scrollpanel {
    background-image: none;
    outline: medium none;
    overflow: hidden;
}
.ui-scrollpanel-native {
    overflow: hidden;
}
.ui-scrollpanel-container {
    overflow: hidden;
    position: absolute !important;
}
.ui-scrollpanel-wrapper {
    overflow: hidden;
    position: absolute;
}
.ui-scrollpanel-content {
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
}
.ui-scrollpanel-vbar {
    bottom:  auto !important;
    left: auto;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    right: 0;
    top: 0;
    width: 10px;
}
.ui-scrollpanel-hbar {
    bottom: 0;
    height: 18px;
    left: 0;
    padding-left: 1px !important;
    padding-right: 1px !important;
    right: auto;
    top: auto;
}
.ui-scrollpanel-hbar, .ui-scrollpanel-vbar {
    border: 0 none;
    display: none;
    font-size: 0;
    position: absolute;
}
.ui-scrollpanel-hbar .ui-state-default, .ui-scrollpanel-vbar .ui-widget-header {
    height: 16px;
    position: absolute;
    width: 16px;
}
.ui-scrollpanel-hbar.ui-widget-header, .ui-scrollpanel-vbar.ui-widget-header {
    background-image: none;
}
.ui-scrollpanel-handle {
    font-size: 0;
    overflow: hidden;
    position: absolute;
}
.ui-scrollpanel-handle * {
    font-size: 0;
}
.ui-scrollpanel-bl {
    left: 0;
}
.ui-scrollpanel-br {
    right: 0;
}
.ui-scrollpanel-bt {
    top: 0;
}
.ui-scrollpanel-bb {
    bottom: 0;
}
.ui-spinner {
    display: inline-block;
    overflow: visible;
    padding: 0;
    position: relative;
    vertical-align: middle;
}
.ui-spinner-input {
    padding-right: 20px;
    text-align: right;
    vertical-align: middle;
}
.ui-spinner-button {
    cursor: default;
    display: block;
    font-size: 0.5em;
    height: 50%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    z-index: 100;
}
.ui-spinner .ui-icon {
    left: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-spinner-up {
    top: 0;
}
.ui-spinner-down {
    bottom: 0;
}
.ui-spinner .ui-icon-triangle-1-s {
    background-position: -65px -16px;
}
.ui-spinner .ui-icon-triangle-1-n {
    margin-top: -9px;
}
/*.ui-tabs {
    padding: 0.2em;
    position: relative;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
}
.ui-tabs .ui-tabs-nav li {
    float: right;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
    padding: 1em 1.4em;
}
.ui-tabs .ui-tabs-nav li {
    display: block;
}
.ui-tabs .ui-tabs-nav li .ui-icon {
    cursor: pointer;
    float: left;
    margin: 0.4em 0.2em 0 0;
}
.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
    border-bottom: 0 none;
    top: 1px;
}
.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0.2em 0.2em 0;
}
.ui-tabs.ui-tabs-bottom > .ui-tabs-nav {
    padding: 0 0.2em 0.2em;
}
.ui-tabs.ui-tabs-bottom > .ui-tabs-nav li {
    border-top: 0 none;
}
.ui-tabs-left:after, .ui-tabs-right:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ui-tabs-left > .ui-tabs-nav {
    background-image: none;
    float: left;
    height: 300px;
    padding-top: 1px;
    width: 23%;
}
.ui-tabs-left > .ui-tabs-panels {
    float: right;
    width: 75%;
}
.ui-tabs.ui-tabs-left > .ui-tabs-nav li, .ui-tabs.ui-tabs-right > .ui-tabs-nav li {
    display: block;
    white-space: normal;
    width: 98%;
}
.ui-tabs.ui-tabs-left > .ui-tabs-nav li {
    float: right;
}
.ui-tabs.ui-tabs-right > .ui-tabs-nav li {
    float: left;
}
.ui-tabs.ui-tabs-left > .ui-tabs-nav li {
    border-right: 0 none;
    margin: 0 0 1px 0.2em;
}
.ui-tabs.ui-tabs-right > .ui-tabs-nav {
    background-image: none;
    float: right;
    height: 300px;
    padding-top: 1px;
    width: 23%;
}
.ui-tabs.ui-tabs-right > .ui-tabs-panels {
    float: left;
    width: 75%;
}
.ui-tabs.ui-tabs-right > .ui-tabs-nav li {
    border-left: 0 none;
    margin: 0 0.2em 1px 0;
}
.ui-tabs-rtl {
    direction: rtl;
}
.ui-tabs-rtl .ui-tabs-nav li, .ui-tabs-rtl .ui-tabs-nav li a {
    float: right;
}
.ui-tabs-scrollable .ui-tabs-nav {
    width: 5000px;
}
.ui-tabs .ui-tabs-navscroller {
    overflow: hidden;
    position: relative;
}
.ui-tabs-scrollable .ui-tabs-nav li {
    margin: 0 0.2em -1px 0;
}
.ui-tabs .ui-tabs-navscroller-btn {
    cursor: pointer;
    display: none;
    height: 28px;
    position: absolute;
    top: 0;
    z-index: 100;
}
.ui-tabs .ui-tabs-navscroller-btn-left {
    left: 0;
}
.ui-tabs .ui-tabs-navscroller-btn-right {
    right: 0;
}
.ui-tabs .ui-tabs-navscroller-btn-left .ui-icon, .ui-tabs .ui-tabs-navscroller-btn-right .ui-icon {
    margin-top: 5px;
}*/

/*INICIO DEL CAMBIO EN EL TAB*/
.ui-tabs {
    padding: 0.2em;
    position: relative;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
}
.ui-tabs .ui-tabs-nav li {
    float: right;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
    padding: 1em 1.4em;
}
.ui-tabs .ui-tabs-nav li {
    display: block;
}
.ui-tabs .ui-tabs-nav li .ui-icon {
    cursor: pointer;
    float: left;
    margin: 0.4em 0.2em 0 0;
}
.ui-tabs.ui-tabs-top > .ui-tabs-nav li {
    border-bottom: 0 none;
    top: 1px;
}
.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0.2em 0.2em 0;
}
.ui-tabs.ui-tabs-bottom > .ui-tabs-nav {
    padding: 0 0.2em 0.2em;
}
.ui-tabs.ui-tabs-bottom > .ui-tabs-nav li {
    border-top: 0 none;
}
.ui-tabs-left:after, .ui-tabs-right:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ui-tabs-left > .ui-tabs-nav {
    background-image: none;
    float: left;
    height: 300px;
    padding-top: 1px;
    width: 23%;
}
.ui-tabs-left > .ui-tabs-panels {
    float: right;
    width: 75%;
}
.ui-tabs.ui-tabs-left > .ui-tabs-nav li, .ui-tabs.ui-tabs-right > .ui-tabs-nav li {
    display: block;
    white-space: normal;
    width: 98%;
}
.ui-tabs.ui-tabs-left > .ui-tabs-nav li {
    float: right;
}
.ui-tabs.ui-tabs-right > .ui-tabs-nav li {
    float: left;
}
.ui-tabs.ui-tabs-left > .ui-tabs-nav li {
    border-right: 0 none;
    margin: 0 0 1px 0.2em;
}
.ui-tabs.ui-tabs-right > .ui-tabs-nav {
    background-image: none;
    float: right;
    height: 300px;
    padding-top: 1px;
    width: 23%;
}
.ui-tabs.ui-tabs-right > .ui-tabs-panels {
    float: left;
    width: 75%;
}
.ui-tabs.ui-tabs-right > .ui-tabs-nav li {
    border-left: 0 none;
    margin: 0 0.2em 1px 0;
}
.ui-tabs-rtl {
    direction: rtl;
}
.ui-tabs-rtl .ui-tabs-nav li, .ui-tabs-rtl .ui-tabs-nav li a {
    float: right;
}
.ui-tabs-scrollable .ui-tabs-nav {
    width: 5000px;
}
.ui-tabs .ui-tabs-navscroller {
    overflow: hidden;
    position: relative;
}
.ui-tabs-scrollable .ui-tabs-nav li {
    margin: 0 0.2em -1px 0;
}
.ui-tabs .ui-tabs-navscroller-btn {
    cursor: pointer;
    display: none;
    height: 28px;
    position: absolute;
    top: 0;
    z-index: 100;
}
.ui-tabs .ui-tabs-navscroller-btn-left {
    left: 0;
}
.ui-tabs .ui-tabs-navscroller-btn-right {
    right: 0;
}
.ui-tabs .ui-tabs-navscroller-btn-left .ui-icon, .ui-tabs .ui-tabs-navscroller-btn-right .ui-icon {
    margin-top: 5px;
}


/*FIN DEL CAMBIO EN EL TAB*/
.ui-tagcloud {
    width: 250px;
}
.ui-tagcloud ul {
    margin: 1em;
    padding: 0.1em;
    text-align: center;
}
.ui-tagcloud li {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.ui-tagcloud li a {
    padding: 0 5px;
    text-decoration: none;
}
.ui-tagcloud-strength-1 {
    font-size: 100%;
}
.ui-tagcloud-strength-2 {
    font-size: 120%;
}
.ui-tagcloud-strength-3 {
    font-size: 140%;
}
.ui-tagcloud-strength-4 {
    font-size: 160%;
}
.ui-tagcloud-strength-5 {
    font-size: 180%;
}
.ui-tagcloud li a.ui-state-hover {
    border: 0 none;
    font-weight: inherit;
}
.ui-toolbar {
    padding: 0.2em;
}
.ui-toolbar .ui-separator {
    display: inline-block;
    vertical-align: middle;
}
.ui-toolbar-group-left {
    float: left;
}
.ui-toolbar-group-right {
    float: right;
}
.ui-tooltip {
    display: none;
    padding: 3px 5px;
    position: absolute;
}
.ui-tree {
    position: relative;
    width: 300px;
}
.ui-tree .ui-tree-container {
    margin: 0;
    overflow: auto;
    padding: 3px;
    white-space: nowrap;
}
.ui-tree .ui-treenode-children {
    margin: 0;
    padding: 0 0 0 16px;
}
.ui-tree .ui-treenode {
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat-y;
    list-style: none outside none;
    margin: 0;
    padding: 1px 0 0;
}
.ui-tree .ui-treenode-content {
}
.ui-tree .ui-tree-toggler {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}
.ui-tree .ui-treenode-icon {
    display: inline-block;
    vertical-align: top;
}
.ui-tree .ui-treenode-label {
    display: inline-block;
    margin: 2px 0 0;
    padding: 0 3px;
    vertical-align: top;
}
.ui-tree .ui-tree-selectable .ui-treenode-label, .ui-tree .ui-tree-selectable .ui-treenode-icon {
    cursor: pointer;
}
.ui-tree .ui-treenode-label.ui-state-hover, .ui-tree .ui-treenode-label.ui-state-highlight {
    border: 0 none;
    font-weight: normal;
}
.ui-tree .ui-treenode-leaf-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
}
.ui-tree .ui-chkbox-box {
    cursor: pointer;
    float: left;
    height: 15px;
    width: 15px;
}
.ui-tree .ui-chkbox {
    display: inline-block;
}
.ui-tree-horizontal {
    overflow: auto;
    padding: 10px 0;
    width: auto;
}
.ui-tree.ui-tree-horizontal table, .ui-tree.ui-tree-horizontal tr, .ui-tree.ui-tree-horizontal td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.ui-tree.ui-tree-horizontal .ui-tree-toggler {
    vertical-align: bottom;
}
.ui-tree-horizontal .ui-treenode-content {
    font-weight: normal;
}
.ui-tree-horizontal .ui-treenode-content.ui-tree-selectable {
    cursor: pointer;
}
.ui-tree-horizontal .ui-treenode-parent .ui-treenode-content {
    font-weight: normal;
    white-space: nowrap;
}
.ui-tree-horizontal .ui-treenode-parent .ui-treenode-content {
    padding: 0.4em 1em 0.4em 0.2em;
}
.ui-tree-horizontal .ui-treenode-leaf .ui-treenode-content {
    padding: 0.4em 1em;
}
.ui-tree.ui-tree-horizontal .ui-treenode {
    background: url("/javax.faces.resource/tree/images/line.gif.xhtml?ln=primefaces&v=4.0") repeat-x scroll center center rgba(0, 0, 0, 0);
    padding: 5px 40px;
}
.ui-tree.ui-tree-horizontal .ui-treenode.ui-treenode-leaf, .ui-tree.ui-tree-horizontal .ui-treenode.ui-treenode-collapsed {
    padding-right: 0;
}
.ui-tree.ui-tree-horizontal .ui-treenode-children {
    margin: 0;
    padding: 0;
}
.ui-tree.ui-tree-horizontal .ui-treenode-connector {
    width: 1px;
}
.ui-tree.ui-tree-horizontal .ui-treenode-connector-table {
    height: 100%;
    width: 1px;
}
.ui-tree.ui-tree-horizontal .ui-treenode-connector-line {
    background: url("/javax.faces.resource/tree/images/line.gif.xhtml?ln=primefaces&v=4.0") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    width: 1px;
}
.ui-tree.ui-tree-horizontal table {
    height: 0;
}
.ui-tree.ui-tree-horizontal .ui-chkbox {
    margin-right: 3px;
    vertical-align: bottom;
}
.ui-tree.ui-tree-rtl {
    direction: rtl;
}
.ui-tree.ui-tree-rtl .ui-treenode-children {
    padding: 0 16px 0 0;
}
.ui-tree-droppoint {
    height: 4px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.ui-tree-droppoint.ui-state-hover {
    border: 0 none;
}
.ui-treenode-content.ui-state-hover {
    font-weight: inherit;
}
.ui-tree-draghelper.ui-state-highlight {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ui-tree .ui-tree-scrollertop, .ui-tree .ui-tree-scrollerbottom {
    height: 10px;
    position: absolute;
    width: 100%;
}
.ui-tree .ui-tree-scrollertop {
    top: 0;
}
.ui-tree .ui-tree-scrollerbottom {
    bottom: 0;
}
.ui-treetable table {
    border-collapse: collapse;
    width: 100%;
}
.ui-treetable .ui-treetable-header, .ui-treetable .ui-treetable-footer {
    padding: 4px 10px;
    text-align: center;
}
.ui-treetable .ui-treetable-header {
    border-bottom: 0 none;
}
.ui-treetable .ui-treetable-footer {
    border-top: 0 none;
}
.ui-treetable th, .ui-treetable tfoot td {
    text-align: center;
}
.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 4px 10px;
    white-space: nowrap;
}
.ui-treetable tbody td {
    border-color: inherit;
}
.ui-treetable .ui-treetable-toggler {
    cursor: pointer;
    float: left;
    margin-top: -2px;
}
.ui-treetable .ui-treetable-data tr.ui-state-highlight, .ui-treetable .ui-treetable-data tr.ui-state-hover {
    cursor: pointer;
}
.ui-treetable-scrollable-body {
    overflow: auto;
}
.ui-treetable-scrollable-header, .ui-treetable-scrollable-footer {
    border: 0 none;
    overflow: hidden;
}
.ui-treetable.ui-treetable-scrollable table {
    table-layout: fixed;
}
.ui-treetable-scrollable .ui-treetable-scrollable-header, .ui-treetable-scrollable .ui-treetable-scrollable-footer {
    position: relative;
}
.ui-treetable .ui-treetable-data tr.ui-state-hover {
    border-color: inherit;
    font-weight: inherit;
}
.ui-treetable-resizable {
    overflow: auto;
    padding-bottom: 1px;
}
.ui-treetable.ui-treetable-resizable table {
    table-layout: fixed;
}
.ui-treetable .ui-column-resizer {
    background-image: url("/javax.faces.resource/spacer/dot_clear.gif.xhtml?ln=primefaces&v=4.0");
    cursor: col-resize;
    float: right;
    height: 20px;
    margin: -4px -10px -4px 0;
    padding: 0;
    width: 8px;
}
.ui-treetable .ui-column-resizer-helper {
    display: none;
    position: absolute;
    width: 1px;
    z-index: 10;
}
.ui-treetable .ui-chkbox {
    margin-right: 3px;
}
.ui-treetable .ui-treetable-indent {
    float: left;
    height: 16px;
    width: 16px;
}
.ui-wizard {
    margin: 0;
    padding: 0;
}
.ui-wizard-content {
    margin: 3px 0;
}
.ui-wizard-navbar {
    text-align: right;
}
.ui-wizard-nav-back, .ui-wizard-nav-next {
    cursor: pointer;
}
.hidden-wizard-next .ui-wizard-nav-next{

    visibility:hidden;
}
.ui-wizard-nav-back {
    float: left;
}
.ui-wizard-nav-next {
    float: right;
}
.ui-wizard-step-title {
    float: left;
    font-size: 18px;
    margin: 0 3px 0 0;
    padding: 0.4em;
}


.ui-paginator-pages .ui-state-active {
    color: white !important;
    background: #DF8D2E !important;
    font-weight: bold;
    height: 18px !important;
    width: 10px !important;
}

/*.ui-chkbox {
    color: red !important;
}*/

.ui-panelgrid .ui-widget-header{
    background-color: #EFEFEF !important;
    background-image: url("../../img/white_bed_sheet.png") !important;
    color: #949494 !important;

}

.ui-message-dialog{
    width: 300px !important;
    height: auto !important;
    background: white !important;
}
.ui-message-dialog .ui-dialog-content{
    color: #5CA0F6;
    font: 12px "Source Sans Pro","Droid Sans",Arial,sans-serif !important;
    font-weight: bold !important;
    text-align: center  !important;
    text-transform: uppercase;
    top: 5px;
    bottom: 5px;
}
.ui-message-dialog .ui-messages-info-icon{
    padding-left: 15px !important;
}

.tabla-directory .ui-datatable-data {

    display: none !important;

}

.tabla-directory-no-header table thead tr {
    display: none !important;
}


.label-directory {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;

}

/*.tabsDental {
    border: 1px #DDDDDD solid !important;
    background-image:url("../../img/linen.png");
    position: relative;
    zoom: 1;
    padding: 0 !important;
}

.tabsWidget {
    font-family:"Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
    font-size:1.1em;
    margin-top:0px;
}

.tabsDental ul{
    margin: 0;
    padding: 11px 0px 0px 14px !important;
    border-bottom: 1px solid #e0e0e0;
}

.tabsWidget ul{
    background-image: url("../../img/noise_lines.png") !important;
    font-weight: bold;
}

ui-state-default, .tabsWidget ul .ui-state-default{
    font-weight:bold;
    color:#1c94c4;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color:#5b7bad;
    text-decoration:none;
}

.ui-state-active, .tabsWidget ul .ui-state-active{
    font-weight:bold;
    color:#eb8f00;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color:#FF6600;
    text-decoration:none;
}

.tabsDental ul li{
    float: right;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
    top: 1px;
    border-bottom: 0 !important;
}

.tabsDental ul li a{
    float:left;
    padding:10px 25px;
    text-decoration:none;
    cursor:pointer !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom:0; padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    position:relative;
    top:1px;
    cursor:text;
    background-image:url("../../img/linen.png");
    padding:10px 25px;
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

.tabsDental > .ui-tabs-panels > .ui-tabs-panels{
    display:block;
    border-width:10px;
    padding:1em 1.4em;
    background:none;
}

.tabsDental table{
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
}
.tabsDental table th{
    padding:15px;
    border:1px dotted #d5d5d5;
    font-size:0.9em;
    background-image: url("../../img/noise_lines.png");
    text-align:center !important;
    font-weight:bold !important;
    color:#444;
}

.tabsDental table td{
    border:1px dotted #e0e0e0 !important;
}

.tablaTdLb{
    padding:1px ;
    color:#828282 ;
    text-align:center ;
    font-size: 0.8em ;
    font-weight: normal;
}

.tabsDental table tr{
    border:1px dotted #e0e0e0;
}*/

/*INICIO PARTE II CAMBIO TAB */
.tabsDental {
    border: 1px #DDDDDD solid !important;
    background-image:url("../../img/linen.png");
    position: relative;
    zoom: 1;
    padding: 0 !important;
}

.tabsWidget {
    font-family:"Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
    font-size:1.1em;
    margin-top:0px;
}

.tabsDental ul{
    margin: 0;
    padding: 11px 0px 0px 14px !important;
    border-bottom: 1px solid #e0e0e0;
}

.tabsWidget ul{
    background-image: url("../../img/noise_lines.png") !important;
    font-weight: bold;
}

ui-state-default, .tabsWidget ul .ui-state-default{
    font-weight:bold;
    color:#1c94c4;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color:#5b7bad;
    text-decoration:none;
}

.ui-state-active, .tabsWidget ul .ui-state-active{
    font-weight:bold;
    color:#eb8f00;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color:#FF6600;
    text-decoration:none;
}

.tabsDental ul li{
    float: right;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
    top: 1px;
    border-bottom: 0 !important;
}

.tabsDental ul li a{
    float:left;
    padding:10px 25px;
    text-decoration:none;
    cursor:pointer !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom:0; padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    position:relative;
    top:1px;
    cursor:text;
    background-image:url("../../img/linen.png");
    padding:10px 25px;
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

.tabsDental > .ui-tabs-panels > .ui-tabs-panels{
    display:block;
    border-width:10px;
    padding:1em 1.4em;
    background:none;
}

.tabsDental table{
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
}
.tabsDental table th{
    padding:15px;
    border:1px dotted #d5d5d5;
    font-size:0.9em;
    background-image: url("../../img/noise_lines.png");
    text-align:center !important;
    font-weight:bold !important;
    color:#444;
}

.tabsDental table td{
    border:1px dotted #e0e0e0 !important;
}

.tablaTdLb{
    padding:1px ;
    color:#828282 ;
    text-align:center ;
    /*font-size: 0.8em ;*/
    font-weight: normal;
}

.tabsDental table tr{
    border:1px dotted #e0e0e0;
}
/*Fin parte  II TAB */

.ui-widget-header2{
    background-color: #EFEFEF !important;
    background-image: url("../../img/white_bed_sheet.png") !important;
    color: #949494 !important;
    border:1px dotted #d5d5d5;
}
.ui-widget-header2 label{
    text-align:center !important;
    font-weight:bold !important;
    padding:15px;
    /*font-size:0.9em;*/
    color: #444;
}
.ui-widget-header3{
    background-color: #EFEFEF !important;
    background-image: url("../../img/noise_lines.png") !important;
    color: #949494 !important;
    border:1px dotted #d5d5d5;
}
.ui-widget-header3 label{
    text-align:center !important;
    font-weight:bold !important;
    padding:7px;
    /*font-size:0.9em;*/
    color: #444;
}

#form:autocompletePatients_panel{
    height: 162px;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center !important;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}

/* Javier 
.ui-datatable .ui-column-filter {
    display: block;
    margin: auto;
    width: 90% !important;
}
*/

.capaInferior{

    z-index: -1 !important;

}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center !important;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}