html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1;
    background: #fff;
    font: 14px/21px "Source Sans Pro", "Droid Sans", Arial, sans-serif;
    color: #444;
}
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: url("../../img/subtle_dots.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #444444;
    font: 14px/21px "Source Sans Pro","Droid Sans",Arial,sans-serif;
}

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }
em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

a, a:visited { color: #333; text-decoration: none; outline: 0; }

a:hover, a:focus { color: #DF8D2E; }


/* Lists */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
/* Images */
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}



/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center; }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input:focus{
    outline: 0;
}


/* Forms */
form {
    margin-bottom: 20px; }
fieldset {
    margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #ccc;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 95%;
    max-width: 100%;
    display: block;
    margin-bottom: 0;
    background: #fff; }
select {
    padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
    height: 20px; }
label,
legend {
    display: block;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}
select {
    width: 220px; }
input[type="checkbox"] {
    display: inline; }
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
}


/*Tablas*/

table {
    margin-top: 0;
}

table th {
    padding:12px;
    border:1px dotted #d5d5d5;
    font-size:0.9em;
    background:url(../../img/noise_lines.png);
    text-align:center !important;
    font-weight:bold !important;
    color:#444 !important;
}

table td {
    border:1px dotted #e0e0e0 !important;
    padding:8px !important;
    color:#828282;
    text-align:center !important;
    font-size: 0.8em !important;
    background: url("../../img/subtle_dots.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/*menu*/

/* Main navigation menu */

.menu-header-menu {
    float:right;
    list-style-type:none;
    margin-top:20px !important;
    margin-right:37px;
}

.menu-header-menu > li {
    position:relative !important;
    float:left !important;
    margin:10px !important;
    font-weight:bold !important;
    padding-top:5px !important;
    padding-left:15px !important;
    padding-bottom:20px !important;
    transition-duration:1s !important;
    -moz-transition-duration:1s !important;
    -o-transition-duration:1s !important;
    -webkit-transition-duration:1s !important;
}

.menu-header-menu > li {
    color:#515151 !important;
    font-size:1.3em !important;
    text-decoration:none !important;
    text-shadow:1px 1px #fff, 2px 2px #dddddd !important;
    border-bottom:none !important;
}

.menu-header-menu > li {
    color:#fff !important;
    text-shadow:0px 0px 3px #000 !important;
    border-bottom:1px dotted #fff !important;
    padding-bottom:2px !important;
}

.main-header .sub-menu {
    background:rgba(255,255,255,0.9) !important;
    box-shadow:none !important;
}

.sub-menu {
    display:none;
    position:absolute;
    top:0px;
    left:-40px;
    margin-top:40px;
    width:140px;
    background:rgba(255,255,255,1) !important;
    padding:25px 30px 25px 30px;
    z-index:30;
    border:1px solid #b6b6b6;
    border-top:2px solid #094EA0;
}

.sub-menu li {
    color:#000 !important;
    margin-bottom:10px;
    transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    -o-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    border-bottom:1px dotted #e0e0e0;
    padding-bottom:3px;
}

.sub-menu li:first-child {
    border-bottom:none !important;
}

.sub-menu li:hover {
    padding-left:2px;
}

.sub-menu > li a {
    border-bottom:none !important;
    font-weight:normal !important;
    color:#707070 !important;
    text-shadow:none !important;
}

.triangle {
    position:absolute;
    top:-13px;
    left:48px;
}
.triangulo{
    position:absolute;
    top:-11px;
    left:48px;
    background:url("../../img/triangle.png") no-repeat;
    box-shadow: none !important;
}
.triangle:hover {
    padding-left:0px !important;
}

.main-header #intro-text {
    display:none;
}

.main-header #social-button {
    display:none;
}

.main-header #telephone-wrap {
    display:none;
}

.intro-text {
    color:#727272;
    border-top:2px solid #f3f3f3;
    border-bottom:1px solid #f3f3f3;
    padding:15px 30px 20px 58px;
    font-size:1em;
    opacity:0.7;
    transition-duration:0.7s;
    -moz-transition-duration:0.7s;
    -o-transition-duration:0.7s;
    -webkit-transition-duration:0.7s;
    margin:-9px 0 45px 15px;
    line-height:22px;
    font-family:"Droid Sans",sans-serif;
}

.intro-text:hover {
    opacity:1;
}

.intro-author {
    display:none;
    font-size:0.7em;
    text-align:right;
    margin:10px 10px 0 0;
    color:#727272;
    font-family:"Droid Sans",sans-serif;
}

#page-title-wrap {
    color:#8c8c8c;
    margin-bottom:20px;
    padding:28px 0 31px 30px;
    opacity:0.9;
    background:url(../../img/page_title_bg.png) no-repeat;
    border-top:3px solid #e0e0e0;
    border-bottom:3px solid #e0e0e0;
    width: 100%;
    height: 149px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}
#page-title-wrap-directory{

    color: #8c8c8c;
    margin-bottom: 50px;
    padding: 24px 0 31px 30px;
    opacity: 0.9;
    background:url(../../img/page_title_bg.png) no-repeat;
    border-top: 3px solid #e0e0e0;
    border-bottom: 3px solid #e0e0e0;
    width: 100%;
    height: 149px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}

#container-title-directory{

    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
#container-title-directory #title-directory{
    color: #fff;
    font-size: 5em;
    padding-top: 20px;
    margin-bottom: 25px;
    font-family: Footlight MT Light;
    text-align: left;
}
#container-title-directory #subtitle-directory{
    font-size: 1.5em;
    border-top: 1px dotted #c8c8c8;
    display: inline;
    padding-top: 3px;
    color: #e4e4e4;
    float: left;
}

#page-footer-wrap {
    color: #FFF;
    background:url(../../img/footer-bg.png);
    border-top:3px solid #e0e0e0;
    border-bottom:3px solid #e0e0e0;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*margin-top: 90px;*/
    padding-top: 35px !important;
    font-size: 14px;
    font-family: Arial;
}

#back-to-top{
    position: absolute;
    bottom: 20px;
    right: 30px;
    background: url(../../img/totop_img.png) no-repeat;
    width: 50px;
    height: 50px;
    opacity: .6;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.menuDirectory:after, .menuBar:after{
    display: none !important;
}

.menuDirectory ul li a span{
    color: #515151;
    font-size: 18px !important;
    font-weight: bold !important;
    margin: 0;
    padding-bottom: 0;
    padding-left: 10px;
    text-decoration: none;
    text-shadow: 1px 1px #FFFFFF, 2px 2px #DDDDDD;
    line-height: 18px;
}
.menuDirectory ul li{
    line-height: 18px;

}

.menuDirectory ul{
    margin-top: 22px;
}

.menuDirectory ul li ul {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto !important;
    left: 0;
    top: 26px !important;
    width: 185px !important;
    z-index: 1003 !important;
    border-color: #094EA0 #B6B6B6 #B6B6B6;
    border-right: 1px solid #B6B6B6;
    border-style: solid;
    border-width: 2px 1px 1px;
    overflow: visible !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    padding-left: 12px !important;
    margin-top: 8px;
}

.menuDirectory ul li ul li {
    margin-bottom: -10px !important;
    padding-bottom: 3px;

}

.menuDirectory ul li ul li a span {
    font-size: 17px !important;
    font-weight: normal!important;
    text-shadow: none !important;
    color: #707070 !important;
    border-bottom: 1px dotted #e0e0e0;
    padding-bottom: 3px;
    margin-bottom: 10px;
    margin-left: 14px;
    padding-left: 0px;
    width: 130px;
    text-align: left;
}

.menuDirectory ul li ul li:hover{
    padding-left:2px;
}

.menuBar ul li a span {
    color: #515151;
    font-size: 17px !important;
    font-weight: bold !important;
    margin: 0;
    padding-bottom: 0;
    padding-left: 21px;
    text-decoration: none;
    text-shadow: 1px 1px #FFFFFF, 2px 2px #DDDDDD;
}

.menuBar ul {
    margin-top: 32px;
}

.menuBar ul li ul {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto !important;
    left: 0;
    padding: 15px 0 !important;
    top: 26px !important;
    width: 278px !important;
    z-index: 1003 !important;
    border-color: #094EA0 #B6B6B6 #B6B6B6;
    border-right: 1px solid #B6B6B6;
    border-style: solid;
    border-width: 2px 1px 1px;
}

.menuBar ul li ul li a span {
    font-weight: lighter !important;
    text-shadow: none !important;
    color: #707070 !important;
}

.blog-meta {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EFEFEF;
    background-image: url("../../img/white_bed_sheet.png");
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    color: #949494;
    margin: 0 auto;
    padding: 15px 15px 5px 16px;
    width: 940px;
}

.blog-meta-massive-load {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EFEFEF;
    background-image: url("../../img/white_bed_sheet.png");
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
    color: #949494;
    margin: 0 auto;
    padding: 15px 207px 5px 16px;
    width: 940px;
}

.titulo-blog{
    text-align: left;
    vertical-align: central;
    font-size: 20px;
    color: #DF8D2E
}

.order {
    width: 940px;
    margin: 0 auto;

}


.order2{
    width: 1150px !important;
    position: relative;
    margin-left: -90px !important;
    /* max-height: 1600px !important;*/
}

.order-ii{
    width: 1200px;
    margin: 0 auto;
}
.order-directoy{
    width: 980px;
    /*margin: 0 auto;*/
    margin: 60px;
}
.order-directoy #table-directory{
    float: left;
    width: 665px !important;
    padding-right: 24px !important;
    border-right: 1px dotted #e0e0e0;
    margin-left: -57px;
}

.order-directoy #table-list-directory{
    float: left;
    width: 697px !important;
    padding-right: 24px !important;
    border-right: 1px dotted #e0e0e0;
    margin-left: -57px;
}

div.order .ui-datatable table {
    margin-top: 35px;
}

form.logInput table.ui-panelgrid td {
    display: table !important;
}

form.directorio table.ui-panelgrid td{
    border: none ;
}

.buscardor-directorio {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EFEFEF;
    background-image: url("../../img/striped_lens.png");
    border-bottom: 3px solid #FFAD00;
    border-top: 3px solid #FFAD00;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    color: #949494;
    margin: 0 12px;
    padding: 15px 15px 5px 16px;
    width: 200px;
}

.hide-column-names table{
    background-image: url("../../img/slider-bg.png") !important;

}
/*.hide-column-names .ui-datatable tbody td{
    width: 100px !important;
}*/
.hide-column-names table thead tr {
    display: none !important;

    /**/
}

.encabezado-agrupado{
    border-width: 1px;
    border-style: solid;
    font-size: 0.9em !important;
    background: url('../../img/noise_lines.png') repeat scroll 0% 0% transparent !important;
    text-align: center !important;
    font-weight: bold !important;
    color: rgb(68, 68, 68) !important;

}

#page-title-wrap-general{

    color: #8c8c8c;
    margin-bottom: 50px;
    padding: 24px 0 31px 30px;
    opacity: 0.9;
    background:url(../../img/page_title_bg.png) no-repeat;
    border-top: 3px solid #e0e0e0;
    border-bottom: 3px solid #e0e0e0;
    width: 100%;
    height: 230px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}

#page-title-wrap-general #container-title-directory{

    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
#page-title-wrap-general #container-title-directory #title-directory{
    color: #fff;
    font-size: 5em;
    padding-top: 20px;
    margin-bottom: 25px;
    font-family: Footlight MT Light;
    text-align: left;
}
#page-title-wrap-general #container-title-directory #subtitle-directory{
    font-size: 1.5em;
    border-top: 1px dotted #c8c8c8;
    display: inline;
    padding-top: 3px;
    color: #e4e4e4;
    float: left;
}

.blog-title {
    padding-top:10px;
    font-size:2.6em;
    font-weight:normal;
    transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    -o-transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
    line-height:30px;
    color:#4477b5;
    text-decoration:none;
    transition-duration:0.4s;
    -moz-transition-duration:0.4s;
    -o-transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
    font-family: Footlight MT Light;
}


.blog-title:hover {
    color:#2c62a4;
}

.blog-image{
    border:5px solid #fff!important;
    box-shadow:0px 0px 1px #bbb!important;
    float:left!important;
    margin-bottom:30px!important;
    opacity:0.8!important;
    transition-duration:0.4s!important;
    -moz-transition-duration:0.4s!important;
    -o-transition-duration:0.4s!important;
    -webkit-transition-duration:0.4s!important;
}

/* Blog sidebar */
.sidebar-header {
    font-size:1.6em;
    border-bottom:3px solid #d8e4ef;
    padding:10px 0 10px 2px;
    opacity:0.8;
    font-family: Footlight MT Light;
    font-weight: normal;

}

.dropcap:first-letter {
    float:left;
    font-size:3em !important;
    padding:5px 10px 0px 0px;
}

.center_content {
    position: relative; width: 960px; margin: 0 auto; padding: 0;
}

.blog-text {
    width:655px;
    color:#717171;
    font-size:1.2em;
    line-height:26px;
    text-align: justify;
}

.single-text {
    float:none !important;
    width:660px !important;
}

.blog-meta1 {
    margin:10px 0 10px 0;
    border-top:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    padding:5px 0;
    color:#949494;
    background-color:#EFEFEF;
    padding-left:5px;
    padding-top:6px;
    background-image:url("../../img/white_bed_sheet.png");
    width:auto;
}

.ceropadding {
    padding: 0px !important;
}

.ceropadding .ui-panel-titlebar{
    padding: 0px !important;
}

.facet-panel {
    padding: 0!important;
}

.facet-panel .ui-panel-titlebar{
    padding: 0!important;
}

.menu-derecho ul li{
    text-align: justify;
    margin-bottom: 12px;
}


.listaiconos ul {
    list-style: none inside none;
}


.listaiconos ul li{
    text-align: justify;
    padding: 0px 0px 0px 25px;
}

#blog-categories{
    margin-top:20px;
    margin-bottom:30px;
    /*font-size:1.3em;*/
    opacity:0.7;
}

#blog-categories li {
    background:url("../../img/category_icon.png") no-repeat 0px 1px;;
    padding-left:23px;
    transition-duration:0.1s;
    -moz-transition-duration:0.1s;
    -o-transition-duration:0.1s;
    -webkit-transition-duration:0.1s;
}

#blog-categories li:hover {
    margin-left:2px;
    opacity:1;
}

#blog-categories li a {
    text-decoration:none;
}

.tabDental {
    border: 1px #DDDDDD solid;
    background-image:url("../../img/linen.png");
    position: relative;
    zoom: 1;


}

.tabDental{
    padding:0px !important;

}
.tabDental ul{
    background-color: #EFEFEF !important;
    background-image: url("../../img/noise_lines.png") !important;
    padding: 15px;
    padding-top: 40px;
    border:1px dotted #d5d5d5;
    border-bottom: none;
    font-size:0.9em;
    text-align:center;
    font-weight:bold;
    color:#444;

}

.tabDental ul li{
    border: 1px solid;
    border-color: #717171;
}

.tabDental ul li:focus{
    background-image: url("../../img/linen.png") !important;
    color: yellow;


}

.tabDental ul li a{
    color:#5b7bad;
    text-align: center;
    font-weight: bold;
    font-size: 14px;

}

.panelesFooter{
    float: left;
    margin-left: 1px;
    margin-right: 10px;
    text-align: left;
}

.panelesFooter .ui-panel-content{
    padding: 0px !important;
}

.panelIzquierdo{
    width: 280px;
}

.panelCentral{
    width: 340px;
}

.panelDerecho{
    width: 280px;
}

.titulo-footer{
    text-align: center;
    font-family: Footlight MT Light;
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 20px;
    color:#DF8D2E;
}

.footer-telephone {
    background:url(../../img/footer_telephone_img.png) no-repeat 0 9px;
    padding-left:20px !important;
    color: #b4ceed;
    clear: both;
}

.footer-address {
    background:url(../../img/footer_address_img.png) no-repeat 0 9px;
    padding-left: 20px !important;
    color: #b4ceed;
    clear: both;
}

.footer-mail {
    background:url(../../img/footer_mail_img.png) no-repeat 0 9px;
    padding-left:20px !important;
    color: #b4ceed;
    clear: both;
}

.footer-telephone .ui-panel-content, .footer-address .ui-panel-content, .footer-mail .ui-panel-content{
    padding: 0px !important;
}

.footer-contact{
    margin-top: 5px;
    color: #ffffff;
    padding-right: 40px !important;
}

.footer-bold{
    color: #ffffff;
    font-weight: bold;
    padding: 0px !important;
}

.footer-bold .ui-panel-content{
    padding: 0px;
}

.copyright{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dotted #6D9CEA;
    padding: 0px !important;
}

.copyright .ui-panel-content{
    padding: 0px !important;
}

.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.social-button {
    float:right !important;
    padding-left:25px !important;
    padding-top:4px !important;
    padding-right:25px !important;
    height:33px;
    width:200px;
    opacity:0.6;
    margin-top:-4px;
}

.listaSocial{
    font-size: 1.1em;
    color: #F0F6FF;
    padding: 0px;
    margin: 0px !important;
}

.listaSocial ul{
    font-size: 1.1em;
    color: #F0F6FF;
    padding-top: 17px;
    margin: 0px !important;
}

.listaSocial li{
    display: inline;
    list-style-type: none;
    padding: 0px;
}

.listaSocial .icono{
    float: left;
    width: 18px !important;
    height: 19.5px;
    opacity: 0.6;
    transition-duration: 0.7s;
    margin-right: 3px;
}

.listaSocial .icono:hover{
    opacity: 1.0;
}

#back-to-top {
    float: right;
    position: relative;
    top: 0px;
    left: 180px;
    background: url('../../img/totop_img.png') no-repeat scroll 0% 0% transparent;
    width: 50px;
    height: 50px;
    opacity: 0.6;
    transition-duration: 0.4s;
    border: none !important;
}

#back-to-top:hover {
    opacity:.9;
    top:-5px;
}

.panelInfo{
    padding: 0px 20px !important;
    text-align: justify;
    font: inherit;
    font-size: 1em;
    color: #717171;
    border-left: 3px solid #8ABEE6;
}

.panelInfo .ui-panel-titlebar{
    font-size: 1.6em;
    border-bottom: 3px solid #D8E4EF;
    padding: 10px 0px 10px 2px !important;
    font-family: Footlight MT Light;
}

.panelInfo .ui-panel-content{
    padding: 0px !important;
    color: #444;
}

.ui-icon-myEdit{
    background-image: url('../../img/zoom_icon&16.png') !important;
    width: 100%;
    height: 100%;
}

.ui-icon-mySearch{
    background-image: url('../../img/zoom_icon&16.png') !important;
    width: 100%;
    height: 100%;
}

.ui-icon-myCheck{
    background-image: url('../../img/checkBlanco.png') !important;
    width: 100%;
    height: 100%;
}

.ui-icon-myPdf{
    background-image: url('../../img/file16.png') !important;
    width: 100%;
    height: 100%;
}
.ui-icon-financialData{
    background-image: url('../../img/coin.png') !important;
    width: 100%;
    height: 100%;
}

.ui-icon-myRegister{
    background-image: url('../../img/viewing.png') !important;
    width: 100%;
    height: 100%;
}

.ui-icon-myDelete{
    background-image: url('../../img/trash_icon&16.png') !important;
    width: 100%!important;
    height: 100%!important;
}

.ui-icon-myCreate{
    background-image: url('../../img/round_plus_icon&16.png') !important;
    width: 100%!important;
    height: 100%!important;
}

.ui-icon-myEmail{
    background-image: url('../../recursos/img/email_icon.png') !important;
    width: 100%!important;
    height: 100%!important;
}


.ui-icon-myPdf{
    background-image: url('../../img/file16.png') !important;
    width: 100%;
    height: 100%;
}
.ui-icon-financialData{
    background-image: url('../../img/coin.png') !important;
    width: 100%;
    height: 100%;
}

.ui-icon-myRegister{
    background-image: url('../../img/viewing.png') !important;
    width: 100%;
    height: 100%;
}

.panelLista{
    padding: 0px !important;
    text-align: left;
    font: inherit;
    font-size: 16.8px;
    color: #444;
    opacity: 0.7;
}

.panelLista .ui-panel-titlebar{
    font-size: 22.4px;
    border-bottom: 3px solid #D8E4EF;
    padding: 10px 0px 10px 2px !important;
    font-family: Footlight MT Light;
}

.panelLista li{
    padding-left: 5px !important;
    margin-bottom: 12px !important;
}

.panelLista li:hover{
    margin-left:2px;
    opacity:1;
}

.panelLista2{
    padding: 0px !important;
    text-align: left;
    font: inherit;
    font-size: 16.8px;
    color: #444;
}


.panelLista2 .ui-panel-titlebar{
    font-size: 26.88px;
    border-bottom: 3px solid #D8E4EF;
    padding: 10px 0px 10px 2px !important;
    font-family: Footlight MT Light;
}

.panelLista2 .ui-panel-content{
    padding: 0px !important;
}

.boton{
    padding: 7px 40px;
    color: #FFF !important;
    text-shadow: 1px 1px 0px #727272;
    font-size: 13.87px !important;
    opacity: 0.7;
    box-shadow: 0px 0px 4px #FFF inset;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10px 0px;
    vertical-align: baseline;
    margin-bottom: 20px;
}

.celdaFondo{
    padding: 15px;
    background: url('../../img/noise_lines.png') repeat scroll 0% 0% transparent;
    border: 1px dotted #D5D5D5;
}

.boton:hover {
    opacity:1;
}

.menuIndex{
    height: 87px;
    border-top: 3px solid #146492;
    background: url('../../img/slider-bg.png') repeat scroll 0% 0% transparent;
    padding: 0px 0px 0px 0px !important;
    width: 100%;
}

.menuIndex .ui-panel-content{
    padding: 0px !important;
}

.menuIndex .ui-panel-content form .ui-outputlabel{
    top: 49px !important;
}

.menuIndex span, .menuIndex .ui-panel-content form label{
    color: #FFF !important;
    text-shadow: 0px 0px 3px #000 !important;
}

.item{
    position: relative;
    top: 43%;
    width: 100%;
    padding: 0px !important;
    z-index: 2;
    display: inline-block;
}

.item .ui-panel-content{
    padding: 0px !important;
}

.descripcion{
    position: absolute;
    top: 43%;
    width: 100%;
    padding: 0px 40px 0px 0px !important;
}

.descripcion .ui-panel-content{
    padding: 0px 40px 0px 0px !important;
    width: 700px;
    text-align: center;
}

.titulo{
    background: url('../../img/caption-bg.png') repeat scroll 0% 0% transparent;
    padding: 35px;
    text-align: center;
    width: 100%;
    color: #FFF;
    font-size: 40.6px;
    text-shadow: #000 1px 1px 0px;
    text-transform: uppercase;
}

.subtitulo{
    background: url('../../img/caption-bg.png') repeat scroll 0% 0% transparent;
    padding: 12px;
    margin: 7px auto 0px auto;
    text-align: center;
    width: 80%;
    color: #FFF;
    font-size: 20.3px;
    text-shadow: #000 1px 1px 0px;
    text-transform: uppercase;
}

.infoSlider {
    position: relative;
    z-index: 31;
    margin-top: 29%;
    margin-left: 2%;
    font-size: 1.2em;
    opacity: 0.7;
    color: #FF6600;
    font-weight: bold;
    text-shadow: #FFF 1px 1px 0px;
    margin-bottom: 60px;
}
.nivo-directionNav{
    padding: 0px !important;
}

.nivo-directionNav .ui-panel-content{
    padding: 0px !important;
}

.nivo-directionNav a {
    position:absolute;
    top:40%;
    z-index:50;
    cursor:pointer;
    width:30px;
    height:60px;
    background-image: url('../../img/arrows.png');
    text-indent:-9999px;
    border:0;
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    -o-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
}

.nivo-nextNav {
    background-position:-30px 0;
    right:55px;
}

.nivo-prevNav {
    left:55px;
}

.nivo-controlNav {
    left:55px;
    margin: 20px;
    border: none !important;
}

.nivo-controlNav tr, .nivo-controlNav td  {
    border: none !important;
    padding: 0px 2.5px !important;
}

.encabezadoIndex{
}

.encabezadoIndex, .encabezadoIndex .ui-panel-content{
    padding: 0px !important;
}

.switch{
    position: absolute !important;
    width: 100% !important;
    top: 0;
    left: 0;
}

.switch .ui-carousel-viewport{
    height: auto !important;
    margin-top: -41% !important;
}

.switch .ui-carousel-viewport ul{
    width: 400% !important;
    position: relative !important;
}

.switch .ui-carousel-viewport li{
    width: 25% !important;
    position: relative !important;
    margin: 0px !important;
    z-index: -5 !important;
}

.switch .ui-carousel-header{
    padding: 0px;
    width: 20%;
    height: 30px;
    z-index: 5;
    left: 40%;
    margin-top: 38% !important;
}

.switch .ui-carousel-header .ui-carousel-page-links{
    position: relative;
    margin: 0px auto;
    width: 150px;
    float: none !important;
    text-align: center;
}

.switch .ui-carousel-button, .switch .ui-carousel-header-title{
    display: none !important;
}

.switch .ui-icon-radio-off {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url('../../img/bullets.png') no-repeat scroll 0% 0% transparent;
    text-indent: -9999px;
    border: 0px none;
    margin: 0px 2px;
    float: none !important;
}

.switch .ui-icon-radio-on{
    background-position: 0px -22px !important;
}

.tabla table{
    width: 100%;
}

.tabla td{
    border:1px dotted #e0e0e0 !important;
    padding: 12px;
    color:#828282;
    text-align:center;
    font-size: 0.8em;
}

.tabla tr{
    border:1px dotted #e0e0e0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="intger"],
textarea,
select {
    border: 1px solid #ccc;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 95%;
    max-width: 100%;
    display: block;
    background: #fff;
}
.buttonp{
    padding:3px 30px !important;
    color:#fff !important;
    text-shadow:1px 1px 0px #727272;
    font-size:1.1em !important;
    opacity:0.7;
    box-shadow:inset 0px 0px 4px white !important;
    margin-bottom: 20px;
}

.buttondir {
    border:none !important;
    padding:7px 40px;
    color:#fff !important;
    text-shadow:1px 1px 0px #727272;
    font-size:1.1em !important;
    opacity:0.7;
    box-shadow:inset 0px 0px 4px white;
}

.red {
    background-color:#fa8968 !important;
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    border:1px solid #c06d55 !important;
}

.red:hover {
    opacity: 1;
}

.blue {
    background-color:#79b2f8;
    transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    border:1px solid #71a1da !important;
    padding:4px 24px;
    margin-bottom: 0;
    margin-top: 20px;
    float:right;
    color: #ffffff !important;
}

.blue:hover {
    opacity:1 !important;
    background-color: #79b2f8 !important;
}

.order-directoy #table-directorypl{
    float: left;
    width: 665px !important;
    padding-right: 24px !important;
    border-right: 1px dotted #e0e0e0;
    margin-left: -57px;
    padding-bottom:10px;
    border-bottom:1px dotted #bcbcbc;
    margin-bottom:50px;
}

.label-error{
    color: #FF5500;
    font-size: 11px;
}

.label-head{
    color: #515151;
    font-size: 18px !important;
    font-weight:  bold;
    padding-left: 15px;
}

.label-head:hover{
    cursor: pointer;
}

.sub-menudi {
    position: absolute;
    display: block;
    top:-30px;
    margin-top:38px;
    margin-left:-20px;
    width:240px;
    background:rgba(255,255,255,1) !important;
    padding: 25px 30px 25px 30px !important;
    z-index:30;
    border:1px solid #b6b6b6;
    border-top:2px solid #094EA0;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.sub-menudi td{
    border: 0px !important;
    padding: 0px !important;
    color: #000 !important;
}

.sub-menudi tr {
    color:#000 !important;
    margin-bottom:10px;
    transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    -o-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    border-bottom:1px dotted #e0e0e0;
    padding-bottom:3px;
}

.sub-menudi td:first-child {
    border-bottom:none !important;
}
.sub-menudi button span {
    color: #ffffff !important;
}

.sub-menudi td label:hover {
    padding-left:2px;
}

.sub-menudi >  td label {
    border-bottom:none !important;
    font-weight:normal !important;
    color:#707070 !important;
    text-shadow:none !important;
}

.indexContainer{
    position: relative;
    width: 960px;
    margin: 0px auto;
    padding: 0px !important;
}

.indexContainer .ui-panel-content{
    padding: 0px !important;
}

.indexContainer:after {
    content: " ";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.descModulos{
    float: left;
    display: inline;
    margin-left: 1px !important;
    margin-right: 10px !important;
    margin: 13px 0px 20px !important;
    padding: 11px 32px 20px !important;
    border: 7px solid #FFF;
    box-shadow: 0px 0px 2px #E0E0E0;
    width: 220px !important;
    min-height: 321px !important;
    height: 321px;
}

.descModulos .ui-panel-content{
    padding: 0px !important;
}

.descModulos img{
    width: 100%;
}

.descModulos .moduloTexto{
    margin: 0px 0px 20px !important;
    font-size: 16.8px;
    font-weight: normal;
    color: #717171;
    line-height: 24px;
}

.descModulos .enlace .moduloTexto{
    font-size: 16.8px;
    color: #6D98F1;
    text-decoration: none;
}

.descModulos .enlace .moduloTexto:hover{
    cursor: pointer;
}

.divider{
    width: 937px;
    margin-left: 8px;
    margin-top: 25px;
    margin-bottom: 10px;
    background: url('../../img/divider.png') repeat scroll 0% 0% transparent;
    height: 4px;
    opacity: 0.2;
    padding: 0px !important;
}

.divider .ui-panel-content{
    padding: 0px !important;
}

.panelAliados{
    width: 940px;
    margin-bottom: 20px;
}

.carrusel{
    width: 100% !important;
    padding: 0px !important;
    float: left;
}

.carrusel .ui-carousel-viewport{
    width: 100% !important;
    padding: 0px !important;
}

.carrusel .ui-carousel-header{
    margin: 35px auto 20px;
    font-size: 1.7em;
    color: #565656;
    position: relative;
    font-family: Footlight MT Light;
    text-align: left;
}

.carrusel .ui-carousel-header-title{
    margin-bottom: 25px;
    width: 170px;
}

.carrusel .ui-carousel-header .ui-carousel-prev-button{
    width: 17px !important;
    height: 23px !important;
    position: absolute;
    opacity: 0.4;
    transition-duration: 0.4s;
    top: 0px;
    right: 60px;
    background-image: url('../../img/from-blog-prev.png');
    margin-bottom: 25px;
}

.carrusel .ui-carousel-header .ui-carousel-prev-button:hover, .carrusel .ui-carousel-header .ui-carousel-prev-button:hover {
    opacity:0.8;
}

.carrusel .ui-carousel-header .ui-carousel-next-button{
    width: 17px !important;
    height: 23px !important;
    position: absolute;
    opacity: 0.4;
    transition-duration: 0.4s;
    top: 0px;
    right: 13px;
    background-image: url('../../img/from-blog-next.png');
    margin-bottom: 25px;
}


.itemCarrusel{
    width: 236px;
    float: left;
    list-style: none outside none;
    padding: 0px !important;
}

.itemCarrusel .ui-panel-content{
    padding: 0px !important;
}

.itemCarrusel img{
    margin-top: -110px;
    width: 220px;
    transition-duration: 0.4s;
    opacity: 1;
}

.itemCarrusel .aliadoTitulo{
    margin: 8px 5px 0px 0px;
    color: #6D98F1;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.itemCarrusel .aliadoSubtitulo{
    font-size: 0.9em;
    text-align: center;
    color: #989898;
    margin-right: 5px;
    margin-bottom: 8px;
}

.contenedorImagen{
    width: 220px;
}

.main-blog-magnifier {
    margin-top: 40px;
    height: 70px;
    width: 70px;
    background: url('../../img/gallery_magnifier.png') no-repeat scroll 0% 0% transparent;
    opacity: 0;
    transition-duration: 0.4s;
}

.contenedorImagen:hover .main-blog-magnifier {
    opacity: 1;
}

.contenedorImagen:hover img {
    opacity: 0.2;
}

.grupoVeneden {
    width: 940px;
    margin-top: 50px;
}

.grupoIzquierdo{
    float: left;
    display: inline;
    margin-left: 1px;
    margin-right: 25px;
    width: 545px;
    text-align: justify;
}

.grupoIzquierdo .ui-panel-titlebar, .grupoDerecho .ui-panel-titlebar{
    border-bottom: 4px solid #F4F4F4;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 1.7em;
    color: #3675C1;
    text-shadow: 1px 1px #FFF, 2px 2px #DDD;
    margin-bottom: 15px;
    margin-right: 55px;
    padding-left: 10px !important;
    font-family: Footlight MT Light;
    font-weight: normal;
}

.grupoIzquierdo .ui-panel-content, .grupoDerecho .ui-panel-content{
    margin-top: 8px;
    font-size: 15.4px;
    line-height: 24px;
    color: #717171;
    padding-right: 20px;
}

.grupoIzquierdo .ui-panel-content, .grupoDerecho .ui-panel-content{
    margin-top: 8px;
    font-size: 15.4px;
    line-height: 24px;
    color: #717171;
    padding-right: 20px;
}

.grupoIzquierdo img{
    margin-bottom: 10px;
    width: 195px;
    margin-right: 20px;
    border: 3px solid #FFF !important;
    float: left;
    margin-top: 6px;
    opacity: 0.8;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 2px #E0E0E0;
}

.grupoDerecho{
    float: left;
    display: inline;
    margin-left: 1px;
    margin-right: 10px;
    width: 340px;
    text-align: justify;
}

.ubicacion{
    width: 300px;
    float: left;
    padding: 0px !important;
}

.ubicacion .ui-panel-content{
    margin-left: 5px;
    list-style-type: none;
    width: 270px;
    background: none repeat scroll 0% 0% transparent;
    padding: 0px !important;
}

.ubicacion .ui-panel-content .ui-panel {
    padding: 0px !important;
}

.ubicacion .ui-panel-content .ui-panel .ui-panel-content{
    padding: 0px 0px 7px 0px;
    border-bottom: 1px dashed #EFEFEF;
    margin-bottom: 6px;
    background: url('../../img/location_img.png') no-repeat scroll 2px 6px transparent;
}

.tituloUbicacion{
    line-height: 21px;
    padding: 5px 0px 0px 45px;
    font-size: 18.2px;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #444;
}

.textoUbicacion{
    margin-top: -10px !important;
    padding-left: 45px !important;
    color: #787878;
    margin-bottom: 0px;
    line-height: 21px;
    margin: 0px 0px 20px;
    font-size: 14px;
    font-weight: normal;
}

.trianguloBorde{
    position:absolute;
    top: 46px !important;
    width:150px !important;
    height:200px !important;
    background-position: 33% 0% !important;
    background:url("../../img/triangle.png") no-repeat;
    box-shadow: none !important;
}

.ui-messages-error{
    padding: 3px !important;
}

.label-head .ui-messages-error-summary{
    color: #000 !important;
    text-shadow: none !important;
    font-size: 9.5px;
}

.label-head .ui-button {
    transition-duration: 0.0s;
    -moz-transition-duration: 0.0s;
    -o-transition-duration: 0.0s;
    -webkit-transition-duration: 0.0s;
}

.label-head .ui-messages{
    margin-top: -15px !important;
    margin-left: -35px !important;
    width: 150px;
}

.label-head .ui-messages-error{
    width: 180px;
    margin-bottom: 5px;
}

.label-head .ui-messages-error ul, .encabezadoIndex .ui-messages-error ul li{
    width: 180px;
    border: none !important;
    margin-bottom: 0px !important;

}

.label-head .ui-messages-error .ui-messages-close .ui-icon-close{
    padding: 0px !important;
}

.label-head .ui-messages-error ul li{
    margin: 0px 0px 2px 0px;
    padding: 0px;
}

.label-head .ui-messages-error ul{
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 10px !important;
    width: 170px !important;
}

.label-head .ui-messages-error-summary{
    width: 250px;
    margin-left: 0px;
    line-height: 13px;
}

.label-head .ui-messages{
    margin-top: -20px !important;
    margin-left: -25px !important;
    width: 150px;
}

.label-head .ui-messages-error-icon{
    height: 20px !important;
    width: 20px !important;
    background-image: none !important;
    background: url("../../img/Warning.png") no-repeat !important;
    margin-right: 5px;
}

.label-head .ui-messages-close{
    margin-top: -12px;
    margin-right: -5px;
}

.menuBar ul li .ui-icon{
    padding: 0px !important;
}

.blockPage {
    top: 40% !important;
    left: 41% !important;
}

.blockOverlay{
    background-color: #333;
    opacity: 0.5;
}

.msjCorreo .ui-messages-info{
    color: #85BF9D !important;
    background-color: #D4FEE6 !important;
    border-color: #AAF3C7 !important;
    text-align: justify;
}

.msjCorreo .ui-messages-info-icon{
    display: none;
}

.bordeGris{
    border: solid #d5d5d5 !important;
    border-width: thin !important;
}

/* Javier Chacón*/
/*.ui-datatable table tbody {
    text-transform: uppercase;
} */

/* Icon Edit */
.ui-icon-myEdit{
    background-image: url('../../img/edit_icon&16.png') !important;
    width: 100%!important;
    height: 100%!important;
}

/* panelGrid inside of dataTable */
.label-tooth.ui-panelgrid td {
    padding: 0px 2px !important;
    max-width: 40%;
}

/* Calendar */
.ui-datepicker{
    background: url('../../img/white_bed_sheet.png') #EFEFEF;
    border: medium solid #FAEBD7;
}

.ui-datepicker-title{
    display: inline-flex;
}

.ui-datepicker-header{
    background-color: blanchedalmond;
}

.ui-datepicker-prev{
    background: url('../../img/from-blog-prev.png') no-repeat;
}

.ui-datepicker-next{
    background: url('../../img/from-blog-next.png') no-repeat;
    background-position: right;
}

/* panelGrid OdontoDiagrama */

table.ui-panelgrid.odontodiagram{
    margin-top: 0 !important;
}
.odontodiagram table{
    margin-top: 0 !important;
    width: auto !important;
}
.odontodiagram.ui-panelgrid-cell{
    border: none !important;
}
.odontodiagram.ui-panelgrid td {
    border: none !important;
    /*    width: 26px;*/
}
.odontodiagram.ui-panelgrid td label {
    padding: 4px;
    border: 1px solid #79B2F8;
    border-radius: 50%;
    text-align: center;
    margin-left: -25px;
    margin-top: -21px;
    margin-left: -25px;
    margin-top: -21px;
}
.odontodiagram.ui-panelgrid td td :hover{


    border-radius: 50%;
}
.odontodiagram.ui-panelgrid td input{
    display: none;
}
input:checked ~ label{
    background-color: #79B2F8;
    color: #ffffff;
}

/* panelGrid OdontoDiagrama */
.odontodiagramdisabled{
    pointer-events: none;
    cursor: default;
}

table.ui-panelgrid.odontodiagramdisabled{
    margin-top: 0 !important;
}
.odontodiagramdisabled table{
    margin-top: 0 !important;
    width: auto !important;
}
.odontodiagramdisabled.ui-panelgrid-cell{
    border: none !important;
}
.odontodiagramdisabled.ui-panelgrid td {
    padding: 0px !important;
    border: none !important;
    width: 2px;
}
.odontodiagramdisabled.ui-panelgrid td label{
    padding: 0px;
    border: 1px solid #79B2F8;
    border-radius: 50%;
    text-align: center;
}
.odontodiagramdisabled.ui-panelgrid td td {

    color: #828282;
    border-radius: 50%;
}

.odontodiagramdisabled.ui-panelgrid td input{
    display: none;
}

/* set uppercase all text body tables */
/*.ui-datatable table tbody {
    text-transform: uppercase;
} */


#numberHolderId, #nameHolderId, #beneficiary{
    text-transform: uppercase;
}

.formUppercase{
    text-transform: uppercase;
}

.selectOneMenu {
    width: 100%;

}
.estilo_combo{

    width: 300px;
    border-radius: 2px;
    border: 1px solid #ccc;
    height: 22px;
    vertical-align: top;
}

.iconabajo{

    position: relative;
    top: 26px;
    left: 360px;
}

.columna_combo{

    padding-bottom: 20px !important;
    padding-top: 0px !important;

}

.icon-lapiz {
    position: relative;
    top: 10% !important;
    right: 1% !important;
    cursor: pointer;
}

.dientes_check{

    position: relative;
    table-layout: fixed;
}

.dientes_check td{

    padding: 1px !important;

}

.dientes_check .ui-chkbox-box{

    border: none !important;
    background-color: #fff !important;
    z-index: 2;



}


.dientes_check label{

    margin-top: -10px;
    z-index: 5;
    position: absolute;
    float: left;



}

.dientes_check .ui-chkbox  .ui-state-active {

    background: #79b2f8;
    height: 32px;
    width: 23px;
    border-radius: 50%;
    margin-left: -2px;
    margin-top: -2px;

}


.ui-state-active {

    background: #79b2f8 ;
    height: 32px ;
    width: 23px ;
    margin-left: 2px;
    margin-top: -2px;

}

.box2 {
    float: right;
    margin: 1px;
}

.box {
    float: left;
    margin: 1px;
}

.blog-meta2
{
    width: 1150px !important;

}

.blog-meta3
{
    width: 1300px !important;

}
.ui-radiobutton > .ui-state-default{

    background: #ffffff;
    font-weight: bold;
    color: #4F4F4F;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
    height: 12px !important;
    width: 12px !important;
    border: 1px solid #A8A8A8;

}


.ui-radiobutton{

    background-color:transparent ;
    border:transparent !important;;
    margin-top: -5px !important;
    position: absolute;
    font-weight:bold;
    color:#1C4257;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.7);
    width: 12px !important;
    cursor: pointer;
}

.ui-radiobutton:hover{

    cursor: pointer;
}


.ui-radiobutton .ui-state-active{

    background: #EB8F00;
    border: 1px solid #DF8D2E;

}


.sin-border{

    position: absolute;
    margin-bottom: 25px !important;
    margin-top: 6px !important;
    margin-left: 420px

}

.titulo-radio{

    position: absolute;
    margin-bottom: 25px !important;
    margin-top: 17px !important;
    margin-left: 350px;
    font-weight: bold !important;
    font-size: 12px !important;
    text-align: left !important;
    z-index: 99;

}

.sin-border > tbody >tr >td{

    border: transparent !important;
    background: transparent !important;

}

.barraCarga >form>div>div>table>tbody>tr>.ui-fileupload-progress>.ui-widget-content{

    border: 1px solid #cccccc !important;
    background: #FFF none repeat scroll 0% 0% !important;
    color: #4F4F4F !important;
    border-radius: 4px;

}

.ui-fileupload-files .ui-icon-close{

    background-image: url('../../img/cancel.png') !important;
    width: 100%;
    height: 100%;
}

.align-boton  .ui-fileupload-buttonbar .ui-button {
    vertical-align: inherit !important;
    margin-right: 0.2em;
}
.align-boton .ui-fileupload-choose {
    position: relative ;
    overflow: inherit !important;
    margin-top: 20px !important;
}

.TextCapitalLetter option{

    text-transform: uppercase !important;
}

.TextCapitalLetter{

    text-transform: uppercase !important;
}

.formUppercase {
    text-transform: uppercase;
}

.formUppercase select,
.formUppercase option{
    text-transform: uppercase;
}

.uppercaseOption{
    text-transform: uppercase !important;
}

.sizeInputTextArea{

    height: 100px;
}

.dientes_check{

    position: relative;
    table-layout: fixed;
}

.dientes_check td{

    padding: 1px !important;

}

.dientes_check .ui-chkbox-box{

    border: none !important;
    background-color: #fff !important;
    z-index: 2;



}


.dientes_check label{

    margin-top: -10px;
    z-index: 5;
    position: absolute;
    float: left;



}

.dientes_check .ui-chkbox  .ui-state-active {

    background: #79b2f8 !important;
    height: 32px !important;
    width: 23px !important;
    border-radius: 50% !important;
    margin-left: -2px;
    margin-top: -2px;

}


.dientes_check .ui-chkbox  .ui-state-active {

    background: #79b2f8 !important;
    height: 32px !important;
    width: 23px !important;
    border-radius: 50% !important;
    margin-left: 2px;
    margin-top: -2px;

}

.dientes_check .ui-chkbox .ui-state-default{

    height: 32px !important;
    width: 23px !important;
    border-radius: 50% !important;
    margin-left: -2px;
    margin-top: -2px;

}

.box2 {
    float: right;
    margin: 1px;
}

.box {
    float: left;
    margin: 1px;
}

.blog-meta2
{
    width: 1150px !important;

}

.ui-radiobutton > .ui-state-default{

    background: #ffffff;
    font-weight: bold;
    color: #4F4F4F;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
    height: 12px !important;
    width: 12px !important;
    border: 1px solid #A8A8A8;

}


.ui-radiobutton{

    background-color:transparent ;
    border:transparent !important;;
    margin-top: -5px !important;
    position: absolute;
    font-weight:bold;
    color:#1C4257;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.7);
    width: 12px !important;

}


.ui-radiobutton .ui-state-active{

    background: #EB8F00;
    border: 1px solid #DF8D2E;

}

.ui-confirm-dialog .ui-dialog-buttonpane {
    text-align: center !important;
}
.width-1300{

    width: 1300px !important;

}

.align-body-section-1300{
    position: relative;
    margin-left: -160px !important;
}
/*AGREGADOS POR FRANCELYS*/
#form:registerKeysAnalysisRequestBean_modal {
    width: 0 !important;
    height: 0 !important;
    position: relative !important;
}

.panelRegisterAnalysis{
    width: 130% !important;
    margin-left: -18% !important;
}

.ui-icon-myCheck12{
    background-image: url('../../img/ic_check_black_12dp.png') !important;
    width: 100%;
    height: 100%;
}
.ui-icon-myDelete12{

    background-image: url('../../img/ic_delete_black_18dp.png') !important;
    width: 80%;
    height: 80%;
}
.ui-icon-myEvaluation12{
    background-image: url('../../img/ic_receipt_black_18dp.png') !important;
    width: 80%;
    height: 80%;
}
.ui-icon-myRefuse12{
    background-image: url('../../img/ic_clear_black_18dp.png') !important;
    width: 80%;
    height: 80%;
}

.style-none{
    background-color: transparent !important;
    transition-duration: 0.3s !important;
    border: transparent !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.ui-icon-myRefuse{
    background-image: url('../../img/refuse.png') !important;
    width: 100%;
    height: 100%;
}

.ui-icon-myEvaluation{
    background-image: url('../../img/evaluation.png') !important;
    width: 100%;
    height: 100%;
}

.dientes-Style button{
    max-height: 33px !important;
    padding: 0;
    margin: 4 !important;
}
/*FIN AGREGADOS POR FRANCELYS*/

/*Radio butom*/
.order2{
    width: 1150px !important;
    position: relative;
    margin-left: -90px !important;
    height: 80% !important;
}

.order-ii{
    width: 1200px;
    margin: 0 auto;

}

.sin-border{
    position: absolute;
    margin-bottom: 25px !important;
    margin-top: 6px !important;
    margin-left: 420px;
}

.titulo-radio{
    position: absolute;
    margin-bottom: 25px !important;
    margin-top: 17px !important;
    margin-left: 302px;
    z-index: 99;
}

.sin-border > tbody >tr >td{
    border: transparent !important;
    background: transparent !important;
}

.list-Radio > tbody >tr >td >table td{
    border: transparent !important;
    background: transparent !important;
}

.uppercase2 {
    text-transform: uppercase !important;
}

.subtitle-massiveLoading{
    margin-bottom: 50px !important;
    background-color: rgba(186, 180, 180, 0.2)!important;;
    margin-top: 8px !important ;
    padding-top: 10px !important;
    width: 570px !important;
    padding-left: 10px !important;
    font-size: 16px !important;
    padding-bottom: 6px !important;
    border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;


}

/*End radio buton*/

.btn-disabled{
    opacity: 0.4;
    pointer-events: none;
    cursor: auto !important;
}


.all-upperCase{
    text-transform: uppercase;
}

.textareaDialog{
    height: 65px;
    overflow-y: scroll !important;
    text-transform: uppercase !important;

}
